<template>
    <div class="container">
        <div v-for="(con, index) in concepts" :key="index">
            <span>{{con.name}}</span>
            <ul>
                <li v-for="(sub, subindex) in con.subConcepts" :key="subindex">{{sub.name}}</li>
            </ul>
        </div>
        <button @click="getConcepts" class="btn btn-primary">Aceptar</button>
    </div>
</template>

<script>
export default {
    data() {
        return {
            concepts: []
        }
    },
    mounted() {
        this.getConcepts()
    },
    methods: {
        getConcepts() {
            axios.post('/api/sc/concepts/list').then((resp) => {
                this.concepts = this.$myCryptor.decode(resp.data.res)
            })
        }
    }
}
</script>
