<template>
    <div class="container mx-0 p-0">
     <div class="row">
           <div class="col-lg-6 col-md-12 col-sm-12">
               <div class="card border-info mt-0 mb-4">
                <div class="card-header"><h4 class="text-info">Crear Categoria de Producto</h4></div>
                <div class="card-body">
                    <form class="form-row">
                            <div class="form-group col-lg-12 mb-0 pb-0">
                                <label for="name">Nombre:</label>
                                <input type="text" class="form-control" :class="{'is-invalid border-danger': response.validation.status, 'is-valid': response.validation.status == false}" name="name" v-model="newcname" required>
                            <div class="poppins" :class="{'invalid-feedback': response.validation.status, 'valid-feedback': !response.validation.status}">
                                {{ response.validation.text_name }}
                            </div>
                            <div class="poppins" :class="{'invalid-feedback': response.validation.status, 'valid-feedback': !response.validation.status}">
                                {{ response.validation.text_string }}
                            </div>
                            </div>                       
                            <div class="form-group col-lg-12 mt-0 pt-0">
                                <button id="create_category" @click.prevent="val_input(newcname,'c')" class="btn btn-primary btn-block" style="margin-top: 2rem !important">Crear</button>
                            </div>
                    </form>
                </div>
                </div>
                <!-- Modificar categorias-->
                <div class="card border-info mb-4">
                <div class="card-header"><h4 class="text-info">Modificar Categorias</h4></div>
                <div class="card-body">
                    <form class="row">
                            <div class="form group col-lg-6">
                                <label for="category">Categoria:</label>
                                <el-select v-model="catname" filterable placeholder="Categorias" name="category">    
                                        <el-option v-for="(cat,index) in categories" :key="index" :label="cat.name" :value="index"></el-option>
                                </el-select>
                            </div>
                            <div v-if="catname != null" class="form-group col-lg-6">
                                <label for="newnamecat">Nuevo nombre:</label>
                                <input type="text" class="form-control" :class="{'is-invalid border-danger': response.validation_edit.status, 'is-valid': response.validation_edit.status == false}" name="newnamecat" v-model="editname" >
                                <div class="poppins" :class="{'invalid-feedback': response.validation_edit.status, 'valid-feedback': !response.validation_edit.status}">
                                {{ response.validation_edit.text_name }}
                            </div>
                            <div class="poppins" :class="{'invalid-feedback': response.validation_edit.status, 'valid-feedback': !response.validation_edit.status}">
                                {{ response.validation_edit.text_string }}
                            </div>
                            </div>
                            <div class="form-group col-12 mt-2 pt-2">
                                <button id="edit-category" @click.prevent="val_input(editname,'e')" class="btn btn-primary btn-block">Guardar</button>
                            </div>
                    </form>
                </div>
                </div>
           </div>
           <div class="col-lg-6 col-md-12 col-sm-12">
               <div class="card border-info mt-0 mb-4">
                <div class="card-header"><h4 class="text-info">Categorias de Inventario</h4></div>
                <div class="card-body table-responsive p-0">
                   <!-- <div class="mb-2" v-for="(cat, index) in categories" :key="index">
                       <span>{{cat.name}}</span>
                   </div> -->

                   <table class="table">
                    <thead class="thead-light">
                        <tr>
                        <th scope="col" class="text-center">#</th>
                        <th scope="col" class="text-center">Nombre</th>
                        </tr>
                    </thead>
                    <paginate name="categories" :list="categories" :per="8" tag="tbody">
                        <tr v-for="(cat, index) in paginated('categories')" :key="index">
                        <td scope="row" class="text-center">{{index + 1}}</td>
                        <td class="text-center">{{ cat.name.replace(/^([a-z\u00E0-\u00FC])|\s+([a-z\u00E0-\u00FC])/g, l => l.toUpperCase()) }}</td>
                        </tr>
                    </paginate>
                    </table>
                     <div class="text-center">
                         <paginate-links for="categories" :limit="5" :classes="{'ul': 'pagination', 'li': 'page-item', 'a': 'page-link'}" :show-step-links="true"></paginate-links>
                     </div>
                    <!-- <paginate-links for="categories" :classes="{'ul': 'pagination', 'li': 'page-item', 'a': 'page-link'}"></paginate-links> -->
                </div>
                </div>
           </div>
     </div>
    </div>
</template>
<script>

export default {
    data() {
        return {
            categories: [],
            newcname: '',
            vmodel: '',
            editname: '',
            company: '',
            catname: null,
            newvmodel: '',
            paginate: ['categories'],
            response: {
                validation:{
                    status: null,
                    text_name: '',
                    text_string: ''
                },
                validation_edit:{
                    status: null,
                    text_name: '',
                    text_string: ''
                }
            }
        }
    },
    created() {
        this.sessdata()
    },
    methods: {
          sessdata()
        {
            axios.post('/auth/sessdata', {fields: ['name','rol','company']}).then(resp => {                                          
                let res = this.$myCryptor.decode(resp.data.data);                                
                this.nameUser = res[0].first+' '+res[0].last
                this.rolUser = res[1].name
                this.company = res[2].nit
                console.log('nit:'+this.company)
                this.getCats()
            })
        },
        getCats() {
            axios.post('/api/sc/categories/list',{nit:this.company}).then(resp => {
                this.categories = this.$myCryptor.decode(resp.data)
            }).catch(err => {console.error(err)})
        },
        setup_accents(s) {
                    var r=s.toLowerCase();
                    r = r.replace(new RegExp(/\s/g),"");
                    r = r.replace(new RegExp(/[àáâãäå]/g),"a");
                    r = r.replace(new RegExp(/[èéêë]/g),"e");
                    r = r.replace(new RegExp(/[ìíîï]/g),"i");
                    r = r.replace(new RegExp(/ñ/g),"n");                
                    r = r.replace(new RegExp(/[òóôõö]/g),"o");
                    r = r.replace(new RegExp(/[ùúûü]/g),"u");                                
                    return r;
                },
        val_input(str,form) {
            // var validator=/^[A-Za-z\_\-\.\s\xF1\xD1]+$/;
            var validator=/^[a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1]*)*[a-zA-ZÀ-ÿ\u00f1\u00d1]+$/g
           if(str != '')
           { 
               if (validator.test(str))
            {
                this.val_name(str,form)
            }
            else if(!validator.test(str) && form == 'c')
            {
                this.response.validation.status = true
                this.response.validation.text_string = 'Solo se permite cadenas de texto'
                $('input[name=name]').focus();
            }
            else if(!validator.test(str) && form == 'e')
            {
                this.response.validation_edit.status = true
                this.response.validation_edit.text_string = 'Solo se permite cadenas de texto'
                $('input[name=newnamecat]').focus();
            }
            }
            else
            {
               this.$chidoriAlert.show('Error','Debe asignar un nombre a la categoria para poder registrarla','error')
               $('input[name=name]').focus(); 
            }

        },
        val_name(str,form){
            let cont = 0
          if(str != '')
          {
              for (let index = 0; index < this.categories.length; index++) {
                  var name = this.categories[index].name;
                  if( this.setup_accents(name) == this.setup_accents(str))
                  {
                      cont++
                  }
              }
                  if(cont > 0 && form == 'c')
                  {
                    this.response.validation.status = true
                    this.response.validation.text_name = 'Ya existe una categoria con este nombre'
                    // $('#create-category').removeAttr('disabled','disabled')
                    $('input[name=name]').focus();
                  }
                  else if(cont == 0 && form == 'c')
                    {
                        this.addCategory()
                    }
                  else if(cont > 0 && form == 'e')
                  {
                    this.response.validation_edit.status = true
                    this.response.validation_edit.text_name = 'Ya existe una categoria con este nombre'
                    // $('#edit-category').removeAttr('disabled','disabled')
                    $('input[name=newnamecat]').focus();
                  }
                  else if(cont == 0 && form == 'e')
                    {
                        this.valModCat()
                    }  

          }  
        },
        addCategory() {
            console.log('ok')
            axios.post('/sc/categories/store', {name: this.newcname, company: this.company}).then(resp => {
                if(resp.data.status == 'success')
                {
                    console.log(resp.data)
                    this.newcname = ''
                    this.response.validation.status = null
                    this.response.validation.text_name = ''
                    this.response.validation.text_string = ''
                    this.catname = null
                    this.getCats()
                    this.$chidoriAlert.show('OK!', 'La categoria ha sido registrada con exito', 'success',3000)
                }
                else
                {
                   this.$chidoriAlert.show('Error', 'Ha ocurrido un problema al intentar registrar la categoria', 'error')     
                }
            }).catch(err => {console.error(err)})
        },
        valModCat() {
            if(this.catname != null && this.editname != '' && this.categories.length > 0)
            {
               let category = this.categories[this.catname]._id
               this.modCat(category) 
            }
            else if(this.categories.length == 0)
            {
                this.$chidoriAlert.show('Error', 'Para poder editar categorias debe haber registrado algunas previamente', 'error')
                return false
            }
            else if(this.catname == null)
            {
                this.$chidoriAlert.show('Error', 'Debe seleccionar una categoria a editar', 'error')
                return false
            }
            else if(!this.editname)
            {
               this.$chidoriAlert.show('Error', 'Debe asignar un nuevo nombre para la categoria que desea editar', 'error')
               $('input[name=newnamecat]').focus();
                return false 
            }
        },
        modCat(idcat) {
            console.log(idcat)
            axios.put('/sc/categories/modcat', {id:idcat,nit:this.company,data:this.editname}).then(resp => 
            {
                if(resp.data.status == 'success')
                {
                    console.log(resp.data)
                    this.catname = null
                    this.editname = ''
                    this.response.validation.text_name = ''
                    this.response.validation.text_string = ''
                    this.response.validation_edit.text_name = ''
                    this.response.validation_edit.text_string = ''
                    this.getCats()
                    this.$chidoriAlert.show('OK!', 'Se han guardado los cambios realizados', 'success',3000)
                }else 
                    console.error(resp.data)
            }).catch(err => {console.error(err)})
        }
    }
}
</script>
