<template>
    <div class="container mx-0 p-0">
     <div class="row">
           <div class="col-lg-6 col-md-12 col-sm-12">
               <div class="card border-info mt-0 mb-4">
                <div class="card-header"><h4 class="text-info">Registrar Bodega</h4></div>
                <div class="card-body">
                    <form class="form-row">
                        <div class="col-lg-6 mb-1 pb-1">
                            <label for="cellarname" class="col-lg-12 pl-0 ml-0">Nombre: <i class="mx-1 text-danger fa fa-asterisk p-0 mb-2 " style="font-size:10px"></i></label>
                                <input type="text" class="form-control" :class="{'is-invalid border-danger': response.validation.status, 'is-valid': response.validation.status == false}" name="cellarname" v-model="cellarname" required>
                        <div class="poppins" :class="{'invalid-feedback': response.validation.status, 'valid-feedback': !response.validation.status}">
                             {{ response.validation.text_name }}
                        </div>
                        <div class="poppins" :class="{'invalid-feedback': response.validation.status, 'valid-feedback': !response.validation.status}">
                            {{ response.validation.text_string }}
                        </div>
                            
                        </div>    
                        <div class="form-group col-lg-6">
                            <label for="name">Ubicación:</label>
                            <input type="text" class="form-control" name="location" v-model="location">
                        </div>
                        <div class="form-group col-12">
                            <label for="description">Descripción:</label>
                            <textarea name="description" class="form-control" v-model="description"></textarea>

                        </div>                       
                        <div class="form-group col-lg-12 mt-0 pt-0">
                            <button id="create_cellar" @click.prevent="val_input(cellarname,'c')" class="btn btn-primary btn-block" style="margin-top: 2rem !important">Registrar</button>
                        </div>
                    </form>
                </div>
                </div>
                <!-- Modificar Información De Bodegas-->
                <div class="card border-info mb-4">
                <div class="card-header"><h4 class="text-info">Modificar Bodega</h4></div>
                <div class="card-body">
                    <form id="form-edit" class="form-row" name="edit">
                            <div class="form group col-lg-12">
                                <label for="unidad">Bodega:</label>
                                <!-- <el-select v-model="unit" filterable class="col-lg-12 pl-0 mx-0 px-0" placeholder="Unidades de medida" name="unidad">    
                                        <el-option-group v-for="(group,gpindexe) in select_unit" :key="gpindexe">
                                            <p style="color: #8492a6; font-size: 13px" class="text-uppercase font-weight-bold ml-2 pl-2 pb-0 mb-0 col-lg-12">{{ group.measure }}</p>
                                            <el-option v-for="(umd,index) in group.measurement" :key="index" :label="umd.name" :value="gpindexe+'/'+index+'/'+umd.pos">
                                                <span style="float: left">{{ umd.name }}</span>
                                                <span style="float: right; color: #8492a6; font-size: 13px;text-transform:uppercase">{{ umd.abbreviature }}</span>
                                            </el-option>
                                        </el-option-group>
                                </el-select> -->
                            </div>
                                <!-- <hr class=" col-lg-12 my-3 px-0"> -->
                            <!-- <div v-if="unit != null" class="form-row col-lg-12" id="edit-um">
                                <div class="col-lg-6">
                                    <label for="ediumtname">Patrón de medida:</label>
                                    <input id="editumname" type="text" class="form-control" :class="{'is-invalid border-danger': response.validation.status, 'is-valid': response.validation.status == false}" name="editumname" v-model="editumname">
                                    <div class="poppins" :class="{'invalid-feedback': response.validation_edit.status, 'valid-feedback': !response.validation_edit.status}">
                                        {{ response.validation_edit.text_name }}
                                    </div>
                                    <div class="poppins" :class="{'invalid-feedback': response.validation_edit.status, 'valid-feedback': !response.validation_edit.status}">
                                        {{ response.validation_edit.text_string }}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <label for="editabb">Abreviación:</label>
                                    <input type="text" class="form-control" :class="{'is-invalid border-danger': response.validation_edit.status_ab, 'is-valid': response.validation_edit.status_ab == false}" name="editabb" v-model="editabrev">
                                    <div class="poppins" :class="{'invalid-feedback': response.validation_edit.status_ab, 'valid-feedback': !response.validation_edit.status_ab}">
                                        {{ response.validation_edit.text_ab }}
                                    </div>
                                </div> 
                            </div>
                            <div class="form-group col-12 mt-2 pt-2">
                                <button id="um_edit" @click.prevent="val_input(editumname,'e')" class="btn btn-primary btn-block">Guardar</button>
                            </div> -->
                    </form>
                </div>
                </div>
           </div>
           <div class="col-lg-6 col-md-12 col-sm-12">
               <div class="card border-info mt-0 mb-4">
                <div class="card-header"><h4 class="text-info">Bodegas</h4></div>
                <div class="card-body p-0">
                   <table class="table">
                    <thead class="thead-light">
                        <tr>
                        <th scope="col" class="text-center">Nombre</th>
                        <th scope="col" class="text-center">Ubicación</th>
                        <th scope="col" class="text-center">descripción</th>
                        </tr>
                    </thead>
                    <paginate name="cellarlist" :list="cellarlist" :per="8" tag="tbody">
                        <tr v-for="(bod, index) in paginated('cellarlist')" :key="index">
                        <td class="text-center">{{ bod.name.replace(/^([a-z\u00E0-\u00FC])|\s+([a-z\u00E0-\u00FC])/g, l => l.toUpperCase()) }}</td>
                        <td class="text-center">{{ bod.location }}</td>
                        <td class="text-center">{{ bod.description }}</td>
                        </tr>
                    </paginate>
                    </table>
                     <div class="text-center">
                         <paginate-links for="cellarlist" :limit="5" :classes="{'ul': 'pagination', 'li': 'page-item', 'a': 'page-link'}" :show-step-links="true"></paginate-links>
                     </div>
                </div>
                </div>
           </div>
     </div>
    </div>
</template>
<script>

export default {
    data() {
        return {
            cellarlist:[],
            cellarname:'',
            description:'',
            location:'',
            company:'',
            paginate: ['cellarlist'],
            response: {
                validation:{
                    status: null,
                    status_ab: null,
                    text_name: '',
                    text_string: '',
                    text_ab:''
                },
                validation_edit:{
                    status: null,
                    text_name: '',
                    text_string: ''
                }
            }
        }
    },
    created() {
        this.sessdata()
    },
    methods: {
        sessdata()
        {
            axios.post('/auth/sessdata', {fields: ['name','rol','company']}).then(resp => {
                let res = this.$myCryptor.decode(resp.data.data);                                           
                this.nameUser = res[0].first+' '+res[0].last
                this.rolUser = res[1].name
                this.company = res[2].nit
                console.log('nit:'+this.company)
                this.getCellar()
            })
        },
        getCellar() {
            let dat = {nit: this.company};
            axios.post('/api/sc/cellar/list',dat).then(resp => {
                this.cellarlist = this.$myCryptor.decode(resp.data)
                console.log('nit sesion:'+this.company)
                console.log(this.cellarlist)
            
            }).catch(err => {console.error(err)})
        },
        setup_accents(s) {
                    var r=s.toLowerCase();
                    r = r.replace(new RegExp(/\s/g),"");
                    r = r.replace(new RegExp(/[àáâãäå]/g),"a");
                    r = r.replace(new RegExp(/[èéêë]/g),"e");
                    r = r.replace(new RegExp(/[ìíîï]/g),"i");
                    r = r.replace(new RegExp(/ñ/g),"n");                
                    r = r.replace(new RegExp(/[òóôõö]/g),"o");
                    r = r.replace(new RegExp(/[ùúûü]/g),"u");                                
                    return r;
                },
        val_input(str,form) {
            if(str)
            {
                this.val_name(str,form)
            }
           else if(!str && form == 'c') 
            {
               this.$chidoriAlert.show('Error','Debe asignar un nombre para poder registrar la bodega','error')
               $('input[name=cellarname]').focus(); 
            }
             else if(!str && form == 'e') 
            {
               this.$chidoriAlert.show('Error','Debe asignar un nombre para editar la bodega','error')
               $('input[name=editcellarname]').focus(); 
            }

        },
        val_name(str,form){
            let cont = 0
          if(str != '')
          {
              for (let index = 0; index < this.cellarlist.length; index++) {
                    var name = this.cellarlist[index].name;
                    // var description= this.cellarlist[index].description
                    if( this.setup_accents(name) == this.setup_accents(str))
                    {
                        cont++
                    }
              }   
                  if(form == 'c')
                  {
                    if(!this.cellarname)
                    {
                        this.$chidoriAlert.show('Error','Debes asignar un nombre a la bodega','error')
                        return false
                    }    
                    if(cont > 0)
                    {
                        this.response.validation.status = true
                        this.response.validation.text_name = 'Ya existe una bodega registrada con este nombre'
                        $('input[name=cellarname]').focus();
                    }
                    if(cont == 0)
                    {
                        this.response.validation.status = false
                        this.response.validation.text_name = 'nombre disponible'
                    }
                    if(cont == 0 && form == 'c' && this.cellarname)
                    {
                        this.addCellar() 
                        console.log('todo bien , todo correcto y yo que me alegro')
                    }
                  }
                //   if(form == 'e')
                //   {
                //     let measure = []
                //     var um = ''
                //     var pm = ''
                //     var st = ''
                //     if(this.unit == null)
                //     {
                //         this.$chidoriAlert.show('Error','Debe seleccionar una unidad de medida','error')
                //         return false
                //     }
                //     if(this.unit != null)
                //     {
                //         measure = this.unit.split('/',2)
                //         um = measure[0]
                //         pm = measure[1]
                //         st = this.select_unit[um].measurement[pm].status
                //     }    
                    
                //     if(st == 'default')
                //     {
                //         this.$chidoriAlert.show('Error','No se pueden editar las unidades de medida por defecto','error')
                //         return false
                //     }
                //     if(cont > 0 )
                //   {
                //     var name = this.select_unit[um].measurement[pm].name
                //     if(str == name && st != 'default')
                //     {
                //         cont = 0
                //         console.log('names iguales no hay problema')
                //     }
                //     else{
                //     this.response.validation_edit.status = true
                //     this.response.validation_edit.text_name = 'Ya existe un patrón de medida con este nombre'
                //     $('input[name=editumname]').focus();
                //     }
                //   }
                //   if(contab > 0)
                //   {
                //         var abrev =  this.select_unit[um].measurement[pm].abbreviature
                //         var st = this.select_unit[um].measurement[pm].status
                // if(abrev == this.editabrev && st != 'default')
                //     {
                //         contab = 0
                //     }
                //     else{
                //     this.response.validation_edit.status_ab = true
                //     this.response.validation_edit.text_name_ab = 'Ya existe una abreviación con este nombre'
                //     $('input[name=editumname]').focus(); //corregir el name 
                //     }

                //   }
                //   if(cont == 0 && contab == 0 && st != 'default' && form == 'e' )
                //     {
                //         this.valModUm()
                //     } 
                // }
          }  
        },
        addCellar(){
                // var id = this.select_unit[this.measure]._id 
          axios.post('/sc/cellar/store',{company:this.company,name:this.cellarname,location:this.location,description:this.description}).then(resp => {
              if(resp.data.status == 'success')
              {
                  console.log(resp.data)
                    this.cellarname = ''
                     this.location = ''
                     this.description = ''
                    this.response.validation.status = null
                     this.response.validation.status_ab = null
                    this.response.validation.text_name = ''
                    this.response.validation.text_string = ''
                     this.response.validation.text_ab = ''
                    //  this.cellarlist = []
                    this.getCellar()
                    this.$chidoriAlert.show('OK!', 'La información de la bodega ha sido registrada con exito', 'success',3000)
              }
            })
        },
        addUm() {

            if(this.measure != null && this.newumname != '')
            {
                axios.post('/sc/measures/store', {company: this.company,measure: this.newumname}).then(resp => {
                if(resp.data.status == 'success')
                {
                    console.log(resp.data)
                    this.newcname = ''
                    this.response.validation.status = null
                    this.response.validation.text_name = ''
                    this.response.validation.text_string = ''
                    this.catname = null
                    this.getMeasures()
                    this.$chidoriAlert.show('OK!', 'La unidad de medida ha sido registrada con exito', 'success',3000)
                }
                else
                {
                   this.$chidoriAlert.show('Error', 'Ha ocurrido un problema al intentar registrar la categoria', 'error')     
                }
            }).catch(err => {console.error(err)})
            console.log('todo bien, todo correcto y yo que me alegro X2')
            }
            else
            {
                this.$chidoriAlert.show('Error','Debe seleccionar una unidad y un patrón de medida','error')
            }
        },
        // valModUm() {
        //     if(this.unit != null && this.editumname != '' && this.select_unit.length > 0)
        //     {
        //        let measure = this.unit.split('/')
        //        var um = measure[0]
        //        var pm = measure[1]
        //        var pmr = measure[2]
        //        var idum = this.select_unit[um]._id
        //        if(this.select_unit[um].measurement[pm].status != 'default'){
        //            this.modUm(idum,pmr) 
        //        }
               
        //     }
        //     else if(this.select_unit.length == 0)
        //     {
        //         this.$chidoriAlert.show('Error', 'Para poder editar unidades de medida debe haber registrado algunas previamente', 'error')
        //         return false
        //     }
        //     else if(this.unit == null)
        //     {
        //         this.$chidoriAlert.show('Error', 'Debe seleccionar una unidad de medida a editar', 'error')
        //         return false
        //     }
        //     else if(!this.editumname)
        //     {
        //        this.$chidoriAlert.show('Error', 'Debe asignar un nuevo nombre para el patrón de medida que desea editar', 'error')
        //        $('input[name=newnamecat]').focus();
        //         return false 
        //     }
        // },
        // modUm(idum,pm) {
        //     console.log(idum+"\n"+pm)
        //     axios.post('/sc/measures/modum',{id:idum,pos:pm,nit:this.company,name:this.editumname,abr:this.editabrev}).then(resp => 
        //     {
        //         if(resp.data.status == 'success')
        //         {
        //             console.log(resp.data)
        //             this.unit = null
        //             this.editumname = '',
        //             this.editabrev = '',
        //             this.response.validation_edit.text_name = ''
        //             this.response.validation_edit.text_string = ''
        //             this.getMeasures()
        //             this.$chidoriAlert.show('OK!', 'Se ha modificado correctamente la unidad de medida', 'success',3000)
        //         }
        //         else 
        //         {
        //             this.$chidoriAlert.show('Error','Ha ocurrido un problema al guardar los cambios. Si el problema persiste pongase en cotnacto con soporte','error')
        //         }
        //     }).catch(err => {console.error(err)})
        // }
    }
}
</script>
