<template>
    <div class="container mx-0 p-0">
     <div class="row">
           <div class="col-lg-6 col-md-12 col-sm-12">
               <div class="card border-info mt-0 mb-4">
                <div class="card-header"><h4 class="text-info">Crear Concepto Contable</h4></div>
                <div class="card-body">
                    <form class="row">
                            <div class="form-group col-lg-6 col-md-12 col-sm-12">
                                <label for="name">Nombre:</label>
                                <input type="text" class="form-control" name="name" v-model="newcname">
                            </div>
                            <div class="form-group col-lg-6 col-md-12 col-sm-12">
                                <button @click.prevent="addConcept" class="btn btn-primary btn-block" style="margin-top: 2rem !important">Crear</button>
                            </div>
                    </form>
                </div>
                </div>
                <!-- Nuevo Lote a Producto Existente -->
                <div class="card border-info mb-4">
                <div class="card-header"><h4 class="text-info">Agregar Sub Concepto</h4></div>
                <div class="card-body">
                    <form class="row">
                            <div class="form group col-lg-6 col-md-12 col-sm-12">
                                <label for="concept">Concepto:</label>
                                <select name="concept" class="form-control" v-model="conceptname">
                                    <option disabled selected value="">Escoja un concepto</option>
                                    <option v-for="(concept, index) in concepts" :key="index" :value="concept._id">{{concept.name}}</option>
                                </select>
                            </div>
                            <div class="form-group col-lg-6 col-md-12 col-sm-12">
                                <label for="sub">Sub Concepto:</label>
                                <input type="text" class="form-control" name="sub" v-model="subname">
                            </div>
                            <div class="form-group col-12">
                                <button @click.prevent="addSub" class="btn btn-primary btn-block">Agregar</button>
                            </div>
                    </form>
                </div>
                </div>
           </div>
           <div class="col-lg-6 col-md-12 col-sm-12">
               <div class="card border-info mt-0 mb-4">
                <div class="card-header"><h4 class="text-info">Conceptos Contables</h4></div>
                <div class="card-body">
                   <div class="mb-2" v-for="(concept, index) in concepts" :key="index">
                       <span><button @click="toggleSubs(concept.name)" class="btn btn-outline-primary btn-sm"><i class="fa fa-plus"></i></button> {{concept.name}}</span>
                        <div v-show="false" :id="concept.name">
                            <div v-for="(sub, index) in concept.subConcepts" :key="index" style="margin-left: 20px !important;">
                                <span><i class="fa fa-level-up fa-rotate-90"></i> {{sub.name}}</span>
                            </div>
                        </div>
                   </div>
                </div>
                </div>
           </div>
     </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            concepts: [],
            newcname: '',
            conceptname: '',
            subname: '',
            company: ''
        }
    },
    created() {
        this.sessdata()
    },
    methods: {
         sessdata()
        {
            axios.post('/auth/sessdata', {fields: ['name','rol','company']}).then(resp => {                                          
                let res = this.$myCryptor.decode(resp.data.data);                                
                this.nameUser = res[0].first+' '+res[0].last
                this.rolUser = res[1].name
                this.company = res[2].nit
                console.log('nit:'+this.company)
                this.getConcepts()
            })
        },
        getConcepts() {
            axios.post('/api/sc/concepts/list',this.company).then(resp => {
                this.concepts = this.$myCryptor.decode(resp.data.res)
            })
            .catch(err => {console.error(err)})
        },
        toggleSubs(idname) {
            if(document.getElementById(idname).style.display == 'none')
                document.getElementById(idname).style.display = 'inline'
            else
                document.getElementById(idname).style.display = 'none'
        },
        addConcept() {
            axios.post('/sc/concepts/store', {name: this.newcname, company: this.company}).then(resp => {
                if(resp.data.status == 'success')
                {
                    console.log(resp.data)
                    this.getConcepts()
                    this.newcname = ''
                }
                else
                    console.error(resp.data)
            })
            .catch(err => {console.error(err)})
        },
        addSub() {
            axios.post('/sc/concepts/addsub', {id: this.conceptname, data: {name: this.subname}}).then(resp => 
            {
                if(resp.data.status == 'success')
                {
                    console.log(resp.data)
                    this.getConcepts()
                    this.conceptname = ''
                    this.subname = ''
                }else 
                    console.error(resp.data)
            })
            .catch(err => {console.error(err)})
        }
    }
}
</script>
