<template>
<form >
    <div class="container mx-0 p-0">
        
       <div class="card border-info mt-0">
  <div class="card-header"><h4 class="text-info">Registrar Contacto</h4></div>
  <div class="card-body">
                <div class="form-row">
                     <h5 class="text-secondary col-12 mb-2 pb-2">Información básica</h5>
                    <div class="form-group col-6 px-2">
                        <label for="select_type">Tipo de indentificación:</label><i class="mx-1 text-danger fa fa-asterisk p-0 mb-2 " style="font-size:10px"></i>
                         <select v-model="form_ct.dni.type" class="custom-select" name="type_identification">
                            <option v-for="(opdoc, index) in optionsDoc" :key="index" v-bind:value="opdoc.value">{{ opdoc.text }}</option>
                         </select>
                    </div>
                    <div v-if="form_ct.dni.type == 'NIT'" class="form-row col-6">
                         <div class="form-group col-6 px-2">
                        <label for="dni">N° de identificación:</label><i class="mx-1 text-danger fa fa-asterisk p-0 mb-2 " style="font-size:10px"></i>
                        <input type="text" v-model="form_ct.dni.dni" @change="val_doc" :class="{'is-invalid border-danger': response.validation.status, 'is-valid': response.validation.status == false}" class="form-control" name="num_identification">
                        <div class="poppins" :class="{'invalid-feedback': response.validation.status, 'valid-feedback': !response.validation.status}">
                        {{ response.validation.text }}
                    </div>
                    </div>
                    <div class="form-group col-6 px-2">
                        <label for="cv">DV:</label><i class="mx-1 text-danger fa fa-asterisk p-0 mb-2 " style="font-size:10px"></i>
                        <input v-model="form_ct.dni.dv" type="text" class="form-control" :class="{'is-invalid border-danger': response.validation_dv.status, 'is-valid': response.validation_dv.status == false}" name="dv" @keyup="val_dv(form_ct.dni.dv)">
                         <div class="poppins" :class="{'invalid-feedback': response.validation_dv.status, 'valid-feedback': !response.validation_dv.status}">
                        {{ response.validation_dv.text }}
                    </div>
                    </div>
                    </div>
                     <div v-else class="form-group col-6 px-2">
                        <label for="dni">N° de identificación:</label><i class="mx-1 text-danger fa fa-asterisk p-0 mb-2 " style="font-size:10px"></i>
                        <input type="text" v-model="form_ct.dni.dni" @change="val_doc" :class="{'is-invalid border-danger': response.validation.status, 'is-valid': response.validation.status == false}" class="form-control" name="num_identification">
                        <div class="poppins" :class="{'invalid-feedback': response.validation.status, 'valid-feedback': !response.validation.status}">
                        {{ response.validation.text }}</div>
                    </div>
                    
                    <div v-if="form_ct.dni.type == 'NIT'" class="form-row col-12 px-0" >
                        <div class="form-group col-6 px-2">
                        <label for="select_type">Tipo de persona:</label><i class="mx-1 text-danger fa fa-asterisk p-0 mb-2 " style="font-size:10px"></i>
                         <select v-model="form_ct.tributaryInf.typePerson" class="custom-select" name="type_person">
                            <option v-for="(option, index) in optionsp" :key="index" v-bind:value="option.value">{{ option.text }}</option>
                         </select>
                        </div>
                        <div v-if="form_ct.tributaryInf.typePerson == 'Persona Juridica'" class="form-group col-6 px-2">
                            <label for="name">Razón Social:</label><i class="mx-1 text-danger fa fa-asterisk p-0 mb-2 " style="font-size:10px"></i>
                            <input type="text" v-model="form_ct.name.first" class="form-control" name="firstname">
                        </div>
                        
                         <div v-else class="form-row col-12 px-0">
                             <div class="form-group col-6 px-2">
                                <label for="name">Primer Nombre:</label><i class="mx-1 text-danger fa fa-asterisk p-0 mb-2 " style="font-size:10px"></i>
                                <input type="text" v-model="form_ct.name.first" class="form-control" name="firstname">
                            </div>
                            <div class="form-group col-6 px-2">
                                <label for="name">Segundo Nombre:</label>
                                <input type="text" v-model="form_ct.name.second" class="form-control" name="secondname">
                            </div>
                            <div class="form-group col-6 px-2">
                                <label for="lastname1">Primer Apellido:</label><i class="mx-1 text-danger fa fa-asterisk p-0 mb-2 " style="font-size:10px"></i>
                                <input type="text" v-model="form_ct.lastname.first" class="form-control" name="lastname1">
                            </div>
                            <div class="form-group col-6 px-2" >
                                <label for="lastname2">Segundo Apellido:</label><i class="mx-1 text-danger fa fa-asterisk p-0 mb-2 " style="font-size:10px"></i>
                                <input type="text" v-model="form_ct.lastname.second" class="form-control" name="lastname2">
                            </div>
                         </div>
                         <div class="form-group col-6 px-2">
                                <label for="select_type">Responsabilidad tributaria:</label><i class="mx-1 text-danger fa fa-asterisk p-0 mb-2 " style="font-size:10px"></i>
                                <select class="custom-select" v-model="form_ct.tributaryInf.regimen" name="regimen">
                                    <option value="">Seleccione una opción</option>
                                    <option value="Régimen Común">Régimen Común</option>
                                    <option value="Nuevo Régimen Simplificado">Nuevo Régimen Simplificado de tributación</option>
                                    <option value="No Responsable De IVA">No responsable de IVA</option>
                                    
                                </select>
                            </div> 
                        <div  class="form-group col-6 text-center mt-2">
                        <p>Tipo de Contacto:<i class="mx-1 text-danger fa fa-asterisk p-0 mb-2 " style="font-size:10px"></i></p>
                         <div  class="form-check form-check-inline">
                            <input v-model="form_ct.contactType" class="form-check-input" type="checkbox" name="type_contact" value="Cliente">
                            <label class="form-check-label" for="inlineCheckbox1">Cliente</label>
                            </div>
                            <div class="form-check form-check-inline">
                            <input v-model="form_ct.contactType" class="form-check-input" type="checkbox" name="type_contact" value="Proveedor">
                            <label class="form-check-label" for="inlineCheckbox2">Proveedor</label>
                            </div>
                             <div class="form-check form-check-inline">
                            <input v-model="form_ct.contactType"  @click='work = !work;' class="form-check-input" type="checkbox" name="type_contact" value="Empleado">
                            <label class="form-check-label" for="inlineCheckbox2">Empleado</label>
                            </div>
                            <div class="form-check form-check-inline">
                            <input v-model="form_ct.contactType" class="form-check-input" type="checkbox" name="type_contact" value="Otros">
                            <label class="form-check-label" for="inlineCheckbox2">Otro Tercero</label>
                            </div>
                        </div>
                       
                        <div class="form-group col-6 px-2">
                            <label for="company">Empresa</label>
                            <input type="text" v-model="form_ct.conCompany" class="form-control" name="company">
                        </div>  
                    </div>
                    <div v-else class="form-row col-12 px-0 mx-0">
                             <div class="form-group col-6 px-2">
                                <label for="name">Primer Nombre:</label><i class="mx-1 text-danger fa fa-asterisk p-0 mb-2 " style="font-size:10px"></i>
                                <input type="text" v-model="form_ct.name.first" class="form-control" name="firstname">
                            </div>
                            <div class="form-group col-6 px-2">
                                <label for="name">Segundo Nombre:</label>
                                <input type="text" v-model="form_ct.name.second" class="form-control" name="secondname">
                            </div>
                            <div class="form-group col-6 px-2">
                                <label for="lastname1">Primer Apellido:</label><i class="mx-1 text-danger fa fa-asterisk p-0 mb-2 " style="font-size:10px"></i>
                                <input type="text" v-model="form_ct.lastname.first" class="form-control" name="lastname1">
                            </div>
                            <div class="form-group col-6 px-2">
                                <label for="lastname2">Segundo Apellido:</label><i class="mx-1 text-danger fa fa-asterisk p-0 mb-2 " style="font-size:10px"></i>
                                <input type="text" v-model="form_ct.lastname.second" class="form-control" name="lastname2">
                            </div>
                          <div class="form-group col-6 mt-2 px-2">
                        <p>Tipo de Contacto:<i class="mx-1 text-danger fa fa-asterisk p-0 mb-2 " style="font-size:10px"></i></p>
                         <div class="form-check form-check-inline">
                            <input v-model="form_ct.contactType" class="form-check-input" type="checkbox" name="type_contact" value="Cliente">
                            <label class="form-check-label" for="inlineCheckbox1">Cliente</label>
                            </div>
                            <div class="form-check form-check-inline">
                            <input v-model="form_ct.contactType" class="form-check-input" type="checkbox" name="type_contact" value="Proveedor">
                            <label class="form-check-label" for="inlineCheckbox2">Proveedor</label>
                            </div>
                            <div class="form-check form-check-inline">
                            <input v-model="form_ct.contactType" @change='work = !work' class="form-check-input" type="checkbox" name="type_contact" value="Empleado">
                            <label class="form-check-label" for="inlineCheckbox2">Empleado</label>
                            </div>
                            <div class="form-check form-check-inline">
                            <input v-model="form_ct.contactType" class="form-check-input" type="checkbox" name="type_contact" value="Otros">
                            <label class="form-check-label" for="inlineCheckbox3">Otro Tercero</label>
                            </div>
                        </div>
                        <div class="form-group col-6 px-2">
                            <label for="company">Empresa</label>
                            <input type="text" v-model="form_ct.conCompany" class="form-control" name="company">
                        </div>  
                    </div>
                    <div v-if="work == true" class="form-row col-12 px-0 ml-0" >
                    <h5 class="text-secondary col-12 mt-4 pt-3 mb-2 pb-2">Datos del empleado</h5>
                    <p class="text-secondary font-italic font col-12 mb-2 pb-2">Datos básicos:</p>
                        <div class="form-group col-6  px-2">
                             <label for="job_title">Cargo:<i class="mx-1 text-danger fa fa-asterisk p-0 mb-2 " style="font-size:10px"></i></label>
                            <input class="form-control require" v-model="form_ct.worker.jobTitle" name="job_title">
                        </div>
                        <div class="form-group col-4  px-2">
                             <label for="cost_center">Centro de costo:</label>
                            <input class="form-control" v-model="form_ct.worker.costCenter" name="cost_center">
                        </div>
                         <div class="form-group col-2 px-2">
                             <p>Vendedor:</p>
                             <div class="form-check form-check-inline pl-1">
                                <input v-model="form_ct.worker.seller" class="form-check-input ml-2" type="checkbox" name="seller" value="true">
                             </div>
                         </div>
                         <div class="form-group col-4  px-2">
                             <label for="cost_center">Salario:</label>
                            <input type="text" class="form-control" v-model="form_ct.worker.contract.salary" :class="{'is-invalid border-danger': response.validation_salary.status, 'is-valid': response.validation_salary.status == false}" name="salary" @keyup="val_salary(form_ct.worker.contract.salary)">
                             <div class="poppins" :class="{'invalid-feedback': response.validation_salary.status, 'valid-feedback': !response.validation_salary.status}">
                        {{ response.validation_salary.text }}
                    </div>
                        </div>
                     <p class="text-secondary font-italic font col-12">Datos del contrato:</p> 
                        <div class="form-group col-6 px-2">
                             <label for="num_contract">Consecutivo:</label>
                            <input type="text" class="form-control" v-model="form_ct.worker.contract.num" name="num_contract">
                        </div>
                        <div class="form-group col-6 px-2">
                             <label for="type_contract">Tipo de contrato:<i class="mx-1 text-danger fa fa-asterisk p-0 mb-2 " style="font-size:10px"></i></label>
                            <select class="form-control" v-model="form_ct.worker.contract.typeContract" name="type_contract">
                                <option value="">Selecione una opción</option>
                                <option value="1">A término fijo</option>
                                <option value="2">A término indefinido</option>
                                <option value="3">prestación de servicios</option>
                            </select>
                        </div> 
                        <div class="form-group col-6 px-2">
                             <label for="date_ini_contract">Fecha inicio:</label>
                            <input class="form-control" type="date" v-model="form_ct.worker.contract.beginDate" name="date_ini_contract">
                        </div>
                        <div class="form-group col-6 px-2">
                             <label for="date_end_contract">Fecha fin:</label>
                            <input class="form-control" type="date" v-model="form_ct.worker.contract.endDate" name="date_end_contract">
                        </div>      
                    </div> 
                    <h5 class="text-secondary col-12 mt-4 pt-3 mb-2 pb-2">Información de contacto</h5>  
                    <p class="text-secondary font-italic font col-12">Ubicación:</p>
                    <div class="form-group col-6 px-2">
                        <label for="dep">Departamento:</label><i class="mx-1 text-danger fa fa-asterisk p-0 mb-2 " style="font-size:10px"></i>
                            <el-select  v-model="location.dep" class="col-lg-12 pl-0 mx-0 px-0" placeholder="Selecione una opción" name="departamento">
                                <el-option v-for="(loc,index) in dept" :key="index" :label="loc.departamento" :value="loc.departamento+'/'+index"></el-option>
                            </el-select>
                                <!-- <v-select label="departamento" :options="dept" v-model="location.dep" placeholder="Seleccione una opción" :onChange="getCity()" :required="true"></v-select> -->
                    </div>
                     <div class="form-group col-6 px-2">
                        <label for="town1">Ciudad:</label><i class="mx-1 text-danger fa fa-asterisk p-0 mb-2 " style="font-size:10px"></i>
                         <!-- <v-select label="ciudades" :options="cit" v-model="location.town" placeholder="Seleccione una opción" :disabled="disabledp" :required="true"></v-select>-->
                         <el-select  v-model="location.town" class="col-lg-12 pl-0 mx-0 px-0" placeholder="Selecione una opción" name="ciudad">
                                <el-option v-for="(town,index) in cit" :key="index" :label="town" :value="town"></el-option>
                            </el-select>
                    </div> 
                    <div class="form-group col-6 px-2">
                        <label for="address1">Dirección principal:</label><i class="mx-1 text-danger fa fa-asterisk p-0 mb-2 " style="font-size:10px"></i>
                                <input type="text" v-model="location.aditionalInf" placeholder="calle, carrera, barrio..." class="form-control" name="address1">
                    </div>
                     <div class="form-group col-6 px-2">
                        <label for="establisment1">Establecimiento:</label>
                                <input type="text" v-model="location.establishment"  class="form-control" name="establisment1">
                    </div>
                    <div v-if="watchLoc == false" class="col-12"><a @click='watchLoc = !watchLoc'  style="cursor:pointer;" class="text-primary pl-1 ml-1">¿Agregar dirección adicional? <i class="fa fa-plus"></i></a></div>
                    <div v-show='watchLoc' class="form-row col-12  px-0 mx-0">
                         <div class="col-12 mb-2 pb-2"><a @click='watchLoc = !watchLoc' style="cursor:pointer;" class="text-danger">Cancelar<i class="fa fa-close pl-1 ml-1"></i></a></div>
                        <div class="form-group col-6 px-2">
                        <label for="dep2">Departamento:</label><i class="mx-1 text-danger fa fa-asterisk p-0 mb-2 " style="font-size:10px"></i>
                        <el-select  v-model="dep2" class="col-lg-12 pl-0 mx-0 px-0" placeholder="Selecione una opción" name="departamento">
                                <el-option v-for="(loc,index) in dept" :key="index" :label="loc.departamento" :value="loc.departamento+'/'+index"></el-option>
                            </el-select>
                        <!-- <v-select label="departamento" :options="dept" v-model="dep2" placeholder="Seleccione una opción" :onChange="getCityOp()"></v-select> -->
                    </div>
                     <div class="form-group col-6 px-2">
                        <label for="town2">Ciudad:</label><i class="mx-1 text-danger fa fa-asterisk p-0 mb-2 " style="font-size:10px"></i>
                         <el-select  v-model="town2" class="col-lg-12 pl-0 mx-0 px-0" placeholder="Selecione una opción" name="ciudad">
                                <el-option v-for="(town,index) in cit_op" :key="index" :label="town" :value="town"></el-option>
                            </el-select>
                        <!-- <v-select label="ciudades" :options="cit_op" v-model="town2" placeholder="Seleccione una opción" :disabled="disabled_op" ></v-select> -->
                    </div>
                        <div class="form-group col-6 px-2">
                            <label for="address2">Otra Dirección:</label><i class="mx-1 text-danger fa fa-asterisk p-0 mb-2 " style="font-size:10px"></i>
                                    <input type="text" v-model="aditionalInf2" class="form-control" name="address2" placeholder="calle, carrera, barrio...">
                        </div>
                        <div class="form-group col-6 px-2">
                            <label for="establisment2">Establecimiento:</label>
                                    <input type="text" v-model="establishment2"   class="form-control"  name="establisment2">
                        </div>
                    </div>
                    <p class="text-secondary font-italic col-12 mt-3 pt-3 px-2">Números teléfonicos y correo:</p>
                    <div class="form-group col-6 ">
                        <label for="email">Correo Electrónico</label>
                                <input type="mail" v-model="form_ct.email" class="form-control" name="email" :class="{'is-invalid border-danger': response.validation_email.status, 'is-valid': response.validation_email.status == false}" @change="val_email">
                                <div class="poppins" :class="{'invalid-feedback': response.validation_email.status, 'valid-feedback': !response.validation_email.status}">
                        {{ response.validation_email.text }}
                    </div>
                    </div>
                     <div class="form-group col-6  px-2">
                        <label for="phone1"> N° Telefónico 1</label><i class="mx-1 text-danger fa fa-asterisk p-0 mb-2 " style="font-size:10px"></i>
                                <input type="text" v-model="tel1" class="form-control" :class="{'is-invalid border-danger': response.validation_tel1.status, 'is-valid': response.validation_tel1.status == false}" name="phone1" @keyup="val_phone1(tel1)">
                        <div class="poppins" :class="{'invalid-feedback': response.validation_tel1.status, 'valid-feedback': !response.validation_tel1.status}">
                        {{ response.validation_tel1.text }}
                    </div>
                    </div>
                    <div class="form-group col-6 px-2">
                        <label for="phone2"> N° Telefónico 2</label>
                                <input type="text" v-model="tel2" class="form-control" :class="{'is-invalid border-danger': response.validation_tel2.status, 'is-valid': response.validation_tel2.status == false}" name="phone2" @keyup="val_dv(tel2)" >
                    <div class="poppins" :class="{'invalid-feedback': response.validation_tel2.status, 'valid-feedback': !response.validation_tel2.status}">
                        {{ response.validation_tel2.text }}
                    </div>
                    </div>
                </div> 
</div>
</div>
<div class="card border-info mt-3">
    <div class="card-header">
        <h4 class="text-info">Información tributaría</h4>
    </div>
    <div class="card-body">
       <div class="form-row">
            <div class="form-group col-6 px-2">
                <label for="select_type">Categoria de contribuyente</label><i class="mx-1 text-danger fa fa-asterisk p-0 mb-2 " style="font-size:10px"></i>
                                <select v-model="form_ct.tributaryInf.category" class="custom-select" name="cat_contribuyente">
                                    <option value="">Seleccione una opción</option>
                                    <option value="1">Agente Retenedor</option>
                                    <option value="2">Gran Contribuyente No Autoretenedor</option>
                                    <option value="3">Gran Contribuyente Autoretenedor</option>
                                    <option value="4">Autoretenedor</option>
                                    <option value="5">Entidades Sin Ánimo De Lucro</option>
                                    <option value="6">Tercero Del Exterior</option>
                                    <option v-if="form_ct.tributaryInf.typePerson != 'Persona Juridica'" value="7">No Declarante</option>                                  
                                </select>
            </div>
                  
       </div> 
    </div>
</div>
<div class="card border-info mt-3 mb-3">
    <div class="card-header">
        <h4 class="text-info">Información de pagos</h4>
    </div>
    <div class="card-body">
        <div class="form-row">
            <div class="form-group col-6 px-2">
                <label for="select_type">Modalidad de pago</label><i class="mx-1 text-danger fa fa-asterisk p-0 mb-2 " style="font-size:10px"></i>
                <select v-model="form_ct.payConditions.payModality" class="custom-select" name="method_pay">
                    <option value="">Seleccione una opción</option>
                    <option value="1">Contado</option>
                    <option value="2">Crédito</option>             
                </select>
            </div>
            <div class="form-group col-6 px-2">
                 <label for="discount">Descuento(%)</label>
                <input type="text" v-model="form_ct.payConditions.discount" class="form-control" :class="{'is-invalid border-danger': response.validation_discount.status, 'is-valid': response.validation_discount.status == false}" name="discount" @keyup="val_discount(form_ct.payConditions.discount)" >
            <div class="poppins" :class="{'invalid-feedback': response.validation_discount.status, 'valid-feedback': !response.validation_discount.status}">
                        {{ response.validation_discount.text }}
                    </div>
            </div>
            <div v-if="form_ct.payConditions.payModality == 2" class="form-row col-12">
                <div class="form-group col-6 px-2">
                    <label for="credit" >Cupo de Crédito</label>
                    <input v-model="form_ct.payConditions.credit" class="form-control" :class="{'is-invalid border-danger': response.validation_credit.status, 'is-valid': response.validation_credit.status == false}" type="text" name="credit" @keyup="val_credit(form_ct.payConditions.credit)">
                <div class="poppins" :class="{'invalid-feedback': response.validation_credit.status, 'valid-feedback': !response.validation_credit.status}">
                        {{ response.validation_credit.text }}
                    </div>
                </div>
                <div class="form-group col-6 px-2">
                    <label for="credit" >Plazos de pago</label>
                   <div class="input-group mb-2 px-2">
                        <input v-model="form_ct.payConditions.deadlines" type="text" class="form-control" :class="{'is-invalid border-danger': response.validation_deadline.status, 'is-valid': response.validation_deadline.status == false}" name="deadlines" @keyup="val_deadline(form_ct.payConditions.deadlines)">
                        <div class="input-group-prepend">
                            <div class="input-group-text">días</div>
                        </div>
                   </div>
                   <div class="poppins" :class="{'invalid-feedback': response.validation_deadline.status, 'valid-feedback': !response.validation_deadline.status}">
                        {{ response.validation_deadline.text }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<button id="send" class="btn btn-lg btn-primary pt-1" @click.prevent="empty_inputs" >Enviar</button>
</div>
</form>  
</template>

<script>
var form_contact = {
    nitClient: "",
     dni:{
            dni: "",
            type: "",
            dv: null
        },
        name:{
            first: "",
            second: ""
        },
        lastname:{
            first: "",
            second: ""
        },
        contactType: [],
        address:[],
        phones:[],
        email: "",
        conCompany: "",
        payConditions:{
            discount: "",
            credit: 0,
            payModality: "",
            deadLines: ""
        },
        tributaryInf:{
            regimen: "",
            category: "",
            typePerson:""
        },
        worker:{
           jobTitle: "",
           costCenter: "",
           seller: false,
           contract:{
           num: "",
           beginDate: "",
           endDate: "",
           salary: null,
           typeContract: ""
           } 
        }
}
 let city = require('../../Utilities/Data/Colombian-citys.json');
export default {
    data() {
        return { 
            temp: '',
             selected: '',
             selectedDoc: '',
            optionsp: [
            { text: 'Seleccione una opción', value: '' },
            { text: 'Persona Natural', value: 'Persona Natural' },
            { text: 'Persona Jurídica', value: 'Persona Juridica' }
            ],
            optionsDoc: [
                {text: 'Seleccione una opción', value: ''},
                {text: 'NIT - Número de identificación tributaria', value: 'NIT'},
                {text: 'TI - Tarjeta de identidad', value: 'TI'},
                {text: 'CC - Cédula de ciudadania', value: 'CC'},
                {text: 'CE - Cédula de extranjeria', value: 'CE'},
                {text: 'TE - Cédula de extranjeria', value: 'TE'},
                {text: 'PP - Pasaporte', value: 'PP'},
                {text: 'RC - Registro civil de nacimiento', value: 'RC'}
            ],
            form_ct: form_contact,
            location:{ 
            town: null,
            dep: null,
            aditionalInf: "",
            establishment: ""
        },
        town2: null,
        dep2: null,
        aditionalInf2: "",
        establishment2: "",
        tel1: '',
        tel2: '' ,
        watchLoc: false,
        watchAddLoc: true,
        dept: city,
        cit: [],
        cit_op: [],
        disabledp: false,
        disabled_op: false,
        valdep: null,
        work: false,
        response: {
            validation:{
                status: null,
                text: ''
            },
            validation_dv: {
               status: null,
               text: '' 
            },
            validation_email:{
                status: null,
                text: ''
            },
            validation_salary: {
                status: null,
                text: ''
            },
            validation_tel1: {
                status: null,
                text: ''
            },
            validation_tel2: {
                status: null,
                text: ''
            },
            validation_discount: {
                status: null,
                text: ''
            },
            validation_credit: {
                status:null,
                text: ''
            },
            validation_deadline: {
                status:null,
                text: ''
            }
        }
        }
    },
    mounted(){
      this.form_ct.contactType = [];
      this.sessdata()  
    },
   watch:{
       'location.dep': function (newVal) { 
            if(newVal != null){
                this.cit = []
                let dep = newVal.split('/')

                var dept = dep[0]
                var cd = dep[1]
                let array_dep = this.dept[cd].ciudades
                for (let index = 0; index < array_dep.length; index++) {
                    var city = array_dep[index];
                    this.cit.push(city)  
                }
            }
        },
        'dep2':  function (newVal2) { 
            if(newVal2 != null){
                this.cit_op = []
                let dep = newVal2.split('/')

                var dept = dep[0]
                var cd = dep[1]
                let array_dep = this.dept[cd].ciudades
                for (let index = 0; index < array_dep.length; index++) {
                    var city = array_dep[index];
                    this.cit_op.push(city)  
                }
            }
        }
   },
    methods: {
         sessdata()
        {
            axios.post('/auth/sessdata', {fields: ['name','rol','company']}).then(resp => {                                          
                let res = this.$myCryptor.decode(resp.data.data);                                
                this.nameUser = res[0].first+' '+res[0].last
                this.rolUser = res[1].name
                this.form_ct.nitClient = res[2].nit
                console.log('nit:'+this.form_ct.nitClient)
            })
        },
        setup_num(n){
            //   var num =  /^[0-9])*$/.test(n)
            //   var num = /^([0-9])*$/.test(n)
            var num = /^(0|[1-9][0-9]*)$/.test(n)
              return num
            },
        setup_string(s){
             var validator=/^[a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1]*)*[a-zA-ZÀ-ÿ\u00f1\u00d1]+$/g
             var str = validator.test(s)
             return str
        },    
        validEmail(email) {
      var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    },
        val_dv(n)
        {
        if(n != '' && !this.setup_num(n))
        {
            this.response.validation_dv.status = true
            this.response.validation_dv.text = 'El digito de verificación es inválido'

        }else{
            this.response.validation_dv.status = null
            this.response.validation_dv.text = ''
        }  
        },
        val_salary(n)
        {
            if(n != '' && !this.setup_num(n))
        {
            this.response.validation_salary.status = true
            this.response.validation_salary.text = 'Digite una cantidad válida'

        }else{
            this.response.validation_salary.status = null
            this.response.validation_salary.text = ''
        }  
        },
        val_phone1(n)
        {
            if(n != '' && (!this.setup_num(n) || n.length < 7 ))
        {
            this.response.validation_tel1.status = true
            this.response.validation_tel1.text = 'digite un número telefónico válido. Debe contener solo números y mínimo 7 digitos'

        }else{
            this.response.validation_tel1.status = null
            this.response.validation_tel1.text = ''
        }  
        },
        val_phone2(n)
        {
            if(n != '' && (!this.setup_num(n) || n.length < 7 ))
        {
            this.response.validation_tel2.status = true
            this.response.validation_tel2.text = 'digite un número telefónico válido. Debe contener solo números y mínimo 7 digitos'

        }else{
            this.response.validation_tel2.status = null
            this.response.validation_tel2.text = ''
        }  
        },
        val_discount(n)
        {
            if(n != '' && !this.setup_num(n))
        {
            this.response.validation_discount.status = true
            his.response.validation_discount.text = 'Digite una cantidad válida'

        }else{
            this.response.validation_discount.status = null
            this.response.validation_discount.text = ''
        }  
        },
    
        val_credit(n)
        {
            if(n != '' && !this.setup_num(n))
        {
            this.response.validation_credit.status = true
            his.response.validation_credit.text = 'Digite una cantidad válida'

        }else{
            this.response.validation_credit.status = null
            this.response.validation_credit.text = ''
        }
        },
        val_deadline(n)
        {
            if(n != '' && !this.setup_num(n))
        {
            this.response.validation_deadline.status = true
            his.response.validation_deadline.text = 'Digite una cantidad válida'

        }else{
            this.response.validation_deadline.status = null
            this.response.validation_deadline.text = ''
        }
        },
        val_email()
        {
            var n = this.form_ct.email
            if(n != '' && !this.validEmail(n))
        {
            this.response.validation_email.status = true
            this.response.validation_email.text = 'Correo inválido'

        }else{
            this.response.validation_email.status = null
            this.response.validation_email.text = ''
        } 
        },  
        empty_inputs() {
            if(!this.form_ct.dni.type)
            {
                this.$chidoriAlert.show('Error','Debe seleccionar un tipo de identificación','error')
                $('select[name=type_identification]').focus()
                return false
            }
            if(this.form_ct.dni.type == 'NIT' && this.form_ct.dni.dni && !this.form_ct.dni.dv)
            {
                this.$chidoriAlert.show('Error','Debe asignar el digito de verificación al número de identificación','error')
                $('input[name=dv]').focus()
                return false
            }
             if(this.response.validation.status == true || this.response.validation_dv.status == true || this.response.validation_salary.status == true || this.response.validation_tel1.status == true || this.response.validation_tel2.status == true || this.response.validation_discount.status == true || this.response.validation_credit.status == true || this.response.validation_deadline.status == true || this.response.validation_email.status == true)
                {
                    this.$chidoriAlert.show('Error','Verifique los campos que presentan errores y vuelva a intentarlo','error')
                    return false
                }
            if(this.work == true && (!this.form_ct.worker.jobTitle || !this.form_ct.worker.contract.typeContract || !this.form_ct.worker.contract.beginDate))
            {
                this.$chidoriAlert.show('Error','El tercero que desea crear es un "empleado". Debe diligenciar los campos obligatorios correspondientes a la información de empleados','error')
                return false
            }
            if(this.watchLoc == true && (!this.dep2 || !this.town2))
            {
                this.$chidoriAlert.show('Error','Al agregar otra ubicación debe diligenciar los campos obligatorios','error')
                return false
            }
            if(this.form_ct.dni.type)
            {
                if(this.form_ct.dni.type == 'NIT' && !this.form_ct.tributaryInf.typePerson)
               { 
                console.log('aqui nit y persona vacia')
                this.$chidoriAlert.show('Error','Debe seleccionar un tipo de persona','error')
                $('select[name=type_person').focus()
                return false
                }
                if((this.form_ct.dni.type == 'NIT' && this.form_ct.tributaryInf.typePerson == 'Persona Natural') && (!this.form_ct.dni.dni || !this.form_ct.dni.dv || !this.form_ct.tributaryInf.regimen || !this.form_ct.name.first || !this.form_ct.lastname.first || !this.form_ct.lastname.second || this.form_ct.contactType.length == 0 || !this.location.dep || !this.location.town || !this.tel1))
               { 
                console.log('nit - pnatural')
                this.$chidoriAlert.show('Error','Debe llenar todo los campos obligatorios','error')
                return false
                }
                if((this.form_ct.dni.type == 'NIT' && this.form_ct.tributaryInf.typePerson == 'Persona Juridica') && (!this.form_ct.dni.dni || !this.form_ct.dni.dv || !this.form_ct.tributaryInf.regimen || !this.form_ct.name.first || this.form_ct.contactType.length == 0 || !this.location.dep || !this.location.town || !this.tel1))
               { 
                console.log('nit-pjuridc')
                this.$chidoriAlert.show('Error','Debe llenar todo los campos obligatorios','error')
                return false
                }
                if(this.form_ct.dni.type != 'NIT' && (!this.form_ct.dni.dni || !this.form_ct.name.first || !this.form_ct.lastname.first || !this.form_ct.lastname.second || this.form_ct.contactType.length == 0 || !this.location.dep || !this.location.town || !this.tel1))
               { 
                console.log('diferente de nit')
                this.$chidoriAlert.show('Error','Debe llenar todo los campos obligatorios','error')
                return false
                }

            }
            
            //campos diligenciados
            if(this.form_ct.dni.type != 'NIT' && this.form_ct.dni.dni && this.form_ct.name.first && this.form_ct.lastname.first && this.form_ct.lastname.second && this.form_ct.contactType.length > 0 && this.location.dep && this.location.town && this.tel1)
            {
                if(this.work && this.form_ct.worker.jobTitle && this.form_ct.worker.contract.typeContract && this.form_ct.worker.contract.beginDate)
               {
                //    if(this.response.validation.status == true || this.response.validation_dv.status == true || this.response.validation_salary.status == true || this.response.validation_tel1.status == true || this.response.validation_tel2.status == true || this.response.validation_discount.status == true || this.response.validation_credit.status == true || this.response.validation_deadline.status == true || this.response.validation_email.status == true)
                //     {
                //         this.$chidoriAlert.show('Error','Verifique los campos que presentan errores y vuelva a intentarlo','error')
                //         return false
                //     }
                //     else
                //  { 
                     this.registerContact()
                    //  }
               }
               else if(!this.work)
               { 
                // if(this.response.validation.status == true || this.response.validation_dv.status == true || this.response.validation_salary.status == true || this.response.validation_tel1.status == true || this.response.validation_tel2.status == true || this.response.validation_discount.status == true || this.response.validation_credit.status == true || this.response.validation_deadline.status == true || this.response.validation_email.status == true)
                //     {
                //         this.$chidoriAlert.show('Error','Verifique los campos que presentan errores y vuelva a intentarlo','error')
                //         return false
                //     }
                //     else
                //  { 
                     this.registerContact()
                     
               }
            }
            if( this.form_ct.dni.type == 'NIT' && this.form_ct.dni.dv && this.form_ct.dni.dni && this.form_ct.tributaryInf.typePerson == 'Persona Natural' && this.form_ct.tributaryInf.regimen && this.form_ct.name.first && this.form_ct.lastname.first && this.form_ct.lastname.second && this.form_ct.contactType.length > 0 && this.location.dep && this.location.town && this.tel1)
            {
                 if(this.work && this.form_ct.worker.jobTitle && this.form_ct.worker.contract.typeContract && this.form_ct.worker.contract.beginDate)
               {
                //    if(this.response.validation.status == true || this.response.validation_dv.status == true || this.response.validation_salary.status == true || this.response.validation_tel1.status == true || this.response.validation_tel2.status == true || this.response.validation_discount.status == true || this.response.validation_credit.status == true || this.response.validation_deadline.status == true || this.response.validation_email.status == true)
                //     {
                //         this.$chidoriAlert.show('Error','Verifique los campos que presentan errores y vuelva a intentarlo','error')
                //         return false
                //     }
                    // else
                //  { 
                     this.registerContact()
                    //  }
               }
               else if(!this.work)
               { 
                // if(this.response.validation.status == true || this.response.validation_dv.status == true || this.response.validation_salary.status == true || this.response.validation_tel1.status == true || this.response.validation_tel2.status == true || this.response.validation_discount.status == true || this.response.validation_credit.status == true || this.response.validation_deadline.status == true || this.response.validation_email.status == true)
                //     {
                //         this.$chidoriAlert.show('Error','Verifique los campos que presentan errores y vuelva a intentarlo','error')
                //         return false
                //     }
                //     else
                //  { 
                     this.registerContact()
                    //  }
               }
            }
             if( this.form_ct.dni.type == 'NIT' && this.form_ct.dni.dv && this.form_ct.dni.dni && this.form_ct.tributaryInf.typePerson == 'Persona Juridica' && this.form_ct.tributaryInf.regimen && this.form_ct.name.first && this.form_ct.contactType.length > 0 && this.location.dep && this.location.town && this.tel1)
            {
                 if(this.work && this.form_ct.worker.jobTitle && this.form_ct.worker.contract.typeContract &&this.form_ct.worker.contract.beginDate)
               {
                //    if(this.response.validation.status == true || this.response.validation_dv.status == true || this.response.validation_salary.status == true || this.response.validation_tel1.status == true || this.response.validation_tel2.status == true || this.response.validation_discount.status == true || this.response.validation_credit.status == true || this.response.validation_deadline.status == true || this.response.validation_email.status == true)
                //     {
                //         this.$chidoriAlert.show('Error','Verifique los campos que presentan errores y vuelva a intentarlo','error')
                //         return false
                //     }
                //     else
                //  {
                      this.registerContact()
                    //   }
               }
               else if(!this.work)
               { 
                // if(this.response.validation.status == true || this.response.validation_dv.status == true || this.response.validation_salary.status == true || this.response.validation_tel1.status == true || this.response.validation_tel2.status == true || this.response.validation_discount.status == true || this.response.validation_credit.status == true || this.response.validation_deadline.status == true || this.response.validation_email.status == true)
                //     {
                //         this.$chidoriAlert.show('Error','Verifique los campos que presentan errores y vuelva a intentarlo','error')
                //         return false
                //     }
                //     else
                //  { 
                     this.registerContact()
                    //  }
               }
            }
        },
        val_doc(){
            if(this.form_ct.dni.dni != '' && this.form_ct.dni.dni.length >= 7 && this.setup_num(this.form_ct.dni.dni))
            {//poner el nit tambien para validar. Validar tambien con una variable de entorno evitar duplicado de cedula
                  axios.post('/api/sc/contact/val-dni', {dni: this.form_ct.dni.dni,nit:this.form_ct.nitClient}).then((res) =>
                {
                    console.log(res.data);
                    if(res.data == 'ok')
                    {
                        this.response.validation.status = false
                        this.response.validation.text = 'Identificación válida'
                        $('#send').removeAttr('disabled','disabled')
                    }
                    else
                    {
                        this.response.validation.status = true
                        this.response.validation.text = 'Este Número de identificación ya se encuentra registrado'
                         $('#send').attr('disabled','disabled')
                         $('input[name=num_identification]').focus();
                    }
                })
            } else
            {
                this.response.validation.status = true
                this.response.validation.text = 'Número de identificación invalido'
                 $('#send').attr('disabled','disabled')
                 $('input[name=num_identification]').focus();
            }
        },
        add_loc(){
          if(this.location.dep != null)
          {
           let town = this.location.town
           let dep = this.location.dep.split('/')
           let inf = this.location.aditionalInf
           let est = this.location.establishment
            /** add location vector */
            if(town != null && est != '' && inf != '')
            {
                this.form_ct.address.push({town: town, department: dep[0], adInfo: inf+","+est})
                this.valdep = true;
            }else if(town != null && est == ''){
                this.form_ct.address.push({town: town, department: dep[0], adInfo: inf})
               this.valdep = false;
            }
          }   
        },
        add_locAux(){
             /** refs */
             if(this.dep2 != null)
           { 
            let townref =  this.town2
            let locref = this.aditionalInf2
            // let deprf = this.dep2.departamento
            let deprf = this.dep2.split('/')
            let estref = this.establishment2
            if(townref != '' && locref != '' && estref != '')
            {
             this.form_ct.address.push({town: townref, department: deprf[0],adInfo: locref+","+estref})
            }
            else if(townref != '' && locref != '' && estref == '')
           {
                this.form_ct.address.push({town: townref, department: deprf[0],adInfo: locref})
           }
           
           }
            
        },
        add_tel(){
            let tl = [this.tel1,this.tel2]
            // let tel = []
            if(this.tel2 != '')
            {
                for(var i = 0; i < 2; i++)
                {
                    // tel.push(tl[i])
                    this.form_ct.phones.push(tl[i])
                }
            }
            else{
                // tel.push(this.tel1)
                this.form_ct.phones.push(this.tel1)
                }
            //   this.form_ct.phones.push(tel)
        },
        clear_input() {
            if(this.work == false)
            {
                this.form_ct.worker.jobTitle = '',
                this.form_ct.worker.seller = false,
                this.form_ct.worker.costCenter = '',
                this.form_ct.worker.contract.num = '',
                this.form_ct.worker.contract.typeContract = '',
                this.form_ct.worker.contract.beginDate = null
                this.form_ct.worker.contract.endDate = null
            }
            if(this.watchLoc == false)
            {
                this.town2 = null
                this.dep2 = null
                this.aditionalInf2 = ''
                this.establishment2 = ''
            }
            if(this.form_ct.payConditions.payModality != 2)
            {
                this.form_ct.payConditions.credit = ''
                this.form_ct.payConditions.deadlines = ''
            }

        },
        registerContact(){
            
            this.add_loc()
            this.add_locAux()
            this.add_tel()
            this.clear_input()
            this.send_data()
            console.log(this.form_ct)
        },
        send_data()
        {
            axios.post('/sc/contact/store', this.form_ct).then(resp => {
                if(resp.data.status == 'success')
                {
                    this.$chidoriAlert.show('OK!', 'el contacto se guardo correctamente', 'success', 3000)
                    console.log(resp.data)
                    this.form_ct.name.first = ''
                    this.form_ct.name.second = ''
                    this.form_ct.lastname.first = ''
                    this.form_ct.lastname.second = ''
                    this.form_ct.dni.dni = ''
                    this.form_ct.dni.type = ''
                    this.form_ct.dni.dv = ''
                    this.form_ct.conCompany = ''
                    this.form_ct.contactType = []
                    this.form_ct.address = []
                    this.form_ct.phones = []
                    this.tel1 = ''
                    this.tel2 = ''
                    this.location.town = null
                    this.location.dep = null
                    this.location.aditionalInf = ''
                    this.location.establishment = ''
                    this.town2 = null
                    this.dep2 = null
                    this.cit = []
                    this.cit_op = []
                    this.aditionalInf2 = ''
                    this.establishment2 = ''
                    this.form_ct.email = ''
                    this.form_ct.tributaryInf.regimen = ''
                    this.form_ct.tributaryInf.category = ''
                    this.form_ct.tributaryInf.typePerson = ''
                    this.form_ct.payConditions.discount = ''
                    this.form_ct.payConditions.payModality = ''
                    this.form_ct.payConditions.credit = ''
                    this.form_ct.payConditions.deadlines = ''
                    this.watchLoc = false
                    this.form_ct.worker.jobTitle = '',
                    this.form_ct.worker.seller = false,
                    this.form_ct.worker.costCenter = '',
                    this.form_ct.worker.contract.num = '',
                    this.form_ct.worker.contract.typeContract = '',
                    this.form_ct.worker.contract.beginDate = null
                    this.form_ct.worker.contract.endDate = null
                    this.valdep = null
                    this.work = false 
                    this.response.validation.status = null
                    this.response.validation.text = ''
                    this.response.validation_dv.status = null
                    this.response.validation_dv.text = ''
                    this.response.validation_email.status = null
                    this.response.validation_email.text = ''
                    this.response.validation_salary.status = null
                    this.response.validation_salary.text = ''
                    this.response.validation_tel1.status = null
                    this.response.validation_tel1.text = ''
                    this.response.validation_tel2.status = null
                    this.response.validation_tel2.text = ''
                    this.response.validation_discount.status = null
                    this.response.validation_discount.text = ''
                    this.response.validation_credit.status = null
                    this.response.validation_credit.text = ''
                    this.response.validation_deadline.status = null
                    this.response.validation_deadline.text = ''


                }
                else
                   { console.error(resp.data)}
            }).catch(err => {console.error(err)})
        }
    }
}

</script>