<template>
    <div class="container">
        <div v-if="showinfo == false">
        <!-- <div>     -->
    <!-- <p>La fucking tabla https://www.njleonzhang.com/vue-data-tables/?ref=madewithvuejs.com#/en-us/quickStart</p> -->
  <el-input style="margin-bottom: 10px; width: 200px;" v-model="filters[0].value"></el-input>
    <data-tables ref="table" :data="dataform" :filters="filters" :page-size="10" :pagination-props="{ background: true, pageSizes: [10, 20, 30] }">
      <el-table-column header-align="center"  align="center" prop="dnitype" label="Tipo De Identificación" sortable="custom">
          <template slot-scope="scope">
            <div>{{ scope.row.dnitype }} <el-tooltip placement="left-start">
                    <div slot="content">{{Convert_dni_type(scope.row.dnitype)}}</div>
                    <i class="el-icon-question"></i>
            </el-tooltip> </div>
                  
          </template>
      </el-table-column>
      <el-table-column header-align="center" align="center" prop="dni" label="N° De Identificación" sortable="custom">
      </el-table-column>
      <el-table-column header-align="center" align="center" prop="razon" label="Razón Social" sortable="custom">
          <template slot-scope="scope">
             <div>{{scope.row.razon.replace(/^([a-z\u00E0-\u00FC])|\s+([a-z\u00E0-\u00FC])/g, l => l.toUpperCase())}}</div> 
          </template>
      </el-table-column>
      <el-table-column header-align="center" align="center" prop="type" label="Tipo" sortable="custom">
      </el-table-column>
      <el-table-column  header-align="center" align="center" label="Acciones" sortable="custom">
           <template slot-scope="scope">
            <el-button-group>
                <el-tooltip placement="top">
                    <div slot="content">Ver Detalles</div>
                <el-button @click="getContOne(scope.row.slug)" type="info" icon="el-icon-info" size="mini"></el-button>
                </el-tooltip>
                 <el-tooltip placement="top">
                    <div slot="content">Editar</div>
                <el-button type="primary" icon="el-icon-edit" size="mini"></el-button>
                </el-tooltip>
                <el-tooltip placement="top">
                    <div slot="content">Anular</div>
                <el-button @click="cancelContact(scope.row.slug)" type="danger" icon="el-icon-delete" size="mini"></el-button>
                </el-tooltip>
            </el-button-group>
      </template>
      </el-table-column>
    </data-tables>
   
        </div>
        <!-- <div  class="modal " id="infoModal" tabindex="-1" style="z-index:10 !important" role="dialog"> -->
        <div v-else>
            <!-- <div class="modal-dialog modal-lg" role="document"> -->
            <div class="card">
               <!-- <div class="modal-content"> -->
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6"><h4 class="text-left">{{continfo.name.first+" "+continfo.name.second+" "+continfo.lastname.first+" "+continfo.lastname.second}}</h4></div>
                            <div class="col-md-6">
                                <span class="btn-light float-right" @click="closeinfo"><i class="fa fa-close fa-lg"></i></span>
                            </div>
                        </div>
                    <!-- <h5 v-if="continfo != null" class="modal-title" id="infoModalLabel">{{continfo.name.first+" "+continfo.name.second+" "+continfo.lastname.first+" "+continfo.lastname.second}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button> -->
                    </div>
                    <!-- <div class="modal-body modal-lg"> -->
                    <div class="card-body">
                        <!-- <div v-if="continfo != null" class="row"> -->
                         <div class="row">
                            <div class="col-md-6">
                                <hr>
                                    <h5 class="card-title text-secondary mr-2">Información básica</h5>
                                <hr>
                                <div class="row border-right">
                                <span class="col-md-5 mt-1"><p class="font-weight-bold">Tipo de identificación:</p></span>
                                <span class="col-md-7 mt-1 pl-0 ml-0"><p class="text-left">{{ continfo.dni.type+"("+idformat+")" }}</p></span>
                                <span class="col-md-5 mt-1"><p class="font-weight-bold">N° de identificación:</p></span>
                                <span class="col-md-7 mt-1 pl-0 ml-0"><p class="text-left" v-if="continfo.dni.type == 'NIT'">{{ continfo.dni.dni+"-"+continfo.dni.dv }}</p><p class="float-left" v-else>{{ continfo.dni.dni }}</p></span>
                                <span class="col-md-5 mt-1"><p class="font-weight-bold">Tipo de contacto:</p></span>
                                <span class="col-md-7 mt-1 pl-0 ml-0"><p class="text-left"><span v-for="(ctype,index) in continfo.contactType" :key="index">{{ ctype }}<span v-if="(continfo.contactType.length -1) != index">-</span></span></p></span>
                                <span  v-if="continfo.conCompany" class="col-md-5 mt-1"><p class="font-weight-bold">Empresa:</p></span>
                                <span  v-if="continfo.conCompany" class="col-md-7 mt-1 pl-0 ml-0"><p class="float-left">{{ continfo.conCompany }}</p></span>
                                </div>
                                
                            </div>
                            <div class="col-md-6">
                                <hr>
                                <h5 class="card-title text-secondary mr-2">Ubicación y números de contacto</h5>
                                <hr>
                                <div class="row">
                                    <span class="col-md-5 mt-1"><p class="font-weight-bold">Dirección:</p></span>
                                    <span class="col-md-7 mt-1 pl-0 ml-0"><ul class="float-left"><li v-for="(loc,index) in continfo.address" :key="index"><p>{{ loc.adInfo+", "+loc.town+", "+loc.department }}</p></li></ul></span>
                                    <span class="col-md-5 mt-1"><p class="font-weight-bold">Teléfono:</p></span>
                                    <span class="col-md-7 mt-1 pl-0 ml-0"><span v-for="(tel,index) in continfo.phones" :key="index"><span>{{ tel }}</span><span v-if="continfo.phones.length -1 != index">-</span> </span></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <hr>
                                <h5 class="card-title text-secondary mr-2">Información Tributaria</h5>
                                <hr>
                                <div class="row border-right">
                                    <span class="col-md-5 mt-1"><p class="font-weight-bold">Tipo de persona:</p></span>
                                    <span class="col-md-7 mt-1 pl-0 ml-0"><p class="float-left">{{ continfo.tributaryInf.typePerson }}</p></span>
                                    <span class="col-md-5 mt-1"><p class="font-weight-bold">Régimen:</p></span>
                                    <span class="col-md-7 mt-1 pl-0 ml-0"><p class="text-left">{{continfo.tributaryInf.regimen}}</p></span>
                                    <span class="col-md-6 mt-1"><p class="font-weight-bold">Responsabilidad tributaria:</p></span>
                                    <span class="col-md-6 mt-1 pl-0 ml-0"><p class="text-left">{{ rtrib }}</p></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <hr>
                                <h5 class="card-title text-secondary mr-2">Información de pagos</h5>
                                <hr>
                                <div class="row">
                                    <span class="col-md-5 mt-1"><p class="font-weight-bold">Modalidad de pago:</p></span>
                                    <span class="col-md-7 mt-1 pl-0 ml-0"><p class="text-left">{{pay}}</p></span>
                                    <span class="col-md-5 mt-1"><p class="font-weight-bold">Descuento:</p></span>
                                    <span class="col-md-7 mt-1 pl-0 ml-0"><p class="text-left">{{continfo.payConditions.discount+"%"}}</p></span>
                                    <span class="col-md-5 mt-1"><p class="font-weight-bold">Cupo de credito:</p></span>
                                    <span class="col-md-7 mt-1 pl-0 ml-0"><p v-if="continfo.payConditions.credit != '' " class="text-left">{{"$ "+continfo.payConditions.credit}}</p><p v-else class="text-left">{{"$ 0"}}</p></span>
                                    <span v-if="continfo.payConditions.deadLines != null" class="col-md-5 mt-1"><p class="font-weight-bold">Plazo de pagos:</p></span>
                                    <span v-if="continfo.payConditions.deadLines != null" class="col-md-7 mt-1 pl-0 ml-0"><p class="text-left">{{ continfo.payConditions.deadlines+" días" }}</p></span>
                                </div>
                   
                            </div>
                        </div>
                    </div>
               <!-- </div> -->
            </div>
        </div>
    </div>
</template>
<script>

export default {

    data() {
        return {
            dataform: [],
            continfo: null,
            statetool: true,
            showinfo: false,
            confirmCancel: false,
            idformat: '',
            pay: '',
            rtrib: '',
            nitClient: "984500001",
            // titles,
            filters: [
                {
                filterFn: (row, filter) => {
                    return Object.keys(row).some(prop => {
                    if (prop === 'dni') {
                        return row.dni.indexOf(filter.value) > -1
                    } 
                    else if(prop == 'dnitype'){
                        var m = filter.value.toLowerCase()                
                        let val = this.quitaacentos(filter.value)
                        let r = this.quitaacentos(row.dnitype.toLowerCase())
                        // console.log(r)
                        return r.toLowerCase().indexOf(val) > -1
                    }
                    else if(prop === 'razon'){
                        var m = filter.value.toLowerCase()                
                        let val = this.quitaacentos(filter.value)
                        let r = this.quitaacentos(row.razon.toLowerCase())
                        // return row.razon.toLowerCase().indexOf(filter.value.toLowerCase()) > -1
                        return r.toLowerCase().indexOf(val) > -1
                    }
                    else if(prop === 'type'){
                        return row.type.toLowerCase().indexOf(filter.value.toLowerCase()) > -1
                    }
                    })
                }
                }
                // {
                //   value: [],
                //   filterFn: (row, filter) => {
                //     return Object.keys(row.contact).some(prop => {
                //        if(prop === 'contactType'){
                //           console.log("entra tipo")
                //           return row.contact.contactType.toLowerCase().indexOf(filter.value.toLowerCase()) > -1
                //       }
                //     })
                //   }
                // }
            ]
        }   
    },
    mounted() {
        this.getCont()
    },
    methods: {
         quitaacentos(s) {
                    var r=s.toLowerCase();
                    r = r.replace(new RegExp(/\s/g),"");
                    r = r.replace(new RegExp(/[àáâãäå]/g),"a");
                    r = r.replace(new RegExp(/[èéêë]/g),"e");
                    r = r.replace(new RegExp(/[ìíîï]/g),"i");
                    r = r.replace(new RegExp(/ñ/g),"n");                
                    r = r.replace(new RegExp(/[òóôõö]/g),"o");
                    r = r.replace(new RegExp(/[ùúûü]/g),"u");                                
                    return r;
                },
        getCont() {
           axios.post('/api/sc/contact/list',{dni:this.nitClient,status:true}).then(resp => {
                let data = this.$myCryptor.decode(resp.data.res)
                for (let index = 0; index < data.length; index++) {
                    var s = '';
                    for (let i = 0; i < data[index].contactType.length; i++) {
                        s+= data[index].contactType[i];
                        if(i != (data[index].contactType.length -1))
                            s+='/'
                    }
                    if(data[index].dni.type == 'NIT')
                        var dni = data[index].dni.dni+'-'+data[index].dni.dv
                    else
                        var dni = data[index].dni.dni
                    let inn = {
                        dnitype: data[index].dni.type,
                        dni: dni,
                        razon: data[index].name.first +' '+data[index].name.second+' '+data[index].lastname.first +' '+data[index].lastname.second,
                        type: s,
                        slug: data[index].slug
                    }
                    this.dataform.push(inn)
                }
            }).catch(err => {console.error(err)})
        },
        getContOne(info)
        {                    
            axios.post('/api/sc/contact/listone',{slug:info}).then((res) =>{
            let data = this.$myCryptor.decode(res.data.res)
            this.continfo = data
            console.log(this.continfo)
             this.showinfo = true
            // $('#infoModal').modal('show')
            
             switch(this.continfo.dni.type)
             {
                 case 'NIT': 
                 this.idformat = 'Número De Identificación Tributaria';
                 break;
                 case 'CC':
                 this.idformat = 'Cédula De Ciudadanía';
                 break;
                 case 'CE':
                 this.idformat = 'Cédula De Extranjería';
                 break;
                 case 'PP':
                 this.idformat = 'Pasaporte';
                 break;
                 case 'TE':
                 this.idformat = 'Tarjeta De Extranjeria';
                 break;
                 case 'TI':
                 this.idformat = 'Tarjeta De Identidad';
                 break;
                 case 'RC':
                 this.idformat = 'Registro Civil De Nacimiento';
                 break;
             }
             switch(this.continfo.payConditions.payModality){
                 case '1':
                 this.pay = 'Contado';
                 break;
                 case '2':
                 this.pay = 'Crédito';
                 break;
             }
             switch(this.continfo.tributaryInf.category){
                 case '1':
                 this.rtrib = 'Agente Retenedor';
                 break;
                 case '2':
                 this.rtrib = 'Gran Contribuyente No Autoretenedor';
                 break;
                 case '3':
                 this.rtrib = 'Gran Contribuyente Autoretenedor';
                 break;
                 case '4':
                 this.rtrib = 'Autoretenedor';
                 break;
                 case '5':
                 this.rtrib = 'Entidades Sin Ánimo De Lucro';
                 break;
                 case '6':
                 this.rtrib = 'Tercero Del Exterior';
                 break;
             }
        }).catch(err => {console.error(err)})
        },
        tooltip(){
            if(this.statetool == true)
            {
                $('[data-toggle="tooltip"]').tooltip()
                this.statetool = false;  
            }
            else{
                console.log('one')
            }
            
        },
        closeinfo(){
             this.showinfo = false
             this.statetool = true
        },
    Convert_dni_type(dnitype){
        let dnitp = ''
        switch(dnitype)
             {
                 case 'NIT': 
                 dnitp = 'Número De Identificación Tributaria';
    
                 break;
                 case 'CC':
                 dnitp = 'Cédula De Ciudadanía'; 
                 break;
                 case 'CE':
                 dnitp = 'Cédula De Extranjería';
                 break;
                 case 'PP':
                 dnitp = 'Pasaporte';
                 break;
                 case 'TE':
                 dnitp = 'Tarjeta De Extranjeria';
                 break;
                 case 'TI':
                 dnitp = 'Tarjeta De Identidad';
                 break;
                 case 'RC':
                 dnitp = 'Registro Civil De Nacimiento';
                 break;
             }
             return dnitp
    },
    cancelContact(id){
        this.$swal.fire({
  title: '¿Desea borrar este contacto?',
  text: "al Aceptar la información del contacto será borrada ",
  type: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Aceptar'
}).then((result) => {
  if (result.value) {
      axios.put('/sc/contact/cancel',{slug:id,nitClient:this.nitClient,status:false}).then(resp => {
             if(resp.data.status == 'success')
            { 
                 this.$swal.fire(
                    'ok!',
                    'Ha sido eliminado el contacto.',
                    'success'
                    )
                console.log(resp)
                this.dataform = []
                this.getCont()
                
                   
            } 
        })
   
  }
})
         
    }

    }

}



</script>
