<template>
    <div class="container mx-0 p-0">
       <div class="card border-info mt-0">
        <div class="card-header"><h4 class="text-info">Registrar Producto</h4></div>
        <div class="card-body">
            <form id="create_item" class="form-row" @submit.prevent="emptyinputs">
                    <div class="form-group col-6 px-2">
                        <label for="cons">N° Consecutivo:</label><i class="mx-1 text-danger fa fa-asterisk p-0 mb-2 " style="font-size:10px"></i>
                        <input type="text" :class="{'is-invalid border-danger': response.validation.status, 'is-valid': response.validation.status == false}" class="form-control validate" name="cons" v-model="item.consecutive" @change="equalscode">
                     <div class="poppins" :class="{'invalid-feedback': response.validation.status, 'valid-feedback': !response.validation.status}">
                        {{ response.validation.text }}
                    </div>
                    </div>
                    <div class="form-group col-6 px-2">
                        <label for="barcode">Codigo de barras:</label>
                        <input type="text" :class="{'is-invalid border-danger': response.validation_barcode.status, 'is-valid': response.validation_barcode.status == false}" class="form-control" name="barcode" v-model="item.barcode" @change="equalsbarcode">
                        <div class="valid-feedback text-secondary" style="display:block;">
                            <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input"  id="customCheck1" v-model="equalcode"  @change="equalscode">
                        <label class="custom-control-label" for="customCheck1">Usar el mismo código Consecutivo para el código de barras</label>
                            </div>
                        </div>
                        <div class="poppins" :class="{'invalid-feedback': response.validation_barcode.status, 'valid-feedback': !response.validation_barcode.status}">
                        {{ response.validation_barcode.text }}
                    </div>
                    </div>
                    <div class="form-group col-6 px-2">
                        <label for="descrip">Descripción:</label><i class="mx-1 text-danger fa fa-asterisk p-0 mb-2 " style="font-size:10px"></i>
                        <textarea name="descrip" class="form-control validate" v-model="item.description"></textarea>
                    </div>
                    <div class="col-6 mx-0 px-2">
                        <div class="form-row">
                            <div class="col-lg-12 mt-1">
                                <label for="cat">Categoria:<i class="mx-1 text-danger fa fa-asterisk p-0 mb-2 " style="font-size:10px"></i></label>
                            </div>
                            <!-- <select name="category"  class="form-control " v-model="catindex" size="5">
                                <option disabled selected value="">Escoja un opción</option>
                                <option v-for="(cat, index) in cats" :key="index" :value="index">{{cat.name}}</option>
                            </select> -->
                                 <el-select v-model="catindex" multiple placeholder="seleccione las categorias" class="col-lg-12 mb-1 pb-1">
                                    <el-option v-for="(cat,index) in cats" :key="index" :label="cat.name.replace(/^([a-z\u00E0-\u00FC])|\s+([a-z\u00E0-\u00FC])/g, l => l.toUpperCase())" :value="index"></el-option>
                                </el-select>
                        </div>
                        <router-link to="/vc/sc/invcat">Registrar nueva categoria?</router-link>
                    </div>
                    <div class="form-group col-6 px-2">
                        <label for="type">Tipo de Producto:</label><i class="mx-1 text-danger fa fa-asterisk p-0 mb-2 " style="font-size:10px"></i>
                        <select name="type"  class="form-control validate" v-model="item.type">
                            <option value="" disabled selected>Escoja una opción</option>
                            <option value="inv">Inventariable</option>
                            <option value="noinv">No Inventariable</option>
                            <option value="service">Servicio</option>
                        </select>
                    </div>
                    <div class="form-group col-6 px-2">
                        <label for="und">Und de Medida:</label><i class="mx-1 text-danger fa fa-asterisk p-0 mb-2 " style="font-size:10px"></i>
                        <!-- <input type="text"  class="form-control validate" name="und" v-model="item.unit"> -->
                        <el-select v-model="unit" filterable class="col-lg-12 pl-0 mx-0 px-0" placeholder="Unidades de medida" name="unidad">    
                                        <el-option-group v-for="(group,gpindexe) in select_unit" :key="gpindexe">
                                            <p style="color: #8492a6; font-size: 13px" class="text-uppercase font-weight-bold ml-2 pl-2 pb-0 mb-0 col-lg-12">{{ group.measure }}</p>
                                            <el-option v-for="(umd,index) in group.measurement" :key="index" :label="umd.name" :value="gpindexe+'/'+index+'/'+umd.id">
                                                <span style="float: left">{{ umd.name }}</span>
                                                <span style="float: right; color: #8492a6; font-size: 13px;text-transform:uppercase">{{ umd.abbreviature }}</span>
                                            </el-option>
                                        </el-option-group>
                                </el-select>
                    </div>
                    <div v-if="item.type === 'inv'" class="col-12 form-row px-0 pt-1">
                        <p class="col-12 ml-2">Stock:<i class="mx-1 text-danger fa fa-asterisk p-0 mb-2 " style="font-size:10px"></i></p>
                        <div class="form-group col-4 px-2">
                            <input type="number" class="form-control validate" name="cant_min" v-model="item.stock.min" placeholder="cant. minima">
                        </div>
                        <div class="form-group col-4 px-2">
                            <input type="number" class="form-control validate" name="cant_max" v-model="item.stock.max" placeholder="cant. máxima">
                        </div>
                        <div class="form-group col-4 px-2">
                            <input type="number" class="form-control" name="reorderpoint" v-model="item.stock.reorderpoint" placeholder="punto de reorden">
                        </div>
                    </div>
                    <div class="form-group col-6">
                        <label for="">Modelo de ventas</label>
                        <select class="form-control" name="mod_sale" v-model="item.prices.modSale.name">
                            <option value="">Seleccione una opción</option>
                            <option value="1">Lista de precios</option>
                            <option value="2">Margen de utilidad</option>
                        </select>
                        </div>
                    <div class="form-group col-6 px-2">
                        <label for="">Margen de utilidad(%):<i class="mx-1 text-danger fa fa-asterisk p-0 mb-2 " style="font-size:10px"></i></label>
                        <input type="number" class="form-control" name="utility" v-model="item.prices.modSale.utility.val">
                    </div>
                    <div class="form-group col-6 px-2">
                        <p>Impuesto:</p><i class="mx-1 text-danger fa fa-asterisk p-0 mb-2 " style="font-size:10px"></i>
                        <div class="form-check form-check-inline">
                        <input class="form-check-input" v-model="item.prices.tax.name" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="gravado">
                        <label class="form-check-label" for="inlineRadio1">Gravado con IVA</label>
                        </div>
                        <div class="form-check form-check-inline">
                        <input class="form-check-input" v-model="item.prices.tax.name" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="exento">
                        <label class="form-check-label" for="inlineRadio2">Exento de IVA</label>
                        </div>
                        <div class="form-check form-check-inline">
                        <input class="form-check-input" v-model="item.prices.tax.name" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="excluido">
                        <label class="form-check-label" for="inlineRadio3">Excluido de IVA</label>
                        </div>
                        <div v-if="item.prices.tax.name === 'gravado'">
                            <div class="form-group">
                                <label for="outprice">Tarifa de IVA (%):</label><i class="mx-1 text-danger fa fa-asterisk p-0 mb-2 " style="font-size:10px"></i>
                                <input type="number" name="outprice" class="form-control validate_tax" v-model="item.prices.tax.val" required>
                            </div>
                        </div>
                    </div>
                    
                          <div v-if="plist.length > 0" class="col-6 form-row mx-0  pt-1">
                            <div class="form-group col-lg-12 mb-0">
                                <label>Precio de venta:</label><i class="mx-1 text-danger fa fa-asterisk p-0 mb-2 " style="font-size:10px"></i>
                            </div>
                            <div class="valid-feedback col-lg-12 mb-1" style="display:block;">
                        <span class="text-secondary">Puede crear listas de precios desde la lista desplegable. Solo debe escribir el nombre que desea que tenga la lista de precios y luego seleccionarlo</span>
                    </div>
                            <div class="col-lg-12 form-row  mb-1" v-for="(price,index) in priceList" :key="index">
                                <div class="col-lg-5">
                                    <!-- <span class="col-lg-1">{{index+1}}:</span> -->
                                     <!-- <v-select v-if="item.prices.modSale.priceList[index].check == false && plist.length > 0" label="name" :options="plist" v-model="item.prices.modSale.priceList[index].name" placeholder="Seleccione una opción"></v-select> -->
                                    <!-- <el-select v-model="item.prices.modSale.priceList[index].name" filterable  placeholder="Lista de precios" allow-create >
                                            <el-option v-for="item in plist" :key="item.value" :label="item.label" :value="item.value"></el-option>
                                    </el-select> -->
                                    <!-- <el-select v-if="item.prices.modSale.priceList[index].check == false && plist.length > 0" v-model="item.prices.modSale.priceList[index].name" filterable allow-create placeholder="Choose tags for your article" required> -->
                                    <el-select v-model="priceList[index].name" filterable allow-create  placeholder="lista de precios">    
                                        <el-option v-for="(item,indexe) in plist" :key="indexe" :label="item.name.replace(/^([a-z\u00E0-\u00FC])|\s+([a-z\u00E0-\u00FC])/g, l => l.toUpperCase())" :value="indexe"></el-option>
                                        </el-select>
                                </div>
                                
                                <div class="col-lg-6">
                                    <input type="number" class="form-control " name="price_sale" v-model="priceList[index].val" >
                                </div>
                                <span v-if="index != 0" class="btn btn-sm btn-danger col-lg-1" @click="priceList.splice(index,1)"><i class="fa fa-minus"></i></span>
                            </div>
                             <div class="valid-feedback text-secondary col-lg-12" style="display:block;">
                                 <span class="text-primary" style="cursor:pointer;" @click="priceList.push({name:null,val:'',label:''})">¿Desea agregar otro precio?&nbsp;<i class="fa fa-plus"></i></span>
                            </div>
                    </div>
                    <div v-else class="col-6 mx-0  pt-1">
                        <span>No se ha encontrado listas de precios. Para crear un item debe tener listas de precios registradas</span><router-link to="/vc/sc/pricelist">¿crear lista de precios?</router-link>
                    </div>
                    <div class="form-group ml-2">
                        <button id="btn-create-item" class="btn btn-success btn-lg" >Registrar</button>
                    </div>

            </form>
        </div>
        </div>
         
    </div>
</template>
<script>
let itemBones = {
    description: '',
    consecutive: '',
    barcode: '',
    type: '',
    category: [],
    company: '',
    unit: '',//change it in model inv
    stock:{
        min: '',
        max:'',
        reorderpoint:''
    },
    prices: {
        //in:[0],
        tax: {
            name:'',
            val:''
        },
        modSale:{
            name:'',
            pricelist:[],
            utility:{
                val:'',
                cost: ''
            }
        }
        // utility: 0
    } 
}

export default {
    data() {
        return {
            item: itemBones,
            plist:[],
            list:[],
            unit:null,
            select_unit:[],
            priceList:[{name:null,val:'',label:''}],
            filterable:true,
            check: false,
            val_list: 0,
            emptypl: 0,
            valinput: false,
            catindex:[],
            product: '',
            iva: '',
            utility: 0,
            mod_prod: '',
            cats: [],
            items: [],
            prices: [0],
            consec: new Date().getDate() +''+ (new Date().getFullYear()) +''+ (Math.floor( Math.random() * 1000) + 1),
            equalcode: null,
            response: {
                validation:{
                    status: null,
                    text: ''
                },
                validation_barcode:{
                    status: null,
                    text: ''
                }
            }
        }
    },
    mounted() {
        // this.getItems()
        this.sessdata()
        // this.equalscode()
       
    },
    methods: {
        sessdata()
        {
            axios.post('/auth/sessdata', {fields: ['name','rol','company']}).then(resp => {                                          
                let res = this.$myCryptor.decode(resp.data.data);                                
                this.nameUser = res[0].first+' '+res[0].last
                this.rolUser = res[1].name
                this.item.company = res[2].nit
                console.log('nit:'+this.item.company)
                this.getCats()
                this.getMeasures()
                this.getPlist()
                this.equalscode()
                this.equalsbarcode()
            })
        },
        setup_accents(s) {
                    var r=s.toLowerCase();
                    r = r.replace(new RegExp(/\s/g),"");
                    r = r.replace(new RegExp(/[àáâãäå]/g),"a");
                    r = r.replace(new RegExp(/[èéêë]/g),"e");
                    r = r.replace(new RegExp(/[ìíîï]/g),"i");
                    r = r.replace(new RegExp(/ñ/g),"n");                
                    r = r.replace(new RegExp(/[òóôõö]/g),"o");
                    r = r.replace(new RegExp(/[ùúûü]/g),"u");                                
                    return r;
                },
            setup_num(n){
              var num =  /^([0-9])*$/.test(n)
              return num
            },
        equalscode(){
            console.log(this.item.consecutive)
           if(this.item.consecutive != null && this.item.consecutive.length > 0)
           { console.log(this.equalcode)
               if(this.equalcode == true){
                 this.item.barcode = this.item.consecutive
                }
                else if(this.equalcode == false){
                    this.item.barcode = ''
                }
            this.val_consecutive()    
            }
           
        },
        equalsbarcode(){
            console.log(this.item.barcode)
           if(this.item.barcode != null && this.item.barcode.length > 0)
           { 
               if(this.equalcode == true && (this.item.consecutive != this.item.barcode))
               {
                   this.equalcode = null
               }
                this.val_barcode()    
            }  
        },
        equals_pricelist(){
            var arraylist = this.priceList
            var cont = 0
            var indexpl = ''
            for (let index = 0; index < arraylist.length; index++) {
                var pos = index
                if(this.priceList[index].name == null)
                {
                  this.emptypl++;  
                }
             else{
                 var valnum = this.setup_num(arraylist[index].name)
                if(valnum)
                {   indexpl = arraylist[index].name
                    var temp = this.setup_accents(this.plist[indexpl].name)
                    // var temp = this.plist[indexpl].name
                    console.log(index+'temp numerica:'+temp)
                } else{
                // var temp = this.setup_accents(arraylist[index].name)
                var temp =  this.setup_accents(arraylist[index].name)
                console.log(index+'temp nueva:'+temp)
                }
                while ((pos > 0)) {
                    var indexplb = this.setup_num(arraylist[pos-1].name)
                    // var temposbe = ''
                    if(indexplb)
                   { 
                       var indexlp = arraylist[pos-1].name
                       console.log('index de pos-1:'+indexplb)
                    console.log(index+'pos-1:'+this.plist[indexlp].name)
                     var temposbe = this.setup_accents(this.plist[indexlp].name)
                    }
                    else{
                        var temposbe = this.setup_accents(arraylist[pos-1].name)
                    }
                    if(temposbe == temp)
                     {
                        this.val_list++
                     }

                     pos--
                } 
                }
        }
        },
        clearinput(){
            if(this.item.type != 'inv')
            {
                this.item.stock.min = ''
                this.item.stock.max = ''
                this.item.stock.reorderpoint = ''
            }
            if(this.item.prices.tax.name != 'gravado'){
                this.item.prices.tax.val = ''
            }
        },
        checklist(){
            let arrayplist = this.priceList
            let cont = this.plist.length
            for (let index = 0; index < arrayplist.length; index++) {
                
                var idpl = this.setup_num(arrayplist[index].name);
                if(idpl)
                {
                    var indexpl = arrayplist[index].name
                    var namepl = this.plist[indexpl]._id
                    var labelpl = this.plist[indexpl].name
                    var valpl = arrayplist[index].val
                    this.item.prices.modSale.pricelist.push({name:namepl,val:valpl})
                }
                else{
                    var name = arrayplist[index].name
                    var vpl = arrayplist[index].val;
                    this.registerPlist({name:name,company:this.item.company,status:true},vpl) 
                }
                // var vpl = arrayplist[index].val;
                // for (let indexe = 0; indexe < this.plist.length; indexe++) {
                //     // var name = this.plist[]
                //     var val = this.plist[indexe].name;
                //     if(idpl != val){
                //         cont--
                //     }
                // }
                // if(cont == 0)
                // {
                //     this.registerPlist({name:idpl,company:this.item.company},index)
                // }
                //  cont = this.plist.length   
            }            
        },
        emptyinputs(){
            if(this.cats.length == 0)
            {
                this.$chidoriAlert.show('error!', 'Debe crear categorias para añadirlas como datos del producto ', 'error')
                return false;
            }
            if(this.plist.length == 0)
            {
                this.$chidoriAlert.show('error!', 'Debe crear listas de precios para añadirlas como datos del producto ', 'error')
                return false;
            }
            if((!this.item.consecutive || !this.item.description || this.catindex.length == 0 || !this.item.type || this.unit == null || !this.item.prices.tax.name || !this.item.prices.modSale.utility.val) && this.item.prices.tax.name != 'gravado') //i != j
            {
                this.$chidoriAlert.show('error!', 'Debe llenar los campos obligatorios', 'error')
                return false
            }
           
            if((!this.item.consecutive || !this.item.description || this.catindex.length == 0 || !this.item.type || this.unit == null || !this.item.prices.tax.name || !this.item.prices.modSale.utility.val) && (this.item.prices.tax.name == 'gravado' && this.item.prices.tax.val == ''))
            {
                this.$chidoriAlert.show('error!', 'Debe llenar todos los campos obligatorios y debe establecer una tarifa de IVA', 'error')
                return false
            }
            if((this.item.consecutive != '' && this.item.description != '' && this.catindex.length > 0 && this.item.type != ''  && this.unit != null && this.item.prices.tax.name != '' && this.item.prices.modSale.utility.val != '') && (this.item.prices.tax.name == 'gravado' && this.item.prices.tax.val == ''))
            {
                this.$chidoriAlert.show('error!', 'Si el producto esta gravado con IVA debe establecer una tarifa', 'error')
                return false
            }
                //==== Condicionales para ejecutar la función ===
             if((this.item.consecutive != '' && this.item.description != '' && this.catindex.length > 0 && this.item.type != ''  && this.unit != null && this.item.prices.tax.name != '' && this.item.prices.modSale.utility.val != '') && (this.item.prices.tax.name == 'gravado' && this.item.prices.tax.val != ''))
            {   
                if(this.response.validation.status == false && (this.response.validation_barcode.status == false || this.response.validation_barcode.status == null) && this.setup_num(this.item.prices.modSale.utility.val) == true && this.item.type != 'inv' && this.setup_num(this.item.prices.tax.val)==true)
                {
                    this.addItem()
                }
                else if(this.response.validation.status == false && (this.response.validation_barcode.status == false || this.response.validation_barcode.status == null) && this.setup_num(this.item.prices.modSale.utility.val) == true && this.item.type == 'inv' && this.setup_num(this.item.prices.tax.val)==true)
                {
                    var cont = 3
                    if(this.item.stock.min != '' && !this.setup_num(this.item.stock.min))
                    {
                        cont--
                    }
                    if(this.item.stock.max != '' && !this.setup_num(this.item.stock.max))
                    {
                        cont--
                    }
                     if(this.item.stock.reorderpoint != '' && !this.setup_num(this.item.stock.reorderpoint))
                    {
                        cont--
                    }
                    if(cont < 3)
                    {
                        this.$chidoriAlert.show('error!', 'Al definir el stock debe ingresar valores númericos y cantidades mayores o iguales a 0', 'error')
                    }
                    else if(cont == 3)
                    {
                        this.addItem()
                    }
                }
                if(!this.setup_num(this.item.prices.modSale.utility.val))
                {
                    this.$chidoriAlert.show('Error', 'El campo de margen de utilidad debe ser númerico o ser mayor o igual a 0 ', 'error')
                    $('input[name=utility]').focus()
                    return false
                }
               if(this.response.validation.status == true)
                {
                    this.$chidoriAlert.show('Error', 'el codigo consecutivo digitado ya esta en uso', 'error')
                    $('input[name=cons]').focus()
                    return false
                }
                if(this.response.validation_barcode.status == true)
                {
                    this.$chidoriAlert.show('Error', 'el codigo de barras digitado ya esta en uso', 'error')
                    $('input[name=barcode]').focus()
                    return false
                }
                if(!this.setup_num(this.item.prices.tax.val))
                {
                    this.$chidoriAlert.show('Error', 'Al estar gravado con IVA el productos se debe ingresar valores númericos y cantidades mayores o iguales a 0 al definir la tarifa', 'error')
                    $('input[name=outprice]').focus()
                    return false
                }
            }
            else if((this.item.consecutive != '' && this.item.description != '' && this.catindex.length > 0 && this.item.type != ''  && this.unit != null && this.item.prices.tax.name != '' && this.item.prices.modSale.utility.val != '') && this.item.prices.tax.name != 'gravado'){
                if(this.response.validation.status == false && (this.response.validation_barcode.status == false || this.response.validation_barcode.status == null) && this.setup_num(this.item.prices.modSale.utility.val) == true && this.item.type != 'inv')
                {
                    this.addItem()
                }
                else if(this.response.validation.status == false && (this.response.validation_barcode.status == false || this.response.validation_barcode.status == null)  && this.setup_num(this.item.prices.modSale.utility.val) == true && this.item.type == 'inv')
                {
                    var cont = 3
                    if(this.item.stock.min != '' && !this.setup_num(this.item.stock.min))
                    {
                        cont--
                    }
                    if(this.item.stock.max != '' && !this.setup_num(this.item.stock.max))
                    {
                        cont--
                    }
                     if(this.item.stock.reorderpoint != '' && !this.setup_num(this.item.stock.reorderpoint))
                    {
                        cont--
                    }
                    if(cont < 3)
                    {
                        this.$chidoriAlert.show('error!', 'Al definir el stock debe ingresar valores númericos y cantidades mayores o iguales a 0', 'error')
                    }
                    else if(cont == 3)
                    {
                        // console.log('funca validacion utility y type = inv con el stock')
                        this.addItem()
                    }
                }
                if(this.response.validation.status == true)
                {
                    this.$chidoriAlert.show('Error', 'el codigo consecutivo digitado ya esta en uso', 'error')
                    $('input[name=cons]').focus()
                    return false
                }
                 if(this.response.validation_barcode.status == true)
                {
                    this.$chidoriAlert.show('Error', 'el codigo de barras digitado ya esta en uso', 'error')
                    $('input[name=barcode]').focus()
                    return false
                }
                if(!this.setup_num(this.item.prices.modSale.utility.val))
                {
                    this.$chidoriAlert.show('Error', 'El campo de margen de utilidad debe ser númerico o ser mayor o igual a 0 ', 'error')
                    $('input[name=utility]').focus()
                    return false
                }
            }
        },
        val_consecutive(){
          if(this.item.consecutive != '')
          {
              axios.post('/api/sc/inventory/val-code',{nit: this.item.company,code:this.item.consecutive}).then((res) => {
                  if(res.data == 'ok')
                  {
                    this.response.validation.status = false
                        this.response.validation.text = 'Código disponible'
                        $('#btn-create-item').removeAttr('disabled','disabled')
                  }
                  else
                    {
                        this.response.validation.status = true
                        this.response.validation.text = 'Este código ya se encuentra registrado'
                         $('#btn-create-item').attr('disabled','disabled')
                         $('input[name=cons]').focus();
                    }

              })
          }  
        },
        val_barcode(){
          if(this.item.barcode != '')
          {
              axios.post('/api/sc/inventory/val-barcode',{nit: this.item.company,code:this.item.barcode}).then((res) => {
                  if(res.data == 'ok')
                  {
                    this.response.validation_barcode.status = false
                        this.response.validation_barcode.text = 'Código de barras disponible'
                        $('#btn-create-item').removeAttr('disabled','disabled')
                  }
                  else
                    {
                        this.response.validation_barcode.status = true
                        this.response.validation_barcode.text = 'Este código de barras ya se encuentra registrado'
                         $('#btn-create-item').attr('disabled','disabled')
                         $('input[name=barcode]').focus();
                    }

              })
          }  
        },
        getItems() {
            axios.post('/api/sc/inventory/list').then(resp => {
                let realdata = this.$myCryptor.decode(resp.data)
                this.items = realdata
            })
        },
        getCats() {
            axios.post('/api/sc/categories/list',{nit:this.item.company}).then(resp => {
                this.cats = this.$myCryptor.decode(resp.data)
            }).catch(err => {console.error(err)})
        },
        getPlist(){
            axios.post('/api/sc/pricelist/list',{nit:this.item.company}).then(resp => {
                // var list = this.$myCryptor.decode(resp.data)
                this.plist = this.$myCryptor.decode(resp.data)
            //     if(list != null)
            //     {
            //         for (let index = 0; index < list.length; index++) {
            //         var name = list[index].name
            //         var idpl = list[index]._id
            //         this.plist.push({value:index,label:name.replace(/^([a-z\u00E0-\u00FC])|\s+([a-z\u00E0-\u00FC])/g, l => l.toUpperCase())})
            //     }
            //    }
            }).catch(err => {console.error(err)})
        },
        getMeasures() {
            axios.post('/api/sc/measures/list',{nit:this.item.company}).then(resp => {
                this.select_unit = this.$myCryptor.decode(resp.data)
                console.log(this.select_unit)
            }).catch(err => {console.error(err)})
        },
        addItem() {
            this.equals_pricelist()
            if(this.val_list > 0 && this.emptypl == 0)
            {
                console.log('lista de precios duplicadas')
                console.log(this.item.prices.modSale.priceList)
                this.$swal.fire(
                    'Lista de precios duplicada',
                    'Verique las listas de precios ingresadas',
                    'warning'
                    )
                this.val_list = 0
            }
            else if(this.val_list == 0 && this.emptypl > 0)
            {
                console.log('Debe seleccionar o crear una lista de precios y asiginarle un valor')
                console.log(this.item.prices.modSale.priceList)
                this.$swal.fire(
                    'Campo de lista de precios vacio o sin valor',
                    'Debe seleccionar o crear una lista de precios y asiginarle un valor',
                    'warning'
                    )
                this.emptypl = 0
            }
            else if(this.val_list > 0 && this.emptypl > 0)
            {
                console.log('ambos problems')
                console.log(this.item.prices.modSale.priceList)
                this.$swal.fire(
                    'lista de precios duplicadas o vacias',
                    'Verifique la lista de precios que ingreso',
                    'warning'
                    )
                this.val_list = 0    
                this.emptypl = 0
            }
            
            else if(this.val_list == 0 && this.emptypl == 0){
                this.registerItem()
                console.log('todo bien , todo correcto y yo que me alegro!')
            }
            
        },
        registerCategories()
        {
            for (let index = 0; index < this.catindex.length; index++) {
                var pos = this.catindex[index];
                var cat_id = this.cats[pos]._id
                this.item.category.push(cat_id)  
            }
            console.log(this.item.category)
        },
        addUnit()
        {
            let measure = this.unit.split('/')
            var um = measure[0]
            var pmr = measure[2]
            var idum = this.select_unit[um]._id
            this.item.unit = idum+"/"+pmr
            console.log(this.item.unit)
        },
        registerUnit(idp){
            if(this.item.unit != null){
                let arrayunit = this.item.unit.split('/')
                var idum = arrayunit[0]
                var pospm = arrayunit[1]
                var prices = this.item.prices.modSale.pricelist
                axios.put('/sc/measures/addconvertion',{idproduct:idp,id:idum,idpos:pospm,pricelist:prices,company:this.item.company,baseunit:this.item.unit}).then(resp => { //me mame con la id-> verificar que llegue la id
                    // if(resp.data.status == "success"){ // poner la this.item.unit la id 
                    //     console.log(resp.data.result)
                    
                    // }else{console.log("fail:"+resp.data.result)}
                })
                this.unit = null,
                this.item.unit = null,
                this.item.prices.modSale.pricelist = []
                this.priceList = [{name:null,val:'',label:''}]
            }
        },
        registerPlist(itemlist,valpl){
            // var id = ''
           axios.post('/sc/pricelist/store',itemlist).then(resp => {
              if(resp.data.status == "success"){
                  var datta = this.$myCryptor.decode(resp.data.result)
                  var id = datta._id
                  console.log(id)
                this.item.prices.modSale.pricelist.push({name:id,val:valpl})
                }
            })
            
        },
        registerItem(){
            this.checklist()
            console.log(this.item.prices.modSale.pricelist)
            this.registerCategories()
            this.addUnit()
            this.clearinput()
            console.log(this.item)
             axios.post('/sc/inventory/store', this.item).then(resp => {
                if(resp.data.status == "success")
                {
                    this.item.consecutive = ''
                    this.item.barcode = ''
                    this.item.description = ''
                    this.item.type = ''
                    this.item.category = []
                    this.catindex = []
                    this.item.stock.min = ''
                    this.item.stock.max = ''
                    this.item.stock.reorderpoint = ''
                    this.item.prices.tax.name = ''
                    this.item.prices.tax.val = ''
                    this.item.prices.modSale.name = ''
                    this.item.prices.modSale.utility = ''
                    this.response.validation.status = null
                    this.response.validation.text = ''
                    this.response.validation_barcode.status = null
                    this.response.validation_barcode.text = ''
                    this.equalcode = null
                    this.plist = []
                    this.sessdata()
                    this.$chidoriAlert.show('OK!', 'el producto ha sido registrado con exito', 'success')
                    var datta = this.$myCryptor.decode(resp.data.result)
                    var iditem = datta._id
                    if(iditem != null)
                   { this.registerUnit(iditem)}
                }
                else { this.$chidoriAlert.show('Error', 'Ha ocurrido un problema al guardar los datos del producto. Si el problema persiste comuniquese a soporte tecnico', 'error')}
            })
        }
    }
}
</script>
