<template>
    <div class="container">
        <el-input style="margin-bottom: 10px; width: 200px;" v-model="filters[0].value"></el-input>
    <data-tables ref="table" :data="datainv" :filters="filters" :page-size="10" :pagination-props="{ background: true, pageSizes: [10, 20, 30] }">
      <el-table-column header-align="center"  align="center" prop="consecutive" label="Código" sortable="custom">
      </el-table-column>
      <el-table-column header-align="center" align="center" prop="barcode" label="Codigo De Barras" sortable="custom">
      </el-table-column>
      <el-table-column header-align="center" align="center" prop="description" label="Description" sortable="custom">
      </el-table-column>
      <!-- <el-table-column header-align="center" align="center" prop="pl" label="Lista De Precios" sortable="custom">
       <template slot-scope="scope">
             <span class="font-weight-bold">{{scope.row.pl.name+": "}}</span><span>{{+scope.row.pl.val}}</span> 
          </template>
      </el-table-column> -->
      <el-table-column  header-align="center" align="center" label="Acciones" sortable="custom">
           <template slot-scope="scope">
            <el-button-group>
                <el-tooltip placement="top">
                    <div slot="content">Ver Detalles</div>
                <el-button @click="invDetails(scope.row.slug)" type="info" icon="el-icon-info" size="mini"></el-button>
                </el-tooltip>
                 <el-tooltip placement="top">
                    <div slot="content">Editar</div>
                <el-button type="primary" icon="el-icon-edit" size="mini"></el-button>
                </el-tooltip>
                <el-tooltip placement="top">
                    <div slot="content">Anular</div>
                <el-button @click="cancelContact(scope.row.slug)" type="danger" icon="el-icon-delete" size="mini"></el-button>
                </el-tooltip>
            </el-button-group>
      </template>
      </el-table-column>
    </data-tables>
    </div>
</template>
<script>

export default {

    data() {
        return {
            datainv: [],
            plist: [],
            continfo: null,
            statetool: true,
            showinfo: false,
            confirmCancel: false,
            idformat: '',
            pay: '',
            rtrib: '',
            nitClient: '',
            filters: [
                {
                filterFn: (row, filter) => {
                    return Object.keys(row).some(prop => {
                    if (prop === 'consecutive') {
                        // return row.dni.indexOf(filter.value) > -1
                         var m = filter.value.toLowerCase()                
                        let val = this.quitaacentos(filter.value)
                        let r = this.quitaacentos(row.consecutive.toLowerCase())
                        // console.log(r)
                        return r.toLowerCase().indexOf(val) > -1
                    } 
                    else if(prop == 'barcode'){
                        var m = filter.value.toLowerCase()                
                        let val = this.quitaacentos(filter.value)
                        let r = this.quitaacentos(row.barcode.toLowerCase())
                        // console.log(r)
                        return r.toLowerCase().indexOf(val) > -1
                    }
                    else if(prop === 'description'){
                        var m = filter.value.toLowerCase()                
                        let val = this.quitaacentos(filter.value)
                        let r = this.quitaacentos(row.description.toLowerCase())
                        // return row.razon.toLowerCase().indexOf(filter.value.toLowerCase()) > -1
                        return r.toLowerCase().indexOf(val) > -1
                    }
                    // else if(prop === 'type'){
                    //     return row.type.toLowerCase().indexOf(filter.value.toLowerCase()) > -1
                    // }
                    })
                }
                }
            ]
        }   
    },
    mounted() {
        this.sessdata()
    },
    methods: {
         sessdata()
        {
            axios.post('/auth/sessdata', {fields: ['name','rol','company']}).then(resp => {                                          
                let res = this.$myCryptor.decode(resp.data.data);                                
                this.nameUser = res[0].first+' '+res[0].last
                this.rolUser = res[1].name
                this.nitClient = res[2].nit
                console.log('nit:'+this.nitClient)
                this.getPlist()
                this.getItems()
            })
        },
         quitaacentos(s) {
                    var r=s.toLowerCase();
                    r = r.replace(new RegExp(/\s/g),"");
                    r = r.replace(new RegExp(/[àáâãäå]/g),"a");
                    r = r.replace(new RegExp(/[èéêë]/g),"e");
                    r = r.replace(new RegExp(/[ìíîï]/g),"i");
                    r = r.replace(new RegExp(/ñ/g),"n");                
                    r = r.replace(new RegExp(/[òóôõö]/g),"o");
                    r = r.replace(new RegExp(/[ùúûü]/g),"u");                                
                    return r;
                },

        getItems() {
           axios.post('/api/sc/inventory/list',{nit:this.nitClient,status:true}).then(resp => {
                let data = this.$myCryptor.decode(resp.data)
                console.log('data query:'+data)
                for (let index = 0; index < data.length; index++) {
                    var s = '';
                    // var idpl = null
                    for (let i = 0; i < data[index].prices.modSale.pricelist.length; i++) {
                        var idpl = data[index].prices.modSale.pricelist[i].name
                        var valpl = data[index].prices.modSale.pricelist[i].val
                        var namepl = this.getNamePlist(idpl)
                        // if(i != (data[index].prices.modSale.pricelist.length -1))
                        //     s+='/'
                    }
                    let inn = {
                        consecutive: data[index].consecutive,
                        barcode: data[index].barcode,
                        description: data[index].description,
                        pl: {name:namepl,val:valpl},
                        slug: data[index].slug
                    }
                    this.datainv.push(inn)
                }
            }).catch(err => {console.error(err)})
        },
         getPlist(){
            axios.post('/api/sc/pricelist/list',{nit:this.nitClient}).then(resp => {
                this.plist = this.$myCryptor.decode(resp.data)
                 console.log(this.plist)
            }).catch(err => {console.error(err)})
        },
        getNamePlist(id)
        {  var name = ''
            for (let index = 0; index < this.plist.length; index++) {
                var idplist = this.plist[index]._id
                if(idplist.toString() == id.toString())
               { name = this.plist[index].name; console.log("itera:"+name)}
            }
             return name
        },
        invDetails(){

        },
        closeinfo(){
             this.showinfo = false
             this.statetool = true
        },
    cancelContact(id){
        this.$swal.fire({
  title: '¿Desea borrar este contacto?',
  text: "al Aceptar la información del contacto será borrada ",
  type: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Aceptar'
}).then((result) => {
  if (result.value) {
      axios.put('/sc/contact/cancel',{slug:id,nitClient:this.nitClient,status:false}).then(resp => {
             if(resp.data.status == 'success')
            { 
                 this.$swal.fire(
                    'ok!',
                    'Ha sido eliminado el contacto.',
                    'success'
                    )
                console.log(resp)
                this.dataform = []
                this.getCont()
                
                   
            } 
        })
   
  }
})
         
    }

    }

}



</script>
