<template>
    <div class="some-cont">        
        <div class="side-nav no-collapse">
            <p class="logo_main p-1 mb-1">
                <img src="src/textures/logosc.jpg" class="img-fluid img-thumbnail" alt="">
            </p>
            <ul class="list-unstyled mb-0"> 
                <hr class="my-0">    
            <!-- begin copy to other element [item] at side-nav  -->
                <li class="" id="0">
                    <div class="nav-item d-flex align-items-center w-100 position-relative">
						<i class="ifa fa fa-book"></i>
                        <p class="animated fadeIn mb-0 item-text-title">Documentos Contables</p>
                        <i class="more-items-nav fa fa-chevron-right animated fadeInRight ml-auto mb-1"></i>
                    </div>                                       
                </li>                
                 <div class="more-items-in-item" data-id="0">
                    <router-link to="/vc/sc/boxticket"><p>Recibo de Caja</p></router-link>
                </div> 
                <hr class="my-0"> 
            <!-- end copy to other element [item] at side-nav  -->
                <li class="" id="1">
                    <div class="nav-item d-flex align-items-center w-100 position-relative">
						<i class="ifa fa fa-users"></i>
                        <p class="animated fadeIn mb-0 item-text-title">Terceros</p>
                        <i class="more-items-nav fa fa-chevron-right animated fadeInRight ml-auto mb-1"></i>
                    </div>                                       
                </li>                
                 <div class="more-items-in-item" data-id="1">
                    <router-link to="/vc/sc/contlist"><p>Terceros</p></router-link>
                    <router-link to="/vc/sc/cont"><p>Registrar Tercero</p></router-link>
                </div> 
                <hr class="my-0">
                <li class="" id="4">
                    <div class="nav-item d-flex align-items-center w-100 position-relative">
						<i class="ifa fa fa-address-book"></i>
                        <p class="animated fadeIn mb-0 item-text-title">Nómina</p>
                        <i class="more-items-nav fa fa-chevron-right animated fadeInRight ml-auto mb-1"></i>
                    </div>                                       
                </li>                
                 <div class="more-items-in-item" data-id="4">
                    <router-link to="/vc/sc/employeelist"><p>Empleados</p></router-link>
                </div> 
                <hr class="my-0">
                <li class="" id="2">
                    <div class="nav-item d-flex align-items-center w-100 position-relative">
						<i class="ifa fa fa-th"></i>
                        <p class="animated fadeIn mb-0 item-text-title">Inventario</p>
                        <i class="more-items-nav fa fa-chevron-right animated fadeInRight ml-auto mb-1"></i>
                    </div>                                       
                </li>                
                 <div class="more-items-in-item" data-id="2">
                     <router-link to="/vc/sc/invlist"><p>Producto</p></router-link> 
                    <router-link to="/vc/sc/inv"><p>Crear producto</p></router-link>
                    <router-link to="/vc/sc/invcat"><p>Categorias</p></router-link>
                    <router-link to="/vc/sc/pricelist"><p>Lista de precios</p></router-link>
                    <router-link to="/vc/sc/measure"><p>Unidades de medida</p></router-link>
                    <router-link to="/vc/sc/cellar"><p>Bodegas</p></router-link>
                </div> 
                <hr class="my-0">
                <li class="" id="3">
                    <div class="nav-item d-flex align-items-center w-100 position-relative">
						<i class="ifa fa fa-sitemap"></i>
                        <p class="animated fadeIn mb-0 item-text-title">Conceptos Contables</p>
                        <i class="more-items-nav fa fa-chevron-right animated fadeInRight ml-auto mb-1"></i>
                    </div>                                       
                </li>                
                 <div class="more-items-in-item" data-id="3">
                    <router-link to="/vc/sc/con"><p>Concepts</p></router-link>
                </div> 
                <hr class="my-0">                 
            </ul>
        </div>
        <div class="nav-bar active d-flex align-content-center">
               <div class="d-flex align-content-center justify-content-between w-100">
                    <div class="wrapper_nav_control align-items-center d-inline-flex">
                        <a class="btn btn-small bg-white btn-collapse-side" data-toggle="tooltip" data-placement="bottom" title="Menú">
                            <i class="fa fa-bars"></i>
                        </a>
                        <a class="btn btn-small bg-white mx-1" onclick="window.history.go(-1); return false;" data-toggle="tooltip" data-placement="bottom" title="Atras">
                            <i class="fa fa-arrow-left"></i>
                        </a>
                    </div>
                    <div class="wrapper_profile_control">
                        <div class="d-inline-grid n-r">
                            <strong class="text-dark-blue">{{ nameUser }}</strong>
                            <span class="text-white">{{ rolUser }}</span>                                
                        </div>                      
                        <img src="src/photo_.png" class="img-fluid profile-photo ml-2" alt="">
                       	<div class="mx-1 ml-1 px-1 wrapper_notification d-flex align-items-center justify-content-center">
                            <a class="font-weight-bold px-2 py-2" href="#" id="notificationLink">
                                <i class="fa fa-bell text-white notification-icon"></i>
                                <span class="badge text-white text-dark-blue count-notification">0</span>
	            	        </a>
                        </div>
                    </div>
               </div>
            </div>
        <div class="main-app active">            
            <div class="card border-0 mb-5 radius-0 white-bg p-1" style="margin-bottom: 50px;">
               <router-view data-uid="sc"></router-view>
            </div>
        </div>
        <div class="poppins info-s-wrapper justify-content-between d-flex align-items-center w-100 position-fixed fixed-bottom">
            <div class="px-3 text-white">
                <i class="fa fa-copyright"></i> <span class="font-weight-bold">{{name}}</span> {{today_year}} • <strong>IP:</strong> {{ip}} • <strong>v{{version}}</strong>
            </div>
            <div class="px-3 text-white">
                <span class="">
                    <i class="fa fa-calendar"></i> <b>Ultimo Acceso:</b> {{last_access}} 
                </span>
                •
                <a href="#help" class="text-white">Help</a> <i class="fa fa-question"></i>
            </div>
        </div>
         <!-- START ALERT -->
        <div id="chidoriAlert" class="d-flex align-items-center position-fixed fixed-bottom w-100 px-5 p-3">
            <div class="w-100 container px-4">
                <div class="row">
                    <div class="col-lg-9 col-md-9 mb-2">
                        <img class="img-fluid iconAlert" src="src/textures/icons/success.png" alt="">
                        <div class="d-inline-grid position-absolute textAlert">
                            <strong class="">Lorem insup</strong> 
                            <span class="text-white poppins">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus vero af</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 buttonAlert d-flex align-items-center justify-content-center">
                        <button class="alertButton">
                            Aceptar
                        </button>
                    </div>
                </div>
            </div>
             <audio id="soundNotify">
                <source src="src/sounds/notification.mp3" type="audio/mp3">
            </audio>
        </div>
        <!-- END ALERT -->
    </div>
    
</template>

<script>
const {version, name} = require('../../../../package.json')
export default {
    data(){
        return{
            today_year: new Date().getFullYear(),
            ip: '',
            list: '',
            nit:'',
            name: name,
            version: version,
            last_access: new Date().getDate()+'-'+(new Date().getMonth()+1)+'-'+new Date().getFullYear(),
            nameUser: '',
            rolUser: '',
            company: '',
        }
    },
    mounted() 
    {        
        $('[data-toggle="tooltip"]').tooltip()
        axios.post('/api/ip').then((res) =>
        {
            this.ip = this.$myCryptor.decode(res.data)
        })
        this.sessdata()
    },
    methods:
    {
        sessdata()
        {
            axios.post('/auth/sessdata', {fields: ['name', 'rol','company']}).then(resp => 
            {                     
                let res = this.$myCryptor.decode(resp.data.data);                                
                this.nameUser = res[0].first+' '+res[0].last
                this.rolUser = res[1].name
                this.company = res[2].nit
                console.log(this.company)
            })
        }
    }
}
</script>

