<template>
    <div class="container mx-0 p-0">
     <div class="row">
           <div class="col-lg-6 col-md-12 col-sm-12">
               <div class="card border-info mt-0 mb-4">
                <div class="card-header"><h4 class="text-info">Crear Unidad De Medida</h4></div>
                <div class="card-body">
                    <form class="form-row">
                        <div class="col-lg-12 mb-1 pb-1">
                            <label for="measure" class="col-lg-12 pl-0 ml-0">Unidad:</label>
                            <el-select id="measure" v-model="measure" class="col-lg-12 pl-0 mx-0 px-0" placeholder="Selecione una opción" name="measure">
                                <el-option v-for="(unit,index) in select_unit" :key="index" :label="unit.measure" :value="index"></el-option>
                            </el-select>
                        </div>    
                        <div class="form-group col-lg-6">
                            <label for="name">Patrón de medida:</label>
                            <input type="text" class="form-control" :class="{'is-invalid border-danger': response.validation.status, 'is-valid': response.validation.status == false}" name="newumname" v-model="newumname" required>
                        <div class="poppins" :class="{'invalid-feedback': response.validation.status, 'valid-feedback': !response.validation.status}">
                             {{ response.validation.text_name }}
                        </div>
                        <div class="poppins" :class="{'invalid-feedback': response.validation.status, 'valid-feedback': !response.validation.status}">
                            {{ response.validation.text_string }}
                        </div>
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="name">Abreviación:</label>
                            <input type="text" class="form-control" :class="{'is-invalid border-danger': response.validation.status_ab, 'is-valid': response.validation.status_ab == false}" name="abb" v-model="abrev">
                        <div class="poppins" :class="{'invalid-feedback': response.validation.status_ab, 'valid-feedback': !response.validation.status_ab}">
                            {{ response.validation.text_ab }}
                        </div>
                        </div>                       
                        <div class="form-group col-lg-12 mt-0 pt-0">
                            <button id="create_category" @click.prevent="val_input(newumname,'c')" class="btn btn-primary btn-block" style="margin-top: 2rem !important">Crear</button>
                        </div>
                    </form>
                </div>
                </div>
                <!-- Modificar Unidades de medida-->
                <div class="card border-info mb-4">
                <div class="card-header"><h4 class="text-info">Modificar Unidad De Medida</h4></div>
                <div class="card-body">
                    <form id="form-edit" class="form-row" name="edit">
                            <div class="form group col-lg-12">
                                <label for="unidad">Unidad De Medida:</label>
                                <el-select v-model="unit" filterable class="col-lg-12 pl-0 mx-0 px-0" placeholder="Unidades de medida" name="unidad">    
                                        <el-option-group v-for="(group,gpindexe) in select_unit" :key="gpindexe">
                                            <p style="color: #8492a6; font-size: 13px" class="text-uppercase font-weight-bold ml-2 pl-2 pb-0 mb-0 col-lg-12">{{ group.measure }}</p>
                                            <el-option v-for="(umd,index) in group.measurement" :key="index" :label="umd.name" :value="gpindexe+'/'+index+'/'+umd.id">
                                                <span style="float: left">{{ umd.name }}</span>
                                                <span style="float: right; color: #8492a6; font-size: 13px;text-transform:uppercase">{{ umd.abbreviature }}</span>
                                            </el-option>
                                        </el-option-group>
                                </el-select>
                            </div>
                                <!-- <hr class=" col-lg-12 my-3 px-0"> -->
                            <div v-if="unit != null" class="form-row col-lg-12" id="edit-um">
                                <div class="col-lg-6">
                                    <label for="ediumtname">Patrón de medida:</label>
                                    <input id="editumname" type="text" class="form-control" :class="{'is-invalid border-danger': response.validation.status, 'is-valid': response.validation.status == false}" name="editumname" v-model="editumname">
                                    <div class="poppins" :class="{'invalid-feedback': response.validation_edit.status, 'valid-feedback': !response.validation_edit.status}">
                                        {{ response.validation_edit.text_name }}
                                    </div>
                                    <div class="poppins" :class="{'invalid-feedback': response.validation_edit.status, 'valid-feedback': !response.validation_edit.status}">
                                        {{ response.validation_edit.text_string }}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <label for="editabb">Abreviación:</label>
                                    <input type="text" class="form-control" :class="{'is-invalid border-danger': response.validation_edit.status_ab, 'is-valid': response.validation_edit.status_ab == false}" name="editabb" v-model="editabrev">
                                    <div class="poppins" :class="{'invalid-feedback': response.validation_edit.status_ab, 'valid-feedback': !response.validation_edit.status_ab}">
                                        {{ response.validation_edit.text_ab }}
                                    </div>
                                </div> 
                            </div>
                            <div class="form-group col-12 mt-2 pt-2">
                                <button id="um_edit" @click.prevent="val_input(editumname,'e')" class="btn btn-primary btn-block">Guardar</button>
                            </div>
                    </form>
                </div>
                </div>
           </div>
           <div class="col-lg-6 col-md-12 col-sm-12">
               <div class="card border-info mt-0 mb-4">
                <div class="card-header"><h4 class="text-info">Unidades De Medida</h4></div>
                <div class="card-body p-0">
                   <div class="mb-2 pt-2 mt-2 ml-1 pl-1" v-for="(um, index) in select_unit" :key="index">
                       <span><button @click="toggleSubs(um.measure,index)" class="btn btn-outline-primary btn-sm"><i :class="{'fa fa-plus':icon_toggle[index].status, 'fa fa-minus':!icon_toggle[index].status}"></i></button>&nbsp;&nbsp;<span class="font-weight-bold text-uppercase">{{um.measure}}</span></span>
                        <div v-show="false" :id="um.measure">
                            <div v-for="(sum, index) in um.measurement" :key="index" style="margin-left: 20px !important;">
                                <span class="pb-1 mb-1"><i class="fa fa-level-up fa-rotate-90"></i> {{sum.name}}</span>
                            </div>
                        </div>
                   </div> 
                </div>
                </div>
           </div>
     </div>
    </div>
</template>
<script>

export default {
    data() {
        return {
            measure:null,
            abrev:'',
            select_unit:[],
            unit: null,
            // pos_um: null,
            string_unit:[],
            newumname: '',
            editumname: '',
            editabrev: '',
            // company: '5c6c36c4d7b3df38888702c6',
            company: '',
            icon_toggle: [],
            // paginate: ['select_unit'],
            response: {
                validation:{
                    status: null,
                    status_ab: null,
                    text_name: '',
                    text_string: '',
                    text_ab:''
                },
                validation_edit:{
                    status: null,
                    text_name: '',
                    text_string: ''
                }
            }
        }
    },
    created() {
        this.sessdata()
    },
    watch: {
        'unit':function (newVal) { 
            if(newVal != null){
                let measure = newVal.split('/')

                var um = measure[0]
                var pm = measure[1]
                this.editumname = this.select_unit[um].measurement[pm].name
                this.editabrev = this.select_unit[um].measurement[pm].abbreviature
                // this.pos_um = this.select_unit[um].measurement[pm].pos
            }
        }
    },
    methods: {
        sessdata()
        {
            axios.post('/auth/sessdata', {fields: ['name','rol','company']}).then(resp => {                                          
                let res = this.$myCryptor.decode(resp.data.data);                                
                this.nameUser = res[0].first+' '+res[0].last
                this.rolUser = res[1].name
                this.company = res[2].nit
                console.log('nit:'+this.company)
                this.getMeasures()
            })
        },
        getMeasures() {
            let dat = {nit: this.company};
            axios.post('/api/sc/measures/list',dat).then(resp => {
                this.select_unit = this.$myCryptor.decode(resp.data)
                for (let index = 0; index < this.select_unit.length; index++) {
                    this.icon_toggle.push({status:true})
                }
                console.log('nit sesion:'+this.company)
                console.log(this.select_unit)
            
            }).catch(err => {console.error(err)})
        },
        setup_accents(s) {
                    var r=s.toLowerCase();
                    r = r.replace(new RegExp(/\s/g),"");
                    r = r.replace(new RegExp(/[àáâãäå]/g),"a");
                    r = r.replace(new RegExp(/[èéêë]/g),"e");
                    r = r.replace(new RegExp(/[ìíîï]/g),"i");
                    r = r.replace(new RegExp(/ñ/g),"n");                
                    r = r.replace(new RegExp(/[òóôõö]/g),"o");
                    r = r.replace(new RegExp(/[ùúûü]/g),"u");                                
                    return r;
                },
        val_input(str,form) {
            // var validator=/^[A-Za-z\_\-\.\s\xF1\xD1]+$/;
            var validator=/^[a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1]*)*[a-zA-ZÀ-ÿ\u00f1\u00d1]+$/g
           if(str != '')
           { 
               if (validator.test(str))
            {
                this.val_name(str,form)
            }
            else if(!validator.test(str) && form == 'c')
            {
                this.response.validation.status = true
                this.response.validation.text_string = 'Solo se permite cadenas de texto'
                $('input[name=newumname]').focus();
            }
            else if(!validator.test(str) && form == 'e')
            {
                this.response.validation_edit.status = true
                this.response.validation_edit.text_string = 'Solo se permite cadenas de texto'
                $('input[name=newnamecat]').focus();
            }
            }
            else if(!str && form == 'c') //testear
            {
               this.$chidoriAlert.show('Error','Debe asignar un patrón de medida para poder registrar la unidad de medición','error')
               $('input[name=newumname]').focus(); 
            }
             else if(!str && form == 'e') // testear
            {
               this.$chidoriAlert.show('Error','Debe asignar un patrón de medida para poder editar la unidad de medición','error')
               $('input[name=editumname]').focus(); 
            }

        },
        val_name(str,form){
            let cont = 0
            let contab = 0
            let contstatus = 0
          if(str != '')
          {
              for (let index = 0; index < this.select_unit.length; index++) {
                  for (let indexe = 0; indexe < this.select_unit[index].measurement.length; indexe++) {
                    var name = this.select_unit[index].measurement[indexe].name;
                    var abb= this.select_unit[index].measurement[indexe].abbreviature;
                    var st = this.select_unit[index].measurement[indexe].status;
                    if( this.setup_accents(name) == this.setup_accents(str))
                    {
                        cont++
                    }
                    if(this.abrev != '')
                    { 
                        if(this.abrev == abb)
                        {
                            contab++
                            console.log('this abrev:'+this.abrev+" abb:"+abb+" cont:"+contab)  
                        }
                    }
                  }
              }   
                  if(form == 'c')
                  {
                    if(this.measure == null)
                    {
                        this.$chidoriAlert.show('Error','Debes seleccionar una unidad','error')
                        //   $('#measure').attr(':focus')
                        return false
                    }    
                    if(cont > 0)
                    {
                        this.response.validation.status = true
                        this.response.validation.text_name = 'Ya existe un patrón de medida con este nombre'
                        $('input[name=newumname]').focus();
                    }
                    if(contab > 0)
                    {
                        this.response.validation.status_ab = true
                        this.response.validation.text_ab = 'Ya existe una abreviatura con este nombre'
                        $('input[name=abb]').focus();
                    }
                    if(contab == 0) 
                    {
                        this.response.validation.status_ab = false
                        this.response.validation.text_ab = 'Abreviatura disponible'
                    }
                    if(cont == 0)
                    {
                        this.response.validation.status = false
                        this.response.validation.text_name = 'Patrón de medida disponible'
                    }
                    if(cont == 0 && form == 'c' && contab == 0 && this.measure != null)
                    {
                        this.addmeasurement()
                        console.log('todo bien , todo correcto y yo que me alegro')
                    }
                  }
                  if(form == 'e')
                  {
                    let measure = []
                    var um = ''
                    var pm = ''
                    var st = ''
                    if(this.unit == null)
                    {
                        this.$chidoriAlert.show('Error','Debe seleccionar una unidad de medida','error')
                        return false
                    }
                    if(this.unit != null)
                    {
                        measure = this.unit.split('/',2)
                        um = measure[0]
                        pm = measure[1]
                        st = this.select_unit[um].measurement[pm].status
                    }    
                    
                    if(st == 'default')
                    {
                        this.$chidoriAlert.show('Error','No se pueden editar las unidades de medida por defecto','error')
                        return false
                    }
                    if(cont > 0 )
                  {
                    var name = this.select_unit[um].measurement[pm].name
                    if(str == name && st != 'default')
                    {
                        cont = 0
                        console.log('names iguales no hay problema')
                    }
                    else{
                    this.response.validation_edit.status = true
                    this.response.validation_edit.text_name = 'Ya existe un patrón de medida con este nombre'
                    $('input[name=editumname]').focus();
                    }
                  }
                  if(contab > 0)
                  {
                        var abrev =  this.select_unit[um].measurement[pm].abbreviature
                        var st = this.select_unit[um].measurement[pm].status
                if(abrev == this.editabrev && st != 'default')
                    {
                        contab = 0
                    }
                    else{
                    this.response.validation_edit.status_ab = true
                    this.response.validation_edit.text_name_ab = 'Ya existe una abreviación con este nombre'
                    $('input[name=editumname]').focus(); 
                    }

                  }
                  if(cont == 0 && contab == 0 && st != 'default' && form == 'e' )
                    {
                        this.valModUm()
                    } 
                }
          }  
        },
       toggleSubs(idname,index) {
            if(document.getElementById(idname).style.display == 'none')
            { 
                document.getElementById(idname).style.display = 'inline'
                this.icon_toggle[index].status = false
            }
            else
            { 
                if(this.select_unit[index].measurement.length > 0)
                {
                    document.getElementById(idname).style.display = 'none'
                    this.icon_toggle[index].status = true
                }
            }
        },
        addmeasurement(){
          if(this.measure != null && this.newumname != '')
            { 
                var id = this.select_unit[this.measure]._id 
          axios.put('/sc/measures/measurement',{id:id,data:{company:this.company,name:this.newumname,abbreviature:this.abrev,status:'new'}}).then(resp => {
              if(resp.data.status == 'success')
              {
                    this.newumname = ''
                     this.measure = null
                     this.abrev = ''
                    this.response.validation.status = null
                     this.response.validation.status_ab = null
                    this.response.validation.text_name = ''
                    this.response.validation.text_string = ''
                     this.response.validation.text_ab = ''
                     this.select_unit = []
                    this.getMeasures()
                    this.$chidoriAlert.show('OK!', 'El patrón de medida ha sido registrada con exito', 'success',3000)
              }
            })
            }
        },
        addUm() {

            if(this.measure != null && this.newumname != '')
            {
                axios.post('/sc/measures/store', {company: this.company,measure: this.newumname}).then(resp => {
                if(resp.data.status == 'success')
                {
                    console.log(resp.data)
                    this.newcname = ''
                    this.response.validation.status = null
                    this.response.validation.text_name = ''
                    this.response.validation.text_string = ''
                    this.catname = null
                    // this.getMeasures()
                    this.sessdata()
                    this.$chidoriAlert.show('OK!', 'La unidad de medida ha sido registrada con exito', 'success',3000)
                }
                else
                {
                   this.$chidoriAlert.show('Error', 'Ha ocurrido un problema al intentar registrar la unidad de medida', 'error')     
                }
            }).catch(err => {console.error(err)})
            console.log('todo bien, todo correcto y yo que me alegro X2')
            }
            else
            {
                this.$chidoriAlert.show('Error','Debe seleccionar una unidad y un patrón de medida','error')
            }
        },
        valModUm() {
            if(this.unit != null && this.editumname != '' && this.select_unit.length > 0)
            {
               let measure = this.unit.split('/')
               var um = measure[0]
               var pm = measure[1]
               var pmr = measure[2]
               var idum = this.select_unit[um]._id
               if(this.select_unit[um].measurement[pm].status != 'default'){
                   this.modUm(idum,pmr)
                console.log('um:'+um+" pm:"+pm+" idpm:"+pmr)
               }
               
            }
            else if(this.select_unit.length == 0)
            {
                this.$chidoriAlert.show('Error', 'Para poder editar unidades de medida debe haber registrado algunas previamente', 'error')
                return false
            }
            else if(this.unit == null)
            {
                this.$chidoriAlert.show('Error', 'Debe seleccionar una unidad de medida a editar', 'error')
                return false
            }
            else if(!this.editumname)
            {
               this.$chidoriAlert.show('Error', 'Debe asignar un nuevo nombre para el patrón de medida que desea editar', 'error')
               $('input[name=newnamecat]').focus();
                return false 
            }
        },
        modUm(idum,pm) {
            console.log(idum+"\n"+pm)
            axios.post('/sc/measures/modum',{id:idum,idpm:pm,nit:this.company,name:this.editumname,abr:this.editabrev}).then(resp => 
            {
                if(resp.data.status == 'success')
                {
                    console.log(resp.data)
                    this.unit = null
                    this.editumname = '',
                    this.editabrev = '',
                    this.response.validation_edit.text_name = ''
                    this.response.validation_edit.text_string = ''
                    // this.getMeasures()
                    this.sessdata()
                    this.$chidoriAlert.show('OK!', 'Se ha modificado correctamente la unidad de medida', 'success',3000)
                }
                else 
                {
                    this.$chidoriAlert.show('Error','Ha ocurrido un problema al guardar los cambios. Si el problema persiste pongase en cotnacto con soporte','error')
                }
            }).catch(err => {console.error(err)})
        }
    }
}
</script>
