<template>
    <div class="container mx-0 p-0">
     <div class="row">
           <div class="col-lg-6 col-md-12 col-sm-12">
               <div class="card border-info mt-0 mb-4">
                <div class="card-header"><h4 class="text-info">Crear lista de precios para productos</h4></div>
                <div class="card-body">
                    <form class="form-row">
                            <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                <label for="name">Nombre:</label>
                                <input type="text" :class="{'is-invalid border-danger': response.validation.status, 'is-valid': response.validation.status == false}" class="form-control" name="namepl" v-model="plname" required>
                                <div class="poppins" :class="{'invalid-feedback': response.validation.status, 'valid-feedback': !response.validation.status}">
                                    {{ response.validation.text_name }}
                                </div>
                                <div class="poppins" :class="{'invalid-feedback': response.validation.status, 'valid-feedback': !response.validation.status}">
                                    {{ response.validation.text_string }}
                                </div>
                            </div>
                          
                            <div class="form-group col-12">
                                <button @click.prevent="val_input(plname,'c')" class="btn btn-primary btn-block" style="margin-top: 2rem !important">Crear</button>
                            </div>
                    </form>
                </div>
                </div>
                <!-- Modificar lista de precio-->
                <div class="card border-info mb-4">
                <div class="card-header"><h4 class="text-info">Modificar lista de precios</h4></div>
                <div class="card-body">
                    <form class="row">
                            <div class="form group col-lg-6 col-md-12 col-sm-12">
                                <label for="pl">Lista de precios:</label>
                                <el-select v-model="nameplist" filterable placeholder="Categorias" name="plist">    
                                    <el-option v-for="(pl,index) in plist" :key="index" :label="pl.name" :value="index"></el-option>
                                </el-select>
                            </div>
                            <div v-if="nameplist != null" class="form-group col-lg-6">
                                <label for="newnamepl">Nuevo nombre:</label>
                                <input type="text" class="form-control" :class="{'is-invalid border-danger': response.validation_edit.status, 'is-valid': response.validation_edit.status == false}" name="newnamepl" v-model="editplname" >
                                <div class="poppins" :class="{'invalid-feedback': response.validation_edit.status, 'valid-feedback': !response.validation_edit.status}">
                                {{ response.validation_edit.text_name }}
                            </div>
                            <div class="poppins" :class="{'invalid-feedback': response.validation_edit.status, 'valid-feedback': !response.validation_edit.status}">
                                {{ response.validation_edit.text_string }}
                            </div>
                            </div>
                            
                            <div class="form-group col-12  mt-2 pt-2">
                                <button @click.prevent="val_input(editplname,'e')" class="btn btn-primary btn-block">Guardar</button>
                            </div>
                    </form>
                </div>
                </div>
           </div>
           <div class="col-lg-6 col-md-12 col-sm-12">
               <div class="card border-info mt-0 mb-4">
                <div class="card-header"><h4 class="text-info">lista de precios para productos inventario</h4></div>
                <div class="card-body table-responsive p-0">
                   <!-- <div class="mb-2" v-for="(cat, index) in categories" :key="index">
                       <span>{{cat.name}}</span>
                   </div> -->

                   <table class="table">
                    <thead class="thead-light">
                        <tr>
                        <th scope="col" class="text-center">#</th>
                        <th scope="col" class="text-center">Nombre</th>
                        </tr>
                    </thead>
                    <paginate name="plist" :list="plist" :per="8" tag="tbody">
                        <tr v-for="(pl, index) in paginated('plist')" :key="index">
                        <td scope="row" class="text-center">{{index + 1}}</td>
                        <td class="text-center">{{ pl.name.replace(/^([a-z\u00E0-\u00FC])|\s+([a-z\u00E0-\u00FC])/g, l => l.toUpperCase()) }}</td>
                        </tr>
                    </paginate>
                    </table>
                     <div class="text-center">
                         <paginate-links for="plist" :limit="5" :classes="{'ul': 'pagination', 'li': 'page-item', 'a': 'page-link'}" :show-step-links="true"></paginate-links>
                     </div>
                </div>
                </div>
           </div>
     </div>
    </div>
</template>
<script>

export default {
    data() {
        return {
            company: '',
            plist: [],
            plname: '',
            editplname: '',
            nameplist: null,
            paginate:['plist'],
            response: {
                validation:{
                    status: null,
                    text_name: '',
                    text_string: ''
                },
                validation_edit:{
                    status: null,
                    text_name: '',
                    text_string: ''
                }
            }
        }
    },
    mounted() {
        this.sessdata()
    },
    methods: {
         sessdata()
        {
            axios.post('/auth/sessdata', {fields: ['name','rol','company']}).then(resp => {
                 let res = this.$myCryptor.decode(resp.data.data);                                            
                // this.nameUser = resp.data.data[0].first+' '+resp.data.data[0].last
                // this.rolUser = resp.data.data[1].rols[0].name
                 this.nameUser = res[0].first+' '+res[0].last
                this.rolUser = res[1].name
                this.company = res[2].nit
                console.log('nit:'+this.company)
                this.getpl()
            })
        },
        getpl() {
            axios.post('/api/sc/pricelist/list',{nit:this.company}).then(resp => {
                this.plist = this.$myCryptor.decode(resp.data)
            }).catch(err => {console.error(err)})
        },
        setup_accents(s) {
                    var r=s.toLowerCase();
                    r = r.replace(new RegExp(/\s/g),"");
                    r = r.replace(new RegExp(/[àáâãäå]/g),"a");
                    r = r.replace(new RegExp(/[èéêë]/g),"e");
                    r = r.replace(new RegExp(/[ìíîï]/g),"i");
                    r = r.replace(new RegExp(/ñ/g),"n");                
                    r = r.replace(new RegExp(/[òóôõö]/g),"o");
                    r = r.replace(new RegExp(/[ùúûü]/g),"u");                                
                    return r;
                },
        val_input(str,form) {
            // var validator=/^[A-Za-z\_\-\.\s\xF1\xD1]+$/;
            var validator=/^[a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1]*)*[a-zA-ZÀ-ÿ\u00f1\u00d1]+$/g
            if(str != '')
            {
                if (validator.test(str))
            {
                this.val_name(str,form)
            }
            else if(!validator.test(str) && form == 'c')
            {
                this.response.validation.status = true
                this.response.validation.text_string = 'Solo se permite cadenas de texto'
                $('input[name=namepl]').focus();
            }
            else if(!validator.test(str) && form == 'e')
            {
                this.response.validation_edit.status = true
                this.response.validation_edit.text_string = 'Solo se permite cadenas de texto'
                $('input[name=newnamepl]').focus();
            }
            }
            else
            {
                this.$chidoriAlert.show('Error','Debe asignar un nombre para poder crear la lista de precios','error')
                $('input[name=namepl]').focus()
            }

        },
        val_name(str,form){
            let cont = 0
          if(str != '')
          {
              for (let index = 0; index < this.plist.length; index++) {
                  var name = this.plist[index].name;
                  if( this.setup_accents(name) == this.setup_accents(str))
                  {
                      cont++
                  }
              }
                  if(cont > 0 && form == 'c')
                  {
                    this.response.validation.status = true
                    this.response.validation.text_name = 'Ya existe una lista de precios con este nombre'
                    $('input[name=namepl]').focus();
                  }
                  else if(cont == 0 && form == 'c')
                    {
                        this.addpricelist()
                    }
                  else if(cont > 0 && form == 'e')
                  {
                    this.response.validation_edit.status = true
                    this.response.validation_edit.text_name = 'Ya existe una lista de precios con este nombre'
                    $('input[name=newnamepl]').focus();
                  }
                  else if(cont == 0 && form == 'e')
                    {
                        this.valModPlist()
                    }  

          }  
        },
        addpricelist() {
            axios.post('/sc/pricelist/store',{company:this.company,name:this.plname}).then(resp => {
               if(resp.data.status == 'success')
                {
                    console.log(resp.data)
                    this.getpl()
                    this.plname = ''
                    this.response.validation.status = null
                    this.response.validation.text_name = ''
                    this.response.validation.text_string = ''
                    // this.plname = null
                    this.$chidoriAlert.show('OK!', 'La lista de precios ha sido registrada con exito', 'success',3000)
                }
                else
                {
                   this.$chidoriAlert.show('Error', 'Ha ocurrido un problema al intentar registrar la lista de precios', 'error')    
                }
            }).catch(err => {console.error(err)})
        },
        valModPlist() {
            if(this.nameplist != null && this.editplname != '' && this.plist.length > 0)
            {
               let pricelist = this.plist[this.nameplist]._id
               this.modPlist(pricelist) 
            }
            else if(this.plist.length == 0)
            {
                this.$chidoriAlert.show('Error', 'Para poder editar listas de precios debe haber registrado algunas previamente', 'error')
                return false
            }
            else if(this.nameplist == null)
            {
                this.$chidoriAlert.show('Error', 'Debe seleccionar una lista de precios a editar', 'error')
                return false
            }
            else if(!this.editplname)
            {
               this.$chidoriAlert.show('Error', 'Debe asignar un nuevo nombre para la lista de precios que desea editar', 'error')
               $('input[name=newnamepl]').focus();
                return false 
            }
        },
        modPlist(idpl) {
            console.log(idpl)
            axios.put('/sc/pricelist/modpl', {id:idpl,nit:this.company,data:this.editplname}).then(resp => 
            {
                if(resp.data.status == 'success')
                {
                    console.log(resp.data)
                    this.nameplist = null
                    this.editplname = ''
                    this.response.validation.text_name = ''
                    this.response.validation.text_string = ''
                    this.response.validation_edit.text_name = ''
                    this.response.validation_edit.text_string = ''
                    this.getpl()
                    this.$chidoriAlert.show('OK!', 'Se han guardado los cambios realizados', 'success',3000)
                }else 
                    console.error(resp.data)
            }).catch(err => {console.error(err)})
        }
    }
}
</script>
