<template>
    <div class="container">
         <el-input style="margin-bottom: 10px; width: 200px;" v-model="filters[0].value"></el-input>
    <data-tables ref="table" :data="datawork" :filters="filters" :page-size="10" :pagination-props="{ background: true, pageSizes: [10, 20, 30] }">
        <!-- <el-table-column header-align="center"  align="center" prop="dnitype" label="Tipo De Identificación" sortable="custom">
          <template slot-scope="scope">
            <div>{{ scope.row.dnitype }} <el-tooltip placement="left-start">
                    <div slot="content">{{Convert_dni_type(scope.row.dnitype)}}</div>
                    <i class="el-icon-question"></i>
            </el-tooltip> </div>
                  
          </template>
      </el-table-column> -->
      <el-table-column header-align="center" align="center" prop="dni" label="N° De Identificación" sortable="custom">
      </el-table-column>
      <el-table-column header-align="center" align="center" prop="razon" label="Razón Social" sortable="custom">
          <template slot-scope="scope">
             <div>{{scope.row.razon.replace(/^([a-z\u00E0-\u00FC])|\s+([a-z\u00E0-\u00FC])/g, l => l.toUpperCase())}}</div> 
          </template>
      </el-table-column>
      <el-table-column header-align="center" align="center" prop="jobtitle" label="Cargo" sortable="custom">
           <template slot-scope="scope">
             <div>{{scope.row.jobtitle.replace(/^([a-z\u00E0-\u00FC])|\s+([a-z\u00E0-\u00FC])/g, l => l.toUpperCase())}}</div> 
          </template>
      </el-table-column>
       <el-table-column header-align="center" align="center" prop="contract" label="Tipo de contrato" sortable="custom">
      </el-table-column>
      <el-table-column  header-align="center" align="center" label="Acciones" sortable="custom">
           <template slot-scope="scope">
            <el-button-group>
                <el-tooltip placement="top">
                    <div slot="content">Ver Detalles</div>
                <el-button @click="getContOne(scope.row.slug)" type="info" icon="el-icon-info" size="mini"></el-button>
                </el-tooltip>
                 <el-tooltip placement="top">
                    <div slot="content">Editar</div>
                <el-button type="primary" icon="el-icon-edit" size="mini"></el-button>
                </el-tooltip>
                <el-tooltip placement="top">
                    <div slot="content">Anular</div>
                <el-button @click="cancelContact(scope.row.slug)" type="danger" icon="el-icon-delete" size="mini"></el-button>
                </el-tooltip>
            </el-button-group>
      </template>
      </el-table-column>
    </data-tables>    
    </div>
</template>
<script>
export default {
    data() {
        return {
            nitClient: "984500001",
            datawork: [],
            filters: [{
                filterFn: (row, filter) => {
                    return Object.keys(row).some(prop => {
                    if (prop === 'dni') {
                        return row.dni.indexOf(filter.value) > -1
                    } 
                    else if(prop == 'contract'){
                        var m = filter.value.toLowerCase()                
                        let val = this.quitaacentos(filter.value)
                        let r = this.quitaacentos(row.contract.toLowerCase())
                        // console.log(r)
                        return r.toLowerCase().indexOf(val) > -1
                    }
                    else if(prop === 'razon'){
                        var m = filter.value.toLowerCase()                
                        let val = this.quitaacentos(filter.value)
                        let r = this.quitaacentos(row.razon.toLowerCase())
                        return r.toLowerCase().indexOf(val) > -1
                    }
                    else if(prop === 'jobtitle'){
                        var m = filter.value.toLowerCase()                
                        let val = this.quitaacentos(filter.value)
                        let r = this.quitaacentos(row.jobtitle.toLowerCase())
                        return r.toLowerCase().indexOf(val) > -1
                    }
                    })
                }
            }]

        }
        
    },
    mounted() {
        this.getwork()
    },
    methods:{
         quitaacentos(s) {
                    var r=s.toLowerCase();
                    r = r.replace(new RegExp(/\s/g),"");
                    r = r.replace(new RegExp(/[àáâãäå]/g),"a");
                    r = r.replace(new RegExp(/[èéêë]/g),"e");
                    r = r.replace(new RegExp(/[ìíîï]/g),"i");
                    r = r.replace(new RegExp(/ñ/g),"n");                
                    r = r.replace(new RegExp(/[òóôõö]/g),"o");
                    r = r.replace(new RegExp(/[ùúûü]/g),"u");                                
                    return r;
                },
         getwork() {
           axios.post('/api/sc/contact/listworker',{dni:this.nitClient,status:true,contype:'Empleado'}).then(resp => {
                let data = this.$myCryptor.decode(resp.data.res)
                for (let index = 0; index < data.length; index++) {
                    // var s = '';
                    // for (let i = 0; i < data[index].contactType.length; i++) {
                    //     s+= data[index].contactType[i];
                    //     if(i != (data[index].contactType.length -1))
                    //         s+='/'
                    // }
                    // if(data[index].dni.type == 'NIT')
                    //     var dni = data[index].dni.dni+'-'+data[index].dni.dv
                    // else
                    //     var dni = data[index].dni.dni
                    var type = ''
                    switch(data[index].worker.contract.typeContract){
                        case '1':
                         type = 'A Termino Fijo'
                        break;
                        case '2':
                         type = 'A Termino Indefinido'
                        break;
                        case '3':
                         type = 'Prestación De Servicio'
                    }
                    let inn = {
                        dnitype: data[index].dni.type,
                        dni: data[index].dni.dni,
                        razon: data[index].name.first +' '+data[index].name.second+' '+data[index].lastname.first +' '+data[index].lastname.second,
                        // type: s,
                        jobtitle: data[index].worker.jobTitle,
                        contract: type,
                        slug: data[index].slug
                    }
                    this.datawork.push(inn)
                }
            }).catch(err => {console.error(err)})
    }
    }
   
}
</script>

