<template>
    <div class="container my-0 p-0">        
        <h4 class="text-center poppins text-dark-blue font-weight-bold text-uppercase">Dispensación</h4> 
        <hr class="bg-dark-blue">
        <div class="row px-2 mx-0">
            <div class="col-lg-12 col-md-12 col-sm-12 px-2" v-for="(disp, index) in dispens" :key="index">
                <div class="card border-info mt-0 mb-4">
                <div class="card-header"><h4 class="text-info">Dispensación {{index + 1}} <button v-if="index != 0" @click="dispens.splice(index, 1)" class="btn btn-danger float-right"><i class="fa fa-minus"></i></button></h4></div>
                <div class="card-body">
                    <div class="form-group">
                        <label class="mb-0 font-weight-bold poppins text-dark-blue" for="dni">Tipo:</label>
                        <select class="form-control" v-model="disp.dispType">
                            <option disabled selected value=null>Escoja una Opción</option>
                            <option value="1">Dispensación a Paciente</option>
                            <option value="2">Dispensación Interna</option>
                        </select>
                    </div>
                    <hr v-if="disp.dispType != null" class="col-10 offset-1 my-4 mb-0">
                    <div class="d-flex justify-content-start pl-3 mb-3" v-if="disp.dispType == 2">
                        <div class="custom-control text-left custom-checkbox" style="transform:scale(.9);position: relative;left: -22px;">
                            <input type="checkbox" v-model="disp.opcPat" class="custom-control-input" id="adminU">
                            <label class="custom-control-label poppins" for="adminU" style="color:#747779;">Asociar a Paciente</label>
                        </div>
                    </div>
                    <form v-if="disp.dispType != null" class="form-row" autocomplete="off">
                            <div class="form-group col-lg-6 col-md-6 col-sm-12 px-1" v-if="disp.dispType == 1 || (disp.dispType == 2 && disp.opcPat)">
                                <label class="mb-0 font-weight-bold poppins text-dark-blue" for="dni">Identificación:</label>
                                <el-select v-model="disp.dni" class="w-100" filterable placeholder="Escoja una opcion" @change="fuckingselect(disp.dni, index)">
                                    <el-option
                                        v-for="(item, ind) in patients"
                                        :key="ind"
                                        :label="item.label"
                                        :value="item.value">
                                    </el-option>
                                </el-select>
                                <!-- <v-select placeholder="Escoja un paciente" :options="patients"  v-model="disp.dni" :onChange="fuckingselect(disp)">
                                    <span slot="no-options">No se encotraron datos!</span>
                                </v-select>   -->
                                <router-link to="/vc/sf/patient" class="no-underline"><span class="text-dark-blue">Registrar Paciente</span></router-link>
                            </div>
                            <!-- <div v-if="disp.dispType == 1" class="form-group col-lg-6 col-md-6 px-1 col-sm-12">
                                <label class="mb-0 font-weight-bold poppins text-dark-blue" for="fname">Nombre:</label>
                                <input type="text" readonly class="form-control" name="fname" v-model="disp.patientName">
                            </div> -->
                            <div class="form-group col-lg-6" v-if="disp.dispType == 1 || (disp.dispType == 2 && disp.opcPat)">
                                <label class="mb-0 font-weight-bold poppins text-dark-blue" for="eps">EPS</label>
                                <input type="text" readonly  class="form-control" name="epsInput" placeholder="">
                                <!-- <el-select v-model="reception_data.eps" class="w-100" filterable placeholder="Escoja una opcion">
                                    <el-option
                                        v-for="(item, index) in dynamicTable.eps"
                                        :key="index"
                                        :label="item.name.first"
                                        :value="item._id">
                                    </el-option>
                                </el-select> -->
                                <!-- <v-select class="" placeholder="Escoja una opcion" :options="dynamicTable.eps"  v-model="select.eps">
                                    <span slot="no-options">No se encotraron datos!</span>
                                </v-select>  -->
                            </div> 
                            <div class="col-12 d-flex justify-content-center" v-if="disp.showInfoPatient && (disp.dispType == 1 || disp.opcPat)">
                                <div class="col-12 col-lg-6 col-md-9 mb-2">
                                    <el-card class="box-card poppins-light">
                                        <div slot="header" class="clearfix">
                                            <span class="poppins-bold">Paciente <br><span class="poppins info-name">{{disp.patientShowData.name}}</span></span>                                        
                                        </div>
                                        <p class="mb-0"><strong>Tel:</strong><span class="info-tel">{{disp.patientShowData.tel}}</span></p>
                                        <hr class="my-1">
                                        <p class="mb-0"><strong>RH:</strong><span class="info-rh">{{disp.patientShowData.rh}}</span></p>
                                        <hr class="my-1">
                                        <p class="mb-0"><strong>Genero:</strong><span class="info-gen">{{disp.patientShowData.gen}}</span></p>
                                        <hr class="my-1">
                                        <p class="mb-0"><strong>Estado Civil:</strong><span class="info-ec">{{disp.patientShowData.ec}}</span></p>                                    
                                        <hr class="my-1">
                                        <p class="mb-0"><strong>Vinculación:</strong><span class="info-vin">{{disp.patientShowData.vin}}</span></p>                                                                                                            
                                        <hr class="my-1">
                                        <p class="mb-0"><strong>Trabajo:</strong><span class="info-tra">{{disp.patientShowData.tra}}</span></p>                                    
                                        <hr class="my-1">
                                        <p class="mb-0"><strong>Dirección:</strong><span class="info-dir">{{disp.patientShowData.dir1}}<br>{{disp.patientShowData.dir2}}</span></p>                                    
                                    </el-card>
                                </div>
                            </div>
                            <div v-if="disp.dispType == 2" class="form-group col-lg-6 col-mg-6 col-sm-12">
                                <label class="mb-0 font-weight-bold poppins text-dark-blue" for="fname">Servicio:</label>
                                <select class="form-control" v-model="disp.service">
                                    <option value="null">Escoja un servicio</option>
                                    <option value="Consulta externa">Consulta externa</option>
                                    <option value="Sala de procedimiento">Sala de procedimiento</option>
                                    <option value="Radioterapia">Radioterapia</option>
                                    <option value="Quimioterapia">Quimioterapia</option>
                                    <option value="Central de mezclas">Central de mezclas</option>
                                    <option value="Gastroenterología">Gastroenterología</option>
                                    <option value="Enfermería">Enfermería</option>
                                </select>
                            </div>
                            <div v-if="disp.dispType == 2" class="form-group col-lg-6 col-md-6 col-sm-12">
                                <label class="mb-0 font-weight-bold poppins text-dark-blue" for="fname">Nombre de Quien Recibe:</label>
                                <input type="text" class="form-control" name="fname" v-model="disp.nurseName">
                            </div>
                            <hr class="col-10 offset-1">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <form class="form-row" autocomplete="off">
                                        <div class="form-group col-lg-4 col-md-6 col-sm-12 px-1">
                                            <label class="mb-0 font-weight-bold poppins text-dark-blue" for="dni">Producto:</label>
                                            <!-- <v-select placeholder="Escoja un producto" :options="products"  v-model="disp.product.product">
                                                <span slot="no-options">No se encotraron datos!</span>
                                            </v-select> -->
                                            <template>
                                            <el-select class="w-100" v-model="disp.product.product" filterable placeholder="Selecciona" style="width: 100% !important;">
                                                <el-option
                                                v-for="(item, index) in products"
                                                :key="index"
                                                :label="item.cnc"
                                                :value="item.value">
                                                <span style="float: left">{{ item.label }}</span>
                                                <span style="float: right; color: #8492a6;font-weight:500; font-size: 13px;margin-left: 10px;">{{ item.type }}</span>
                                                </el-option>
                                            </el-select>
                                            </template>  
                                        </div>
                                        <div class="form-group col-lg-2 col-md-6 col-sm-12 px-1">
                                            <label class="mb-0 font-weight-bold poppins text-dark-blue" for="dni">Lote:</label>
                                            <template>
                                            <el-select class="w-100" v-model="disp.product.lote" filterable placeholder="Selecciona" @change="listLotes(index, disp.product.product, disp.product.lote)">
                                                <el-option
                                                v-for="(item, index) in thatLotes"
                                                v-if="disp.product.product != null && item.product == Cproducts[disp.product.product].name && (((disp.dispType == 1 || disp.opcPat == true) && item.pat == Cpatients[disp.dni]._id) || item.inv == 'CRLGC')"
                                                :key="index"
                                                :label="item.label"
                                                :value="item.value">
                                                <span style="float: left">{{ item.label }}</span>
                                                <span style="float: right; color: #8492a6; font-size: 13px;margin-left: 10px;">{{ item.inv }}</span>
                                                </el-option>
                                            </el-select>
                                            </template>
                                        </div>
                                        <div class="form-group col-lg-3 col-md-5 px-1 col-sm-12">
                                            <label class="mb-0 font-weight-bold poppins text-dark-blue" for="fname">F. Vencimiento:</label>
                                            <input type="text" readonly class="form-control" name="fname" v-model="disp.product.fven">
                                        </div>
                                        <div class="form-group col-lg-2 col-md-5 px-1 col-sm-12">
                                            <label class="mb-0 font-weight-bold poppins text-dark-blue" for="fname">Cantidad:</label>
                                            <input type="number"  class="form-control" name="fname" v-model="disp.product.cant">
                                        </div>
                                        <!-- <div v-if="disp.product.product != null && Cproducts[disp.product.product].type == 'MEDICAMENTO'" class="form-group col-lg-1 col-md-5 px-1 col-sm-12">
                                            <label class="mb-0 font-weight-bold poppins text-dark-blue" for="fname">Volumen:</label>
                                            <input type="text" class="form-control" name="fname" v-model="disp.product.vol">
                                        </div> -->
                                        <div class="col-lg-1 col-md-2 col-sm-12">
                                            <button v-if="disp.product.product != null && disp.product.lote != null && disp.product.cant" @click.prevent="addProduct(index, true)" class="mt-4 btn btn-block btn-primary"><i class="fa fa-plus"></i></button>
                                            <button v-else disabled class="mt-4 btn btn-block btn-primary"><i class="fa fa-plus"></i></button>
                                        </div>
                                </form>

                                <!-- READ ONLY DATA -->
                                <div class="col-lg-12 mt-3 row mx-0 px-0" v-if="disp.dataProds.length != 0">                               
                                    <table class="table table-sm">
                                        <caption>Listado de productos</caption>
                                        <thead>
                                            <tr>
                                            <th scope="col">Consecutivo</th>
                                            <th scope="col">Producto</th>
                                            <th scope="col">Lote</th>
                                            <th scope="col">F/V</th>
                                            <th scope="col">Cantidad</th>
                                            <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="(table, ind) in disp.dataProds" :key="ind">
                                                <th>{{table.cnc}}</th>
                                                <th>{{table.product}}</th>
                                                <td>{{table.lote}}</td>
                                                <td>{{table.fven}}</td>
                                                <td>{{table.cant}}</td>
                                                <td width="45px">
                                                    <button class="btn btn-outline-danger btn-sm" @click.prevent="removeProd(index, ind)"><i class="fa fa-minus"></i></button>
                                                </td>     
                                            </tr>                                   
                                        </tbody>
                                    </table>
                                </div>
                                <!-- END READ ONLY DATA -->
                            </div>
                    </form>
                </div>
                </div>
            </div>
            <div class="col-lg-4 px-1 col-md-6 col-sm-12 text-center">
                <button type="button" @click="addDispBones()" class="mb-2 btn btn-outline-primary btn-block poppins" ><i class="fa fa-plus"></i> Agregar Dispensación</button>                
            </div>
            <div class="col-lg-8 px-1 col-md-6 col-sm-12 text-center">
                <!-- <button @click="DoProg" class="btn btn-lg btn-primary">Programar Paciente</button> -->
                <button type="button" @click.prevent="doDispens()" class="btn btn-outline-success btn-block poppins" ><i class="fa fa-check"></i> Hacer Dispensación</button>                
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            patients: [],
            Cpatients: [],
            dispens: [],
            Cproducts: [],
            products: [],
            thatLotes: [],
            dynamicTable: {
                eps: []
            }
        }
    },
    created() {
        this.addDispBones()
    },
    mounted() {
        this.listPatient()
        this.listProduct()
        this.dynamic()
    },
    watch: { 
        
    },
    methods: {
        doDispens() {
            let data = []
            for (const key in this.dispens) {
                let recep = ''
                if((this.dispens[key].dni != null && this.dispens[key].dispType ==1) || (this.dispens[key].dispType == 2)){
                    let patName = ''
                    let patDni = ''
                    if(this.dispens[key].dispType == 1 || this.dispens[key].opcPat) {
                        patName = this.Cpatients[this.dispens[key].dni].basic_info.name.fname + ' ' + this.Cpatients[this.dispens[key].dni].basic_info.lastname.flname
                        patDni = this.Cpatients[this.dispens[key].dni].dni.num
                    }
                    
                    if(this.dispens[key].dispType == 1) {
                        // console.error('dni del paciente no valido', `dispensación ${(parseInt(key, 10) + 1)}`)
                        recep = {name: patName, patientDni: patDni, service: null}
                    }
                    else {
                        recep = {name: this.dispens[key].nurseName, service: this.dispens[key].service}    
                        if(this.dispens[key].opcPat)
                            recep.patientDni = patDni
                    }
                }
                else {
                    this.$chidoriAlert.show('Error!', `DNI del paciente no valido, dispensación ${(parseInt(key, 10) + 1)}`, 'error', 6000)
                    break;
                }
                let prods = []
                let pros = this.dispens[key].products
                for (const keyy in pros) {
                    let pro = {
                        productId: pros[keyy].product,
                        lote: pros[keyy].lote,
                        expirationDate: pros[keyy].fven,
                        // volume: pros[keyy].vol,
                        quantity: pros[keyy].cant
                    }
                    for (let rcind = 0; rcind < this.dispens[key].asocReceps.length; rcind++) {
                        for (let rcpind = 0; rcpind < this.dispens[key].asocReceps[rcind].products.length; rcpind++) {
                            if(this.dispens[key].asocReceps[rcind].products[rcpind].product == pro.productId && this.dispens[key].asocReceps[rcind].products[rcpind].lote == pro.lote) {
                                pro.asocRcp = this.dispens[key].asocReceps[rcind]._id
                            }
                        }
                        
                    }
                    prods.push(pro)
                }
                if(prods.length != pros.length){
                    // console.error('cantidad productos', `dispensacion: ${key + 1}`)
                    this.$chidoriAlert.show('Error!', `Algunos productos no se pudieron registrar, dispensación ${(parseInt(key, 10) + 1)}`, 'error', 6000)
                    break;
                }
                if(pros.length < 1 || prods.length < 1) {
                    this.$chidoriAlert.show('Error!', `Cantidad de productos insuficientes, dispensación ${(parseInt(key, 10) + 1)}`, 'error', 6000)
                    break;
                }
                if(this.dispens[key].dispType == 1 && (this.dispens[key].patientName == '' && this.dispens[key].dni == null)) {
                    // console.error('datos paciente', `dispensacion: ${key + 1}`)
                    this.$chidoriAlert.show('Error!', `Datos del paciente invalidos, dispensación ${(parseInt(key, 10) + 1)}`, 'error', 6000)
                    break;
                }
                if(this.dispens[key].dispType == 2 && this.dispens[key].nurseName == '') {
                    // console.error('datos enfermera(o)', `dispensacion: ${key + 1}`)
                    this.$chidoriAlert.show('Error!', `Datos del receptor invalidos, dispensación ${(parseInt(key, 10) + 1)}`, 'error', 6000)
                    break;
                }
                let item = {
                    dispType: this.dispens[key].dispType,
                    receptor: recep,
                    products: prods
                }
                data.push(item);
                // console.log('llegó al final', `Dispensación ${parseInt(key, 10) + 1}`)
                // console.table(item)
            }
            if(data.length == this.dispens.length) {
                // console.log(data)
                axios.post('/sf/dispensation/store', data).then(resp => {
                    if(resp.data.status != 'failed' && resp.data.result.data.length == data.length) {
                        this.$chidoriAlert.show('Exito!', 'Dispensación realizada con exito!', 'success', 4000)
                        // this.dispens = [{
                        //     dispType: null,
                        //     patientName: '',
                        //     nurseName: '',
                        //     opcPat: false,
                        //     service: null,
                        //     asocReceps: [],
                        //     dni: null,
                        //     product: {
                        //         product: null,
                        //         lote: null,
                        //         fven: ' - ',
                        //         // vol: null,
                        //         current: null,
                        //         cant: 0
                        //     },
                        //     products: [],
                        //     dataProds: []
                        // }]
                        // this.showInfoPatient = false
                        this.dispens = []
                        setTimeout(() => {
                            this.addDispBones()
                        }, 200);
                        axios.post('/api/com/notification/store', 
                        {
                            module: 'SF',
                            from: {
                                origin: 'New Dispensation'
                            },
                            to: {
                                rol: ['Aux. Servicio Farmaceutico']
                            },
                            information: `New Dispensation`,
                            resources: resp.data.result._id
                        }).then(resp => {
                            // console.log('Notification Result:')
                            // console.log(resp.data)
                        })
                    }
                    else
                        this.$chidoriAlert.show('Error!', 'Dispensación fallida!', 'error', 4000)
                })
            }
        },
        addDispBones() {
            let a = {
                dispType: null,
                nurseName: '',
                service: null,
                opcPat: false,
                dni: null,
                asocReceps: [],
                product: {
                    product: null,
                    lote: null,
                    fven: ' - ',
                    // vol: null,
                    current: null,
                    cant: 0
                },
                products: [],
                dataProds: [],
                showInfoPatient: false,
                patientShowData: {
                    tel: '',
                    rh: '',
                    ec: '',
                    gen: '',
                    vin: '',
                    tra: '',
                    dir1: '',
                    dir2: '',
                    name: ''
                }
            }
            this.dispens.push(a)
        },
        dynamic()
        {
           axios.post('/api/sf/dynamictable/list').then((resp) => 
            {
                let response = this.$myCryptor.decode(resp.data.res)
                for(let dyn in response)
                {
                    if(response[dyn].contactType.includes("EPS"))
                    {
                        this.dynamicTable.eps.push(response[dyn])
                    }                  
                }
            })
        },
        removeProd(indexp, index) {
            this.dispens[indexp].dataProds.splice(index, 1)
            this.dispens[indexp].products.splice(index, 1)
        },
        listPatient()
        {
            axios.post('/api/sf/patient/list').then((resp) =>
            {                
                let data = this.$myCryptor.decode(resp.data)
                this.Cpatients = data
                for (let index = 0; index < data.length; index++) {
                    let inn = {value: index, label: data[index].dni.num}
                    this.patients.push(inn)
                    inn = null
                }
            })            
        },        
        listProduct()
        {
            axios.post('/api/sf/product/list').then((resp) =>
            {                
                this.Cproducts = this.$myCryptor.decode(resp.data)
                for (const key in this.Cproducts) 
                {
                    if (this.Cproducts[key].hasOwnProperty('name')) 
                    {
                        const element = {value: key, label: this.Cproducts[key].name, type: this.Cproducts[key].type, cnc: this.Cproducts[key].consecutive}
                        this.products.push(element)

                        let a=this.Cproducts[key].lotes
                        for (const index in a) {
                            if(a[index].stock > 0) {
                                const item = {value: index, label: a[index].lote, product: this.Cproducts[key].name, inv: a[index].inv, stock: a[index].stock, identi: a[index]._id, pat: ''}
                                this.thatLotes.push(item)
                            }
                        }
                    }
                }
            })            
        },
        fuckingselect(value, index) {
            if(value != null){
                let es = ''
                let vn = ''
                
                switch (this.Cpatients[value].basic_info.vinculation) {
                case 'C':
                    vn = 'Contributivo'
                    break;
                case 'C-S':
                    vn = 'Contributivo-Sub'
                    break;
                case 'S':
                    vn = 'Subsidiado'
                    break;
                case 'S-S':
                    vn = 'Subsidiado-Sub'
                    break;
                case 'V':
                    vn = 'Vinculado'
                    break;
                case 'P':
                    vn = 'Particulares'
                    break;
                default:
                    vn = 'Ninguna'
                }

                switch (this.Cpatients[value].basic_info.civil_state) {
                case 'S':
                    es = 'Soltero'
                    break;
                case 'C':
                    es = 'Casado'
                    break;
                case 'V':
                    es = 'Viudo'
                    break;
                case 'D':
                    es = 'Divorciado'
                    break;
                case 'U-L':
                    es = 'Unión Libre'
                    break;
                default:
                    es = 'Ninguna'
                }

                for (const keyy in this.dynamicTable.eps) 
                {
                    if (this.dynamicTable.eps[keyy]._id == this.Cpatients[value].basic_info.eps) 
                    {
                        const name = this.dynamicTable.eps[keyy].name.first                            
                        $('input[name=epsInput]').val(name)                           
                    }
                }
                
                setTimeout(() => 
                {
                    // $('p > span.info-tel').html(' '+this.Cpatients[value].basic_info.phone)
                    // $('p > span.info-rh').html(' '+this.Cpatients[value].basic_info.rh)
                    // $('p > span.info-ec').html(' '+es)
                    // $('p > span.info-gen').html(' '+this.Cpatients[value].basic_info.gender)
                    // $('p > span.info-vin').html(' '+vn)
                    // $('p > span.info-tra').html(' '+this.Cpatients[value].basic_info.work)
                    // $('p > span.info-dir').html(' '+this.Cpatients[value].basic_info.location.dep+' - '+this.Cpatients[value].basic_info.location.town+'<br>'+this.Cpatients[value].basic_info.location.address)
                    // $('span.info-name').html(' '+this.Cpatients[value].basic_info.name.fname+' '+this.Cpatients[value].basic_info.name.sname+' '+this.Cpatients[value].basic_info.lastname.flname+' '+this.Cpatients[value].basic_info.lastname.slname)    

                    this.dispens[index].patientShowData.tel = ' '+this.Cpatients[value].basic_info.phone
                    this.dispens[index].patientShowData.rh = ' '+this.Cpatients[value].basic_info.rh
                    this.dispens[index].patientShowData.ec = ' '+es
                    this.dispens[index].patientShowData.gen = ' '+this.Cpatients[value].basic_info.gender
                    this.dispens[index].patientShowData.vin = ' '+vn
                    this.dispens[index].patientShowData.tra = ' '+this.Cpatients[value].basic_info.work
                    this.dispens[index].patientShowData.dir1 = ' '+this.Cpatients[value].basic_info.location.dep+' - '+this.Cpatients[value].basic_info.location.town
                    this.dispens[index].patientShowData.dir2 = ' '+this.Cpatients[value].basic_info.location.address
                    this.dispens[index].patientShowData.name = ' '+this.Cpatients[value].basic_info.name.fname+' '+this.Cpatients[value].basic_info.name.sname+' '+this.Cpatients[value].basic_info.lastname.flname+' '+this.Cpatients[value].basic_info.lastname.slname

                }, 100);
                this.dispens[index].showInfoPatient = true
            }
            else {
                this.dispens[index].showInfoPatient = false
                $('input[name=epsInput]').val('')
            }

            this.verifyReception(this.Cpatients[value]._id ,index)
        },
        listLotes(index, product, value) {
            if(product != null) {
                let a = this.Cproducts[product].lotes[value].expiration_date
                if(a != null)
                    this.dispens[index].product.fven = a
            }
            this.dispens[index].product.cant = this.Cproducts[product].lotes[value].stock

        },
        verifyReception(id, Dispindex) {
            this.dispens[Dispindex].asocReceps = []
            this.dispens[Dispindex].products = []
            this.dispens[Dispindex].dataProds = []
            // console.log("Verificando Por Recepciones...")
            axios.post('/sf/dispensation/verifyR', {id}).then(resp => {
                // console.log("Verificación terminada, Resultado: \n")
                if(resp.data.status) {
                    // console.log(resp.data.data)
                    let res = resp.data.data
                    this.dispens[Dispindex].asocReceps = res
                    for (const key in res) {
                        if(res[key].status != 'DONE' && res[key].status != 'WAIT') {
                            for (const llave in res[key].products) {
                                if(res[key].products[llave].approved_dir) {
                                    for (let index = 0; index < this.Cproducts.length; index++) {
                                        let next = true
                                        if(res[key].products[llave].product == this.Cproducts[index]._id) {
                                            
                                            let lava = {
                                                product: index,
                                                lote: 0,
                                                fven: ' - ',
                                                vol: null,
                                                current: null,
                                                cant: res[key].products[llave].quantity
                                            }
                                            
                                            let l = this.Cproducts[index].lotes
                                            for (let indice = 0; indice < l.length; indice++) {
                                                if(l[indice]._id == res[key].products[llave].lote) {
                                                    lava.lote = indice
                                                    next = true
                                                }
                                                else {
                                                    for (let ltind = 0; ltind < this.thatLotes.length; ltind++) {
                                                        if(this.thatLotes[ltind].identi == l[indice]._id) {
                                                            this.thatLotes[ltind].pat = id
                                                            // console.log('eso va')
                                                        }
                                                    }
                                                }
                                            }

                                            if(next) {
                                                if(res[key].products[llave].expiration_date) {
                                                    lava.fven = res[key].products[llave].expiration_date
                                                }
                                                
                                                this.dispens[Dispindex].product = lava
                                                this.addProduct(Dispindex, false)
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                else
                    console.log(false)
            })
        },
        addProduct(index, status) {
            let data = this.dispens[index].product
            if(data.fven == ' - ')
                data.fven = null
            let item = {
                product: this.Cproducts[data.product]._id,
                fven: data.fven,
                vol: data.vol,
                lote: null,
                cant: data.cant 
            }
            // console.log(status)
            if(this.Cproducts[data.product].lotes[data.lote].stock < data.cant && status) {
                this.$swal.fire({
                title: 'La cantidad ingresada es mayor que la disponible en este lote',
                type: 'error',
                showCancelButton: false,
                confirmButtonColor: '#3085d6',
                confirmButtonText: 'Aceptar'
                })
            }else {
                item.lote = this.Cproducts[data.product].lotes[data.lote]._id

                // if(data.vol == null)
                //     data.vol = ' - '
                if(data.fven == null)
                    data.fven = ' - '
                let vitem = {
                    cnc: this.Cproducts[data.product].consecutive,
                    product: this.Cproducts[data.product].name,
                    fven: data.fven,
                    // vol: data.vol,
                    lote: this.Cproducts[data.product].lotes[data.lote].lote,
                    cant: data.cant 
                }
                this.dispens[index].products.push(item)
                this.dispens[index].dataProds.push(vitem)
                this.dispens[index].product.product = null
                this.dispens[index].product.lote = null
                this.dispens[index].product.fven = ' - '
                // this.dispens[index].product.vol = null
                this.dispens[index].product.cant = 0
            }
        }
    }
}
</script>

