<template>
    <div class="container my-0 p-0">
        <div class="modal poppins fade" id="viewDispModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content border-0">
                    <div class="modal-header">
                        <div>
                            <h5 class="modal-title modal-name"><i class="fa fa-user-o"></i> <span class="modal-details-name"></span></h5>
                            <i class="fa fa-id-card-o"></i> (<small class="poppins dni">123123123</small>)
                        </div>
                        <span class="badge badge-pill baadge-light mt-3 py-2 px-3 badge-schema poppins"></span>
                        <button type="button" class="close modal-details-close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fa fa-times"></i></span>
                        </button>
                    </div>
                    <div class="modal-body bg-light">
                        <div class="row mx-0">
                            <div class="col-lg-6 px-1">
                                <h5 class="w-100 poppins text-center"><i class="fa fa-medkit"></i> Medicamentos</h5>
                                <hr class="mb-0">
                                <div>
                                    <ul class="list-group list-group-flush medicamentos">
                                                                                
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-6 px-1">
                                <h5 class="w-100 poppins text-center"><i class="fa fa-calendar"></i> Citas</h5>
                                <hr class="mb-0">
                                <div>
                                    <ul class="list-group list-group-flush dates">
                                                                                
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button> -->
                        <!-- <button type="button" v-if="modeEdit" @click="modeEdit = !modeEdit" class="btn-sm btn btn-danger">Cancelar <i class="fa fa-times"></i></button>
                        <button type="button" v-if="!modeEdit" @click="modeEdit = !modeEdit" class="btn-sm btn btn-primary">Editar <i class="fa fa-edit"></i></button>
                        <button v-if="modeEdit" type="button" class="btn-sm btn btn-success">Guardar Cambios <i class="fa fa-save"></i></button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    props: ['id','data'],
    data() {
        return {
            objeto: this.data,
            ide: this.id,
            formatData: [],
            dbData: [],
            prods: [],
            ready: false,
            viewData: null
        }
    },
    created() {
        this.getProd()
        // console.log('creando..')
    },
    mounted() {
        let a = setInterval(() => {
            // console.log('intentando')
            if(this.formatData.length > 0) {
                this.ready = true
                clearInterval(a)
            }
        }, 500);
    },
    watch: {
        'ready': function(newVal) {
            if(newVal) {
                this.doSt()
            }
        }
    },
    methods: {
        doSt() {
            if(this.objeto) {
                this.structureData('obj')
            }else {
                if(this.ide) {
                    this.structureData('id')
                }
            }
            // console.log(this.viewData)
            $('#viewDispModal').modal()
        },
        structureData(type) {
            // console.log(type)
            if(type == 'id') {
                for (let index = 0; index < this.formatData.length; index++) {
                    if(this.formatData[index].id == this.ide) {
                        this.viewData = this.formatData[index]
                    }
                }
            }
            if(type == 'obj') {
                this.viewData = this.objeto
            }
        },
        async getProd() {
            let res = await axios.post('/api/sf/product/list')
                let datito = this.$myCryptor.decode(res.data)
                this.prods = datito
                this.getData()
        },
        async getData() {
            let resp = await axios.post('/api/sf/dispensation/list')
                this.dbData = this.$myCryptor.decode(resp.data)
                let dat = this.dbData
                for (let index = 0; index < dat.length; index++) {
                    let type = ''
                    let tmp = new Date(dat[index].dispDate)
                    let date = tmp.getDate()+'-'+(tmp.getMonth() + 1)+'-'+tmp.getFullYear()
                    if(dat[index].dispType == 1)
                        type = 'EPS'
                    else
                        type = 'Enfermería'
                    
                    let drugs = []
                    let pro = dat[index].products
                    for (let ind = 0; ind < pro.length; ind++) {
                        for (let llave = 0; llave < this.prods.length; llave++) {
                            if(this.prods[llave]._id == pro[ind].productId) {
                                let tm = new Date(pro[ind].expirationDate)
                                let fecha = tm.getDate()+'-'+(tm.getMonth() + 1)+'-'+tm.getFullYear()
                                for (let key = 0; key < this.prods[llave].lotes.length; key++) {
                                    if(this.prods[llave].lotes[key]._id == pro[ind].lote) {
                                        let it = {
                                            name: this.prods[llave].name,
                                            consecutive: this.prods[llave].consecutive,
                                            type: this.prods[llave].type,
                                            volume: pro[ind].volume,
                                            quantity: pro[ind].quantity,
                                            expDate: fecha,
                                            lote: this.prods[llave].lotes[key].lote
                                        }
                                        drugs.push(it)
                                    }
                                }
                            }
                        }
                    }
                    
                    let item = {
                        id: dat[index]._id,
                        type: type,
                        receptor: dat[index].receptor.name,
                        date: date,
                        drugs: drugs,
                        visiblePop: false
                    }
                    this.formatData.push(item)
                }
                this.loading = false
        }
    }
}
</script>
