<template>
    <div class="container my-0 p-0">
        <h4 v-if="view" class="text-center poppins text-dark-blue font-weight-bold text-uppercase">Mas Detalles <button @click.prevent="view = !view" class="btn btn-primary btn-outline float-right">Volver</button></h4> 
        <hr v-if="view" class="bg-dark-blue">
        <view-more-disp v-if="view" :id="datitos"></view-more-disp>        
        <h4 v-if="!view" class="text-center poppins text-dark-blue font-weight-bold text-uppercase">Historial de Dispensaciones</h4> 
        <hr v-if="!view" class="bg-dark-blue">
        <el-input v-if="!view" placeholder="" class="mb-2 poppins input-s" v-model="filters[0].value">
            <template slot="prepend">¿Que buscas?</template>
        </el-input>
        <data-tables v-if="!view" v-loading.body="loading" :table-props="tableProps" :data="tableData" :filters="filters" class="poppins">
            <el-table-column
            type="index"
            label="N°"
            width="50">
            </el-table-column>
            <el-table-column prop="type" label="Tipo" sortable="custom">
            </el-table-column>
            <el-table-column prop="receptor" label="Receptor" sortable="custom">
            </el-table-column>
            <el-table-column prop="date" label="Fecha" sortable="custom">
            </el-table-column>
            <el-table-column header-align="center" align="center" label="INFO">
                <template slot-scope="scope">
                    <el-popover trigger="click" placement="top">
                    <div v-for="(datito, index) in scope.row.drugs" :key="index">
                        <p class="poppins mb-0"><strong>Medicamento {{index + 1}}: </strong> <span class="poppins-light">{{ datito.name }}</span></p>
                        <p class="poppins mb-0"><strong>Consecutivo {{index + 1}}: </strong> <span class="poppins-light">{{ datito.consecutive }}</span></p>
                        <p class="poppins mb-0"><strong>Tipo: </strong> <span class="poppins-light">{{ datito.type }}</span></p>
                        <p class="poppins mb-0"><strong>Cantidad: </strong> <span class="poppins-light">{{ datito.quantity }}</span></p>
                        <p class="poppins mb-0"><strong>Lote: </strong> <span class="poppins-light">{{ datito.lote }}</span></p>
                        <p class="poppins mb-0"><strong>Fecha Vencimiento: </strong> <span class="poppins-light">{{ datito.expDate }}</span></p>
                        <hr v-if="index != (scope.row.drugs.length - 1)" class="my-2">
                    </div>    
                    <el-button icon="el-icon-info" slot="reference" circle></el-button>
                    </el-popover>
                </template>
            </el-table-column>

            <!-- <el-table-column label="Acciones">
                <template slot-scope="scope">
                    <el-button-group>   
                        <el-tooltip content="Ver" placement="top">                     
                            <el-button @click.prevent="viewMore(scope.row)" type="success" size="mini" icon="el-icon-view"></el-button>
                        </el-tooltip> -->
                        <!-- <el-tooltip content="Eliminar" placement="top"> 
                            <el-button @click.native.prevent="deleteRow(scope.$index)" type="danger" size="mini" icon="el-icon-delete"></el-button>
                        </el-tooltip> -->
                    <!-- </el-button-group> -->
                    <!-- <el-row>
                        <el-button type="primary" icon="el-icon-edit" circle></el-button>
                        <el-button type="success" icon="el-icon-check" circle></el-button>
                        <el-button type="danger" icon="el-icon-delete" circle></el-button>
                    </el-row> -->
                <!-- </template>
            </el-table-column> -->
        </data-tables>        
    </div>
</template>
<script>
import { EventBus } from '../../Utilities/Plugins/Bus.js'
export default {
    data() {
        return {
            tableData: [],
            view: false,
            datitos: null,
            dispens: [],
            prods: [],
            filters: 
            [
                {
                    prop: ['consecutive', 'date', 'receptor'],
                    value: ''
                }
            ],
            tableProps: 
            {
                border: false,
                stripe: true,
                defaultSort: {                
                order: 'descending'
                }
            },
            loading: true,
            permiss:{
                update: true,
                delete: true
            }
        }
    },
    mounted() 
    {
        this.sessdata()
        this.getProds()        
    },
    methods: {
        viewMore(data) {
            // this.datitos = data.id
            // this.view = true
            EventBus.$emit('viewDispen', {type: 'id', data: data.id});
            // EventBus.$emit('viewDispen', {type: 'obj', data: data});
        },
        getProds() {
            axios.post('/api/sf/product/list').then(res => {
                let datito = this.$myCryptor.decode(res.data)
                this.prods = datito

                this.getDispens()
            })
        },
        getDispens() {
            axios.post('/api/sf/dispensation/list').then(resp => {
                this.dispens = this.$myCryptor.decode(resp.data)
                let dat = this.dispens
                for (let index = 0; index < dat.length; index++) {
                    let type = ''
                    let tmp = new Date(dat[index].dispDate)
                    let date = tmp.getDate()+'-'+(tmp.getMonth() + 1)+'-'+tmp.getFullYear()
                    if(dat[index].dispType == 1)
                        type = 'EPS'
                    else
                        type = 'Enfermería'
                    
                    let drugs = []
                    let pro = dat[index].products
                    for (let ind = 0; ind < pro.length; ind++) {
                        for (let llave = 0; llave < this.prods.length; llave++) {
                            if(this.prods[llave]._id == pro[ind].productId) {
                                let tm = new Date(pro[ind].expirationDate)
                                let fecha = tm.getDate()+'-'+(tm.getMonth() + 1)+'-'+tm.getFullYear()
                                for (let key = 0; key < this.prods[llave].lotes.length; key++) {
                                    if(this.prods[llave].lotes[key]._id == pro[ind].lote) {
                                        let it = {
                                            name: this.prods[llave].name,
                                            consecutive: this.prods[llave].consecutive,
                                            type: this.prods[llave].type,
                                            volume: pro[ind].volume,
                                            quantity: pro[ind].quantity,
                                            expDate: fecha,
                                            lote: this.prods[llave].lotes[key].lote
                                        }
                                        drugs.push(it)
                                    }
                                }
                            }
                        }
                    }
                    
                    let item = {
                        id: dat[index]._id,
                        type: type,
                        receptor: dat[index].receptor.name,
                        date: date,
                        drugs: drugs,
                        visiblePop: false
                    }
                    this.tableData.push(item)
                }
                this.loading = false
            })
        },
        sessdata()
        {
            axios.post('/auth/sessdata', {fields: ['name','rol','company']}).then(resp => {                                          
                let res = this.$myCryptor.decode(resp.data.data);                                
                this.nameUser = res[0].first+' '+res[0].last
                this.rolUser = res[1].name
                this.nitClient = res[2].nit
                // for (const key in res[1].access.items) {
                //     if(res[1].access.items[key].id == 2)
                //         for (const llave in res[1].access.items[key].subitems) {
                //             if(res[1].access.items[key].subitems[llave].id == 4) {
                //                 if(res[1].access.items[key].subitems[llave].actions.includes("U"))
                //                     this.permiss.update = true;
                //                 else
                //                     this.permiss.update = false
                //                 if(res[1].access.items[key].subitems[llave].actions.includes("D"))
                //                     this.permiss.delete = true
                //                 else
                //                     this.permiss.delete = false
                //             }
                //         }
                // }
            })
        }
    }
}
</script>