<template>    
    <div class="some-cont"> 
        <div class="" id="notificationWrapper">
            <div class="notificationHeader">
                <h5 class="poppins">
                    Notificaciones
                </h5>
            </div>
            <div class="notificationBody">
                <ul class="modeless-box-list list-unstyled" style="position: static;" id="NotifyList">
                    <li v-if="notify.charge" class="w-100 h-100 d-flex p-5 justify-content-center align-item-center alig-content-center">
                        <i class="el-icon-loading" style="font-size: 18px;"></i>
                    </li>
                    <li v-if="notify.noResult && !notify.charge" class="modeless-box-noresults">Por ahora, no tienes notificaciones.</li>
                    <div v-for="(not, index) in notify.content" :key="index">
                        <li class="li-item-notify px-3 py-2 justify-content-between d-flex" v-bind:class="{'unread': not.state == 'UNREAD'}" :unread="index" v-if="((!notify.noResult) && (!notify.charge))">
                            <p class="mb-0 p-0 d-flex align-items-center align-content-center">
                                <span v-html="not.information"></span>
                                <span v-if="(not.state != 'UNREAD')" class="ml-2 text-primary poppins"> Leída</span>
                            </p>
                            <div class="h-100 align-items-center justify-content-center">
                                <el-tooltip class="item" effect="dark" content="Ver" placement="top">
                                    <a @click.prevent="read(index, not.link)"><i class="el-icon-view my-1" ></i></a>
                                </el-tooltip>
                                <el-tooltip v-if="(not.state == 'UNREAD')" class="item" effect="dark" content="Marcar como leida" placement="left">
                                    <i class="el-icon-circle-check my-1" @click="read(index, 'n/a')"></i>
                                </el-tooltip>
                            </div>
                            <hr class="my-0">
                        </li>
                    </div>                                       
                </ul>
            </div>
            <div class="notificationFooter"></div>
        </div>   
        <div class="side-nav no-collapse">
            <p class="text-center logo_main p-2 mb-0">
                <router-link to="/"><img src="src/textures/logos/logob.png" class="img-fluid img-" alt=""></router-link>
            </p>
            <ul class="list-unstyled mb-0"> 
                <hr class="my-0">    
            <!-- begin copy to other element [item] at side-nav  -->
                <div v-for="(perm, index) in access" :key="index">
                    <li class="" :id="index">
                        <div class="nav-item d-flex align-items-center w-100 position-relative">
                            <i :class="perm.icon"></i>
                            <p class="animated fadeIn mb-0 item-text-title active">{{perm.item}}</p>
                            <i class="more-items-nav fa fa-chevron-right animated fadeInRight ml-auto mb-1"></i>
                        </div>                                       
                    </li>                
                    <div class="more-items-in-item" :data-id="index">
                        <router-link v-for="(sub, indexx) in perm.subitems" :key="indexx" :to="'/vc/sf/'+sub.url"><p>{{sub.text}}</p></router-link>
                        <!-- <router-link to="/vc/sf/dispensation"><p>Dispensación</p></router-link> -->
                        <!-- <router-link to="/vc/sf/request-buy"><p>Solicitud de Compra</p></router-link>
                        <router-link to="/vc/sf/storage-condition"><p>Reg. Condiciones Almacenamiento</p></router-link>
                        <router-link to="/vc/sf/control-inventary"><p>Control de Inventarios</p></router-link> -->
                    </div> 
                    <hr class="my-0">
                </div> 
            <!-- end copy to other element [item] at side-nav  -->              
            </ul>
        </div>
        <div class="nav-bar active d-flex align-content-center">
               <div class="d-flex align-content-center justify-content-between w-100 align-items-center">
                    <div class="wrapper_nav_control align-items-center d-inline-flex">
                        <a class="btn btn-small bg-white btn-collapse-side" data-toggle="tooltip" data-placement="bottom" title="Menú">
                            <i class="fa fa-bars"></i>
                        </a>
                        <a class="btn btn-small bg-white mx-1" onclick="window.history.go(-1); return false;" data-toggle="tooltip" data-placement="bottom" title="Atras">
                            <i class="fa fa-arrow-left"></i>
                        </a>
                    </div>
                    <span class="poppins text-light mb-0 main-name-module focus-in-contract-bck">Servicio Farmacéutico</span>
                    <div class="wrapper_profile_control poppins">
                        <div class="roll-in-blurred-left d-inline-grid n-r">
                            <strong class="text-dark-blue">{{ nameUser }}</strong>
                            <span class="text-white">{{ rolUser }}</span>                            
                        </div>                      
                        <img src="src/photo_.png" class="bounce-in-bck img-fluid profile-photo ml-2" alt="">
                        <div class="mx-1 ml-1 px-1 wrapper_notification d-flex align-items-center justify-content-center position-relative">
                            <a class="font-weight-bold px-2 py-2" href="" id="notificationLink" @click="Notifications('LIST')">
                                <i class="el-icon-bell text-white notification-icon"></i>
                                <span class="badge text-white text-dark-blue count-notification poppins">{{notify.unread}}</span>
	            	        </a>                            
                        </div>
                        <el-dropdown trigger="click">
                            <span class="el-dropdown-link mr-2">
                                <i class="text-white el-icon-more-outline fa-rotate-90" style="outline:none;font-size: 17px;margin-top: 6px;cursor:pointer;"></i>
                            </span>
                            <el-dropdown-menu slot="dropdown" style="width:160px;">
                                <el-dropdown-item><a class="poppins-light text-dark" style="text-decoration: none;" href="/logout"><i class="el-icon-circle-close"></i> Cerrar Sesion</a></el-dropdown-item>
                            </el-dropdown-menu>
                        </el-dropdown>                       	
                    </div>
               </div>
            </div>
        <div class="main-app active">      
            <!-- START ALERT -->
        <div id="chidoriAlert" class="d-flex align-items-center position-fixed fixed-bottom w-100 px-5 p-3">
            <div class="w-100 container px-4">
                <div class="row">
                    <div class="col-lg-9 col-md-9 mb-2">
                        <img class="img-fluid iconAlert" src="src/textures/icons/success.png" alt="">
                        <div class="d-inline-grid position-absolute textAlert">
                            <strong class="">Lorem insup</strong> 
                            <span class="text-white poppins">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus vero af</span>
                        </div>
                    </div>
                    <div style="margin-top: 30px;margin-bottom: 20px;" class="col-lg-3 col-md-3 buttonAlert d-flex align-items-center justify-content-center">
                        <button class="alertButton">
                            Aceptar
                        </button>
                    </div>
                </div>
            </div>
            <audio id="soundNotify">
                <source src="src/sounds/notification.mp3" type="audio/mp3">
            </audio>
        </div>        
        <!-- END ALERT -->                  
            <div class="card border-0 mb-5 radius-0 white-bg p-1" style="margin-bottom: 50px;">                      
                <router-view data-uid="sf"></router-view>
            </div>
        </div>
        <div class="poppins info-s-wrapper justify-content-between d-flex align-items-center w-100 position-fixed fixed-bottom">
            <div class="px-3 text-white">
                <i class="fa fa-copyright"></i> <span class="font-weight-bold">{{name}}</span> {{today_year}} • <strong>IP:</strong> {{ip}} • <strong>v{{version}}</strong>
            </div>
            <div class="px-3 text-white">
                <span class="">
                    <i class="fa fa-calendar"></i> <b>Ultimo Acceso:</b> {{last_access}} 
                </span>
                •
                <a href="" @click.prevent="help()" class="text-white">Help</a> <i class="fa fa-question"></i>
            </div>
        </div>        
        <!-- MODAL VIEW & EDIT -->
        <div class="modal poppins fade" id="viewDetailsModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content border-0">
                    <div class="modal-header">
                        <div>
                            <h5 class="modal-title modal-name"><i class="fa fa-user-o"></i> <span class="modal-details-name"></span></h5>
                            <i class="fa fa-id-card-o"></i> (<small class="poppins dni">123123123</small>)
                        </div>
                        <span class="badge badge-pill baadge-light mt-3 py-2 px-3 badge-schema poppins"></span>
                        <button type="button" class="close modal-details-close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fa fa-times"></i></span>
                        </button>
                    </div>
                    <div class="modal-body bg-light">
                        <div class="row mx-0">
                            <div class="col-lg-6 px-1">
                                <h5 class="w-100 poppins text-center"><i class="fa fa-medkit"></i> Medicamentos</h5>
                                <hr class="mb-0">
                                <div>
                                    <ul class="list-group list-group-flush medicamentos">
                                                                                
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-6 px-1">
                                <h5 class="w-100 poppins text-center"><i class="fa fa-calendar"></i> Citas</h5>
                                <hr class="mb-0">
                                <div>
                                    <ul class="list-group list-group-flush dates">
                                                                                
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button> -->
                        <button type="button" v-if="modeEdit" @click="modeEdit = !modeEdit" class="btn-sm btn btn-danger">Cancelar <i class="fa fa-times"></i></button>
                        <button type="button" v-if="!modeEdit" @click="modeEdit = !modeEdit" class="btn-sm btn btn-primary">Editar <i class="fa fa-edit"></i></button>
                        <button v-if="modeEdit" type="button" class="btn-sm btn btn-success">Guardar Cambios <i class="fa fa-save"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <!-- MODAL RECEPTION VIEW -->
        <modal name="receptionView" :pivotY="0.20" :width="wid" height="auto" :adaptive="true" :scrollable="true" :resizable="true">            
            <div class="row mx-0 mt-3 px-2">
                <div class="px-0 mb-3" :class="{'col-12': dataShowReception.products.length == 1, 'col-lg-6 col-md-6 col-12': dataShowReception.products.length > 1}" v-for="(dataa, index) in dataShowReception.products" :key="index">
                    <el-card shadow="hover" class="px-3 border-0 box-card poppins-light vrc">
                        <div slot="header" class="clearfix">                            
                            <span class="poppins">{{dataa.name}} [<i :class="{'el-icon-circle-check text-success': dataa.status, 'el-icon-circle-close text-danger': !dataa.status}"></i><span class="poppins-light" :class="{'text-success': dataa.status, 'text-danger': !dataa.status}">{{(dataa.status) ? 'Aprobado' : 'Desaprobado'}}</span>]</span>                            
                            <el-popover                                
                                placement="top"                                    
                                popper-class="mx-2 poppins"
                                width="400"
                                trigger="click">                                
                                <p class="poppins mb-0"><strong>Creación: </strong><span class="poppins-light text-justify"><span v-html="dataShowReception.date_creation"></span></span></p>
                                <hr class="my-2">
                                <p class="poppins mb-0"><strong>Cantidad: </strong><span class="poppins-light text-justify">{{ dataa.quantity }}</span></p>
                                <hr class="my-2">
                                <p class="poppins mb-0"><strong>F/V: </strong><span class="poppins-light text-justify">{{ dataa.expiration_date }}</span></p>
                                <hr class="my-2">
                                <p class="poppins mb-0"><strong>Lote: </strong><span class="poppins-light text-justify">{{ dataa.lote }}</span></p>
                                <el-divider><i class="el-icon-star-on"></i></el-divider>
                                <div v-if="typeR == 'EPS'">
                                    <p class="poppins mb-0"><strong>EPS: </strong><span class="poppins-light text-justify">{{ dataShowReception.epsName }}</span></p>
                                    <hr class="my-2">
                                    <p class="poppins mb-0"><strong>Paciente: </strong><span class="poppins-light text-justify">{{ dataShowReception.patientName }}</span></p>
                                    <hr class="my-2">
                                </div>
                                <div v-if="typeR == 'provider'">
                                    <p class="poppins mb-0"><strong>Proveedor: </strong><span class="poppins-light text-justify">{{ dataShowReception.providerName }}</span></p>
                                    <hr class="my-2">
                                    <p class="poppins mb-0"><strong>N° Fact: </strong><span class="poppins-light text-justify">{{ dataShowReception.bill_number }}</span></p>
                                    <hr class="my-2">
                                </div>
                                <div v-if="typeR == 'devolution'">
                                    <p class="poppins mb-0"><strong>Servicio: </strong><span class="poppins-light text-justify">{{ dataShowReception.services }}</span></p>
                                    <hr class="my-2">
                                </div>
                                <p v-if="!dataa.status" class="poppins mb-0"><strong>Observaciones: </strong><span class="poppins-light text-justify">{{ dataa.observation }}</span></p>
                                <hr v-if="!dataa.status" class="my-2">
                                <span slot="reference" class="float-right close-card-upreception" style="cursor:pointer;top:21%;">
                                    <i class="el-icon-more-outline"></i>
                                </span> 
                            </el-popover>                                 
                        </div>
                        <ul class="list-reception-view mb-0">
                            <!-- -- -->                                
                                <li>
                                    <el-popover
                                        placement="top-start"
                                        title="Info"
                                        width="320"
                                        trigger="focus"
                                        content="Embalaje en perfectas condiciones"> 
                                            <div slot="reference">                                                                               
                                                <p class="text-truncate mb-0">
                                                    <i :class="{'el-icon-check text-success': dataa.status_details.packaging, 'el-icon-close text-danger': !dataa.status_details.packaging}"></i>
                                                    <el-divider direction="vertical"></el-divider>
                                                    Embalaje en perfectas condiciones
                                                </p>                                        
                                            </div>
                                    </el-popover>
                                    <el-divider class="my-2"></el-divider>
                                </li>
                                <li>
                                    <el-popover
                                        placement="top-start"
                                        title="Info"
                                        width="320"
                                        trigger="focus"
                                        content="Empaque secundario en perfectas condiciones"> 
                                            <div slot="reference">                                                                               
                                                <p class="text-truncate mb-0">
                                                    <i :class="{'el-icon-check text-success': dataa.status_details.packaging_container, 'el-icon-close text-danger': !dataa.status_details.packaging_container}"></i>
                                                    <el-divider direction="vertical"></el-divider>
                                                    Empaque secundario en perfectas condiciones
                                                </p>                                        
                                            </div>
                                    </el-popover>
                                    <el-divider class="my-2"></el-divider>
                                </li>
                                <li>
                                    <el-popover
                                        placement="top-start"
                                        title="Info"
                                        width="320"
                                        trigger="focus"> 
                                            <p class="poppins-light mb-0 text-justify">
                                                Para medicamentos que requieren cadena de frio, se encuentra embalado en nevera portátil y la lectura de la temperatura se encuentra entre 2 y 8 grados centígrados
                                                <br>
                                                <strong>Temp: </strong>{{dataa.status_details.cold_chain.number}}
                                            </p>
                                            <div slot="reference">                                                                               
                                                <p class="text-truncate mb-0">
                                                    <i :class="{'el-icon-check text-success': dataa.status_details.cold_chain.status, 'el-icon-close text-danger': !dataa.status_details.cold_chain.status}"></i>
                                                    <el-divider direction="vertical"></el-divider>
                                                    Para medicamentos que requieren cadena de frio, se encuentra embalado en nevera portátil y la lectura de la temperatura se encuentra entre 2 y 8 grados centígrados
                                                </p>                                        
                                            </div>
                                    </el-popover>
                                    <el-divider class="my-2"></el-divider>
                                </li>
                                <li>
                                    <el-popover
                                        placement="top-start"
                                        title="Info"
                                        width="320"
                                        trigger="focus"
                                        content="La apariencia de la impresión debe ser homogénea y por ningún motivo esta deberá estar pixelada"> 
                                            <div slot="reference">                                                                               
                                                <p class="text-truncate mb-0">
                                                    <i :class="{'el-icon-check text-success': dataa.status_details.appereance, 'el-icon-close text-danger': !dataa.status_details.appereance}"></i>
                                                    <el-divider direction="vertical"></el-divider>
                                                    La apariencia de la impresión debe ser homogénea y por ningún motivo esta deberá estar pixelada
                                                </p>                                        
                                            </div>
                                    </el-popover>
                                    <el-divider class="my-2"></el-divider>
                                </li>
                                <li>
                                    <el-popover
                                        placement="top-start"
                                        title="Info"
                                        width="320"
                                        trigger="focus"
                                        content="Se mantiene el olor característico del producto o en su defecto presenta un olor neutro"> 
                                            <div slot="reference">                                                                               
                                                <p class="text-truncate mb-0">
                                                    <i :class="{'el-icon-check text-success': dataa.status_details.smell, 'el-icon-close text-danger': !dataa.status_details.smell}"></i>
                                                    <el-divider direction="vertical"></el-divider>
                                                    Se mantiene el olor característico del producto o en su defecto presenta un olor neutro
                                                </p>                                        
                                            </div>
                                    </el-popover>
                                    <el-divider class="my-2"></el-divider>
                                </li>
                                <li v-if="typeR != 'devolution'">
                                    <el-popover
                                        placement="top-start"
                                        title="Info"
                                        width="320"
                                        trigger="focus"
                                        content="La fecha de vencimiento es superior a 1 año"> 
                                            <div slot="reference">                                                                               
                                                <p class="text-truncate mb-0">
                                                    <i :class="{'el-icon-check text-success': dataa.status_details.expiration_date_one, 'el-icon-close text-danger': !dataa.status_details.expiration_date_one}"></i>
                                                    <el-divider direction="vertical"></el-divider>
                                                    La fecha de vencimiento es superior a 1 año
                                                </p>                                        
                                            </div>
                                    </el-popover>
                                    <el-divider class="my-2"></el-divider>
                                </li>
                                <li v-if="typeR == 'provider'">
                                    <el-popover
                                        placement="top-start"
                                        title="Info"
                                        width="320"
                                        trigger="focus"
                                        content="Producto corresponde al solicitado"> 
                                            <div slot="reference">                                                                               
                                                <p class="text-truncate mb-0">
                                                    <i :class="{'el-icon-check text-success': dataa.status_details.requested_product, 'el-icon-close text-danger': !dataa.status_details.requested_product}"></i>
                                                    <el-divider direction="vertical"></el-divider>
                                                    Producto corresponde al solicitado
                                                </p>                                        
                                            </div>
                                    </el-popover>
                                    <el-divider class="my-2"></el-divider>
                                </li>
                                <li v-if="typeR == 'provider'">
                                    <el-popover
                                        placement="top-start"
                                        title="Info"
                                        width="320"
                                        trigger="focus"
                                        content="Los valores facturados corresponden con los acordados comercialmente con la institución."> 
                                            <div slot="reference">                                                                               
                                                <p class="text-truncate mb-0">
                                                    <i :class="{'el-icon-check text-success': dataa.status_details.billed_value, 'el-icon-close text-danger': !dataa.status_details.billed_value}"></i>
                                                    <el-divider direction="vertical"></el-divider>
                                                    Los valores facturados corresponden con los acordados comercialmente con la institución.
                                                </p>                                        
                                            </div>
                                    </el-popover>
                                    <el-divider class="my-2"></el-divider>
                                </li>
                                <li v-if="typeR == 'provider'">
                                    <el-popover
                                        placement="top-start"
                                        title="Info"
                                        width="320"
                                        trigger="focus"
                                        content="Adjunta certificado de liberación del producto"> 
                                            <div slot="reference">                                                                               
                                                <p class="text-truncate mb-0">
                                                    <i :class="{'el-icon-check text-success': dataa.status_details.product_liberation, 'el-icon-close text-danger': !dataa.status_details.product_liberation}"></i>
                                                    <el-divider direction="vertical"></el-divider>
                                                    Adjunta certificado de liberación del producto
                                                </p>                                        
                                            </div>
                                    </el-popover>
                                    <el-divider class="my-2"></el-divider>
                                </li>
                            <!-- -- -->
                        </ul>                        
                    </el-card>
                </div>                
                <div class="w-100 mb-3 text-right mx-3">
                    <el-button @click="$modal.hide('receptionView')" class="poppins-light" round><i class="el-icon-close"></i> Cerrar</el-button>  
                </div>                
            </div>          
        </modal>
    </div>
</template>

<script>
const {version, name} = require('../../../../package.json')
import { EventBus } from '../../Utilities/Plugins/Bus.js'
export default {
    data(){
        return{          
            today_year: new Date().getFullYear(),
            ip: '',
            wid: "80%",
            name: name,
            typeR: '',
            dataShowReception: {products: []},
            version: version,
            last_access: new Date().getDate()+'-'+(new Date().getMonth()+1)+'-'+new Date().getFullYear(),
            modeEdit: false,
            nameUser: '',
            access: {},
            rolUser: '',
            dni: '',
            notify: 
            {
                charge: true,
                noResult: false,
                content: [],
                unread: 0,
                click: 0
            },
            viewData: null,
            formatData: [],
            dbData: [],
            prods: []
        }
    },
    created()
    {
        this.sessdata()        
    },
    mounted() 
    {                
        $('[data-toggle="tooltip"]').tooltip()
        axios.post('/api/ip').then((res) =>
        {
            this.ip = this.$myCryptor.decode(res.data)
        })        
        // this.ip = '192.168.0.1'        
        setTimeout(() => 
        {
            this.Notifications('LIST')             
        }, 500);
        this.getProd()
        
        // EventBus.$on('viewDispen', data => 
        // {
        //     console.log(data)
        // });

        EventBus.$on('viewReception', (data) => 
        {            
            this.dataShowReception = data.data
            this.typeR = data.type
            if(this.dataShowReception.products.length > 1)
            {
                this.wid = '80%'
            }
            else
            {
                this.wid = '50%'
            }
            this.$modal.show('receptionView'); 
            EventBus.$emit('recharge')
        });

    },
    methods:
    {        
        structureData(type) {
            // console.log(type)
            if(type == 'id') {
                for (let index = 0; index < this.formatData.length; index++) {
                    if(this.formatData[index].id == this.ide) {
                        this.viewData = this.formatData[index]
                    }
                }
            }
            if(type == 'obj') {
                this.viewData = this.objeto
            }
            $('#viewDetailsModal').modal()
        },
        async getProd() {
            let res = await axios.post('/api/sf/product/list')
                let datito = this.$myCryptor.decode(res.data)
                this.prods = datito
                this.getData()
        },
        async getData() {
            let resp = await axios.post('/api/sf/dispensation/list')
                this.dbData = this.$myCryptor.decode(resp.data)
                let dat = this.dbData
                for (let index = 0; index < dat.length; index++) {
                    let type = ''
                    let tmp = new Date(dat[index].dispDate)
                    let date = tmp.getDate()+'-'+(tmp.getMonth() + 1)+'-'+tmp.getFullYear()
                    if(dat[index].dispType == 1)
                        type = 'EPS'
                    else
                        type = 'Enfermería'
                    
                    let drugs = []
                    let pro = dat[index].products
                    for (let ind = 0; ind < pro.length; ind++) {
                        for (let llave = 0; llave < this.prods.length; llave++) {
                            if(this.prods[llave]._id == pro[ind].productId) {
                                let tm = new Date(pro[ind].expirationDate)
                                let fecha = tm.getDate()+'-'+(tm.getMonth() + 1)+'-'+tm.getFullYear()
                                for (let key = 0; key < this.prods[llave].lotes.length; key++) {
                                    if(this.prods[llave].lotes[key]._id == pro[ind].lote) {
                                        let it = {
                                            name: this.prods[llave].name,
                                            consecutive: this.prods[llave].consecutive,
                                            type: this.prods[llave].type,
                                            volume: pro[ind].volume,
                                            quantity: pro[ind].quantity,
                                            expDate: fecha,
                                            lote: this.prods[llave].lotes[key].lote
                                        }
                                        drugs.push(it)
                                    }
                                }
                            }
                        }
                    }
                    
                    let item = {
                        id: dat[index]._id,
                        type: type,
                        receptor: dat[index].receptor.name,
                        date: date,
                        drugs: drugs,
                        visiblePop: false
                    }
                    this.formatData.push(item)
                }
                this.loading = false
        },
        sessdata()
        {
            axios.post('/auth/sessdata', {fields: ['name', 'rol', 'dni', 'lastAccess']}).then(resp => 
            {                     
                let res = this.$myCryptor.decode(resp.data.data);                                             
                this.nameUser = res[0].first+' '+res[0].lfirst
                this.rolUser = res[1].name
                this.access = res[1].access
                this.dni = res[2].dni  
                this.last_access = res[3].split('T')[0] + ' a las ' + res[3].split('T')[1].split(':')[0] + ':' + res[3].split('T')[1].split(':')[1]
            })
        },
        Notifications(val) 
        {
            // if(val != 'COUNT')
            // {
                this.notify.click++;
            // } 
            if(this.notify.click >= 1 && this.notify.click <= 2)
            {                
                this.notify.charge = true
                let rol = this.rolUser
                // let rol = 'Director Tecnico';
                let dni = this.dni
                // console.log('entra')
                axios.post('/api/com/notification/list', {query: {$or:[ {'to.rol':rol}, {'to.destination':dni}]}})
                .then(resp => 
                {                    
                    let res = this.$myCryptor.decode(resp.data.res)     
                    // console.log(res)                 
                    let unr = 0
                    for (const key in res) 
                    {
                        if(res[key].hasOwnProperty('state') && res[key].state == 'UNREAD') 
                        {
                            unr++;
                        }
                    }             
                    // console.log(res.length+'-'+this.notify.click)
                    this.notify.unread = unr;  
                    this.notify.content = res                    
                    if(this.notify.content.length > 0)
                    {
                        this.notify.noResult = false
                    }
                    else
                    {
                        this.notify.noResult = true
                    }         
                    setTimeout(() => 
                    {
                        this.notify.charge = false    
                    }, 500);
                })                    
            }
            if(this.notify.click > 2)
            {
                this.notify.click = 0;
            }
                                               
        },
        read(val, link)
        {            
            console.log(link)
            // console.log(this.notify.content[val]._id)
            axios.put('/api/com/notification/read', {id: this.notify.content[val]._id}).then((resp) =>
            {
                if(resp.data.status == 'success')
                {
                    $('#NotifyList > div > li[unread='+val+']').removeClass('unread')
                    this.notify.unread--;                                      
                } else {
                    alert('Un error inesperado acaba de ocurrir')
                }
            })     
            if(link != 'n/a')
            {
                setTimeout(() => 
                {
                    this.$router.push('/vc/sf/'+link);    
                    this.Notifications('LIST')
                }, 500);
            }                               
        },
        help()
        {
            this.$swal.fire(
            {
                title: 'Info',
                html: "<p class='poppins mb-0 text-justify'>Para cualquier duda o inconveniente puede enviar un correo a <strong><a class='' href='mailto:soporte.ionico@gmail.com'>soporte.ionico@gmail.com</a></strong></p>",
                type: 'info',
                showCancelButton: true,
                cancelButtonText: 'Cerrar',
                confirmButtonColor: '#3085d6',                    
                confirmButtonText: 'Ver Manual'
            }).then((result) => 
            {
                if(result.value)
                {
                    window.open
                    (
                        'src/Manualdeusuario.pdf',
                        '_blank'
                    ); 
                }               
            })
        }
    }
}
</script>


