<template>
    <div class="container px-0">
        <div id="parallax" role="banner">
            <main>
                <ul id="scene">
                    <!-- <li class="layer" data-depth="0.1">
                        <div class="layer1"></div>
                    </li> -->
                    <li class="layer" data-depth="0.2">
                        <div class="layer2"></div>
                    </li>
                    <!-- <li class="layer" data-depth="0.3">
                        <div class="layer3"></div>
                    </li>
                    <li class="layer" data-depth="0.4">
                        <div class="layer4"></div>
                    </li> -->
                </ul>
            </main>
        </div>
    </div>
</template>
<script>
export default {
    data(){
        return{

        }
    }, 
    created()
    {
        this.parallax()
    },
    methods:
    {
        parallax()
        {
            $(document).ready(function() {
                var scene = document.getElementById('scene');
                var parallax = new Parallax(scene);
            });           
        },
    }
}
</script>

