<template>
  <div class="container pt-2" style="margin-top:7em;">
    <div class="card">
        <div class="card-body">
            <div class="row mb-3">
                <div class="col-1">
                    <img src="/images/crcbyca.png" alt="" class="img-fluid" width="80px" height="80px" style="margin-bottom:10px;"> 
                </div>
                <div class="col-11 pb-2 mb-2 ml-0 pl-0" style="padding-top:2.4em;">
                     
                    <p class="poppins-bold">CENTRO DE CANCEROLOGÍA DE BOYACÁ</p> 
                </div>
                <div class="col-12 row mb-2 ">
                    <span class="col-5"></span>
                    <span class="border border-secondary bg-light text-secondary text-center col-1 poppins p-1">CIE10</span><span class="border border-secondary text-center col-2 poppins border-left-0 border-right-0 p-1">{{datapatient.cie10}}</span>
                    <span class="border border-secondary bg-light text-secondary text-center col-2 poppins p-1">N° Autorización</span><span class="border border-secondary text-center col-2 poppins border-left-0 p-1">{{datapatient.num_auth}}</span>
                </div>
                <div class="col-12 ml-3">
                    <p class="text-secondary poppins" style="font-size:17px">Información del paciente</p>
                </div>
                 <div class="col-6 row ml-3">
                    <span class="border border-secondary bg-light text-secondary col-3 poppins p-1 border-right-0 border-bottom-0">Tipo ID</span><span class="border border-secondary col-9 poppins p-1 border-bottom-0 border-right-0">{{datapatient.type_dni}}</span>
                </div>
                <div class="col-6 row">
                    <span class="border border-secondary bg-light text-secondary col-3 poppins p-1 border-bottom-0 border-right-0">N° ID</span><span class="border border-secondary col-9 poppins p-1 border-bottom-0">{{datapatient.dni}}</span>
                </div>
                <div class="col-6 row ml-3">
                    <span class="border border-secondary bg-light text-secondary col-3 poppins p-1 border-right-0 border-bottom-0">Nombres</span><span class="border border-secondary col-9 poppins p-1 border-bottom-0 border-right-0">{{datapatient.names}}</span>
                </div>
                <div class="col-6 row">
                    <span class="border border-secondary bg-light text-secondary col-3 poppins p-1 border-bottom-0 border-right-0">Apellidos</span><span class="border border-secondary col-9 poppins p-1 border-bottom-0">{{datapatient.lastnames}}</span>
                </div>
                <div class="col-3 row ml-3">
                    <span class="border border-secondary bg-light text-secondary col-9 poppins p-1 border-right-0">Género</span><span class="border border-secondary col-3 poppins p-1 border-right-0">{{datapatient.gender}}</span>
                </div>
                <div class="col-3 row pr-0 mr-0">
                    <span class="border border-secondary bg-light text-secondary col-9 poppins p-1 border-right-0">RH</span><span class="border border-secondary col-3 poppins p-1 border-right-0">{{datapatient.rh}}</span>
                </div>
                <div class="col-6 row pr-0 mr-0">
                    <span class="border border-secondary bg-light text-secondary col-4 poppins border-right-0">EPS</span><span class="border border-secondary col-8 poppins">{{datapatient.eps}}</span>
                </div>
                <div class="col-6 row ml-3">
                    <span class="border border-secondary bg-light text-secondary col-3 p-1 poppins border-top-0 border-right-0">Municipio</span><span class="border border-secondary col-9 p-1 poppins border-top-0 border-right-0">{{datapatient.town}}</span>
                </div>
                <div class="col-6 row">
                    <span class="border border-secondary bg-light text-secondary col-3 p-1 poppins border-top-0 border-right-0">Dirección</span><span class="border border-secondary col-9 p-1 poppins border-top-0">{{datapatient.address}}</span>
                </div>
            </div>
            <div class="mt-4 pt-3 col-12 table-responsive-lg">
                    <!-- <div class="card-header pb-0 mb-0 border border-secondary"> -->
                        <p class="text-center font-weight-bold poppins">CITAS</p>
                    <!-- </div> -->
                    <!-- <div class="card-body border border-secondary"> -->
                        <table class=" mt-3 table table-bordered table-sm poppins border border-secondary">
                            <!-- <caption class="text-center text-secondary">CITAS</caption> -->
                                <thead class="text-center bg-light">
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Hora</th>
                                        <th>Módulo</th>
                                        <th>Observación</th>
                                    </tr>
                                </thead>

                                <tbody class="text-center p-0">
                                    <tr v-for="(item, index) in datapatient.meetings" :key="index">
                                         <td>{{item.date}}</td>
                                         <td>{{item.hour}}</td>
                                         <td>{{item.module}}</td>
                                         <td>{{item.note}}</td>
                                    </tr>
                                </tbody>
                        </table>
                    <!-- </div> -->
                </div>
        </div>
    </div>  
  </div>  
</template>
<script>
export default {
    data(){
        return{
            dynamicTable: 
            {               
               eps: []                               
            },
            patients: null,
            datapatient: {
                cie10: '',
                num_auth: '',
                dni: '',
                type_dni: '',
                names: '',
                lastnames:'',
                gender: '',
                rh: '',
                eps: '',
                town: '',
                address: '',
                meetings: [{
                    hour: '',
                    date: '',
                    module: '',
                    note: ''
                }]

            }
        }
    },
    created() {
        this.dynamic();
    },
    methods: {
        GetData() {
            axios.post('/api/sf/schedule/getTempProg').then(resp => {
                if(resp.data.status) {
                    for (const key in this.patients) {
                        if(this.patients[key]._id == resp.data.data.patient.toString()) {
                            this.datapatient.dni = this.patients[key].dni.num
                            this.datapatient.type_dni = this.patients[key].dni.tipo
                            this.datapatient.names = this.patients[key].basic_info.name.fname + ' ' + this.patients[key].basic_info.name.sname
                            this.datapatient.lastnames = this.patients[key].basic_info.lastname.flname + ' ' + this.patients[key].basic_info.lastname.slname
                            this.datapatient.gender = this.patients[key].basic_info.gender
                            this.datapatient.rh = this.patients[key].basic_info.rh
                            this.datapatient.town = this.patients[key].basic_info.location.town
                            this.datapatient.address = this.patients[key].basic_info.location.address

                            for (const llave in this.dynamicTable.eps) {
                               if(this.dynamicTable.eps[llave]._id == this.patients[key].basic_info.eps) {
                                   this.datapatient.eps = this.dynamicTable.eps[llave].name.first
                                   break;
                               }
                            }
                            break;
                        }
                    }
                    this.datapatient.cie10 = resp.data.data.cie10Code
                    this.datapatient.num_auth = resp.data.data.autorization
                    this.datapatient.meetings = resp.data.data.meetings
                    for (const key in this.datapatient.meetings) {
                        this.datapatient.meetings[key].date = this.datapatient.meetings[key].date.split('T')[0]
                    }
                    setTimeout(() => {
                        window.print()
                    }, 500);
                }
                else {
                    location.reload()
                }
            })
        },
        getPatients() {
            axios.post('/api/sf/patient/list').then(resp => {
                this.patients = this.$myCryptor.decode(resp.data)
                setTimeout(() => {
                    this.GetData()
                }, 600);
            })
        },
        dynamic()
        {
            axios.post('/api/sf/dynamictable/list').then((resp) => 
            {
                let response = this.$myCryptor.decode(resp.data.res)
                for(let dyn in response)
                {
                    if(response[dyn].contactType.includes("EPS"))
                    {
                        this.dynamicTable.eps.push(response[dyn])
                    }                    
                }
                this.getPatients()
            })
        }
    }
}
</script>
