<template>
    <div class="container my-0 p-0">
        <div class="container mt-0 mb-4 update-container px-0" v-if="upShow">
            <h4 class="text-center poppins text-dark-blue font-weight-bold text-uppercase">Modificar Producto</h4> 
            <hr class="bg-dark-blue">
            <form class="form-row mx-0" autocomplete="off" name="addPatient" @submit.prevent="upProductDB()">
                <div class="col-lg-12 mb-2 col-md-6 col-sm-12">
                    <div class="input-group mt-2">                    
                        <div class="input-group-prepend">
                            <span class="input-group-text" :class="{'border-danger bg-danger text-white': response.uniqueCode.status, 'border-success bg-success text-white': response.uniqueCode.status == false}">Código</span>
                        </div>
                        <input type="text" @change="uniqueCode" placeholder="Ingrese Código" v-model="productData.code_cum" :class="{'is-invalid border-danger': response.uniqueCode.status, 'is-valid': response.uniqueCode.status == false}" class="form-control">
                        <div class="poppins" :class="{'invalid-feedback': response.uniqueCode.status, 'valid-feedback': !response.uniqueCode.status}">
                            {{ response.uniqueCode.text }}
                        </div>
                    </div>
                </div>
                <div class="col-12 mb-2 col-lg-12 col-md-12 px-1">
                    <label class="mb-0 font-weight-bold poppins">Nombre</label>
                    <input type="text" name="patient_fname" v-model="productData.name" class="form-control" placeholder="Ingrese Nombre">
                </div>                
                <div class="col-12 mb-2 col-lg-4 col-md-12 px-1">
                    <label class="mb-0 font-weight-bold poppins">Invima</label>
                    <input type="text" name="patient_fname" v-model="productData.invima" class="form-control" placeholder="Ingrese reg. Invima">
                </div>
                <div class="col-12 mb-2 col-lg-4 col-md-6 px-1">
                    <label class="mb-0 font-weight-bold poppins">Stock Min.</label>
                    <input type="number" name="patient_fname" v-model="productData.minStock" class="form-control">
                </div>
                <div class="col-12 mb-2 col-lg-4 col-md-6 px-1">
                    <label class="mb-0 font-weight-bold poppins">Punto Reorden</label>
                    <input type="number" name="patient_fname" v-model="productData.point_order" class="form-control">
                </div>             
                <div class="col-12">
                    <hr class="my-2">
                </div>                  
                <div class="col-lg-4 mb-2 col-md-6 col-sm-12">
                    <div class="input-group">
                        <el-select v-model="productData.type" class="w-100" filterable placeholder="Tipo">
                            <el-option
                                v-for="(item, index) in selectData.type"
                                :key="index"
                                :label="item"
                                :value="item">
                            </el-option>
                        </el-select>
                    </div>
                </div>
                <div class="col-lg-4 mb-2 col-md-6 col-sm-12">
                    <div class="input-group">
                        <el-select v-model="productData.farmaceutic_form" class="w-100" filterable placeholder="Forma">
                            <el-option
                                v-for="(item, index) in selectData.form"
                                :key="index"
                                :label="item"
                                :value="item">
                            </el-option>
                        </el-select>
                    </div>
                </div>
                <div class="col-lg-4 mb-2 col-md-6 col-sm-12">
                    <div class="input-group">
                        <el-select v-model="productData.presentation" class="w-100" filterable placeholder="Presentación">
                            <el-option
                                v-for="(item, index) in selectData.presentation"
                                :key="index"
                                :label="item"
                                :value="item">
                            </el-option>
                        </el-select>
                    </div>
                </div>
                <div class="col-12">
                    <hr class="my-2">
                </div>  
                <div class="col-lg-4 mb-2 col-md-6 col-sm-12">
                    <div class="input-group">
                        <el-select v-model="productData.category" class="w-100" filterable placeholder="Categoria">
                            <el-option
                                v-for="(item, index) in selectData.category"
                                :key="index"
                                :label="item"
                                :value="item">
                            </el-option>
                        </el-select>
                    </div>
                </div>
                <div class="col-lg-4 mb-2 col-md-6 col-sm-12">
                    <div class="input-group">
                        <el-select v-model="productData.lab" class="w-100" filterable placeholder="Laboratorio">
                            <el-option
                                v-for="(item, index) in dynamicTable.lab"
                                :key="index"
                                :label="item.name.first"
                                :value="item._id">
                            </el-option>
                        </el-select>
                    </div>
                </div>
                <div class="col-lg-4 mb-2 col-md-6 col-sm-12">
                    <!-- <label class="mb-0 font-weight-bold poppins">Eps</label> -->
                    <el-select v-model="productData.provider" class="w-100" filterable placeholder="Proveedor">
                        <el-option
                            v-for="(item, index) in dynamicTable.provider"
                            :key="index"
                            :label="item.name.first"
                            :value="item._id">
                        </el-option>
                    </el-select>
                </div>
                <div class="col-lg-4 mb-2 col-md-6 col-sm-12">
                    <div class="input-group">
                        <el-select v-model="productData.measure" filterable class="col-lg-12 pl-0 mx-0 px-0" placeholder="Unidad de medida" name="unidad">    
                            <el-option-group v-for="(group, gpindexe) in measures" :key="gpindexe">
                                <p style="color: #8492a6; font-size: 13px" class="text-uppercase poppins font-weight-bold ml-2 pl-2 pb-0 mb-0 col-lg-12">{{ group.measure }}</p>
                            <el-option v-for="(umd,index) in group.measurement" :key="index" :label="umd.name" :value="gpindexe+'/'+index">
                                <span class="float-left">{{ umd.name }}</span>
                                <span style="color: #8492a6; font-size: 13px" class="text-uppercase float-right poppins">{{ umd.abbreviature }}</span>
                            </el-option>
                            </el-option-group>
                         </el-select>
                    </div>
                </div>
                <div class="col-lg-4 mb-3 col-md-12 col-sm-12">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Concentración</span>
                        </div>
                        <input type="text" name="concen" v-model="productData.concentration" class="form-control" >
                    </div>
                </div>
                <div class="col-12 text-center mt-2">
                    <button type="button" class="btn btn-danger" @click="upShow = !upShow">Cancelar <i class="fa fa-times"></i></button>                    
                    <button type="button" v-bind:disabled="response.charginButton" @click="upProductDB()" class="btn btn-primary poppins"><i class="fa" v-bind:class="{'fa-save': !response.charginButton, 'fa-spinner fa-pulse': response.charginButton}"></i> Guardar</button>                                          
                </div>
            </form>
        </div>  


        <h4 class="text-center poppins text-dark-blue font-weight-bold text-uppercase">Productos</h4> 
        <hr class="bg-dark-blue">
        <!-- <div class="mb-2">
            <router-link to="/vc/sf/product"><button class="btn btn-outline-success poppins-light mr-1 mb-1"><i class="el-icon-plus"></i> Agregar</button></router-link>
        </div> -->
        <el-input placeholder="" class="mb-2 poppins input-s" v-model="filters[0].value">
            <template slot="prepend">¿Que buscas?</template>
        </el-input>
        <data-tables v-loading.body="loading" :table-props="tableProps" :data="tableData" :filters="filters" class="">
            <el-table-column type="expand" label="Lotes" width="65">
            <template slot-scope="scope">
                <ul v-if="scope.row.lotes.length > 0" class="mx-4 mb-1" style="list-style: none">
                    <li v-for="(doc, index) in scope.row.lotes" :key="index"
                    class="ml-3">
                        <div 
                        style="padding: 1.25rem;
                        margin-top: 1.25rem;
                        margin-bottom: 1.25rem;
                        border: 1px solid #eee;
                        border-left-width: .50rem;
                        border-radius: .25rem;"
                        :style="doc.status != null ? 'border-left-color:'+doc.status : ''">
                            <span style="font-size: small" class="mx-2"><span style="font-weight: bold;">Lote:</span> {{ doc.lote }} </span>
                            <span style="font-size: small" class="mx-2"><span style="font-weight: bold;"> Fecha Vencimiento:</span> {{ doc.expiration_date }} </span>
                            <span style="font-size: small" class="mx-2"><span style="font-weight: bold;"> Stock:</span> {{ doc.stock }}</span>
                            <span style="font-size: small" class="mx-2"><span style="font-weight: bold;"> Inventario:</span> {{ doc.inv }}</span>
                            <span class="float-right">
                                <i :class="doc.icon != null ? doc.icon+' fa-2x' : ''" :style="doc.status != null ? 'color:'+doc.status : ''" aria-hidden="true"></i>
                            </span>
                        </div>
                    </li>
                </ul>
                <div v-else class="mx-4 mb-1"
                style="padding: 1.25rem;
                margin-top: 1.25rem;
                margin-bottom: 1.25rem;
                border: 1px solid #eee;
                border-left-width: .50rem;
                border-left-color: #17a2b8;
                border-radius: .25rem;">
                    <span style="font-size: small" class="mx-2"><span style="font-weight: bold;">No hay lotes registrados a este producto</span></span>
                </div>
            </template>
            </el-table-column>
            <el-table-column prop="consecutive" label="Consecutivo" sortable="custom" header-align="center" align="center">
            </el-table-column>
            <el-table-column prop="name" label="Nombre" sortable="custom" header-align="center" align="center">
            </el-table-column>
            <el-table-column prop="stock" label="Stock" sortable="custom" header-align="center" align="center">
            </el-table-column>            
            <el-table-column prop="invima" label="R. Invima" sortable="custom" header-align="center" align="center">
            </el-table-column>
            <el-table-column prop="concentration" label="Concentración" sortable="custom" header-align="center" align="center">
            </el-table-column>
            <!-- <el-table-column prop="measureShow" label="Medida" header-align="center" align="center">
            </el-table-column> -->
            <el-table-column header-align="center" align="center" label="INFO">
                <template slot-scope="scope">
                    <el-popover trigger="click" placement="top">
                    <p class="poppins mb-0"><strong>Tipo: </strong> <span class="poppins-light">{{ scope.row.type }}</span></p>
                    <hr class="my-2">
                    <p class="poppins mb-0"><strong>Form. Farmaceutica: </strong> <span class="poppins-light">{{ scope.row.farmaceutic_form }}</span></p>
                    <hr class="my-2">
                    <p class="poppins mb-0"><strong>Min. Stock: </strong> <span class="poppins-light">{{ scope.row.minStock }}</span></p>
                    <hr class="my-2">
                    <p class="poppins mb-0"><strong>Presentación: </strong> <span class="poppins-light">{{ scope.row.presentation }}</span></p>
                    <hr class="my-2">
                    <p class="poppins mb-0"><strong>Medida: </strong> <span class="poppins-light">{{ scope.row.measureShow }}</span></p>
                    <hr class="my-2">
                    <p class="poppins mb-0"><strong>Laboratorio: </strong> <span class="poppins-light">{{ scope.row.labShow }}</span></p>
                    <hr class="my-2">
                    <p class="poppins mb-0"><strong>Proveedor: </strong> <span class="poppins-light">{{ scope.row.providerShow }}</span></p>
                    <hr class="my-2">
                    <p class="poppins mb-0"><strong>Punto Orden: </strong> <span class="poppins-light">{{ scope.row.point_order }}</span></p>
                    <hr class="my-2">
                    <p class="poppins mb-0"><strong>Categoria: </strong> <span class="poppins-light">{{ scope.row.category }}</span></p>
                    <el-button icon="el-icon-info" slot="reference" circle></el-button>
                    </el-popover>
                </template>
            </el-table-column>

            <el-table-column fixed="right" align="center" width="120" label="Acciones" v-if="permiss.update == true || permiss.delete == true">
                <template slot-scope="scope">
                    <el-button-group>   
                        <el-tooltip content="Editar" placement="top" v-if="permiss.update == true">                     
                            <el-button type="primary" @click="upProduct(scope.$index)" onclick="$(document).scrollTop(0)" size="mini" icon="el-icon-edit"></el-button>
                        </el-tooltip>
                        <el-popover
                            placement="top-start"   
                            trigger="manual"                       
                            v-model="scope.row.visiblepop" v-if="permiss.delete == true">
                            <p class="mb-0">Estas seguro de eliminar este producto?</p>
                            <hr class="my-2">
                            <div class="d-flex justify-content-end align-items-center">
                                <el-button size="mini" type="text" @click="scope.row.visiblepop = false">Cancelar</el-button>
                                <el-button type="danger" size="mini" @click.prevent="delProduct(scope.row.id, scope.$index)">Eliminar</el-button>
                            </div>
                            <el-button type="danger" @click="scope.row.visiblepop = true" slot="reference" size="mini" icon="el-icon-delete"></el-button>
                        </el-popover>
                    </el-button-group>
                    <!-- <el-row>
                        <el-button type="primary" icon="el-icon-edit" circle></el-button>
                        <el-button type="success" icon="el-icon-check" circle></el-button>
                        <el-button type="danger" icon="el-icon-delete" circle></el-button>
                    </el-row> -->
                </template>
            </el-table-column>
        </data-tables>        
    </div>
</template>
<script>
export default {
    data() {
        return {
            tableData: [],
            prov: '',
            filters: 
            [
                {
                    prop: ['consecutive', 'name', 'invima', 'inv'],
                    value: ''
                }
            ],
            tableProps: 
            {
                border: false,
                stripe: true,
                defaultSort: {                
                order: 'descending'
                }
            },
            measures: [],
            dynamicTable: 
            {
               lab: [],
               provider: []           
            },
            selectData: {
                type: ['Medicamento', 'Dispositivo medico', 'Insumo'],
                category: ['Peligroso', 'Similar', 'Peligroso y similar'],
                presentation: ['VIAL', 'JERINGA PRELLENA', 'TABLETA', 'CAPSULA', 'AMPOLLA'],
                form: ['Solución inyectable', 'Polvo para reconstituir', 'Tableta', 'Capsula', ' Solución para inhalación', 'Solución de uso topico', 'Crema de uso topico', 'Crema intra vaginal', 'Supositorio']
            },
            productData: {
                id: '',
                type: '',
                name: '',
                lab: '',
                labShow: '',
                providerShow: '',
                farmaceutic_form: '',
                invima: '',
                min_stock: 0,
                code_cum: '',
                point_order: '',
                presentation: '',
                concentration: '',
                provider: '', 
                measure: '',
                category: ''
            },
            loading: true,
            response:
            {
                charginButton: false,  
                uniqueCode: 
                {
                    text: '',
                    status: null
                },              
            },
            upShow: false,
            permiss:{
                update: true,
                delete: true
            },
            codd: ''
        }
    },
    mounted() {
        this.dynamic()
        this.sessdata()
        this.getMeasures()        
    },
    methods: {
        upProduct(id) 
        {
            // let product = {};
            this.productData = this.tableData[id]
            this.codd = this.productData.code_cum
            
            // let data = this.productData;
            // data.id = product.id
            // data.name = product.name
            // data.invima = product.invima
            // data.farmaceutic_form = product.farm
            // data.min_stock = product.minStock
            // data.presentation = product.presentation
            // data.category = product.category
            // data.type = product.type
            // data.point_order = product.point_order
            // data.lab = product.lab
            // data.provider = product.provider

            this.upShow = true
        },
        uniqueCode()
        {
            if(this.codd != this.productData.code_cum)
            {
                axios.post('/api/sf/product/unique-code', {code: this.productData.code_cum}).then((res) =>
                {
                    if(res.data == 'pass')
                    {
                        this.response.uniqueCode.status = false
                        this.response.uniqueCode.text = 'Aprobado'
                        return false;
                    }
                    else
                    {
                        this.response.uniqueCode.status = true
                        this.response.uniqueCode.text = 'Este CODIGO ya se encuentra registrado'
                        return true;
                    }
                })
            } else {
                this.response.uniqueCode.status = null
                this.response.uniqueCode.text = ''
            }
        },
        upProductDB()
        {
            this.response.charginButton = true

            if(this.productData.lab != '' && this.productData.provider != '' && this.productData.measure != '') {
                let meas = this.productData.measure.split('/')
                let resulti=this.measures[meas[0]]._id+'/'+this.measures[meas[0]].measurement[meas[1]].id;
                
                this.productData.measure = resulti

                axios.put('/api/sf/product/up', {id: this.productData.id, data: this.productData})
                .then((resp) =>
                {
                    if(resp.data.status == 'success')
                    {
                        this.response.uniqueCode.status = null
                        this.response.uniqueCode.text = ''
                        this.$chidoriAlert.show('Guardado !!', 'El producto se modificó correctamente', 'success', 4000)
                    }
                    else
                    {
                        this.$chidoriAlert.show('Error', 'Error inesperado, intente Nuevamente', 'error', 4000)
                    }
                    this.response.charginButton = false
                    this.upShow = false
                    this.getMeasures()
                })
            } else {
                this.$chidoriAlert.show('Error', 'Por favor ingrese la información correctamente', 'error', 4000)
                this.response.charginButton = false
            }
        },
        delProduct(id) {
            this.loading = true
            axios.post('/api/sf/product/del', {id: id.toString()}).then(resp => {
                // console.log(resp.data)
                this.getMeasures()
            })
        },
        getProducts() {
            this.tableData = []
            axios.post('/api/sf/product/list').then(resp => {
                let res = this.$myCryptor.decode(resp.data)

                let bones = {
                    id: '',
                    consecutive: '',
                    name: '',
                    stock: 0,
                    providerShow: '',
                    labShow: '',
                    minStock: 0,
                    invima: '',
                    measure: '',
                    measureShow:'',
                    concentration: '',
                    type: '',
                    code_cum: '',
                    lotes: [],
                    category: '',
                    presentation: '',
                    farmaceutic_form: '',
                    lab: '',
                    provider: '',
                    point_order: '',
                    visiblepop: false
                }
                for (const key in res) {
                    bones.id = res[key]._id
                    bones.consecutive = res[key].consecutive
                    bones.name = res[key].name
                    bones.minStock = res[key].min_stock
                    bones.code_cum = res[key].code_cum
                    bones.type = res[key].type
                    bones.category = res[key].category
                    bones.presentation = res[key].presentation
                    bones.farmaceutic_form = res[key].farmaceutic_form
                    bones.lab = res[key].lab
                    bones.concentration = res[key].concentration
                    bones.provider = res[key].provider
                    bones.point_order = res[key].point_order

                    for (const keyy in this.dynamicTable.provider) {
                        if(this.dynamicTable.provider[keyy]._id = res[key].provider) {
                            bones.providerShow = this.dynamicTable.provider[keyy].name.first
                        }
                    }

                    for (const keyy in this.dynamicTable.lab) {
                        if(this.dynamicTable.lab[keyy]._id = res[key].lab) {
                            bones.labShow = this.dynamicTable.lab[keyy].name.first
                        }
                    }

                    let lotes = res[key].lotes
                    bones.lotes = lotes
                    let sum = 0
                    for (const index in lotes) {
                       sum += lotes[index].stock
                       let fv = lotes[index].expiration_date
                       let f = new Date(fv).getTime()
                       let ac = new Date().getTime()
                       let comp = Math.floor((f - ac)/(1000*60*60*24*30))
                       if(comp > 12) {
                           bones.lotes[index].status = '#10ab16'
                           bones.lotes[index].icon = 'fa fa-thumbs-up'
                       }
                       else {
                            if(comp < 2) {
                                bones.lotes[index].status = '#000000'
                                bones.lotes[index].icon = 'fa fa-hourglass-end'
                                
                            }
                            else {
                                if(comp < 6) {
                                    bones.lotes[index].status = '#ff1100'
                                    bones.lotes[index].icon = 'fa fa-hourglass-half'
                                }
                                else {
                                    if(comp < 12) {
                                        bones.lotes[index].status = '#ffe714'
                                        bones.lotes[index].icon = 'fa fa-hourglass-start'
                                    }
                                }
                            }
                       }
                    }
                    bones.stock = sum
                    sum = 0
                    bones.invima = res[key].invima
                    let meas = res[key].measure.split('/')
                    for (const llave in this.measures) {
                        if(this.measures[llave]._id == meas[0]) {
                            let espemed = this.measures[llave].measurement
                            for (const inkey in espemed) {
                                if(espemed[inkey].id == meas[1]) {
                                    bones.measureShow = espemed[inkey].name
                                    bones.measure = llave+'/'+inkey
                                }
                            }
                        }
                    }


                    this.tableData.push(bones)

                    bones = {
                        id: '',
                        consecutive: '',
                        name: '',
                        stock: 0,
                        minStock: 0,
                        invima: '',
                        concentration: '',
                        code_cum: '',
                        measure: '',
                        type: '',
                        category: '',
                        presentation: '',
                        farm: ''
                    }
                }

                this.loading = false
            })
        },
        sessdata()
        {
            axios.post('/auth/sessdata', {fields: ['name','rol','company']}).then(resp => {                                          
                let res = this.$myCryptor.decode(resp.data.data);                                
                this.nameUser = res[0].first+' '+res[0].last
                this.rolUser = res[1].name
                this.nitClient = res[2].nit
                for (const key in res[1].access.items) {
                    if(res[1].access.items[key].id == 2)
                        for (const llave in res[1].access.items[key].subitems) {
                            if(res[1].access.items[key].subitems[llave].id == 2) {
                                if(res[1].access.items[key].subitems[llave].actions.includes("U"))
                                    this.permiss.update = true;
                                else
                                    this.permiss.update = false
                                if(res[1].access.items[key].subitems[llave].actions.includes("D"))
                                    this.permiss.delete = true
                                else
                                    this.permiss.delete = false
                            }
                        }
                }
            })
        },
        getMeasures() {
            this.measures = []
            axios.post('/api/sc/measures/list',{nit:this.company}).then(resp => {
                this.measures = this.$myCryptor.decode(resp.data)
                this.getProducts()
            }).catch(err => {console.error(err)})
        },
        dynamic()
        {
            axios.post('/api/sf/dynamictable/list').then((resp) => 
            {
                let response = this.$myCryptor.decode(resp.data.res)
                for(let dyn in response)
                {
                    if(response[dyn].contactType.includes("Lab"))
                    {
                        this.dynamicTable.lab.push(response[dyn])
                    }
                    if(response[dyn].contactType.includes("Provider"))
                    {
                        this.dynamicTable.provider.push(response[dyn])
                    }                  
                }
            })
        }
    }
}
</script>
