<template>
    <div class="container my-0 p-0">
        <h4 class="text-center poppins text-dark-blue font-weight-bold text-uppercase">Crear Producto</h4> 
        <hr class="bg-dark-blue">
        <form class="form-row mx-0" autocomplete="off">
            <div class="col-lg-12 mb-2 col-md-12 col-sm-12">
                <div class="input-group mt-2">                    
                    <div class="input-group-prepend">
                        <span class="input-group-text" :class="{'border-danger bg-danger text-white': response.uniqueCode.status, 'border-success bg-success text-white': response.uniqueCode.status == false}">Código</span>
                    </div>
                    <input type="text" @change="uniqueCode" placeholder="Ingrese Código" v-model="product_data.code_cum" :class="{'is-invalid border-danger': response.uniqueCode.status, 'is-valid': response.uniqueCode.status == false}" class="form-control">
                    <div class="poppins" :class="{'invalid-feedback': response.uniqueCode.status, 'valid-feedback': !response.uniqueCode.status}">
                        {{ response.uniqueCode.text }}
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-3 col-md-12 col-sm-12">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Nombre</span>
                    </div>
                    <input type="text" name="name" v-model="product_data.name" class="form-control" >
                </div>
            </div>
            <div class="col-lg-4 mb-3 col-md-6 col-sm-12">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">R. Invima</span>
                    </div>
                    <input type="text" name="invima" v-model="product_data.invima" class="form-control" >
                </div>
            </div> 
            <div class="col-lg-4 mb-3 col-md-6 col-sm-12">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Stock Min.</span>
                    </div>
                    <input type="number" min="1" v-model="product_data.min_stock" name="minStock" class="form-control" >
                </div>
            </div>            
            <div class="col-12 px-4 mx-0 my-0"><hr class="mt-0 mb-3"></div>
            <div class="col-lg-4 mb-2 col-md-12 col-sm-12">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Tipo</span>
                    </div>
                    <select name="ty" v-model="product_data.type" class="form-control">
                        <option value="" disabled>Escoja una opción</option>
                        <option value="MEDICAMENTO">Medicamento</option>
                        <option value="DISPOSITIVO MEDICO">Dispositivo médico</option>
                        <option value="INSUMO">Insumo</option>
                    </select> 
                </div>
            </div>             
            <div class="col-lg-4 mb-2 col-md-6 col-sm-12">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Forma</span>
                    </div>
                    <select name="form" v-model="product_data.farmaceutic_form" class="form-control">
                        <option value="" disabled>Escoja una opción</option>
                        <option value="SOLUCION INYECTABLE">Solución inyectable</option>
                        <option value="POLVO PARA RECONSTITUIR">Polvo para reconstituir</option>
                        <option value="TABLETA">Tableta</option>
                        <option value="CAPSULA">Cápsula</option>
                        <option value="SOLUCION PARA INHALACION">Solución para inhalación</option>
                        <option value="SOLUCION DE USO TOPICO">Solución de uso tópico</option>
                        <option value="CREMA DE USO TOPICO">Crema de uso tópico</option>
                        <option value="CREMA INTRA VAGINAL">Crema intra vaginal</option>
                        <option value="SUPOSITORIO">Supositorio</option>       
                    </select> 
                </div>
            </div>     
            <div class="col-lg-4 mb-2 col-md-6 col-sm-12">
                <div class="input-group">                    
                    <el-select v-model="product_data.provider" class="w-100" filterable placeholder="Proveedor">
                        <el-option
                            v-for="(item, index) in dynamicTable.provider"
                            :key="index"
                            :label="item.name.first"
                            :value="item._id">
                        </el-option>
                    </el-select>
                </div>
            </div>        
            <div class="col-12 px-4 mx-0 my-0"><hr class="mt-0 mb-2"></div>
            <div class="col-lg-4 mb-2 col-md-12 col-sm-12">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Punto Orden</span>
                    </div>
                    <input type="number" v-model="product_data.point_order" min="1" name="point" class="form-control" >
                </div>
            </div>    
            <div class="col-lg-4 mb-2 col-md-6 col-sm-12">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Presentación</span>
                    </div>
                    <select name="present" v-model="product_data.presentation" class="form-control">
                        <option value="" disabled>Escoja una opción</option>
                        <option value="VIAL">VIAL</option>
                        <option value="JERINGA PRELLENA">JERINGA PRELLENA</option>
                        <option value="TABLETA">TABLETA</option>
                        <option value="CAPSULA">CÁPSULA</option>
                        <option value="AMPOLLA">AMPOLLA</option>
                        <option value="CAJA X 6 AMPOLLAS">CAJA X 6 AMPOLLAS</option>
                        <option value="CAJA X 1 VIAL">CAJA X 1 VIAL</option>
                        <option value="CAJA X 10 TABLETAS">CAJA X 10 TABLETAS</option>                    
                    </select> 
                </div>
            </div>
            <div class="col-lg-4 mb-2 col-md-6 col-sm-12">
                <div class="input-group">                   
                    <el-select v-model="product_data.measure" filterable class="col-lg-12 pl-0 mx-0 px-0" placeholder="Unidad de medida" name="unidad">    
                            <el-option-group v-for="(group, gpindexe) in select_unit" :key="gpindexe">
                                <p style="color: #8492a6; font-size: 13px" class="text-uppercase poppins font-weight-bold ml-2 pl-2 pb-0 mb-0 col-lg-12">{{ group.measure }}</p>
                            <el-option v-for="(umd,index) in group.measurement" :key="index" :label="umd.name" :value="gpindexe+'/'+index">
                                <span class="float-left">{{ umd.name }}</span>
                                <span style="color: #8492a6; font-size: 13px" class="text-uppercase float-right poppins">{{ umd.abbreviature }}</span>
                            </el-option>
                            </el-option-group>
                    </el-select>
                    <!-- <select name="mes" class="form-control">
                        <option value="" disabled>Escoja una opción</option>
                        <option value="mg">mg</option>
                        <option value="Kg">Kg</option>
                        <option value="mcg">mcg</option>
                        <option value="ml">ml</option>
                        <option value="Lt">Lt</option>
                        <option value="ppm">ppm</option>
                        <option value="%">%</option>
                        <option value="mEq">mEq</option>                    
                    </select>  -->
                </div>
            </div>             
            <div class="col-12 px-4 mx-0 my-0"><hr class="mt-0 mb-2"></div>
            <div class="col-lg-4 mb-3 col-md-12 col-sm-12">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Concentración</span>
                    </div>
                    <input type="text" name="concen" v-model="product_data.concentration" class="form-control" >
                </div>
            </div>
            <div class="col-lg-4 mb-2 col-md-6 col-sm-12">
                <div class="input-group">
                    <el-select v-model="product_data.lab" class="w-100" filterable placeholder="Laboratorio">
                        <el-option
                            v-for="(item, index) in dynamicTable.lab"
                            :key="index"
                            :label="item.name.first"
                            :value="item._id">
                        </el-option>
                    </el-select>
                </div>
            </div> 
            <div class="col-lg-4 mb-2 col-md-6 col-sm-12">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Categoría</span>
                    </div>
                    <select name="cat" v-model="product_data.category" class="form-control">
                        <option value="" disabled>Escoja una opción</option>
                        <option value="PELIGROSO">Peligroso</option>
                        <option value="SIMILAR">Similar</option>
                        <option value="PELIGROSO Y SIMILAR">Peligroso y similar</option>                   
                    </select> 
                </div>
            </div>             
            <div class="col-lg-12 mb-2 mt-2 col-md-6 col-sm-12 text-center">
                <!-- <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Inventario</span>
                        </div>
                        <select name="cat" v-model="product_data.inv" class="form-control">
                            <option value="" disabled>Escoja una opción</option>
                            <option value="CRLGC">Cancerológico</option>
                            <option value="EPS">EPS</option>                
                        </select> 
                    </div>
                </div>  -->                
                <button type="button" v-bind:disabled="response.charginButton" class="btn px-5 btn-primary poppins" @click="addProduct()"><i class="fa" v-bind:class="{'fa-save': !response.charginButton, 'fa-spinner fa-pulse': response.charginButton}"></i> Guardar</button>                
            </div>        
       </form>
    </div>
</template>
<script>
let prod =
{
    lotes:[],    
    type: '',
    consecutive: '',
    name: '',
    lab: '',
    bar_code: '12331231',
    farmaceutic_form: '',
    invima: '',
    inv: 'EPS',
    min_stock: 0,
    point_order: '',
    concentration: '',
    presentation: '',
    provider: '', 
    measure: '',
    code_cum: '',
    category: '',
    companySession: ''
    // status: 
}
// let prod = {
// description: '',
// typeProduct: '',
// categoryProduct: '',
// stock:{
//     min: '',    
//     reorderpoint: '',
// },
// lotes: [{
//     stock: null,
//     consecutive: '',
//     expiration_date:
//     {
//         type: Date
//     },
//     provider: '', //*
//     orderPoint: '',
//     unit: '', //measure *
//     pharmaceuticInfo: {
//         invima: '',
//         pharmForm: '',
//         presentation: '',
//         lab: '' //*
//     }
// }]
// };
export default {
    data(){
        return{
            select_unit:[],            
            dynamicTable: 
            {               
               provider: [],        
               lab: []                   
            },
            product_data: prod,
            // selectedValue: '',
            // selectedValueLab: '',
            response:
            {
                charginButton: false,
                uniqueCode: 
                {
                    text: '',
                    status: null
                },
                invalidCard: false
            },            
        }
    },
    created()
    {
        this.dynamic()
        this.getMeasures()
        this.verifyCnc()
        axios.post('/auth/sessdata', {fields: ['company']}).then((resp) =>
        {
            let res = this.$myCryptor.decode(resp.data.data)
            this.product_data.companySession = res[0].nit                     
        })
    },
    methods:
    {
        uniqueCode()
        {
            axios.post('/api/sf/product/unique-code', {code: this.product_data.code_cum}).then((res) =>
            {
                if(res.data == 'pass')
                {
                    this.response.uniqueCode.status = false
                    this.response.uniqueCode.text = 'Aprobado'
                    return false;
                }
                else
                {
                    this.response.uniqueCode.status = true
                    this.response.uniqueCode.text = 'Este CODIGO ya se encuentra registrado'
                    return true;
                }
            })
        },
        dynamic()
        {
            axios.post('/api/sf/dynamictable/list').then((resp) => 
            {
                let response = this.$myCryptor.decode(resp.data.res)
                // console.log(this.$myCryptor.decode(resp.data.res))
                for(let dyn in response)
                {
                    if(response[dyn].contactType.includes("Lab"))
                    {
                        this.dynamicTable.lab.push(response[dyn])
                    }
                    if(response[dyn].contactType.includes("Provider"))
                    {
                        this.dynamicTable.provider.push(response[dyn])
                    }                    
                }
            })
        },
        getMeasures() {
            axios.post('/api/sc/measures/list',{nit:this.company}).then(resp => {
                this.select_unit = this.$myCryptor.decode(resp.data)
            }).catch(err => {console.error(err)})
        },
        verifyCnc() {
            let cnc = new Date();
            this.product_data.consecutive = cnc.getFullYear()+''+cnc.getMonth()+cnc.getDate()+cnc.getHours()+cnc.getMinutes()+cnc.getMilliseconds()            
            axios.post('/api/sf/product/verifyCnc', {cnc: this.product_data.consecutive}).then(resp => {
                if(resp.data) {
                    this.verifyCnc()
                }
            })
        },
        addProduct()
        {
            this.response.charginButton = true
            if(!this.product_data.name || 
            !this.product_data.invima || 
            !this.product_data.min_stock || 
            !this.product_data.type || 
            !this.product_data.farmaceutic_form || 
            !this.product_data.point_order || 
            !this.product_data.concentration || 
            !this.product_data.presentation || 
            !this.product_data.measure ||
            !this.product_data.code_cum ||
            !this.product_data.provider || 
            !this.product_data.lab)
            {
                this.$chidoriAlert.show('Error', 'No puede haber campos vacios', 'error', 4000)
                this.response.charginButton = false
            }
            else
            {
                if(this.response.uniqueCode.status == false)                
                { 
                    let meas = this.product_data.measure.split('/')
                    this.product_data.measure = this.select_unit[meas[0]]._id+'/'+this.select_unit[meas[0]].measurement[meas[1]].id                
                    axios.post('/sf/product/store', this.product_data).then((resp) =>
                    {
                        if(resp.data.status == 'success')
                        {
                            this.$chidoriAlert.show('Guardado !!', 'el producto se guardo correctamente', 'success', 4000)

                            // axios.post('/sf/notification/store',{data: params, lotes: this.savedProduct}).then(resp => {
                                // console.log(resp.data)
                                //poner aquí el feedback con chidoryalert
                                // if(resp.data.status == 'success') {
                                axios.post('/api/com/notification/store', {
                                    module: 'SF',
                                    from: {
                                        origin: 'New Product'
                                    },
                                    to: {
                                        rol: 'Director Tecnico'
                                    },
                                    link: 'product-list',
                                    typeN: 'NewP',
                                    information: 'Nuevo Producto Registrado',
                                    resources: resp.data.result._id
                                }).then(resp => {
                                    // console.log('Notification Result:')
                                    // console.log(resp.data)
                                })
                                // }
                            // })
                            this.product_data.name = ''
                            this.product_data.lab = ''
                            this.product_data.invima = ''
                            this.product_data.min_stock = 0
                            this.product_data.type = ''
                            this.product_data.farmaceutic_form = ''                        
                            this.product_data.point_order = 0
                            this.product_data.presentation = ''
                            this.product_data.inv = ''
                            this.product_data.concentration = ''
                            this.product_data.measure = ''
                            this.selectedValueLab = ''
                            this.product_data.provider = ''
                            this.product_data.code_cum = ''
                            this.response.uniqueCode.text = ''
                            this.response.uniqueCode.status = null
                            this.product_data.category = ''
                            this.verifyCnc()
                            this.response.charginButton = false
                        }else
                        {
                            this.$chidoriAlert.show('Error', 'Intente nuevamente, hubo errores al guardar', 'error', 4000)
                            this.response.charginButton = false
                        }                   
                    }) 
                }  
                else {
                    this.response.charginButton = false
                }                                          
            }
        }
    }
}
</script>

