<template>
    <div class="container mx-0 p-0">
        <h4 class="text-center poppins text-dark-blue font-weight-bold text-uppercase">Programar Paciente</h4> 
        <hr class="bg-dark-blue">
        <div class="row mx-0 px-2 poppins-light">
            <div class="form-row col-6 mx-0 px-0">
                <div class="col-lg-12 col-md-12 col-sm-12 px-2">
                    <div class="card border-info mt-0 mb-2">
                    <div class="card-header pb-0"><h4 class="text-info">Selección de Paciente</h4></div>
                    <div class="card-body">
                        <form class="form-row" autocomplete="off">
                                <div class="form-group col-lg-12 col-md-12 col-sm-12 px-1">
                                    <label class="mb-0 font-weight-bold poppins text-dark-blue" for="dni">Identificación:</label>
                                    <!-- <select @change="selectPatient" name="dni" class="form-control select2 w-100" v-model="patient.dni">
                                        <option disabled value="">Escoja una opción</option>
                                        <option v-for="(patient, index) in patients" :key="index" :value="index">{{patient.dni.num}}</option>
                                    </select> -->
                                    <!-- <v-select placeholder="Escoja un paciente" :options="patients"  v-model="patient.dni" :disabled="selectStatus.patStatus">
                                        <span slot="no-options">No se encotraron datos!</span>
                                    </v-select> -->
                                    <el-select v-model="patient.dni" class="w-100" filterable placeholder="Escoja un paciente">
                                        <el-option
                                            v-for="(item, ind) in patients"
                                            :key="ind"
                                            :label="item.label"
                                            :value="item.value">
                                        </el-option>
                                    </el-select>  
                                    <router-link to="/vc/sf/patient" class="no-underline"><span class="text-dark-blue">Registrar Paciente</span></router-link>
                                </div>
                                <!-- <div class="form-group col-lg-4 col-md-4 col-sm-4 px-1">
                                    <button disabled v-if="!patient.fixed" @click.prevent="fixPatient" class="btn btn-primary btn-block" style="margin-top: 1.5rem !important" id="fixbtn">Fijar</button>
                                    <button v-else @click.prevent="fixPatient" class="btn btn-danger btn-block" style="margin-top: 1.5rem !important">Cambiar</button>
                                </div> -->
                        </form>
                    </div>
                    </div>
                </div>
                <!-- Esquema Info-->
                <div class="col-lg-12 col-md-12 col-sm-12 px-2">
                    <div class="card border-info mt-0 mb-4">
                    <div class="card-header pb-0"><h4 class="text-info">Esquema</h4></div>
                    <div class="card-body">
                        <form class="form-row" autocomplete="off">
                                <div class=" form-group col-lg-12 col-md-12 col-sm-12">
                                    <label class="mb-0 font-weight-bold poppins text-dark-blue">Esquema</label>
                                    <!-- <el-select v-model="mydata.schemaN" class="w-100" :disabled="selectStatus.schStatus" filterable placeholder="Escoja un esquema">
                                        <el-option
                                            v-for="(item, ind) in schemas"
                                            :key="ind"
                                            :label="item"
                                            :value="item">
                                        </el-option>
                                    </el-select>    -->
                                     <input type="text" class="form-control" v-model="mydata.schemaN">
                                </div>
                                <div class="form-group col-lg-6 col-md-12 col-sm-12">
                                    <label class="mb-0 font-weight-bold poppins text-dark-blue">N° Autorización</label>
                                    <input type="text" class="form-control" v-model="mydata.autorization">
                                </div>
                                <div class="form-group col-lg-6 col-md-12 col-sm-12">
                                    <label class="mb-0 font-weight-bold poppins text-dark-blue">Código CIE10</label>
                                    <input type="text" class="form-control" v-model="mydata.cie10Code">
                                </div>
                        </form>
                    </div>
                    </div>
                </div>
                <!-- END Esquema Info-->
            </div>
            <div class="form-row col-6 mx-0 px-0">
                <!-- More Info-->
                <div class="col-lg-12 col-md-12 col-sm-12 px-2">
                    <div class="card border-info mt-0 mb-2">
                    <div class="card-header pb-0"><h4 class="text-info">Mas Información del Paciente <span class="float-right"><button @click.prevent="toggleCard('patient')" class="btn btn-outline-primary"><i v-if="showInfoPatientPlus" class="fa fa-chevron-circle-down"></i><i v-else class="fa fa-chevron-circle-right"></i></button></span></h4></div>
                    <div class="card-body form-row" v-if="showInfoPatientPlus">
                        <div v-if="showInfoPatient" class="col-12 d-flex justify-content-center px-0">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <el-card class="box-card poppins-light">
                                    <div slot="header" class="clearfix">
                                        <span class="poppins-bold">Paciente <br><span class="poppins info-name">{{patient.name}}</span></span>                                        
                                    </div>
                                    <p class="mb-0"><strong>Tel:</strong><span class="info-tel">{{patient.tel}}</span></p>
                                    <hr class="my-1">
                                    <p class="mb-0"><strong>RH:</strong><span class="info-rh">{{patient.rh}}</span></p>
                                    <hr class="my-1">
                                    <p class="mb-0"><strong>EPS:</strong><span class="info-eps">{{patient.eps}}</span></p>
                                    <hr class="my-1">
                                    <p class="mb-0"><strong>Género:</strong><span class="info-gen">{{patient.gender}}</span></p>
                                    <hr class="my-1">
                                    <p class="mb-0"><strong>Estado Civil:</strong><span class="info-ec">{{patient.ec}}</span></p>                                    
                                    <hr class="my-1">
                                    <p class="mb-0"><strong>Vinculación:</strong><span class="info-vin">{{patient.vin}}</span></p>                                    
                                    <hr class="my-1">
                                    <p class="mb-0"><strong>Trabajo:</strong><span class="info-tra">{{patient.job}}</span></p>                                    
                                    <hr class="my-1">
                                    <p class="mb-0"><strong>Dirección:</strong><span class="info-dir">{{patient.addr}}</span></p>                                    
                                </el-card>
                            </div>
                        </div>
                        <p v-else class="text-center w-100">Escoja un paciente para ver su información</p>
                    </div>
                    </div>
                </div>
                <!-- END More Info-->
            </div>
            <!-- Productos -->
            <div class="col-lg-6 col-md-12 col-sm-12 px-2">
                <div class="card border-info mt-0 mb-4">
                <div class="card-header mb-0"><h4 class="text-info mb-0">Medicamentos</h4></div>
                    <div class="card-body">
                        <div class="row px-2">
                            <div class="col-lg-12 row mx-0 px-0">
                                <div class="col-12 col-lg-6 col-md-12 px-1 mb-2">                                
                                    <label class="mb-0 font-weight-bold poppins text-dark-blue">Medicamento</label>
                                    <!-- <v-select placeholder="Escoja una opcion" name="product" :options="optionsProduct" v-model="product.product">
                                        <span slot="no-options">No se encotraron datos!</span>
                                    </v-select> -->
                                    <template>
                                        <el-select v-model="product.product" class="w-100" filterable placeholder="Selecciona" @change="verifyDisp(product.product)">
                                            <el-option
                                            v-for="(item, index) in optionsProduct"
                                            :key="index"
                                            :label="item.cnc"
                                            :value="item.id">
                                            <span>{{ item.label }} </span>
                                            <span style="color: #8492a6; font-size: 13px;font-weight:500; float: right!important;">{{ item.type }}</span>
                                            </el-option>
                                        </el-select>
                                    </template>
                                </div>
                                <!-- <div class="col-sm-12 col-lg-5 col-md-6 px-1 mb-3">
                                    <label class="mb-0 font-weight-bold w-100 text-center poppins">Disponibilidad en EPS</label>
                                    <div style="text-align: center;">
                                        <i v-if="product.dispeps == null" style="color: yellow;" class="fa fa-question fa-2x"></i>
                                        <i v-if="product.dispeps" style="color: green;" class="fa fa-check fa-2x"></i>
                                        <i v-if="product.dispeps === false" style="color: red;" class="fa fa-times fa-2x"></i>
                                    </div>
                                </div> -->
                                <div class="col-sm-12 col-lg-6 col-md-6 px-1 mb-3">
                                    <label class="mb-0 font-weight-bold w-100 text-center poppins">Disponibilidad en Inventario</label>
                                    <div style="text-align: center;">
                                        <i v-if="product.dispcrlgc == null" style="color: yellow;" class="fa fa-question fa-2x"></i>
                                        <i v-if="product.dispcrlgc" style="color: green;" class="fa fa-check fa-2x"></i>
                                        <i v-if="product.dispcrlgc === false" style="color: red;" class="fa fa-times fa-2x"></i>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-12 col-md-12 px-0 d-flex justify-content-end align-items-center">
                                    <a href="#!" v-if="product.product != null" style="top:2px;" @click="addProduct()" class="btn btn-block position-relative btn-outline-primary mb-1"><i class="fa fa-plus"></i></a>
                                    <button v-else style="top:2px;" disabled class="btn btn-block position-relative btn-outline-primary mb-1"><i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                            <!-- READ ONLY DATA -->
                            <div class="col-12 mt-3 row mx-0 px-0" v-if="savedProduct.length != 0">                               
                                <table class="table table-sm">
                                    <caption>Listado de productos</caption>
                                    <thead>
                                        <tr>
                                        <th scope="col">Consecutivo</th>
                                        <th scope="col">Medicamento</th>
                                        <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(product, index) in savedProduct" :key="index">
                                            <th>{{product.cnc}}</th>
                                            <th>{{product.product}}</th>
                                            <td width="45px">
                                                <button class="btn btn-outline-danger btn-sm" @click="removeProduct(index)"><i class="fa fa-minus"></i></button>
                                            </td>     
                                        </tr>                                   
                                    </tbody>
                                </table>
                            </div>
                            <!-- END READ ONLY DATA -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Productos -->
            <!-- More Info-->
            <div class="col-lg-6 col-md-12 col-sm-12 px-2">
                <div class="card border-info mt-0 mb-4">
                <div class="card-header mb-0"><h4 class="text-info">Mas Información del Producto <span class="float-right"><button @click.prevent="toggleCard('product')" class="btn btn-outline-primary"><i v-if="showInfoProductPlus" class="fa fa-chevron-circle-down"></i><i v-else class="fa fa-chevron-circle-right"></i></button></span></h4></div>
                <div class="card-body form-row" v-if="showInfoProductPlus">
                    <div v-if="showInfoProduct" class="col-12 d-flex justify-content-center px-0">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <el-card class="box-card poppins-light">
                                <div slot="header" class="clearfix">
                                    <span class="poppins-bold">Producto <br><span class="poppins prod-name"> {{productShow.name}}</span></span>                                        
                                </div>
                                <p class="mb-0"><strong>Consecutivo:</strong><span class="prod-cnc"> {{productShow.cnc}}</span></p>
                                <hr class="my-1">
                                <p class="mb-0"><strong>Laboratorio:</strong><span class="prod-lab"> {{productShow.lab}}</span></p>
                                <hr class="my-1">
                                <p class="mb-0"><strong>Tipo:</strong><span class="prod-type"> {{productShow.type}}</span></p>
                                <hr class="my-1">
                                <p class="mb-0"><strong>Presentación Comercial:</strong><span class="prod-prs"> {{productShow.presentation}}</span></p>
                                <hr class="my-1">
                                <p class="mb-0"><strong>Invima:</strong><span class="prod-invim"> {{productShow.invima}}</span></p>                                    
                                <hr class="my-1">
                                <p class="mb-0"><strong>Categoría:</strong><span class="prod-cat"> {{productShow.category}}</span></p>                                                                      
                                <hr class="my-1">
                                <p class="mb-0"><strong>Concentración:</strong><span class="prod-conce"> {{productShow.concentration}}</span></p>                                    
                                <hr class="my-1">
                                <p class="mb-0"><strong>Unidad de Medida:</strong><span class="prod-cat"> {{productShow.measure}}</span></p> 
                            </el-card>
                        </div>
                    </div>
                    <p v-else class="text-center w-100">Escoja un producto para ver su información</p>
                </div>
                </div>
            </div>
            <!-- END More Info-->
            <!-- Citas-->
            <div class="col-lg-12 col-md-12 col-sm-12 px-2">
                <div class="card border-info mt-0 mb-4">
                <div class="card-header mb-0"><h4 class="text-info">Citas</h4></div>
                <div class="card-body form-row mx-3 px-0">
                    <div class="col-4">
                        <form class="form-row" autocomplete="off">
                            <div class="form-group col-lg-6 col-md-6 col-sm-12 px-1">
                                <label class="mb-0 font-weight-bold poppins text-dark-blue">Fecha</label>
                                <el-date-picker
                                    v-model="date.f"
                                    type="date"
                                    class="w-100"
                                    placeholder="Selecciona una fecha"
                                    format="yyyy/MM/dd"
                                    value-format="yyyy-MM-dd">
                                </el-date-picker> 
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 px-1">
                                <!-- <label class="mb-0 font-weight-bold poppins text-dark-blue">Hora</label>
                                <input type="time" name="hora" v-model="date.h" class="form-control" placeholder="Hora"> -->
                                <el-time-select
                                v-model="date.h"
                                :picker-options="{
                                    start: '08:30',
                                    step: '00:15',
                                    end: '18:30'
                                }"
                                placeholder="Seleccione una Hora" 
                                class="w-100 mt-4">
                                </el-time-select>
                            </div>
                            <div class=" form-group col-lg-6 col-md-6 col-sm-12">
                                <label class="mb-0 font-weight-bold poppins text-dark-blue">Módulo</label>
                                <!-- <v-select :options="schemas"  v-model="mydata.schemaN" :disabled="selectStatus.schStatus">
                                    <span slot="no-options">No se encotraron datos!</span>
                                </v-select> -->
                                <el-select v-model="date.module" class="w-100" filterable placeholder="Escoja un módulo">
                                    <el-option
                                         v-for="item in modules"
                                        :key="item.mod"
                                        :label ="item.mod"
                                        :value="item.mod">
                                        <span :style="(!item.status) ? 'background-color: red; color: white; padding:5px;' : ''">Modulo {{ item.mod }}</span>
                                    </el-option>
                                </el-select>   
                            </div>
                            <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                <label class="mb-0 font-weight-bold poppins text-dark-blue">Incidente/Prevalente</label>
                                <el-select v-model="date.iop" class="w-100" filterable placeholder="Escoja una opción">
                                    <el-option
                                        label="Incidente"
                                        value="I">
                                    </el-option>
                                    <el-option
                                        label="Prevalente"
                                        value="P">
                                    </el-option>
                                </el-select>
                            </div>
                            <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                <label class="mb-0 font-weight-bold poppins text-dark-blue">Notas</label>
                                <textarea style="font-weight: 399 !important;" v-model="date.note" class="form-control w-100"></textarea>
                            </div>
                            <div class="form-group col-lg-12 col-md-12 col-sm-6 px-1 align-items-end justify-content-center d-flex">
                                <button id="datBtn" disabled @click.prevent="AddDate" class="btn btn-primary btn-block position-relative" style="top: -2px"><i class="fa fa-plus"></i></button>
                            </div>
                        </form>
                    </div>
                    <div class="col-8 px-4">
                        <h4 class="font-weight-bold poppins text-dark-blue text-center">Listado de Citas Fijadas</h4>
                        <div v-for="(date, index) in dates" :key="index" class="form-row mx-0 px-0">
                            <label v-if="index == 0" class="col-lg-3 mb-0 font-weight-bold poppins text-dark-blue">Fecha</label>
                            <label v-if="index == 0" class="col-lg-2 mb-0 font-weight-bold poppins text-dark-blue">Hora</label>
                            <label v-if="index == 0" class="col-lg-2 mb-0 font-weight-bold poppins text-dark-blue">Módulo</label>
                            <label v-if="index == 0" class="col-lg-1 mb-0 font-weight-bold poppins text-dark-blue">I/P</label>
                            <label v-if="index == 0" class="col-lg-2 mb-0 font-weight-bold poppins text-dark-blue">Notas</label>
                            <label v-if="index == 0" class="col-lg-2 mb-0 font-weight-bold poppins text-dark-blue">Borrar</label>
                            <div class="form-group input-group-sm col-lg-3 col-md-12 col-sm-12 px-2">
                                <input type="text" class="form-control" disabled :value="date.date">
                            </div>
                            <div class="form-group input-group-sm col-lg-2 col-md-12 col-sm-12 px-2">
                                <input type="text" class="form-control" disabled :value="date.hour">
                            </div>
                            <div class="form-group input-group-sm col-lg-2 col-md-12 col-sm-12 px-2">
                                <input type="text" class="form-control" disabled :value="date.module">
                            </div>
                            <div class="form-group input-group-sm col-lg-1 col-md-12 col-sm-12 px-2">
                                <input type="text" class="form-control" disabled :value="date.iop">
                            </div>
                            <div class="form-group input-group-sm col-lg-2 col-md-12 col-sm-12 px-2">
                                <textarea rows="1" class="form-control" disabled :value="date.note"></textarea>
                            </div>
                            <div class="form-group col-lg-1 col-md-12 col-sm-6 px-1 align-items-end justify-content-center d-flex">
                                <button @click="dates.splice(index, 1)" class="btn btn-sm btn-danger btn-block position-relative"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <!-- END Citas-->
            <div class="col-12 text-center">
                <!-- <button @click="DoProg" class="btn btn-lg btn-primary">Programar Paciente</button> -->
                <button type="button" v-bind:disabled="response.charginButton" class="btn btn-block btn-primary poppins" @click="DoProg()"><i class="fa" v-bind:class="{'fa-save': !response.charginButton, 'fa-spinner fa-pulse': response.charginButton}"></i> Programar Paciente</button>                
            </div>
        </div>
    </div>
</template>
<script>
const { schemas } = require('../../Utilities/Lists.json')
let bones = {
    patient: '',
    schemaN: '',
    cie10Code: '',
    autorization: '',
    meetings: [],
    drugs: []
}
let prodShowBones = {
    name: '',
    cnc: '',
    lab: '',
    type: '',
    presentation: '',
    invima: '',
    concentration: '',
    category: '',
    measure: ''
}
export default {
    data() {
        return {
            showInfoPatient: false,
            showInfoPatientPlus: true,
            showInfoProductPlus: true,
            showInfoProduct: false,
            selectStatus: {
                patStatus: false,
                schStatus: false,
                prodStatus: false
            },
            asocReceps: [],
            mydata: bones,
            select_unit:[],
            options: [],
            optionsProduct: [],
            schemas: schemas,
            date: {
                f: '',
                h: '',
                module: '',
                iop: '',
                note: ''
            },
            modules: [
                {mod: 1, status: true},
                {mod: 2, status: true},
                {mod: 3, status: true},
                {mod: 4, status: true},
                {mod: 5, status: true},
                {mod: 6, status: true},
                {mod: 7, status: true},
                {mod: 8, status: true},
                {mod: 9, status: true},
                {mod: 10, status: true},
                {mod: 11, status: true},
                {mod: 12, status: true},
                {mod: 13, status: true},
                {mod: 14, status: true},
                {mod: 15, status: true},
            ],
            dates: [],
            patient: {
                name: '',
                dni: null,
                tel: '',
                rh: '',
                eps: '',
                gender: '',
                ec: '',
                vin: '',
                job: '',
                addr: ''
            },
            patients: [],
            Cpatients: [],
            products: [],
            product:
            {
                product: null,
                dispeps: null,
                dispcrlgc: null
            },
            productShow: prodShowBones,            
            savedProduct: [],
            noDispProds: [],
            someNoDisp: false,
            dynamicTable: 
            {
               eps: [],
               lab: []             
            },
            response:
            {
                charginButton: false,
                invalidCard: false
            }
        }
    },
    mounted() 
    {
        this.dynamic()       
        this.listProduct()
        this.getMeasures()
        this.listPatient()
    },
    watch: { 
        'patient.dni': function (newVal) { 
            if(newVal != null){
                this.fxPat(this.patient.dni)
            }
            // else {console.log('no entra')}
        },
        'date.f': function (newVal) {
            if(this.date.f != '' && this.date.h != '' && this.date.module != '' && this.date.iop != '')
                $('#datBtn').prop('disabled', false)
            else
                $('#datBtn').prop('disabled', true)

            if(this.date.f != '' && this.date.h != '')
                this.verifyMods(this.date.f, this.date.h)
        },
        'date.h': function (newVal) {
            if(this.date.f != '' && this.date.h != '' && this.date.module != '' && this.date.iop != '')
                $('#datBtn').prop('disabled', false)
            else
                $('#datBtn').prop('disabled', true)
            
            if(this.date.f != '' && this.date.h != '')
                this.verifyMods(this.date.f, this.date.h)
        },
        'date.module': function (newVal) {
            if(this.date.f != '' && this.date.h != '' && this.date.module != '' && this.date.iop != '')
                $('#datBtn').prop('disabled', false)
            else
                $('#datBtn').prop('disabled', true)
        },
        'date.iop': function (newVal) {
            if(this.date.f != '' && this.date.h != '' && this.date.module != '' && this.date.iop != '')
                $('#datBtn').prop('disabled', false)
            else
                $('#datBtn').prop('disabled', true)
        }
    },
    methods: {
        verifyReception(id) {
            // console.log("Verificando Por Recepciones...")
            this.savedProduct = []
            axios.post('/sf/dispensation/verifyR', {id}).then(resp => {
                // console.log("Verificación terminada, Resultado: \n")
                if(resp.data.status) {
                    // console.log(resp.data.data)
                    let res = resp.data.data
                    
                    for (const key in res) {
                        if(res[key].status != 'DONE' && res[key].status != 'WAIT') {
                            for (const llave in res[key].products) {
                                if(res[key].products[llave].approved_dir){
                                    for (let index = 0; index < this.products.length; index++) {
                                        if(res[key].products[llave].product == this.products[index]._id) {
                                            this.savedProduct.push({id: this.products[index]._id, product: this.products[index].name, cnc: this.products[index].consecutive})
                                            this.asocReceps.push(this.products[index]._id)
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                else
                    console.log(false)
            })
        },
        verifyMods(date, hour){
            axios.post('/api/sf/schedule/list').then((res) =>{
                let data = this.$myCryptor.decode(res.data);
                for (const key in data) {
                    for (const llave in data[key].meetings) {
                        let ladate = data[key].meetings[llave].date.split('T')
                        if(ladate[0] == date && data[key].meetings[llave].hour == hour) {
                            for (const modi in this.modules) {
                                this.modules[modi].status = true
                            }
                            for (const mod in this.modules) {
                                if(this.modules[mod].mod == data[key].meetings[llave].module) {
                                    this.modules[mod].status = false
                                }
                            }
                        }
                    }
                }
            })
        },
        toggleCard(type) {
            if(type == "patient") {
                this.showInfoPatientPlus = !this.showInfoPatientPlus
                // this.showInfoProductPlus = false
            }
            if(type == "product") {
                // this.showInfoPatient = this.showInfoPatientPlus = false
                this.showInfoProductPlus = !this.showInfoProductPlus
            }
        },
        fxPat(value)
        {
            var val = this.Cpatients[value]._id
            this.verifyReception(val)            
            for (const key in this.Cpatients) 
            {
                if (this.Cpatients[key]._id == val) 
                {
                    this.mydata.patient = this.Cpatients[key]._id
                    let eps = this.Cpatients[key].basic_info.eps
                    let epsname = ''
                    for (const keyy in this.dynamicTable.eps) 
                    {
                        if (this.dynamicTable.eps[keyy]._id == eps) 
                        {
                            epsname = this.dynamicTable.eps[keyy].name.first                            
                            break;                            
                        }
                    }                
                    setTimeout(() => 
                    {
                        this.patient.tel = ' '+this.Cpatients[key].basic_info.phone
                        this.patient.rh = ' '+this.Cpatients[key].basic_info.rh                        
                        this.patient.gender = ' '+this.Cpatients[key].basic_info.gender
                        let vin = ''
                        let es = ''
                        switch (this.Cpatients[key].basic_info.vinculation) 
                        {
                            case 'C':   
                                vin = 'Contributivo'                         
                                break
                            case 'C-S': 
                                vin = 'Contributivo-Sub'                           
                                break                        
                            case 'S':   
                                vin = 'Subsidiado'                         
                                break
                            case 'S-S': 
                                vin = 'Subsidiado-Sub'                           
                                break                                                   
                            case 'V':  
                                vin = 'Vinculado'                          
                                break
                            case 'P': 
                                vin = 'Particulares'                           
                                break
                        }
                        switch (this.Cpatients[key].basic_info.civil_state) {
                        case 'S':
                            es = 'Soltero'
                            break;
                        case 'C':
                            es = 'Casado'
                            break;
                        case 'V':
                            es = 'Viudo'
                            break;
                        case 'D':
                            es = 'Divorciado'
                            break;
                        case 'U-L':
                            es = 'Unión Libre'
                            break;
                        default:
                            es = 'Ninguna'
                        }
                        this.patient.vin = ' '+vin
                        this.patient.ec = ' '+es
                        this.patient.eps = ' '+epsname
                        this.patient.job = ' '+this.Cpatients[key].basic_info.work
                        this.patient.addr = ' '+this.Cpatients[key].basic_info.location.dep+' - '+this.Cpatients[key].basic_info.location.town+'. '+this.Cpatients[key].basic_info.location.address
                        this.patient.name = ' '+this.Cpatients[key].basic_info.name.fname+' '+this.Cpatients[key].basic_info.name.sname+' '+this.Cpatients[key].basic_info.lastname.flname+' '+this.Cpatients[key].basic_info.lastname.slname    
                    }, 100);
                }
            }
            this.showInfoPatient = true
            this.showInfoPatientPlus = true
            // this.showInfoProductPlus = false
            // this.showInfoProduct = false
        },
        dynamic()
        {
           axios.post('/api/sf/dynamictable/list').then((resp) => 
            {
                let response = this.$myCryptor.decode(resp.data.res)
                for(let dyn in response)
                {
                    if(response[dyn].contactType.includes("EPS"))
                    {
                        this.dynamicTable.eps.push(response[dyn])
                    }
                    if(response[dyn].contactType.includes("Lab"))
                    {
                        this.dynamicTable.lab.push(response[dyn])
                    }                    
                }
            })
        },
        DoProg() {
            this.response.charginButton = true
            if(this.savedProduct.length > 0){
                if(this.dates.length > 0) {
                    let res = false
                    let fdays = new Date()
                    for (const key in this.dates) {
                        let f = new Date(this.dates[key].date)
                        if(f <= fdays)
                            res = true
                    }
                    if(!res) {
                        if(this.mydata.schemaN != '') {
                            if(this.mydata.patient != '') {
                                if(this.mydata.autorization != '') {
                                    if(this.mydata.cie10Code != '') {
                                        this.mydata.meetings = this.dates
                                        for (let index = 0; index < this.savedProduct.length; index++) {
                                            let data = this.savedProduct[index].id
                                            this.mydata.drugs.push(data)
                                            data = null
                                        }
                                        axios.post('/sf/schedule/store',this.mydata).then((resp) => {
                                            if(resp.data.status == 'success'){
                                                this.$chidoriAlert.show('Programación ralizada!', 'La programación se ha realizado con exito, consulte la información en el modulo de agenda', 'success', 4000)
                                                let acumula = '['
                                                for (let indprod = 0; indprod < this.products.length; indprod++) {
                                                    for (let indnodi = 0; indnodi < this.noDispProds.length; indnodi++) {
                                                        if(this.products[indprod]._id == this.noDispProds[indnodi].id) {
                                                            acumula += this.products[indprod].name
                                                            if(indnodi > 0 && indnodi < this.noDispProds.length -1 )
                                                                acumula+= ', '
                                                        }
                                                    }
                                                }
                                                acumula += ']'

                                                axios.post('/api/com/notification/store', {
                                                    module: 'SF',
                                                    from: {
                                                        origin: 'Alerta de Inventario'
                                                    },
                                                    to: {
                                                        rol: ['Jefe De Producción', 'Asistente De Producción']
                                                    },
                                                    information: 'Productos Cerca o bajo el Stock mínimo: '+acumula,
                                                    link: 'product-list',
                                                    resources: resp.data.result._id
                                                }).then(resp => {
                                                    console.log(acumula)
                                                })

                                                this.mydata.patient = this.mydata.schemaN = this.product.product = null
                                                this.mydata.meetings = this.mydata.drugs = this.savedProduct = this.dates = []
                                                this.product.product = this.product.concentration = this.product.presentation = this.patient.dni = this.patient.fname = this.patient.lname = this.date.f = this.date.h = this.date.note = this.date.module = this.date.iop = this.mydata.autorization = this.mydata.cie10Code = ''
                                                this.someNoDisp = this.patient.fixed = this.selectStatus.patStatus = false
                                                this.patient = {
                                                    name: '',
                                                    dni: null,
                                                    tel: '',
                                                    rh: '',
                                                    eps: '',
                                                    gender: '',
                                                    ec: '',
                                                    vin: '',
                                                    job: '',
                                                    addr: ''
                                                }
                                                this.productShow = prodShowBones
                                                this.showInfoPatient = false
                                                this.showInfoPatientPlus = true
                                                this.showInfoProductPlus = true
                                                this.showInfoProduct = false

                                                axios.post('/api/com/notification/store', {
                                                    module: 'SF',
                                                    from: {
                                                        origin: 'Nueva Programación'
                                                    },
                                                    to: {
                                                        rol: ['Aux. Servicio Farmaceutico']
                                                    },
                                                    information: 'Nueva Programación hecha',
                                                    resources: resp.data.result._id
                                                }).then(resp => {
                                                    // console.log('Notification Result:')
                                                    // console.log(resp.data)
                                                    setTimeout(() => {
                                                        this.$swal.fire({
                                                        title: 'Desea imprimir La Programación?',
                                                        type: 'question',
                                                        showCancelButton: true,
                                                        confirmButtonColor: '#3085d6',
                                                        cancelButtonColor: '#d33',
                                                        confirmButtonText: 'Imprimir!'
                                                        }).then((result) => {
                                                            if (result.value) {
                                                                // window.location.href = '/print'
                                                                window.open('/print','_blank');
                                                            }
                                                        })
                                                    }, 2000);
                                                })
                                            }
                                            else
                                                this.$chidoriAlert.show('Error', 'Error al intentar programar el paciente, intente de nuevo', 'error', 4000)                                    
                                        }).catch(err => console.error(err))
                                    }
                                    else {
                                        this.$chidoriAlert.show('Error', 'Ingresa un código CIE10 valido', 'error', 4000)
                                    }
                                }
                                else {
                                    this.$chidoriAlert.show('Error', 'Ingresa un número de Autorización valido', 'error', 4000)
                                }
                            }
                            else {
                                this.$chidoriAlert.show('Error', 'Ingresa un paciente valido', 'error', 4000)
                            }
                        }
                        else {
                            this.$chidoriAlert.show('Error', 'Ingresa un esquema valido', 'error', 4000)
                        }
                    }
                    else
                        this.$chidoriAlert.show('Error', 'No puede agendar citas en dias anteriores al de hoy', 'error', 4000)
                }
                else {
                    this.$chidoriAlert.show('Error', 'Ingresa las citas necesarias', 'error', 4000)
                }
            }
            else {
                this.$chidoriAlert.show('Error', 'Ingresa los Medicamentos necesarios', 'error', 4000)
            }
            this.response.charginButton = false
        },
        AddDate() {
            if(this.date.f != '' && this.date.h != '') {
                let s = new Date(this.date.f)
                let fecha = s.getFullYear()+'-'+(s.getMonth()+1)+'-'+(s.getDate()+1)
                let data = {date: fecha, hour: this.date.h, module: this.date.module, iop: this.date.iop, note: this.date.note}
                // console.log(data)
                this.dates.push(data)
                this.date.f = this.date.h = this.date.module = this.date.iop = this.date.note = ''
            }
        },
        // fixPatient() {
        //     var a;
        //     if(this.patient.fixed){
        //         a = false
        //         this.selectStatus.patStatus = false
        //         this.patient.fname = ''
        //         this.patient.dni = ''
        //         this.patient.lname= '' 
        //         this.mydata.patient = ''
        //     }
        //     else {
        //         a = true
        //         this.selectStatus.patStatus = true
        //         this.mydata.patient = this.Cpatients[this.patient.dni.value]._id; 
        //     }
        //     $('select[name=dni]').prop('disabled', a)
        //     this.patient.fixed = a
        // },
        addProduct() {
            let data = this.product
            if(data.dispeps === false || data.dispcrlgc === false){
                this.noDispProds.push({id: this.products[data.product]._id})
                this.someNoDisp = true
            }
            this.savedProduct.push({id: this.products[data.product]._id, product: this.products[data.product].name, cnc: this.products[data.product].consecutive})
            //-------------------------//                        
            this.product.dispeps = this.product.dispcrlgc = null
            this.product.product = null
            this.showInfoProduct = false
        },
        getMeasures() {
            axios.post('/api/sc/measures/list',{nit:this.company}).then(resp => {
                this.select_unit = this.$myCryptor.decode(resp.data)
            }).catch(err => {console.error(err)})
        },
        removeProduct(a) {
            let counter = 0
            let item = this.savedProduct[a].id
            this.savedProduct.splice(a, 1)
            for (let index = 0; index < this.noDispProds.length; index++) {
                if(this.noDispProds[index].id === item)
                    this.noDispProds.splice(index, 1)
            }
            for (let varia = 0; varia < this.noDispProds.length; varia++) {
                for (let vari = 0; vari < this.savedProduct.length; vari++) {
                    if(this.noDispProds[varia].id === this.savedProduct[vari].id)
                        counter++
                }
            }
            if(counter === 0)
                this.someNoDisp = false
            else
                this.someNoDisp = true
        },        
        listProduct()
        {
            axios.post('/api/sf/product/list').then((resp) =>
            {                
                let products = this.$myCryptor.decode(resp.data)
                for (const key in products) 
                {
                    if (products[key].hasOwnProperty('name')) 
                    {
                        let lb = ''
                        for (const llave in this.dynamicTable.lab) {
                            if(products[key].lab == this.dynamicTable.lab[llave]._id) {
                                lb = this.dynamicTable.lab[llave].name.first
                            }
                        }
                        let epss = 0
                        let crlgcs = 0
                        for (const c in products[key].lotes) {
                            if(products[key].lotes[c].inv.includes("EPS")) {
                                epss = epss + products[key].lotes[c].stock
                            }
                            if(products[key].lotes[c].inv.includes("CRLGC")) {
                                crlgcs = crlgcs + products[key].lotes[c].stock
                            }
                        }

                        const element = {id: key, label: products[key].name, type: products[key].type, cnc: products[key].consecutive}
                        this.optionsProduct.push(element)
                        let el = {
                            _id: products[key]._id,
                            lab: lb,
                            consecutive: products[key].consecutive,
                            lotes: products[key].lotes,
                            type: products[key].type,
                            name: products[key].name,
                            farmaceutic_form: products[key].farmaceutic_form,
                            invima: products[key].invima,
                            min_stock: products[key].min_stock,
                            point_order: products[key].point_order,
                            concentration: products[key].concentration,
                            presentation: products[key].presentation,
                            category: products[key].category,
                            epsstock: epss,
                            crlgcstock: crlgcs,
                            measure: products[key].measure
                        }
                        this.products.push(el)
                    }
                }
            })            
        },
        verifyDisp(newVal) {
            if(newVal != null)
            {
                let a = this.product.product
                let element = 0
                // this.productShow = prodShowBones
                if(this.products[a].lotes.length > 0) {
                    let epss = 0;
                    for (const c in this.products[a].lotes) {
                        if(this.products[a].lotes[c].inv.includes("EPS") && (this.asocReceps.length > 0 && this.asocReceps.includes(this.products[a]._id))) {
                            epss = epss + this.products[a].lotes[c].stock
                        }
                    }

                    if (epss > 0) 
                    {
                        this.product.dispeps = true
                    }
                    else {
                        this.product.dispeps = false
                    }
                    if (this.products[a].crlgcstock > 0) 
                    {
                        this.product.dispcrlgc = true
                    }
                    else {
                        this.product.dispcrlgc = false
                    }
                }
                else {
                    this.product.dispeps = this.product.dispcrlgc = false
                }
                let esta = this.products[a]
                this.productShow.name = esta.name
                this.productShow.cnc = esta.consecutive
                this.productShow.type = esta.type
                this.productShow.lab = esta.lab
                this.productShow.presentation = esta.presentation
                this.productShow.invima = esta.invima
                this.productShow.concentration = esta.concentration
                this.productShow.category = esta.category
                for (const key in this.select_unit) {
                    if(this.select_unit[key]._id == esta.measure.split('/')[0].toString()) {
                        for (const llave in this.select_unit[key].measurement) {
                            if(this.select_unit[key].measurement[llave].id == esta.measure.split('/')[1].toString()) {
                                this.productShow.measure = this.select_unit[key].measurement[llave].name+' ('+this.select_unit[key].measurement[llave].abbreviature+')'
                            }
                        }
                    }
                }

                this.showInfoProductPlus = true
                this.showInfoProduct = true
                // this.showInfoPatientPlus = false
                // this.showInfoPatient = false
            }
            else
                this.product.dispeps = this.product.dispcrlgc = null; this.productShow = prodShowBones
        },
        listPatient()
        {
            axios.post('/api/sf/patient/list').then((resp) =>
            {                
                let data = this.$myCryptor.decode(resp.data)
                this.Cpatients = data
                for (let index = 0; index < data.length; index++) {
                    let inn = {value: index, label: data[index].dni.num}
                    this.patients.push(inn)
                    inn = null
                }
            })            
        }
    }
}
</script>
