<template>
    <div class="container my-0 p-0">
        <h4 class="text-center poppins text-dark-blue font-weight-bold text-uppercase">Programación Quimioterapias</h4> 
        <hr class="bg-dark-blue">
        <div class="w-100 mb-4 text-center">
            <template>
                <div class="block poppins-light">
                    <el-date-picker
                    v-model="range"
                    type="daterange"
                    unlink-panels
                    :picker-options="dateOptions"
                    range-separator="a"
                    start-placeholder="Fecha inicial"
                    end-placeholder="Fecha final">
                    </el-date-picker>
                </div>
            </template>
            <span class="">
             <a v-if="range != null && statusdata == true" href="/api/common/excel/SFprogqui" target="_blank"><el-button :disabled="range == null" size="medium" class="mx-lg-2 my-2" slot="reference">Exportar a EXCEL <i class="fa fa-table"></i></el-button></a>
            <el-button v-else :disabled="range == null && statusdata == false" size="medium" class="mx-lg-2 my-2" slot="reference">Exportar a EXCEL <i class="fa fa-table"></i></el-button>
            </span>
        </div>
        <div class="poppins" :class="{'invalid-feedback': response.validation.status, 'valid-feedback': !response.validation.status}">
                        {{ response.validation.text }}
                    </div>
    </div>
</template>
<script>
const { schemas } = require('../../Utilities/Lists.json')
let tempBones = {
    _id: '',
    patient: '',
    schemaN: '',
    status: false,
    drugs: [],
    meetings: []
}
export default {

    data() {
        return {
            statusdata: true,
            data: [],
            dataCrop: [],
            range: null,
            temp: {
                drugs: [],
                pat: []
            },
             response:
            {
                charginButton: false,                
            },
            schemas: schemas,
            thatMeet: {
                date: '',
                hour: '',
                btn: false
            },
            schedule: [],
            bones: tempBones,
            dateOptions: {
                shortcuts: [
                {
                    text: 'Hoy',
                    onClick(picker) {
                    const end = new Date();
                    const start = new Date();
                    picker.$emit('pick', [start, end]);
                    }
                }, {   
                    text: 'Ultima Semana',
                    onClick(picker) {
                    const end = new Date();
                    const start = new Date();
                    start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
                    picker.$emit('pick', [start, end]);
                    }
                }, {
                    text: 'Ultimo Mes',
                    onClick(picker) {
                    const end = new Date();
                    const start = new Date();
                    start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
                    picker.$emit('pick', [start, end]);
                    }
                }]
            },
            dynamicTable: 
            {               
               eps: []                               
            },
            response: {
            validation:{
                status: null,
                text: ''
            }
            },
            dateini: null,
            dateend: null
        }
    },
    mounted() {
        this.listAdtdata()
        // console.log(this.dataCrop)
    },
    watch: { 
        'range': function (newVal) { 
            this.dataCrop = []
            if(newVal != null){
                let start = Date.parse(newVal[0])
                let end = Date.parse(newVal[1])
                for (const key in this.data) {
                    let that = Date.parse(this.data[key].meeting)
                    if(that >= start && that <= end) {
                        this.dataCrop.push(this.data[key])
                    }
                }
                var monthini = newVal[0].getUTCMonth() +1
                var dayini =  newVal[0].getUTCDate()
                var yearini = newVal[0].getUTCFullYear() 
                var monthend = newVal[1].getUTCMonth() +1
                var dayend =  newVal[1].getUTCDate()
                var yearend = newVal[1].getUTCFullYear()
                this.daterange = dayini+'/'+monthini+'/'+yearini+' - '+dayend+'/'+monthend+'/'+yearend
                // console.log('fecha:'+this.daterange)
            } 
            // else {
            //     // this.dataCrop = this.data
            //     // console.log(this.dataCrop)

            // }
           if(this.dataCrop.length > 0)
           {    
               this.statusdata = true
                axios.post('/api/common/excel/tempDataPq',{datash:this.dataCrop,rangedate:this.daterange}).then(resp => {
                // console.log(resp.data)
            })
            }
            else if(this.dataCrop.length == 0 && newVal != null){
                this.statusdata = false 
                this.$chidoriAlert.show('error','no hay programaciones para las fechas seleccionadas','error')
            }
             else if(this.dataCrop.length == 0 && newVal == null){
                this.statusdata = false 
                this.$chidoriAlert.show('error','Debe seleccionar un rango de fecha','error')
            }
        },
        'thatMeet.date': function (newVal) {
            if(this.thatMeet.date != '' && this.thatMeet.hour != '')
                this.thatMeet.btn = true
        },
        'thatMeet.hour': function (newVal) {
            if(this.thatMeet.date != '' && this.thatMeet.hour != '')
                this.thatMeet.btn = true
        }
    },
    methods: {
            
            getData() {
               axios.post('/api/common/excel/tempDataPq',this.dataCrop).then(resp => {
                // console.log(resp.data.data)
            })
            },
            
            getExcel() {
                axios.post('/api/common/excel/SFprogqui',{data:this.dataCrop}).then(resp => {
                    // console.log(resp)
                })
            },
        
        dataSchedule()
        {
            this.data = []            
            axios.post('/api/sf/schedule/list',{range: this.range}).then((res) =>
            {                             
                let data = this.schedule = this.$myCryptor.decode(res.data)         
                let i = -1;
                for (const key in data) 
                {
                    i++;
                    var drugs = []
                    var patient = {}
                    let d = data[key].drugs
                    for (const keyy in d) {
                        for (const keyyy in this.temp.drugs) {
                            if (d[keyy].drug == this.temp.drugs[keyyy]._id) {
                                drugs.push({name: this.temp.drugs[keyyy].name, present: d[keyy].commPresnt, concentration: d[keyy].concentration})
                            }
                        }
                    }
                    for (const keyyyy in this.temp.pat) {
                        let fname = ''
                        let sname = ''
                        let lfname = ''
                        let lsname = ''
                        let gender = ''
                        let town = ''
                        let tel = ''
                        let epsid = null
                        let eps = ''
                        let dni = null
                        let type = null
                        let phone = ''
                        if (data[key].patient == this.temp.pat[keyyyy]._id) {
                            dni = this.temp.pat[keyyyy].dni.num
                            type = this.temp.pat[keyyyy].dni.tipo
                            fname = this.temp.pat[keyyyy].basic_info.name.fname
                            sname = this.temp.pat[keyyyy].basic_info.name.sname
                            lfname = this.temp.pat[keyyyy].basic_info.lastname.flname
                            lsname = this.temp.pat[keyyyy].basic_info.lastname.slname
                            gender = this.temp.pat[keyyyy].basic_info.gender
                            town = this.temp.pat[keyyyy].basic_info.location.town
                            tel = this.temp.pat[keyyyy].basic_info.phone
                            epsid = this.temp.pat[keyyyy].basic_info.eps
                        for (const c in this.dynamicTable.eps) {
                            if(epsid == this.dynamicTable.eps[c]._id)
                            {
                                eps = this.dynamicTable.eps[c].name.first
                            }
                        }   

                            // patient = this.temp.pat[keyyyy]
                            patient = {
                                dni:{tipo: type, num: dni},
                                basic_info:{ 
                                    name:{fname:fname,sname:sname},
                                    lastname:{flname:lfname,slname:lsname},
                                    gender:gender,
                                    location:{town:town},
                                    phone:tel,
                                    eps:eps
                                }
                            }
                        }
                    }
                    let meetings = data[key].meetings
                    let registerDate = data[key].created_at
                    let cie = data[key].cie10Code
                    registerDate = registerDate.split('T')
                    for (const llave in meetings) {
                        let thatmeet = meetings[llave].date
                        let hour = meetings[llave].hour
                        let modulepat = meetings[llave].module
                        let pi = meetings[llave].iop
                        thatmeet = thatmeet.split('T')
                        // var elements = {_id: data[key]._id, meetid: llave, 'patient': patient.basic_info.name.fname +' '+patient.basic_info.name.lname, 'dni':patient.dni.num, 'schemaN': data[key].schemaN, 'drugs': drugs, 'status': data[key].status, 'index':i, 'meeting': thatmeet[0], 'hour': hour}
                        var elements = {_id: data[key]._id, meetid: llave, 'firstname': patient.basic_info.name.fname,'secondname':patient.basic_info.name.sname,'lastfname':patient.basic_info.lastname.flname,'lastsname':patient.basic_info.lastname.slname, 'dni': patient.dni.num, 'typedni':patient.dni.tipo, 'gender':patient.basic_info.gender,'town':patient.basic_info.location.town ,'phone':patient.basic_info.phone, 'eps':patient.basic_info.eps, 'drugSchema': data[key].schemaN, 'status': data[key].status, 'index':i, 'meeting': thatmeet[0], 'hour': hour, 'datereq':registerDate[0],'module':modulepat, 'inpre': pi, 'cie10': cie, 'numAuth':data[key].autorization}
                        this.data.push(elements)
                    }
                }                
            })
            // console.log('data:'+this.data)
            this.dataCrop = this.data
            this.loading = false
        },
         listAdtdata()
        {
            this.temp.drugs = this.temp.pat = []            
            axios.post('/api/sf/patient/list').then((resp) =>
            {                
                let data = this.$myCryptor.decode(resp.data)
                this.temp.pat = data
                // axios.post('/api/sf/product/list').then((resp) =>
                // {                
                //     let data = this.$myCryptor.decode(resp.data)
                //     this.temp.drugs = data
                   
                // })
               axios.post('/api/sf/dynamictable/list').then((resp) => 
            {
                let response = this.$myCryptor.decode(resp.data.res)
                for(let dyn in response)
                {
                    if(response[dyn].contactType.includes("EPS"))
                    {
                        this.dynamicTable.eps.push(response[dyn])
                    }                    
                }
                 this.dataSchedule()
            })  
            })            
        }
    } 
}
</script>
