<template>
     <div class="container my-0 p-0">
        <h4 class="text-center poppins text-dark-blue font-weight-bold text-uppercase">Listado Recepciones</h4> 
        <hr class="bg-dark-blue">
        <div class="mb-2">           
            <el-radio v-model="typeT" @change="dataTable('EPS')" label="EPS" class="mb-1 m-0 mr-1 poppins-light" border size="medium">Ver x EPS</el-radio>
            <el-radio v-model="typeT" @change="dataTable('provider')" label="provider" class="mb-1 m-0 poppins-light" border size="medium">Ver x Proveedor</el-radio>
            <el-radio v-model="typeT" @change="dataTable('devolution')" label="devolution" class="mb-1 m-0 poppins-light" border size="medium">Ver x Devolución</el-radio>
            <div v-if="rolUser == 'Director Técnico' || rolUser == 'Jefe De Producción'" style="display: inline-block;position:relative;top:5px;" class="mx-3">
                <p class="poppins mb-1">¿Mostrar todo?</p>
                <el-switch                   
                    style="display:block"
                    class="poppins-light"
                    @change="dataTable(typeT)"
                    v-model="all"                                            
                    active-color="#13ce66"
                    inactive-color="#ff4949"
                    active-text="Si"
                    inactive-text="No">
                </el-switch>                
            </div>
            <hr class="mb-0 mt-3">
        </div>
        <data-tables v-loading.body="loading" :table-props="tableProps" :data="data" class="poppins">
            <el-table-column header-align="center" align="center" class-name="font-weight-bold"
            type="index"
            label="N°">
            </el-table-column>
            <el-table-column header-align="center" prop="type_r" align="center" label="Tipo Recep.">
            </el-table-column>
            <el-table-column header-align="center" prop="statusName" align="center" label="Estado">
            </el-table-column>
            <el-table-column header-align="center" v-if="typeT == 'EPS'" prop="patientName" align="center" sortable="custom" label="Paciente">
            </el-table-column>
            <el-table-column header-align="center" width="185" v-if="typeT == 'devolution'" prop="services" align="center" sortable="custom" label="Servicio">
            </el-table-column>
            <el-table-column header-align="center" prop="responsable" width="230" align="center" sortable="custom" label="Responsable">
                 <!-- <template slot-scope="scope">
                    <span class="text-justify" v-html="scope.row.responsable"></span>
                </template> -->
            </el-table-column>
            <el-table-column header-align="center" v-if="typeT == 'provider'" prop="providerName" align="center" sortable="custom" label="Proveedor">
            </el-table-column>            
            <el-table-column header-align="center" sortable align="center" label="Creación">
                <template slot-scope="scope">
                    <span v-html="scope.row.date_creation"></span>
                </template>
            </el-table-column>             
            <!-- <el-table-column header-align="center" align="center" label="INFO">
                <template slot-scope="scope">
                    <el-popover trigger="click" placement="top">
                        <p class="poppins mb-0"><strong>Tel: </strong> <span class="poppins-light">{{ scope.row.phone }}</span></p>
                        <hr class="my-2">
                        <p class="poppins mb-0"><strong>Municipio: </strong> <span class="poppins-light">{{ scope.row.town }}</span></p>
                        <hr class="my-2">
                        <p class="poppins mb-0"><strong>EPS: </strong> <span class="poppins-light">{{ scope.row.eps }}</span></p>
                        <hr class="my-2">
                        <p class="poppins mb-0"><strong>RH: </strong> <span class="poppins-light">{{ scope.row.rh }}</span></p>
                        <el-button icon="el-icon-info" slot="reference" circle></el-button>
                    </el-popover>
                </template>
            </el-table-column> -->
            <el-table-column fixed="right" align="center" header-align="center" width="150" label="ACCIONES" v-if="permiss.edit_rec || permiss.del_rec">
                <template slot-scope="scope">                    
                    <el-button-group>                           
                        <el-tooltip content="Ver Productos" v-if="all" placement="top">                     
                            <el-button type="success" @click="see(scope.row._id)" size="mini" icon="el-icon-view"></el-button>
                        </el-tooltip>
                        <el-tooltip content="Editar" placement="top" v-if="permiss.edit_rec && !all">                     
                            <router-link :to="`/vc/sf/update/reception/${scope.row._id}`"><el-button type="primary" @click="upRep(scope.row._id, scope.$index)" size="mini" icon="el-icon-edit-outline"></el-button></router-link>
                        </el-tooltip>
                        <el-popover
                            v-if="permiss.del_rec && !all && rolUser != 'Director Técnico'"
                            placement="top-start"   
                            trigger="manual"                       
                            v-model="scope.row.visiblepop">
                            <p class="mb-0">Estas seguro de anular esta recepción?</p>
                            <hr class="my-2">
                            <div class="d-flex justify-content-end align-items-center">
                                <el-button size="mini" type="text" @click="scope.row.visiblepop = false">Cancelar</el-button>
                                <el-button type="danger" size="mini" @click.prevent="turnDead(scope.row._id)">Anular</el-button>
                            </div>                 
                            <el-button type="danger" size="mini" icon="el-icon-document-delete" @click="scope.row.visiblepop = true" slot="reference"></el-button>
                        </el-popover>                        
                    </el-button-group>
                </template>
            </el-table-column>
        </data-tables>        
     </div>
</template>
<script>
import { EventBus } from '../../Utilities/Plugins/Bus.js'
export default {
    data(){
        return{           
            typeT: 'EPS',            
            dni: '',
            typeR: '',
            all: false,
            permiss: {
                edit_rec: false,
                del_rec: false
            },
            dynamicTable: 
            {
               eps: [],
               provider: [],
               product: [],
               user: []               
            },
            status_details: 
            {
                packaging: false,
                cold_chain: 
                {
                    status: false,
                    number: null
                },
                packaging_container: false,
                appereance: false,
                smell: false,
                requested_product: false,   
                quantity_rotation: false,
                product_inventory: false,
                billed_value: false,
                expiration_date_one: false,
                product_liberation: false
            },
            patients: [],
            data: [],
            tableProps: 
            {
                border: false,
                stripe: true,
                defaultSort: 
                {
                    prop: 'order', order: 'descending'
                }
            },
            loading: true,
            response:
            {
                charginButton: false,                
            },
            rolUser: '',
            dataShow: []
        }
    },
    mounted()
    {
        this.dynamic()   
        this.sessdata()     
        setTimeout(() => 
        {
            this.dataTable('EPS')    
        }, 500);
        EventBus.$on('recharge', () => 
        {
            this.dataTable(this.typeR)
        });
    },
    methods:
    {       
        turnDead(id){
            axios.post('/api/sf/reception/changestat', {id,data:{status: 'DEAD'}}).then(resp => {
                // console.log(this.$myCryptor.decode(resp.data))
                this.dataTable(this.typeR)
            })
        },
        see(id) 
        {            
            let data = this.data                
            for (const key in data) 
            {
                if(data[key]._id == id)
                {               
                    this.typeR = data[key].type_reception
                    for (const keyy in data[key].products) 
                    {                            
                        // if(!data[key].products[keyy].approved_dir)
                        // {
                            let a = data[key].products[keyy].approved_dir
                            data[key].products[keyy].approved_dir_show = a
                            data[key].products[keyy].shp = true                                
                            for (const keyyy in this.dynamicTable.product) 
                            {
                                if(this.dynamicTable.product[keyyy]._id == data[key].products[keyy].product)    
                                {
                                    data[key].products[keyy].name = this.dynamicTable.product[keyyy].name
                                }
                            }                                   
                        // }                   
                    }                                                
                    this.dataShow = data[key]
                }    
            }            
            EventBus.$emit('viewReception', {data: this.dataShow, type: this.typeR});
        }, 
        sessdata()
        {
            axios.post('/auth/sessdata', {fields: ['rol', 'dni']}).then(resp => 
            {                     
                let res = this.$myCryptor.decode(resp.data.data);                
                this.dni = res[1].dni
                this.rolUser = res[0].name
                for (const key in res[0].access.items) 
                {
                    if(res[0].access.items[key].id == 2)
                    {
                        for (const llave in res[0].access.items[key].subitems) {
                            if(res[0].access.items[key].subitems[llave].id == 4) {
                                if(res[0].access.items[key].subitems[llave].actions.includes("U"))
                                    this.permiss.edit_rec = true;
                                else
                                    this.permiss.edit_rec = false
                                if(res[0].access.items[key].subitems[llave].actions.includes("RR"))
                                    this.permiss.del_rec = true
                                else
                                    this.permiss.del_rec = false
                            }
                        }
                    }
                }                                            
            })
        },
        dataTable(type)
        {                 
            this.loading = true    
            this.data = []
            axios.post('/api/sf/reception/list').then((res) =>
            {                
                let data = this.$myCryptor.decode(res.data)
                let dataa =
                {
                    type_reception: '',
                    status: '',
                    provider: '',
                    patient: '',                    
                    bill_number: '',
                    eps: '',
                    services: '',
                    date_creation: '',
                    responsible_dni: '',
                    products:
                    [
                        {
                            product: '',
                            lote: '',
                            status: '',
                            observation: '',
                            quantity: '',
                            expiration_date: '',
                            status_details: {},
                        }
                    ]   
                }   
                function Del()
                {                    
                    dataa =
                    {
                        type_reception: '',
                        status: '',
                        provider: '',                        
                        patient: '',
                        bill_number: '',
                        eps: '',
                        services: '',
                        date_creation: '',
                        responsible_dni: '',
                        products:
                        [
                            {
                                product: '',
                                lote: '',
                                status: '',
                                observation: '',
                                quantity: '',
                                expiration_date: '',
                                status_details: {},
                            }
                        ]   
                    } 
                }                      
                for (const key in data) 
                {              
                    for (const keyy in this.dynamicTable.user) 
                    {
                        if(data[key].responsible_dni == this.dynamicTable.user[keyy]._id)
                        {                            
                            data[key].responsable = this.dynamicTable.user[keyy].name.first+' '+this.dynamicTable.user[keyy].name.last
                            data[key].dni = this.dynamicTable.user[keyy].dni.dni
                        }    
                    }      
                    if(data[key].status == 'WAIT')
                    {
                        data[key].statusName = 'EN ESPERA'
                    }
                    if(data[key].status == 'BACK')
                    {
                        data[key].statusName = 'DEVUELTA'
                    }
                    if(data[key].status == 'BACK_')
                    {
                        data[key].statusName = 'MODIFICADA'
                    }
                    if(data[key].status == 'SUCCESS')
                    {
                        data[key].statusName = 'APROBADA'
                    }                    
                    data[key].visiblepop = false
                    switch (data[key].type_reception) 
                    {
                        case 'provider':
                            data[key].type_r = 'Proveedor'
                        break;
                        case 'devolution':
                            data[key].type_r = 'Dev. Interna'
                        break; 
                        default:
                            data[key].type_r = 'EPS'
                        break;                       
                    }
                    let g = data[key].date_creation                    
                    let h = new Date(data[key].date_creation)
                    let vec = ['Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab', 'Dom']
                    let date =  vec[(h.getUTCDay() != 0) ? h.getUTCDay()-1 : h.getUTCDay()]+', '+h.getUTCDate()+'-'+(((h.getUTCMonth()+1) < 10) ? '0'+''+(h.getUTCMonth()+1) : (h.getUTCMonth()+1))+'-'+h.getUTCFullYear()
                    data[key].date_creation = date+`<br> a las `+h.getUTCHours()+':'+((h.getUTCMinutes() <= 9) ? '0'+''+h.getUTCMinutes() : h.getUTCMinutes())        
                    if(data[key].type_reception == 'EPS' && type == 'EPS')
                    {               
                        dataa = data[key] 
                        dataa.order = g                                                  
                        for (const keyy in this.patients) 
                        {                                                                    
                            if(data[key].patient == this.patients[keyy]._id) 
                            {                                                                            
                                dataa.patientName = this.patients[keyy].basic_info.name.fname+' '+this.patients[keyy].basic_info.lastname.flname                                
                            }
                        }
                        for (const keyyy in this.dynamicTable.eps) 
                        {
                            if (data[key].eps == this.dynamicTable.eps[keyyy]._id) 
                            {
                                dataa.epsName = this.dynamicTable.eps[keyyy].name.first
                            }
                        }                            
                        if((data[key].status == 'WAIT' && this.rolUser == 'Director Técnico') || (data[key].status == 'BACK_' && this.rolUser == 'Director Técnico') || (this.all && this.rolUser == 'Director Técnico') ||
                        (data[key].status == 'WAIT' && this.rolUser == 'Jefe De Producción') || (data[key].status == 'BACK_' && this.rolUser == 'Jefe De Producción') || (this.all && this.rolUser == 'Jefe De Producción'))                    
                        {                               
                            this.data.push(dataa)   
                        }
                        if(data[key].status == 'BACK' && this.rolUser != 'Director Técnico')                    
                        {   
                            this.data.push(dataa)  
                            if(!this.all)
                            {
                                for (const llave in this.data) 
                                {
                                    if(this.data[llave].dni != this.dni)
                                    {
                                        delete this.data[key]
                                    }
                                }
                            }                             
                            if(this.data[0] == null || !this.data[0])
                            {
                                this.data = []
                            }
                        }
                        Del()                  
                    }
                    if(data[key].type_reception == 'provider' && type == 'provider')
                    {                
                        dataa = data[key] 
                        delete dataa.patient
                        delete dataa.patientName 
                        for (const keyyy in this.dynamicTable.provider) 
                        {
                            if (data[key].provider == this.dynamicTable.provider[keyyy]._id) 
                            {
                                dataa.providerName = this.dynamicTable.provider[keyyy].name.first
                            }
                        }
                        if((data[key].status == 'WAIT' && this.rolUser == 'Director Técnico') || (data[key].status == 'BACK_' && this.rolUser == 'Director Técnico') || (this.all && this.rolUser == 'Director Técnico') ||
                        (data[key].status == 'WAIT' && this.rolUser == 'Jefe De Producción') || (data[key].status == 'BACK_' && this.rolUser == 'Jefe De Producción') || (this.all && this.rolUser == 'Jefe De Producción'))                    
                        {   
                            this.data.push(dataa)   
                        }
                        if(data[key].status == 'BACK' && this.rolUser != 'Director Técnico')                    
                        {   
                            this.data.push(dataa)  
                            if(!this.all)
                            {
                                for (const llave in this.data) 
                                {
                                    if(this.data[llave].dni != this.dni)
                                    {
                                        delete this.data[key]
                                    }
                                }
                            } 
                        }      
                        if(this.data[0] == null || !this.data[0])
                        {
                            this.data = []
                        }                 
                        Del()                    
                    } 
                    if(data[key].type_reception == 'devolution' && type == 'devolution')
                    {                
                        dataa = data[key] 
                        delete dataa.patient
                        delete dataa.patientName    
                        if((data[key].status == 'WAIT' && this.rolUser == 'Director Técnico') || (data[key].status == 'BACK_' && this.rolUser == 'Director Técnico') || (this.all && this.rolUser == 'Director Técnico') ||
                        (data[key].status == 'WAIT' && this.rolUser == 'Jefe De Producción') || (data[key].status == 'BACK_' && this.rolUser == 'Jefe De Producción') || (this.all && this.rolUser == 'Jefe De Producción'))                    
                        {   
                            this.data.push(dataa)   
                        }
                        if(data[key].status == 'BACK' && this.rolUser != 'Director Técnico')                    
                        {   
                            this.data.push(dataa)  
                            if(!this.all)
                            {
                                for (const llave in this.data) 
                                {
                                    if(this.data[llave].dni != this.dni)
                                    {
                                        delete this.data[key]
                                    }
                                }
                            } 
                            if(this.data[0] == null || !this.data[0])
                            {
                                this.data = []
                            }
                        }
                        Del()                    
                    }                  
                }                
            })
            this.loading = false
        },
        listPatient()
        {
            axios.post('/api/sf/patient/list').then((resp) =>
            {                
                let data = this.$myCryptor.decode(resp.data)                
                this.patients = data
                // for (let index = 0; index < data.length; index++) 
                // {
                //     let inn = {value: data[index]._id, label: data[index].dni.num, name: data[index].basic_info.name.fname+' '+data[index].basic_info.name.lname}
                //     this.patients.push(inn)
                //     inn = null
                // }
            })            
        },
        listUser()
        {
            axios.post('/auth/info', {rol: 'user'}).then(resp => {
               let data = this.$myCryptor.decode(resp.data.result)                
                this.dynamicTable.user = data
            })
        },
        dynamic()
        {
            this.listPatient()
            axios.post('/api/sf/dynamictable/list').then((resp) => 
            {
                let response = this.$myCryptor.decode(resp.data.res)
                for(let dyn in response)
                {
                    if(response[dyn].contactType.includes("EPS"))
                    {
                        this.dynamicTable.eps.push(response[dyn])
                    }
                    if(response[dyn].contactType.includes("Provider"))
                    {
                        this.dynamicTable.provider.push(response[dyn])
                    }                    
                }
            })
            this.listProduct()
            this.listUser()            
        },
        listProduct()
        {
            axios.post('/api/sf/product/list').then((resp) =>
            {                                                  
                let data = this.$myCryptor.decode(resp.data)                       
                for (const key in data) 
                {                                                                 
                    this.dynamicTable.product.push(data[key])                    
                }
            })             
        },
        upRep(id, idx)
        {            
            // console.log(this.data[idx])
        }
    }
}
</script>

