<template>
    <div class="container my-0 p-0">        
        <h4 class="text-center poppins text-dark-blue font-weight-bold text-uppercase">Crear Recepción</h4> 
        <hr class="bg-dark-blue">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Tipo Entrada</span>
            </div>
            <select name="type-reception" @change="changeEntry" v-model="reception_data.type_reception" class="form-control">
                <option value="" disabled selected>Escoja una opción</option>
                <option value="EPS">EPS</option>
                <option value="provider">Proveedor</option>
                <option value="devolution">Devolución interna</option>
            </select>
        </div> 
        <hr>
        <!-- EPS CARD -->
        <div class="card border-info" v-if="reception_data.type_reception != ''">
            <div class="card-header">
                <h4 class="text-info mb-0">Registrar Datos</h4>
            </div>
            <div class="card-body">
                <form action="" class="" autocomplete="off">
                    <div class="form-row mx-0">
                        <div v-if="reception_data.type_reception == 'EPS'" class="form-group col-lg-6 mb-2">
                                <label class="mb-0 font-weight-bold poppins text-dark-blue" for="dni">Identificación</label>
                                <el-select v-model="reception_data.patient" @change="patientEps(reception_data.patient)" class="w-100" filterable placeholder="Escoja un paciente">
                                    <el-option
                                        v-for="(item, index) in Cpatients"
                                        :key="index"
                                        :label="item.label"
                                        :value="item.value">
                                    </el-option>
                                </el-select>
                                <!-- <v-select class="" placeholder="Escoja un paciente" :options="Cpatients"  v-model="select.patient">
                                    <span slot="no-options">No se encotraron datos!</span>
                                </v-select>   -->
                                <div class="mt-2">
                                    <router-link to="/vc/sf/patient"><button class="btn btn-outline-success btn-sm poppins-light mr-1 mb-1"><i class="el-icon-plus"></i> Crear paciente</button></router-link>
                                </div>
                                <!-- <router-link to="/vc/sf/patient" class="underline"><span class="text-dark-blue">Crear Paciente</span></router-link>                                 -->
                        </div> 
                        <div class="form-group col-lg-6" v-if="reception_data.type_reception == 'EPS'">
                            <label class="mb-0 font-weight-bold poppins text-dark-blue" for="eps">EPS</label>
                            <input type="text" readonly  class="form-control" name="epsInput" placeholder="">
                            <!-- <el-select v-model="reception_data.eps" class="w-100" filterable placeholder="Escoja una opcion">
                                <el-option
                                    v-for="(item, index) in dynamicTable.eps"
                                    :key="index"
                                    :label="item.name.first"
                                    :value="item._id">
                                </el-option>
                            </el-select> -->
                            <!-- <v-select class="" placeholder="Escoja una opcion" :options="dynamicTable.eps"  v-model="select.eps">
                                <span slot="no-options">No se encotraron datos!</span>
                            </v-select>  -->
                        </div> 
                        <div class="col-12 d-flex justify-content-center" v-if="showInfoPatient">
                            <div class="col-12 col-lg-6 col-md-9 mb-2">
                                <el-card class="box-card poppins-light">
                                    <div slot="header" class="clearfix">
                                        <span class="poppins-bold">Paciente <br><span class="poppins info-name"></span></span>                                        
                                    </div>
                                    <p class="mb-0"><strong>Tel:</strong><span class="info-tel"></span></p>
                                    <hr class="my-1">
                                    <p class="mb-0"><strong>RH:</strong><span class="info-rh"></span></p>
                                    <hr class="my-1">
                                    <p class="mb-0"><strong>Genero:</strong><span class="info-gen"></span></p>
                                    <hr class="my-1">
                                    <p class="mb-0"><strong>Estado Civil:</strong><span class="info-ec"></span></p>                                    
                                    <hr class="my-1">
                                    <p class="mb-0"><strong>Vinculación:</strong><span class="info-vin"></span></p>                                    
                                    <hr class="my-1">
                                    <p class="mb-0"><strong>Trabajo:</strong><span class="info-tra"></span></p>                                    
                                    <hr class="my-1">
                                    <p class="mb-0"><strong>Dirección:</strong><span class="info-dir"></span></p>                                    
                                </el-card>
                            </div>
                        </div>
                        <div class="form-group col-12 col-lg-6 col-md-6" v-if="reception_data.type_reception == 'provider'">
                            <label class="mb-0 font-weight-bold poppins text-dark-blue" for="pro">Proveedor</label>
                            <el-select v-model="reception_data.provider" class="w-100" filterable placeholder="Proveedor">
                                <el-option
                                    v-for="(item, index) in dynamicTable.provider"
                                    :key="index"
                                    :label="item.name.first"
                                    :value="item._id">
                                </el-option>
                            </el-select>
                        </div> 
                        <div v-if="reception_data.type_reception == 'provider'" class="col-12 col-lg-6 col-md-6 px-1 mb-2">
                            <label class="mb-0 font-weight-bold poppins">Número Factura</label>
                            <input type="text" name="numFac" v-model="reception_data.bill_number" class="form-control" placeholder="Ingrese Factura">
                        </div>
                        <!-- <div v-if="reception_data.type_reception != 'EPS'" :class="{'col-lg-6' : reception_data.type_reception == 'devolution', 'col-lg-12' : reception_data.type_reception != 'devolution'}" class="col-12 col-md-6 px-1 mb-2">
                            <label class="mb-0 font-weight-bold poppins">Valor Factura</label>
                            <input type="number" min="0" name="valFac" v-model="reception_data.bill_value" class="form-control" placeholder="Ingrese Valor Factura">
                        </div> -->
                        <div class="form-group col-12 col-lg-6 col-md-6 px-1 mb-2" v-if="reception_data.type_reception == 'devolution'">
                            <label class="mb-0 font-weight-bold poppins text-dark-blue" for="pro">Servicio</label>
                            <el-select v-model="reception_data.services" class="w-100" filterable placeholder="De donde proviene el producto">
                                <el-option
                                    v-for="(item, index) in services"
                                    :key="index"
                                    :label="item.name"
                                    :value="item.value">
                                </el-option>
                            </el-select>
                        </div>
                        <div class="col-12"><hr class="my-2"></div>
                        <div class="col-lg-12 mt-1 row mx-0 px-0 mb-2">
                            <div class="col-12 col-lg-4 col-md-6 mb-2 px-1">                                
                                <label class="mb-0 font-weight-bold poppins text-dark-blue" for="product">Producto</label>                               
                                <template>
                                    <el-select v-model="product.product" filterable placeholder="Selecciona" style="width: 100% !important;">
                                        <el-option
                                        v-for="(item, index) in dynamicTable.product"
                                        :key="index"
                                        :label="item.cnc"
                                        :value="item.value">
                                        <span style="float: left">{{ item.label }}</span>
                                        <span style="float: right; color: #8492a6;font-weight:500; font-size: 13px;margin-left: 10px;">{{ item.type }}</span>
                                        </el-option>
                                    </el-select>
                                </template>
                                <div class="mt-2">
                                    <router-link to="/vc/sf/product"><button class="btn btn-outline-success btn-sm poppins-light mr-1 mb-1"><i class="el-icon-plus"></i> Crear producto</button></router-link>
                                </div>
                                <!-- <router-link to="/vc/sf/product" class="no-underline"><span class="text-dark-blue">Crear Producto</span></router-link>                               -->
                            </div>
                            <div class="col-12 col-lg-3 col-md-6 px-1 mb-2">
                                <label class="mb-0 font-weight-bold poppins">Cantidad</label>
                                <input type="number" min="0" name="product_stock" v-model="product.stock" class="form-control" placeholder="Ingrese cantidad">
                            </div>
                            <div class="col-12 col-lg-3 col-md-6 px-1 mb-sm-3">
                                <label class="mb-0 font-weight-bold poppins">Fecha Vencimiento</label>
                                <el-date-picker
                                    v-model="product.expiration_date"
                                    type="date"
                                    class="w-100"
                                    placeholder="Selecciona un dia"
                                    format="yyyy/MM/dd"
                                    value-format="yyyy-MM-dd">
                                </el-date-picker>                                
                            </div>      
                            <div class="col-lg-2 col-md-6 col-sm-12 px-1 mb-3">
                                <label class="mb-0 font-weight-bold poppins text-dark-blue" for="dni">Lote:</label>
                                <input type="text" v-model="product.lote" name="point" class="w-100 form-control" >                                
                            </div>                                                                                                                                                                                          
                        </div>                                                                                              
                        <div class="col-12"><hr class="mb-3 mt-0"></div>
                        <div class="col-lg-12 mt-0 mb-2 poppins-light">           
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" @change="verifyCheck()" v-model="status_details.packaging" class="custom-control-input" id="check_1">
                                <label class="custom-control-label" for="check_1">Embalaje en perfectas condiciones</label>
                                <hr class="my-2">  
                            </div>                             
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" @change="verifyCheck()" v-model="status_details.packaging_container" class="custom-control-input" id="check_3">
                                <label class="custom-control-label" for="check_3">Empaque secundario en perfectas condiciones</label>
                                <hr class="my-2">  
                            </div> 
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" @change="verifyCheck()" v-model="status_details.cold_chain.status" class="custom-control-input" id="check_2">
                                <label class="custom-control-label" for="check_2">Para medicamentos que requieren cadena de frio, se encuentra embalado en nevera portátil y la lectura de la temperatura se encuentra entre 2 y 8 grados centígrados</label>
                                <div v-if="status_details.cold_chain.status" class="input-group form-control-sm mt-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">¿Cuantos Grados?</span>
                                    </div>
                                    <input type="number" @keyup="cold()" v-model="status_details.cold_chain.number" min="1" max="8" name="numberCold" class="form-control poppins-light" >
                                </div>
                                <hr class="my-2">  
                            </div> 
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" @change="verifyCheck()" v-model="status_details.appereance" class="custom-control-input" id="check_4">
                                <label class="custom-control-label" for="check_4">La apariencia de la impresión debe ser homogénea y por ningún motivo esta deberá estar pixelada</label>
                                <hr class="my-2">  
                            </div> 
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" @change="verifyCheck()" v-model="status_details.smell" class="custom-control-input" id="check_5">
                                <label class="custom-control-label" for="check_5">Se mantiene el olor característico del producto o en su defecto presenta un olor neutro</label>
                                <hr class="my-2">  
                            </div>                                                  
                            <div class="custom-control custom-checkbox" v-if="reception_data.type_reception != 'devolution'">
                                <input type="checkbox" @change="verifyCheck()" v-model="status_details.expiration_date_one" class="custom-control-input" id="check_10">
                                <label class="custom-control-label" for="check_10">La fecha de vencimiento es superior a 1 año</label>
                                <hr class="my-2">  
                            </div>       
                            <div v-if="reception_data.type_reception == 'provider'">                                
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" @change="verifyCheck()" v-model="status_details.requested_product" class="custom-control-input" id="check_6">
                                    <label class="custom-control-label" for="check_6">Producto corresponde al solicitado</label>
                                    <hr class="my-2">  
                                </div> 
                                <!-- <div class="custom-control custom-checkbox">
                                    <input type="checkbox" @change="verifyCheck()" v-model="status_details.quantity_rotation" class="custom-control-input" id="check_7">
                                    <label class="custom-control-label" for="check_7">La cantidad recibida cumple con los volúmenes de rotación inferior a 6 meses</label>
                                    <hr class="my-2">  
                                </div>  -->
                                <!-- <div class="custom-control custom-checkbox">
                                    <input type="checkbox" @change="verifyCheck()" v-model="status_details.product_inventory" class="custom-control-input" id="check_8">
                                    <label class="custom-control-label" for="check_8">El producto recibido ya existe en el inventario de la institución</label>
                                    <hr class="my-2">  
                                </div>  -->
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" @change="verifyCheck()" v-model="status_details.billed_value" class="custom-control-input" id="check_9">
                                    <label class="custom-control-label" for="check_9">Los valores facturados corresponden con los acordados comercialmente con la institución.</label>
                                    <hr class="my-2">  
                                </div>                                
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" @change="verifyCheck()" v-model="status_details.product_liberation" class="custom-control-input" id="check_11">
                                    <label class="custom-control-label" for="check_11">Adjunta certificado de liberación del producto</label>
                                    <hr class="my-2">  
                                </div> 
                            </div>
                        </div>                         
                        <div class="col-lg-5 mt-2 text-center col-md-12 col-sm-12 px-1 mb-3">
                                <label class="w-100 mb-1 font-weight-bold poppins text-dark-blue" for="dni">¿Cúal es el status del producto?</label>
                                <el-radio-group v-model="product.status" size="small">
                                    <el-radio class="mx-2 poppins-light" :label="true" :disabled="!btnApproved" border>Aprueba a conformidad</el-radio>
                                    <el-radio class="mx-2 poppins-light" :label="false" border>Desaprueba por no conformidad</el-radio>
                                </el-radio-group>
                        </div> 
                        <div v-if="product.status == false" class="col-lg-7 mt-2 col-md-12 col-sm-12 px-1 mb-3 d-flex justify-content-end align-items-center">
                            <div class="input-group form-control-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Obs.</span>
                                </div>
                                <input type="text" v-model="product.observation" name="obs" class="form-control" >
                            </div>  
                        </div>
                        <div class="col-12 col-lg-12 col-md-12 px-0 d-flex justify-content-center align-items-center align-content-center">
                            <a href="#!" v-if="product.stock != '' && product.expiration_date != '' && product.lote != '' && product.product != '' && product.status != null" @click="addProduct()" class="btn px-5 position-relative btn-outline-success mb-2"><i class="fa fa-plus"></i> Añadir</a>
                            <button v-else disabled class="btn px-5 position-relative btn-outline-success mb-2"><i class="fa fa-plus"></i> Añadir</button>
                        </div>
                        <!-- READ ONLY DATA -->
                        <div class="col-lg-12 mt-3 row mx-0 px-0" v-if="savedProduct.length != 0">                               
                            <table class="table poppins-light table-sm table-responsive-reception">
                                <caption>Listado de productos</caption>
                                <thead>
                                    <tr>
                                    <th scope="col">Producto</th>
                                    <th scope="col">Cantidad</th>
                                    <th scope="col">F/V</th>
                                    <th scope="col">Lote</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Obs.</th>
                                    <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(table, index) in savedProduct" :key="index">
                                        <th>{{table.product}}</th>
                                        <td>{{table.stock}}</td>
                                        <td>{{table.expiration_date}}</td>
                                        <td>{{table.lote}}</td>
                                        <td>{{table.status}}</td>                                        
                                        <td v-if="table.observation != ''">{{table.observation}}</td>
                                        <td v-else>N/A</td>
                                        <td width="45px">
                                            <a href="#!" style="top:2px;" @click="remove(index)" class="btn btn-block position-relative btn-outline-danger btn-sm mb-1"><i class="fa fa-times"></i></a>                                                
                                        </td>     
                                    </tr>                                   
                                </tbody>
                            </table>
                        </div>
                        <!-- END READ ONLY DATA -->
                        <div class="col-lg-12 row mx-0 mt-0 mb-2 justify-content-center align-content-center align-items-center">
                            <div class="col-lg-12 text-center button-reception col-md-8 col-12">
                                <button v-if="savedProduct.length != 0" :disabled="response.chargingButton" @click.prevent="approvedReception()" class="btn btn-outline-primary my-2"><i class="fa" v-bind:class="{'fa-check': !response.chargingButton, 'el-icon-loading': response.chargingButton}"></i> Guardar Recepción</button>
                                <!-- <button v-else disabled class="btn btn-outline-primary my-2"><i class="fa fa-check"></i> Guardar Recepción</button>                                 -->
                            </div>
                        </div>
                    </div>
                </form>
            </div>          
        </div>
        <!-- END EPS CARD -->
    </div>
</template>
<script>
let reception =
{
    type_reception: '',
	provider: '',
	patient: '',
    bill_number: '',
    bill_value: 0,
	services: '',
    eps: '',
    products: [],	
}
export default {
    data() {
        return {
            showInfoPatient: false,
            thatLotes: [],               
            prodFind: [],         
            // checklist: [
            //     {id: -1, name: ''},
            //     {id: -1, name: ''},
            //     {id: 0, status_n: 'packaging', entry: ['EPS', 'provider', 'devolution'], name: 'Embalaje en perfectas condiciones'},
            //     {id: 1, status_n: 'cold_chain', entry: ['EPS', 'provider', 'devolution'], name: 'Para medicamentos que requieren cadena de frio, se encuentra embalado en nevera portátil y la lectura de la temperatura se encuentra entre 2 y 8 grados centígrados'},
            //     {id: 2, status_n: 'packaging_container', entry: ['EPS', 'provider', 'devolution'], name: 'Empaque secundario en perfectas condiciones'},
            //     {id: 3, status_n: 'appareance', entry: ['EPS', 'provider', 'devolution'], name: 'La apariencia de la impresión debe ser homogénea y por ningún motivo esta deberá estar pixelada'},
            //     {id: 4, status_n: 'smell', entry: ['EPS', 'provider', 'devolution'], name: 'Se mantiene el olor característico del producto o en su defecto presenta un olor neutro'},
            //     {id: 5, status_n: 'requested_product', entry: ['EPS', 'provider', 'devolution'], name: 'Producto corresponde al solicitado	'},
            //     {id: 6, status_n: 'quantity_rotation', entry: ['', 'provider', 'devolution'], name: 'La cantidad recibida cumple con los volúmenes de rotación inferior a 6 meses	'},
            //     {id: 7, status_n: 'product_inventory', entry: ['', 'provider', 'devolution'], name: 'El producto recibido ya existe en el inventario de la institución	'},
            //     {id: 8, status_n: 'billed_value', entry: ['', 'provider', 'devolution'], name: 'Los valores facturados corresponden con los acordados comercialmente con la institución.	'},
            //     {id: 9, status_n: 'expiration_date_one', entry: ['', 'provider', 'devolution'], name: 'La fecha de vencimiento es superior a 1 año	'},
            //     {id: 10, status_n: 'product_necessary', entry: ['', 'provider', 'devolution'], name: 'Adjunta certificado de liberación del producto', required: false}
            // ],
            status_details: 
            {
                packaging: false,
                cold_chain: 
                {
                    status: false,
                    number: 0
                },
                packaging_container: false,
                appereance: false,
                smell: false,
                requested_product: false,   
                // quantity_rotation: false,
                // product_inventory: false,
                billed_value: false,
                expiration_date_one: false,
                product_liberation: false
            },
            btnApproved: false,
            product:
            {
                stock: 0,
                expiration_date: "",
                lote: '',                
                product: '', 
                status: null,                
                observation: ''
            },            
            savedProduct: [],
            dynamicTable: 
            {
               eps: [],
               provider: [],
               product: []               
            },
            reception_data: reception,
            patients: {},     
            Cpatients: [],
            // services: [{label: 'Central mezclas', value: 'Central mezclas'}, {label: 'Urgencias', value: 'Urgencias'}, {label: 'UCI Cardiovascular', value: 'UCI Cardiovascular'}, {label: 'Sala Quimioterapia', value: 'Sala Quimioterapia'}, {label: 'UCI Pediátrica', value: 'UCI Pediátrica'}, {label: 'UCI Adultos', value: 'UCI Adultos'}, {label: 'Hospitalización', value: 'Hospitalización'}],
            services: [{label: 'Consulta externa', value: 'Consulta externa'}, {label: 'Sala de procedimiento', value: 'Sala de procedimiento'}, {label: 'Radioterapia', value: 'Radioterapia'}, {label: 'Gastroenterología', value: 'Gastroenterología'}, {label: 'Quimioterapia', value: 'Quimioterapia'}],
            select: {
                // eps: '',
                // patient: '',
                product: '',
                provider: '',
                responsible: '',
                services: ''
            },
            logged: '',
            response:
            {
                chargingButton: false,
                chargingButton_: false,
                invalidCard: false
            }           
        }
    },
    created()
    {
        this.dynamic()
        this.listProduct()
        this.listPatient()
    },
    mounted() 
    {   
        this.changeEntry()
        axios.post('/auth/sessdata', {fields: ['dni', '_id']}).then(resp => {
            let res = this.$myCryptor.decode(resp.data.data)            
            this.logged = res[1]
        })    
    },
    watch: { 
        'select.responsible': function (newVal) { 
            if(newVal != ''){
                this.reception_data.responsible_id = newVal.value
            }
        },
        'select.provider': function (newVal) { 
            if(newVal != ''){
                this.reception_data.provider = this.dynamicTable.provider[newVal.value]._id
            }else
            {
                this.reception_data.provider = ''
            }
        },
        'select.services': function (newVal) { 
            if(newVal != ''){
                this.reception_data.services = newVal.value
            }
        },
    },
    methods:
    {
        dynamic()
        {
           axios.post('/api/sf/dynamictable/list').then((resp) => 
            {
                let response = this.$myCryptor.decode(resp.data.res)
                for(let dyn in response)
                {
                    if(response[dyn].contactType.includes("EPS"))
                    {
                        this.dynamicTable.eps.push(response[dyn])
                    }
                    if(response[dyn].contactType.includes("Provider"))
                    {
                        this.dynamicTable.provider.push(response[dyn])
                    }                    
                }
            })
        },
        listProduct()
        {
            axios.post('/api/sf/product/list').then((resp) =>
            {                                                  
                let data = this.$myCryptor.decode(resp.data)
                this.prodFind = data;                
                for (const key in data) 
                {
                    if (data[key].hasOwnProperty('name')) 
                    {
                        const element = {value: key, label: data[key].name, type: data[key].type, cnc: data[key].consecutive}
                        this.dynamicTable.product.push(element)
                    }
                    let a = data[key].lotes
                    for (const index in a) 
                    {
                        const item = {value: index, label: a[index].lote, product: data[key].name}
                        this.thatLotes.push(item)
                    }
                }
            })             
        },
        listPatient()
        {
            axios.post('/api/sf/patient/list').then((resp) =>
            {                
                let data = this.$myCryptor.decode(resp.data)                
                this.patients = data
                for (let index = 0; index < data.length; index++) 
                {
                    let inn = {value: data[index]._id, label: data[index].dni.num, name: data[index].basic_info.name.fname+' '+data[index].basic_info.name.lname}
                    this.Cpatients.push(inn)
                    inn = null
                }
            })            
        },
        addProduct()
        {           
            if(this.reception_data.type_reception == 'EPS')
            {
                delete this.status_details.product_liberation                
                delete this.status_details.billed_value                
            }
            if(this.reception_data.type_reception == 'devolution')
            {                
                delete this.status_details.product_liberation                
                delete this.status_details.billed_value
                delete this.status_details.expiration_date_one
                delete this.status_details.requested_product
            }
            let cant = this.product.stock
            let expiration_date = this.product.expiration_date
            let lote = this.product.lote
            let prod = this.product.product
            /** añadir datos al vector */
            let stat = ''
            this.reception_data.products.push({status_details: this.status_details, status: this.product.status, quantity: cant, expiration_date: expiration_date, observation: this.product.observation, lote: lote, product: this.prodFind[prod]._id})            
            if(this.product.status)
                stat = 'Aprobado'
            else   
                stat = 'Desaprobado'
            this.savedProduct.push({status_details: this.status_details, status: stat, observation: this.product.observation, stock: cant, lote: lote, product: this.prodFind[prod].name, productId: this.prodFind[prod]._id, expiration_date: expiration_date })
            /* ----------------------- */
            this.product.stock = 0
            this.product.expiration_date = ''
            this.product.lote = ''
            this.product.product = ''
            this.product.observation = ''
            this.product.status = null
            this.status_details =
            {
                packaging: false,
                cold_chain: 
                {
                    status: false,
                    number: null
                },
                packaging_container: false,
                appereance: false,
                smell: false,
                requested_product: false,   
                // quantity_rotation: false,
                // product_inventory: false,
                billed_value: false,
                expiration_date_one: false,
                product_liberation: false
            }            
            /*-------------------------*/
        },
        // cambiarStat(a, v)
        // {            
        //     console.log(v)
        //     this.statusProduct = !this.statusProduct
        //     this.reception_data.products[a].status = v
        // },
        remove(a)
        {            
            this.savedProduct.splice(a, 1)
            this.reception_data.products.splice(a, 1)
        },
        changeEntry()
        {
            $('input[name=epsInput]').val('')    
            this.product.stock = 0
            this.showInfoPatient = false
            this.product.expiration_date = ''
            this.product.lote = ''
            this.product.status = null
            this.product.observation = ''
            this.select.product = ''
            this.reception_data.provider = ''
            this.reception_data.bill_number = ''
            this.reception_data.bill_value = 0
            this.reception_data.products = []

            this.select.patient = ''
            this.select.eps = ''
            this.reception_data.patient = ''
            this.reception_data.eps = ''

            this.status_details =
            {
                packaging: false,
                cold_chain: 
                {
                    status: false,
                    number: null
                },
                packaging_container: false,
                appereance: false,
                smell: false,
                requested_product: false,   
                // quantity_rotation: false,
                // product_inventory: false,
                billed_value: false,
                expiration_date_one: false,
                product_liberation: false
            }
            this.savedProduct = []
        },
        cold()
        {
            let a = this.status_details
            if((a.cold_chain.number < 2 || a.cold_chain.number > 8) && a.cold_chain.status)
            {
                this.$swal.fire(
                {
                    title: 'Info',
                    text: "Ingrese rango requerido",
                    type: 'info',
                    showCancelButton: false,
                    confirmButtonColor: '#3085d6',                    
                    confirmButtonText: 'Aceptar'
                })
                this.btnApproved = false
            }
            else
            {
                this.btnApproved = true
            }
            
        },
        verifyCheck()
        {
            let a = this.status_details
            if (this.reception_data.type_reception == 'EPS') 
            {                
                if(
                    !a.packaging ||                    
                    (a.cold_chain.status && (a.cold_chain.number < 2  || a.cold_chain.number > 8 || !a.cold_chain.number)) ||
                    !a.packaging_container ||
                    !a.appereance ||
                    !a.smell ||                    
                    !a.expiration_date_one
                )
                {
                    this.btnApproved = false;
                }else
                {
                    this.btnApproved = true;
                }
            }
            if (this.reception_data.type_reception == 'devolution') 
            {                
                if(
                    !a.packaging ||
                    (a.cold_chain.status && (a.cold_chain.number < 2  || a.cold_chain.number > 8 || !a.cold_chain.number)) ||
                    !a.packaging_container ||
                    !a.appereance ||
                    !a.smell
                )
                {
                    this.btnApproved = false;
                }else
                {
                    this.btnApproved = true;
                }
            }
            if(this.reception_data.type_reception == 'provider')
            {
                if(
                    !a.packaging ||
                    (a.cold_chain.status && (a.cold_chain.number < 2  || a.cold_chain.number > 8 || !a.cold_chain.number)) ||
                    !a.packaging_container ||
                    !a.appereance ||
                    !a.smell ||
                    !a.requested_product ||  
                    !a.product_liberation ||                    
                    !a.billed_value ||
                    !a.expiration_date_one                    
                )
                {
                    this.btnApproved = false;
                }else
                {
                    this.btnApproved = true;
                }
            }
           
        },
        approvedReception()
        {
            let decision = ''            
            // if(status)
            //     {decision = '<strong class="success-text">APROVED</strong>'
            //     this.response.chargingButton = true}
            // else
            //     {decision = '<strong class="error-text">DISAPROVED</strong>'
                // this.response.chargingButton_ = true}
            this.response.chargingButton = true                                    
            let params = []
            if(this.reception_data.type_reception == 'EPS')
            {
                delete this.status_details.product_liberation                
                delete this.status_details.billed_value
                delete this.status_details.requested_product
                // this.reception_data.products.push({status_details: this.status_details})
                params.push({
                    status: 'WAIT',
                    eps: this.reception_data.eps,
                    patient: this.reception_data.patient,
                    products: this.reception_data.products,
                    // status_details: this.status_details,
                    responsible_dni: this.logged,
                    type_reception: this.reception_data.type_reception
                })
                this.send(params, decision)
            } 
            if(this.reception_data.type_reception == 'provider')
            {
                // this.reception_data.products.push({status_details: this.status_details})               
                params.push({
                    status: 'WAIT',
                    provider: this.reception_data.provider,
                    bill_number: this.reception_data.bill_number,
                    bill_value: this.reception_data.bill_value,
                    products: this.reception_data.products,
                    // status_details: this.status_details,
                    responsible_dni: this.logged,
                    type_reception: this.reception_data.type_reception
                })
                this.send(params, decision)
            }                
            if(this.reception_data.type_reception == 'devolution')
            {
                // this.reception_data.products.push({status_details: this.status_details})
                delete this.status_details.product_liberation                
                delete this.status_details.billed_value
                delete this.status_details.expiration_date_one
                delete this.status_details.requested_product
                params.push({
                    status: 'WAIT',
                    // provider: this.reception_data.provider,
                    bill_number: this.reception_data.bill_number,
                    bill_value: this.reception_data.bill_value,
                    services: this.reception_data.services,
                    products: this.reception_data.products,
                    // status_details: this.status_details,
                    responsible_dni: this.logged,
                    type_reception: this.reception_data.type_reception
                })
                this.send(params, decision)
            }                        
        },
        send(params, decision)
        {                        
            if
            (
                ((this.reception_data.type_reception == 'EPS') && (params[0].eps != '' && params[0].patient != '' && params[0].products.length != 0)) ||
                ((this.reception_data.type_reception == 'provider') && (params[0].bill_number != '' && params[0].products.length != 0)) ||             
                ((this.reception_data.type_reception == 'devolution') && (params[0].services != '' && params[0].products.length != 0))                
            )
            {
                axios.post('/sf/reception/store',{data: params[0]}).then(resp => {                               
                    if(resp.data.status == 'success') 
                    {
                        this.$chidoriAlert.show('Guardado !!', 'La recepcion se guardo correctamente', 'success', 4000)
                        axios.post('/api/com/notification/store', {
                            module: 'SF',
                            from: {
                                origin: 'New Reception'
                            },
                            to: {
                                rol: ['Director Técnico']
                            },
                            information: `Nueva Recepcion ${decision}`,
                            link: 'receptions-list',
                            typeN: 'NewR',
                            resources: resp.data.result._id
                        }).then(resp => {
                            if(resp.data.status != 'success')
                            {
                                // console.log('Notification Result:')
                                // console.log(resp.data)
                            }
                        })
                        this.response.chargingButton = false
                        this.response.chargingButton_ = false
                        this.changeEntry()
                    }
                    else
                    {
                        this.$chidoriAlert.show('ERROR', 'Error al guardar recepcion, intente nuevamente', 'error', 4000)
                        this.response.chargingButton = false
                        this.response.chargingButton_ = false
                    }
                })
            }
            else {
                this.response.chargingButton = false
                this.response.chargingButton_ = false
                this.$chidoriAlert.show('Error!', 'No puede haber campos vacios', 'error', 4000)
            }
        },
        patientEps(val)
        {            
            for (const key in this.patients) 
            {
                if (this.patients[key]._id == val) 
                {                    
                    let eps = this.patients[key].basic_info.eps                   
                    setTimeout(() => 
                    {
                        $('p > span.info-tel').html(' '+this.patients[key].basic_info.phone)
                        $('p > span.info-rh').html(' '+this.patients[key].basic_info.rh)                        
                        $('p > span.info-gen').html(' '+this.patients[key].basic_info.gender)
                        let vin = ''
                        let es = ''
                        switch (this.patients[key].basic_info.vinculation) 
                        {
                            case 'C':   
                                vin = 'Contributivo'                         
                                break
                            case 'C-S': 
                                vin = 'Contributivo-Sub'                           
                                break                        
                            case 'S':   
                                vin = 'Subsidiado'                         
                                break
                            case 'S-S': 
                                vin = 'Subsidiado-Sub'                           
                                break                                                   
                            case 'V':  
                                vin = 'Vinculado'                          
                                break
                            case 'P': 
                                vin = 'Particulares'                           
                                break
                        }
                        switch (this.patients[key].basic_info.civil_state) {
                        case 'S':
                            es = 'Soltero'
                            break;
                        case 'C':
                            es = 'Casado'
                            break;
                        case 'V':
                            es = 'Viudo'
                            break;
                        case 'D':
                            es = 'Divorciado'
                            break;
                        case 'U-L':
                            es = 'Unión Libre'
                            break;
                        default:
                            es = 'Ninguna'
                        }
                        $('p > span.info-vin').html(' '+vin)
                        $('p > span.info-ec').html(' '+es)
                        $('p > span.info-tra').html(' '+this.patients[key].basic_info.work)
                        $('p > span.info-dir').html(' '+this.patients[key].basic_info.location.dep+' - '+this.patients[key].basic_info.location.town+'<br>'+this.patients[key].basic_info.location.address)
                        $('span.info-name').html(' '+this.patients[key].basic_info.name.fname+' '+this.patients[key].basic_info.name.sname+' '+this.patients[key].basic_info.lastname.flname+' '+this.patients[key].basic_info.lastname.slname)    
                    }, 100);
                    for (const keyy in this.dynamicTable.eps) 
                    {
                        if (this.dynamicTable.eps[keyy]._id == eps) 
                        {
                            const name = this.dynamicTable.eps[keyy].name.first                            
                            $('input[name=epsInput]').val(name)                            
                            this.reception_data.eps = this.dynamicTable.eps[keyy]._id
                        }
                    }
                }
            }
            this.showInfoPatient = true
        }
    }
}
</script>