<template>
    <div class="container my-0 p-0">
        <div class="container mt-0 mb-4 update-container px-0" v-if="upShow">
            <h4 class="text-center poppins text-dark-blue font-weight-bold text-uppercase">Modificar Programación</h4> 
            <hr class="bg-dark-blue">
            <form class="form-row mx-0" autocomplete="off" name="addPatient">
                
                <div class="col-lg-12 mb-2 col-md-12 col-sm-12">
                    <div class="input-group">
                        <el-select v-model="upBones.schemaN" class="w-100" filterable placeholder="Esquema">
                            <el-option
                                v-for="(sch, index) in schemas"
                                :key="index"
                                :label="sch"
                                :value="sch">
                            </el-option>
                        </el-select>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12 col-12 row mx-0">
                    <div class="col-12 col-lg-6 col-md-12 px-1">
                        <label class="mb-0 font-weight-bold poppins">Fecha Cita</label>
                        <el-date-picker
                            v-model="thatMeet.date"
                            type="date"
                            class="w-100"
                            placeholder="Selecciona un dia"
                            format="yyyy/MM/dd"
                            value-format="yyyy-MM-dd">
                        </el-date-picker>
                        <!-- <input type="date" v-model="product.expiration_date" name="product_expiration_date" class="form-control" placeholder="Fecha Vencimiento"> -->
                    </div> 
                    <div class="col-lg-6 col-md-12 col-sm-12 px-1">
                        <!-- <label class="mb-0 font-weight-bold poppins text-dark-blue">Hora</label>
                        <input type="time" name="hora" v-model="date.h" class="form-control" placeholder="Hora"> -->
                        <el-time-select
                        v-model="thatMeet.hour"
                        :picker-options="{
                            start: '08:30',
                            step: '00:15',
                            end: '18:30'
                        }"
                        placeholder="Selecciona una hora" 
                        class="w-100 mt-4">
                        </el-time-select>
                    </div>
                    <div class="form-group mt-2 col-lg-12 col-md-12 col-sm-12 px-1 align-items-end justify-content-center d-flex">
                        <button id="dtBtn" :disabled="!thatMeet.btn" @click.prevent="AddDate" class="btn btn-primary btn-block" style="top: -2px"><i class="fa fa-plus"></i></button>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12" v-if="upBones.meetings.length > 0">
                    <div v-for="(date, index) in upBones.meetings" :key="index" class="row">
                        <label v-if="index == 0" class="col-lg-12 font-weight-bold poppins text-dark-blue">Citas Fijadas</label>
                        <label v-if="index == 0" class="col-lg-5 mb-0 font-weight-bold poppins text-dark-blue">Fecha</label>
                        <label v-if="index == 0" class="col-lg-4 mb-0 font-weight-bold poppins text-dark-blue">Hora</label>
                        <label v-if="index == 0" class="col-lg-3 mb-0 font-weight-bold poppins text-dark-blue">Eliminar</label>
                        <div class="form-group input-group-sm col-lg-5 col-md-12 col-sm-12 px-2">
                            <input type="text" class="form-control" disabled :value="date.date">
                        </div>
                        <div class="form-group input-group-sm col-lg-4 col-md-12 col-sm-12 px-2">
                            <input type="text" class="form-control" disabled :value="date.hour">
                        </div>
                        <div class="form-group col-lg-3 col-md-12 col-sm-6 px-1 align-items-end justify-content-center d-flex">
                            <button @click.prevent="upBones.meetings.splice(index, 1)" class="btn btn-sm btn-danger btn-block position-relative"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 mt-2 row mx-0 px-0">
                    <h4 class="col-12 mx-0">Medicamentos</h4>
                    <div class="col-12 col-lg-3 col-md-6 px-1 mb-2">                                
                        <label class="mb-0 font-weight-bold poppins text-dark-blue">Medicamento</label>
                        <!-- <v-select placeholder="Escoja una opcion" name="product" :options="optionsProduct" v-model="product.product">
                            <span slot="no-options">No se encotraron datos!</span>
                        </v-select> -->
                        <template>
                            <el-select v-model="product.product" class="w-100" filterable placeholder="Selecciona" @change="verifyDisp(product.product)">
                                <el-option
                                v-for="(item, index) in optionsProduct"
                                :key="index"
                                :label="item.label"
                                :value="item.id">
                                <span>{{ item.label }} </span>
                                <span style="color: #8492a6; font-size: 13px">{{ item.type }}</span>
                                </el-option>
                            </el-select>
                        </template>
                        <router-link to="/vc/sf/product" class="no-underline"><span class="text-dark-blue">Crear Producto</span></router-link>                              
                    </div>
                    <div class="col-12 col-lg-3 col-md-6 px-1 mb-2">
                        <label class="mb-0 font-weight-bold poppins">Concentración</label>
                        <input type="number" name="product_quantity" v-model="product.concentration" class="form-control" placeholder="Ingrese cantidad">
                    </div>
                    <div class="col-sm-9 col-12 col-lg-3 col-md-8 px-1 mb-2">
                        <label class="mb-0 font-weight-bold poppins">Present Comercial</label>
                        <select name="present" v-model="product.presentation" class="form-control">
                            <option value="" disabled>Escoja una opción</option>
                            <option value="VIAL">VIAL</option>
                            <option value="JERINGA PRELLENA">JERINGA PRELLENA</option>
                            <option value="TABLETA">TABLETA</option>
                            <option value="CAPSULA">CAPSULA</option>
                            <option value="AMPOLLA">AMPOLLA</option>                    
                        </select> 
                    </div>
                    <div class="col-sm-3 col-12 col-lg-2 col-md-4 px-1 mb-3">
                        <label class="mb-0 font-weight-bold w-100 text-center poppins">Disponibilidad</label>
                        <div style="text-align: center;">
                            <i v-if="product.disp == null" style="color: yellow;" class="fa fa-question fa-2x"></i>
                            <i v-if="product.disp" style="color: green;" class="fa fa-check fa-2x"></i>
                            <i v-if="product.disp === false" style="color: red;" class="fa fa-times fa-2x"></i>
                        </div>
                    </div>
                    <div class="col-12 col-lg-1 col-md-12 px-0 d-flex justify-content-end align-items-center">
                        <a href="#!" v-if="product.concentration != ''" style="top:2px;" @click="addProduct()" class="btn btn-block position-relative btn-outline-primary mb-1"><i class="fa fa-plus"></i></a>
                        <button v-else style="top:2px;" disabled class="btn btn-block position-relative btn-outline-primary mb-1"><i class="fa fa-plus"></i></button>
                    </div>
                </div>
                <!-- READ ONLY DATA -->
                <div class="col-lg-12 mt-3 row mx-0 px-0" v-if="upBones.drugs.length != 0">                               
                    <table class="table table-sm">
                        <caption>Listado de productos</caption>
                        <thead>
                            <tr>
                            <th scope="col">Medicamento</th>
                            <th scope="col">Concentración</th>
                            <th scope="col">Present Comercial</th>
                            <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(product, index) in upBones.drugs" :key="index">
                                <th>{{product.product}}</th>
                                <td>{{product.concentration}}</td>
                                <td>{{product.commPresnt}}</td>
                                <td width="45px">
                                    <button class="btn btn-outline-danger btn-sm" @click.prevent="removeProduct(index)"><i class="fa fa-minus"></i></button>
                                </td>     
                            </tr>                                   
                        </tbody>
                    </table>
                </div>
                <!-- END READ ONLY DATA -->

                <div class="col-12 text-center mt-2">
                    <button type="button" class="btn btn-danger" @click.prevent="upShow = !upShow">Cancelar <i class="fa fa-times"></i></button>                    
                    <button type="button" v-bind:disabled="response.charginButton" @click="upProgDB()" class="btn btn-primary poppins"><i class="fa" v-bind:class="{'fa-save': !response.charginButton, 'fa-spinner fa-pulse': response.charginButton}"></i> Guardar</button>                                          
                </div>
            </form>
        </div>  


        <h4 class="text-center poppins text-dark-blue font-weight-bold text-uppercase">Consultar Agenda</h4> 
        <hr class="bg-dark-blue">
        <div class="w-100 mb-4">
            <template>
                <div class="block poppins-light">
                    <el-date-picker
                    v-model="range"
                    type="daterange"
                    unlink-panels
                    :picker-options="dateOptions"
                    range-separator="a"
                    start-placeholder="Fecha inicial"
                    end-placeholder="Fecha final">
                    </el-date-picker>
                </div>
            </template>
        </div>
        <!-- <el-input style="margin-bottom: 10px; width: 200px;" v-model="filters[0].value"></el-input> -->
        <div class="w-100 d-lg-flex justify-content-between align-items-center align-content-center">
            <el-input placeholder="" class="mb-0 poppins input-s" v-model="filters[0].value">
                <template slot="prepend">¿Que buscas?</template>
            </el-input>
            <a v-if="range != null" href="/api/common/excel/SFschedule" target="_blank"><el-button :disabled="range == null" size="medium" class="mx-lg-2 my-2" slot="reference">Exportar a EXCEL <i class="fa fa-table"></i></el-button></a>
            <el-button v-else :disabled="range == null" size="medium" class="mx-lg-2 my-2" slot="reference">Exportar a EXCEL <i class="fa fa-table"></i></el-button>
        </div>
        <data-tables v-loading.body="loading" :table-props="tableProps" :data="dataCrop" :filters="filters" class="">
            <el-table-column prop="requestDate" label="F. Solicitud" sortable="custom">
            </el-table-column>
            <el-table-column prop="typedni" label="Tipo ID" sortable="custom" width="70">
            </el-table-column>
            <el-table-column prop="dni" label="N° ID" sortable="custom">
            </el-table-column>
            <el-table-column prop="patient" label="Paciente" sortable="custom">
            </el-table-column>
            <el-table-column prop="schemaN" label="Esquema" sortable="custom">
            </el-table-column>
            <el-table-column prop="meeting" label="F. Aplicación" sortable="custom">
            </el-table-column>
            <el-table-column prop="hour" label="Hora" sortable="custom">
            </el-table-column>
            <el-table-column label="Confirmar">
                <!-- data[scope.row.index].status == 'true' ? 'Agendado' : 'No agendado' -->
                <template slot-scope="scope">                                               
                    <div class="form-group mb-0 d-flex align-items-center justify-content-start align-content-center">  
                        <span class="switch switch-sm mt-1">
                            <input type="checkbox" @change="cambiarStat(scope.row._id, scope.row.status)" class="switch" v-model="scope.row.status" :id="'switch-sm-'+scope.row.index">
                            <label :for="'switch-sm-'+scope.row.index"></label>
                        </span>
                    </div>                  
                </template>
            </el-table-column>
            <el-table-column header-align="center" align="center" label="INFO">
                <template slot-scope="scope">
                    <el-popover trigger="click" placement="top">
                    <div v-for="(datito, index) in scope.row.drugs" :key="index">
                        <p class="poppins mb-0"><strong>Medicamento {{index + 1}}: </strong> <span class="poppins-light">{{ datito.name }}</span></p>
                        <hr v-if="index != (scope.row.drugs.length - 1)" class="my-2">
                    </div>
                    <div>
                        <p class="poppins mb-0"><strong>I/P:</strong> <span class="poppins-light">{{ scope.row.iop }}</span></p>
                    </div>
                    <div>
                        <p class="poppins mb-0"><strong>Módulo:</strong> <span class="poppins-light">{{ scope.row.module}}</span></p>
                    </div>
                    <div>
                        <p class="poppins mb-0"><strong>N° Autorización:</strong> <span class="poppins-light">{{ scope.row.autorization }}</span></p>
                    </div> 
                    <div>
                        <p class="poppins mb-0"><strong>CIE10:</strong> <span class="poppins-light">{{ scope.row.cie10 }}</span></p>
                    </div>    
                    <el-button icon="el-icon-info" slot="reference" circle></el-button>
                    </el-popover>
                </template>
            </el-table-column>

            <el-table-column label="Acciones" v-if="permiss.update == true || permiss.delete == true">
                <template slot-scope="scope">
                    <el-button-group>
                        <el-tooltip content="editar" placement="top" v-if="permiss.update == true"> 
                            <el-button @click.native.prevent="upProg(scope.row._id)" type="primary" onclick="$(document).scrollTop(0)" size="mini" icon="el-icon-edit"></el-button>
                        </el-tooltip>
                        <el-popover
                        placement="top"                          
                        v-model="scope.row.visiblepop" v-if="permiss.delete == true">
                            <p class="mb-0">Estas seguro de eliminar este producto?</p>
                            <hr class="my-2">
                            <div class="d-flex justify-content-end align-items-center">
                                <el-button size="mini" type="text" @click="scope.row.visiblepop = false">Cancelar</el-button>
                                <el-button type="danger" size="mini" @click.native.prevent="deleteRow(scope.row._id, scope.$index)">Eliminar</el-button>
                            </div>
                            <el-button type="danger" @click="scope.row.visiblepop = true" slot="reference" size="mini" icon="el-icon-delete"></el-button>
                        </el-popover>   
                    </el-button-group>
                    <!-- <el-row>
                        <el-button type="primary" icon="el-icon-edit" circle></el-button>
                        <el-button type="success" icon="el-icon-check" circle></el-button>
                        <el-button type="danger" icon="el-icon-delete" circle></el-button>
                    </el-row> -->
                </template>
            </el-table-column>
        </data-tables>      
    </div>
</template>

<script>
const { schemas } = require('../../Utilities/Lists.json')
let tempBones = {
    _id: '',
    patient: '',
    schemaN: '',
    status: false,
    drugs: [],
    meetings: []
}
export default {
    data(){
        return{
            data: [],
            dataCrop: [],
            schemas: schemas,
            upShow: false,
            response:
            {
                charginButton: false,                
            },
            thatMeet: {
                date: '',
                hour: '',
                btn: false
            },
            upBones: {
                id: '',
                schemaN: '',
                meetings: [],
                drugs: []
            },
            optionsProduct: [],
            products: [],
            product:
            {
                concentration: 0,
                presentation: '',
                product: null,
                disp: null
            },            
            noDispProds: [],
            someNoDisp: false,
            tableProps: 
            {
                border: false,
                stripe: true,
                defaultSort: {                
                order: 'descending'
                }
            },
            loading: true,
            filters: 
            [
                {
                    prop: ['patient', 'schemaN', 'dni', 'requestDate'],
                    value: ''
                }
            ],
            patients: [],
            temp: {
                drugs: [],
                pat: []
            },
            statusT: 'No Agendado',
            schedule: [],
            bones: tempBones,
            range: null,
            dateOptions: {
                shortcuts: [
                {
                    text: 'Hoy',
                    onClick(picker) {
                    const end = new Date();
                    const start = new Date();
                    picker.$emit('pick', [start, end]);
                    }
                }, {   
                    text: 'Ultima Semana',
                    onClick(picker) {
                    const end = new Date();
                    const start = new Date();
                    start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
                    picker.$emit('pick', [start, end]);
                    }
                }, {
                    text: 'Ultimo Mes',
                    onClick(picker) {
                    const end = new Date();
                    const start = new Date();
                    start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
                    picker.$emit('pick', [start, end]);
                    }
                }]
            },
            permiss:{
                update: true,
                delete: true
            }
        }
    },
    mounted()
    {
        this.listTable()
        this.listProduct()
        this.sessdata()
    },
    watch: { 
        'range': function (newVal) { 
            this.dataCrop = []
            if(newVal != null){
                let start = Date.parse(newVal[0])
                let end = Date.parse(newVal[1])                
                for (const key in this.data) {
                    let that = Date.parse(this.data[key].meeting)
                    if(that >= start && that <= end) {
                        this.dataCrop.push(this.data[key])
                    }
                }
            } else {
                this.dataCrop = this.data
            }
            axios.post('/api/common/excel/tempData',{data: this.dataCrop, range: newVal}).then(resp => {
                // console.log(resp.data)
            })
        },
        'thatMeet.date': function (newVal) {
            if(this.thatMeet.date != '' && this.thatMeet.hour != '')
                this.thatMeet.btn = true
        },
        'thatMeet.hour': function (newVal) {
            if(this.thatMeet.date != '' && this.thatMeet.hour != '')
                this.thatMeet.btn = true
        }
    },
    methods:
    {
        upProg(id) {
            this.upBones = {
                id: '',
                schemaN: '',
                meetings: [],
                drugs: []
            }
            this.product = {
                concentration: 0,
                presentation: '',
                product: null,
                disp: null
            } 
            this.someNoDisp = false
            this.noDispProds = []
            this.thatMeet = {
                date: '',
                hour: '',
                btn: false
            }

            for (let index = 0; index < this.schedule.length; index++) {
                let data = this.schedule[index]
                if(this.schedule[index]._id == id) {
                    this.upBones.schemaN = data.schemaN
                    this.upBones.id = this.schedule[index]._id
                    for (let ind = 0; ind < data.meetings.length; ind++) {
                        let date = new Date(data.meetings[ind].date)
                        let th = date.getFullYear()+'-'+(date.getMonth()+1)+'-'+date.getDate()
                        this.upBones.meetings.push({date: th, hour: data.meetings[ind].hour})
                    }
                    for (let inde = 0; inde < data.drugs.length; inde++) {
                        for (let llave = 0; llave < this.products.length; llave++) {
                            if(this.products[llave]._id == data.drugs[inde].drug) {
                                let item = {
                                    drug: data.drugs[inde].drug,
                                    concentration: data.drugs[inde].concentration,
                                    commPresnt: data.drugs[inde].commPresnt,
                                    product: this.products[llave].name
                                }
                                this.upBones.drugs.push(item)
                                break;
                            }
                        }
                    }
                }
            }
            this.upShow = true
        },
        upProgDB() {
            this.response.charginButton = true

            axios.post('/sf/schedule/up',{id: this.upBones.id, data: this.upBones}).then(resp => {
                if(resp.data.status == 'success') {
                    this.$chidoriAlert.show('Guardado !!', 'La programación se modificó correctamente', 'success', 4000)
                    this.upShow = false
                    this.listTable()
                }
                else
                    this.$chidoriAlert.show('Error', 'Error inesperado, intente Nuevamente', 'error', 4000)
            })

            this.response.charginButton = false
        },
        AddDate() {
            if(this.thatMeet.date != '' && this.thatMeet.hour != '') {
                let s = new Date(this.thatMeet.date)
                let fecha = s.getFullYear()+'-'+(s.getMonth()+1)+'-'+(s.getDate()+1)
                let data = {date: fecha, hour: this.thatMeet.hour}
                // console.log(data)
                this.upBones.meetings.push(data)
                this.thatMeet.date = this.thatMeet.hour = ''
            }
        },
        listProduct()
        {
            axios.post('/api/sf/product/list').then((resp) =>
            {                
                this.products = this.$myCryptor.decode(resp.data)
                for (const key in this.products) 
                {
                    if (this.products[key].hasOwnProperty('name')) 
                    {
                        const element = {id: key, label: this.products[key].name, type: this.products[key].type}
                        this.optionsProduct.push(element)
                    }
                }
            })            
        },
        addProduct() {
            let data = this.product
            if(data.disp === false){
                this.noDispProds.push({id: this.products[data.product]._id})
                this.someNoDisp = true
            }
            this.upBones.drugs.push({drug: this.products[data.product]._id, concentration: data.concentration, product: this.products[data.product].name, commPresnt: data.presentation })
            //-------------------------//                        
            this.product.disp = null
            this.product.product = this.product.concentration = this.product.presentation = ''
        },
        removeProduct(a) {
            let counter = 0
            let item = this.upBones.drugs[a].drug
            this.upBones.drugs.splice(a, 1)
            for (let index = 0; index < this.noDispProds.length; index++) {
                if(this.noDispProds[index].id === item)
                    this.noDispProds.splice(index, 1)
            }
            for (let varia = 0; varia < this.noDispProds.length; varia++) {
                for (let vari = 0; vari < this.upBones.drugs.length; vari++) {
                    if(this.noDispProds[varia].id === this.upBones.drugs[vari].drug)
                        counter++
                }
            }
            if(counter === 0)
                this.someNoDisp = false
            else
                this.someNoDisp = true
        },
        verifyDisp(newVal) {
            if(newVal != '')
            {
                let a = this.product.product
                let element = 0
                if(this.products[a].lotes.length > 0) {
                    for (const key in this.products[a].lotes) 
                    {
                        if (this.products[a].lotes[key].hasOwnProperty('stock')) 
                        {
                            element += this.products[a].lotes[key].stock;
                            if(element > 0)
                                this.product.disp = true
                            else
                                this.product.disp = false
                        }
                    }
                }
                else {
                    this.product.disp = false
                }
            }
            else
                this.product.disp = null
        }, 
        getExcel() {
            axios.post('/api/common/excel/SFschedule', {data: this.dataCrop}).then(resp => {
                // console.log(resp)
            })
        },
        deleteRow(id, index) 
        {
            let row = this.dataCrop[index]
            // console.log(row)
            axios.post('/sf/schedule/deldate', {id: id, date: row.meetid}).then(resp => {
                // console.log(resp.data)
                this.dataCrop.splice(index, 1);
                this.listTable()
            })
            
        },
        editSchedule(value) 
        {
            this.bones = this.schedule[value]
            // console.log(this.bones)
            let par = {
                status: this.bones.status,
                drugs: this.bones.drugs,
                meetings:this.bones.meetings,
                schemaN: this.bones.schemaN
            }
            let params = {
                id: this.bones._id,
                data: par
            }
            // axios.post('/sf/schedule/up', params).then(resp => {

            // })
        },
        viewDetails(value)
        {
            this.bones = this.schedule[value]            
            let details = 
            {
                status: this.bones.status,
                drugs: this.data[value].drugs,
                dni: this.data[value].dni,
                patient: this.data[value].patient,
                meetings:this.bones.meetings,
                schemaN: this.bones.schemaN
            }
            // console.log(details)
            function formatDate(date) 
            {
                var monthNames = [
                    "Ene", "Feb", "Mar",
                    "Abr", "May", "Jun", "Jul",
                    "Ago", "Sep", "Oct",
                    "Nov", "Dic"
                ];            
                var day = date.getDate();
                var monthIndex = date.getMonth();
                var year = date.getFullYear();
                return day + '-' + monthNames[monthIndex] + '-' + year;
            }            
            $('#viewDetailsModal').find('h5>span.modal-details-name').text(details.patient)
            $('#viewDetailsModal').find('small.dni').text(details.dni)
            $('#viewDetailsModal').find('.modal-header span.badge-schema').text(details.schemaN)
            let text = ''
            for (let i = 0; i < details.drugs.length; i++) 
            {
                text += '<li class="list-group-item d-flex justify-content-between align-items-center""><div>'+details.drugs[i].name+' ('+details.drugs[i].present+')</div> <span class="badge badge-primary badge-pill">'+details.drugs[i].concentration+'</span></li>'                
            }
            $('#viewDetailsModal').find('.modal-body .medicamentos').html(text)            
            let text_ = ''
            for (let i = 0; i < details.meetings.length; i++) 
            {
                text_ += '<li class="list-group-item d-flex justify-content-between align-items-center"">'+formatDate(new Date(details.meetings[i].date))+' <span class="badge badge-primary badge-pill"><i class="fa fa-clock-o"></i>'+details.meetings[i].hour+'</span></li>'                
            }            
            $('#viewDetailsModal').find('.modal-body .dates').html(text_)            
            $('#viewDetailsModal').modal('show')
        },
        cambiarStat(id, val) 
        {
            let params = {
                data: {
                    status: val
                },
                id: ''
            }
            for (let index = 0; index < this.schedule.length; index++) {
                if(id == this.schedule[index]._id) {
                    params.id = id
                }
            }
        
            axios.post('/sf/schedule/up', params).then(resp => {
                if(val)
                    this.$chidoriAlert.show('Confirmado !!', 'La Aplicación ha sido Confirmada con exito', 'success', 4000)
                else
                    this.$chidoriAlert.show('Exito!!', 'La Aplicación ha sido Cancelada con exito', 'success', 4000)
            })
        },
        dataTable()
        {
            this.data = []            
            axios.post('/api/sf/schedule/list',{range: this.range}).then((res) =>
            {                             
                let data = this.schedule = this.$myCryptor.decode(res.data)          
                let i = -1;
                for (const key in data) 
                {
                    i++;
                    var drugs = []
                    var patient = {}
                    let dat = data[key].created_at
                    dat = dat.split('T')
                    let d = data[key].drugs
                    for (const keyy in d) {
                        for (const keyyy in this.temp.drugs) {
                            if (d[keyy] == this.temp.drugs[keyyy]._id) {
                                drugs.push({name: this.temp.drugs[keyyy].name, concentration: this.temp.drugs[keyyy].concentration, present: this.temp.drugs[keyyy].presentation})
                            }
                        }
                    }
                    for (const keyyyy in this.temp.pat) {
                        if (data[key].patient == this.temp.pat[keyyyy]._id) {
                            patient = this.temp.pat[keyyyy]
                        }
                    }
                    let meetings = data[key].meetings
                    for (const llave in meetings) {
                        let thatmeet = meetings[llave].date
                        let hour = meetings[llave].hour
                        thatmeet = thatmeet.split('T')
                        var elements = {_id: data[key]._id, meetid: llave, 'patient': patient.basic_info.name.fname +' '+patient.basic_info.name.sname +' '+patient.basic_info.lastname.flname +' '+patient.basic_info.lastname.slname, 'dni':patient.dni.num, 'typedni':patient.dni.tipo, 'schemaN': data[key].schemaN, 'drugs': drugs, 'cie10': data[key].cie10Code, 'iop': meetings[llave].iop, 'autorization': data[key].autorization, 'module':meetings[llave].module, 'requestDate': dat[0], 'status': data[key].status, 'index':i, 'meeting': thatmeet[0], 'hour': hour}
                        this.data.push(elements)
                    }
                }                
            })
            this.dataCrop = this.data
            this.loading = false
        },
        listTable()
        {
            this.temp.drugs = this.temp.pat = []            
            axios.post('/api/sf/patient/list').then((resp) =>
            {                
                let data = this.$myCryptor.decode(resp.data)
                this.temp.pat = data
                axios.post('/api/sf/product/list').then((resp) =>
                {                
                    let data = this.$myCryptor.decode(resp.data)
                    this.temp.drugs = data
                    this.dataTable()
                }) 
            })            
        },
        sessdata()
        {
            axios.post('/auth/sessdata', {fields: ['name','rol','company']}).then(resp => {                                          
                let res = this.$myCryptor.decode(resp.data.data);                                
                this.nameUser = res[0].first+' '+res[0].last
                this.rolUser = res[1].name
                this.nitClient = res[2].nit
                for (const key in res[1].access.items) {
                    if(res[1].access.items[key].id == 1)
                        for (const llave in res[1].access.items[key].subitems) {
                            if(res[1].access.items[key].subitems[llave].id == 2) {
                                if(res[1].access.items[key].subitems[llave].actions.includes("U"))
                                    this.permiss.update = true;
                                else
                                    this.permiss.update = false
                                if(res[1].access.items[key].subitems[llave].actions.includes("D"))
                                    this.permiss.delete = true
                                else
                                    this.permiss.delete = false
                            }
                        }
                }
            })
        },
    }
}
</script>

