<template>
    <div class="container my-0 p-0">
        <h4 class="text-center poppins text-dark-blue font-weight-bold text-uppercase">Registrar Terceros</h4> 
        <hr class="bg-dark-blue">        
        <div class="mb-2">            
            <el-radio v-model="typeC" @change="changeT()" label="EPS" class="m-0 mr-1 poppins-light" border size="medium">EPS</el-radio>
            <el-radio v-model="typeC" @change="changeT()" label="Provider" class="m-0 poppins-light" border size="medium">Proveedores</el-radio>
        </div>
        <hr>
        <div v-if="showForm" class="form-row mx-0" autocomplete="off" name="addPatient">
            <div v-if="typeC == 'EPS'" class="col-12 mb-2 col-lg-6 col-md-6 px-1">
                <label class="mb-0 font-weight-bold poppins">Nombre</label>                
                <input type="text" v-model="data.name.first" class="form-control" placeholder="Ingrese Nombre">                
            </div>
            <div v-if="typeC == 'Provider'" class="col-12 mb-2 col-lg-6 col-md-6 px-1">
                <label class="mb-0 font-weight-bold poppins">Razón Social</label>
                <input type="text" v-model="data.name.first" class="form-control" placeholder="Ingrese R.S">
            </div>
            <div class="col-12 col-lg-6 col-md-6 px-2" v-if="typeC == 'Provider'">
                <div class="justify-content-center align-items-center h-100 w-100 pt-2" style="display: -webkit-inline-box;">
                    <el-tag
                    :key="tag"
                    v-for="tag in data.phones"
                    closable
                    :disable-transitions="false"
                    @close="handleClose(tag)">
                    <i class="el-icon-phone"></i> {{tag}}
                    </el-tag>
                    <el-input
                        class="input-new-tag mt-2"
                        v-if="inputVisible"
                        v-model="inputValue"
                        ref="saveTagInput"
                        type="number"
                        size="mini"
                        @keyup.enter.native="handleInputConfirm"
                        @blur="handleInputConfirm">
                    </el-input>
                    <el-button v-else class="button-new-tag my-2 mx-0 poppins-light mr-2" size="small" @click="showInputTag"><i class="el-icon-plus"></i> Agregar Telefono</el-button>
                </div>                
            </div>
            <div v-if="typeC == 'EPS'" class="col-12 mb-2 col-lg-6 col-md-6 px-1">
                <label class="mb-0 font-weight-bold poppins">Administradora</label>
                <input type="text" v-model="data.contact_admin" class="form-control" placeholder="Ingrese Administradora">
            </div> 
            <div v-if="typeC == 'Provider'" class="col-12 mb-2 col-lg-6 col-md-6 px-1">
                <label class="mb-0 font-weight-bold poppins">Contacto</label>
                <input type="text" v-model="data.contact_admin" class="form-control" placeholder="Ingrese Nombre Contacto">
            </div>   
            <div v-if="typeC == 'EPS'" class="col-lg-6 mb-2 col-md-6 col-sm-12">
                <label class="mb-0 font-weight-bold poppins">Código</label>
                <input type="text" v-model="data.code" class="form-control" placeholder="Ingrese Código">
            </div>         
            <div class="col-lg-6 mb-2 col-md-12 col-sm-12">
                <div class="input-group mt-4">                    
                    <div class="input-group-prepend">
                        <span class="input-group-text" :class="{'border-danger bg-danger text-white': response.uniqueNit.status, 'border-success bg-success text-white': response.uniqueNit.status == false}">NIT</span>
                    </div>
                    <input type="text" @change="uniqueNit" placeholder="Ingrese N.I.T" v-model="data.nitClient" :class="{'is-invalid border-danger': response.uniqueNit.status, 'is-valid': response.uniqueNit.status == false}" class="form-control">
                    <div class="poppins" :class="{'invalid-feedback': response.uniqueNit.status, 'valid-feedback': !response.uniqueNit.status}">
                        {{ response.uniqueNit.text }}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <hr class="my-2">
            </div>              
            <div v-if="typeC == 'EPS'" class="col-lg-6 mb-2 col-md-6 col-sm-12">
                <label class="mb-0 font-weight-bold poppins">Tipo Administradora</label>
                <input type="text" v-model="data.adminType" class="form-control" placeholder="Ingrese el tipo">
            </div>  
            <div v-if="typeC == 'Provider'" class="col-lg-12 mb-2 col-md-12 col-sm-12">
                <div class="card border-info mt-2">
                    <div class="card-header">
                        <h4 class="text-info mb-0"><i class="fa fa-map-marker"></i> Localización</h4>
                    </div>
                    <div class="card-body px-3">
                        <div class="row mx-0">
                            <div class="col-lg-4 px-2 mb-2 col-md-6 col-sm-12">
                                <label class="mb-0 font-weight-bold poppins">Departamento</label>
                                <el-select class="w-100" v-model="deptS" filterable placeholder="Escoja una opción" @change="depSelect()">
                                    <el-option
                                        v-for="(loc,index) in dept"
                                        :key="index"
                                        :label="loc.departamento"
                                        :value="loc.departamento+'/'+index">
                                    </el-option>
                                </el-select>
                            </div>
                            <div class="col-lg-4 px-2 mb-2 col-md-6 col-sm-12">
                                <label class="mb-0 font-weight-bold poppins">Ciudad</label>
                                <el-select :disabled="data.address.department.length == ''" class="w-100" v-model="data.address.town" filterable placeholder="Escoja una opcion">
                                    <el-option
                                        v-for="(ct,index) in cit"
                                        :key="index"
                                        :label="ct"
                                        :value="ct">
                                    </el-option>
                                </el-select>
                            </div>  
                            <div class="col-sm-12 mb-2 col-lg-4 col-md-12 px-2">
                                <label class="mb-0 font-weight-bold poppins">Dirección</label>
                                <input type="text" v-model="data.address.adInfo" class="form-control" placeholder="Ingrese Dirección">
                            </div>
                        </div>
                    </div>
                </div>
            </div>                                  
            <div class="col-12 col-lg-6 col-md-6 text-center mt-4">
                <button type="" v-if="response.uniqueNit.status == false" v-bind:disabled="response.chargingButton" @click="addThird()" class="btn btn-block btn-primary poppins px-5"><i class="fa" v-bind:class="{'fa-save': !response.chargingButton, 'fa-spinner fa-pulse': response.chargingButton}"></i> Guardar</button>                
                <button type="" v-else disabled class="btn btn-block btn-primary poppins px-5"><i class="fa fa-save"></i> Guardar</button>                
            </div>
        </div>
    </div>
</template>
<style>
.el-tag 
{
    margin-left: 5px;
    margin-right: 5px;
}
.button-new-tag 
{
    margin-left: 10px;
    height: 32px;
    line-height: 30px;
    padding-top: 0;
    padding-bottom: 0;
}
.input-new-tag 
{
    width: 110px;
    margin-left: 10px;
    vertical-align: bottom;
}
</style>
<script>
let city = require('../../Utilities/Data/Colombian-citys.json');
export default {
    data(){
        return{            
            inputVisible: false,
            inputValue: '',
            showForm: false,
            typeC: '',
            response:
            {
                chargingButton: false,
                uniqueNit: 
                {
                    text: '',
                    status: null
                }
            },
            data:
            {               
                contactType: '',
                adminType: '',
                code: '',
                nitClient: '',
                name: 
                {
                    first: ''
                },
                status: true,
                address: 
                { 
                    department: '',
                    town: '',                    
                    adInfo: '',            
                },
                phones: [],
                contact_admin: ''
            },
            dept: city,
            cit: [],
            cit_op: [],      
            deptS: ''       
            // PROVEEDOR:
            // NIT
            // Razón Social
            // Contacto
            // Dirección
            // Ciudad
            // Teléfonos

            // EPS:
            // Tipo Administradora 
            // Código 
            // NIT
            // Administradora 
            // Nombre (este es el nombre que sale en la lista desplegable en los demás formularios)
        }        
    },
    methods:
    {
        depSelect()
        {
            let newVal = this.deptS
            // console.log(this.deptS)
            if(newVal != null)
            {
                this.cit = []
                let dep = newVal.split('/')

                var dept = dep[0]
                this.data.address.department = dept
                var cd = dep[1]
                let array_dep = this.dept[cd].ciudades
                array_dep.dep = newVal
                for (let index = 0; index < array_dep.length; index++) 
                {
                    var city = array_dep[index];
                    this.cit.push(city)                    
                }                
            }
        },
        changeT()
        {
            this.showForm = true
            this.response.uniqueNit.text = ''
            this.response.uniqueNit.status = null
            this.deptS = ''
            this.data = {               
                contactType: '',
                adminType: '',
                code: '',
                nitClient: '',
                name: 
                {
                    first: ''
                },
                status: true,
                address: 
                { 
                    department: '',
                    town: '',                    
                    adInfo: '',            
                },
                phones: [],
                contact_admin: ''
            }
        },
        handleClose(tag) 
        {
        this.data.phones.splice(this.data.phones.indexOf(tag), 1);
        },
        showInputTag() 
        {
            this.inputVisible = true;
            this.$nextTick(_ => {
                this.$refs.saveTagInput.$refs.input.focus();
            });
        },
        handleInputConfirm() 
        {
            let inputValue = this.inputValue;
            if (inputValue) {
            this.data.phones.push(inputValue);
            }
            this.inputVisible = false;
            this.inputValue = '';
        },
        uniqueNit()
        {
            axios.post('/api/sf/dynamicTable/unique-nit', {nit: this.data.nitClient}).then((res) =>
            {
                if(res.data == 'pass')
                {
                    this.response.uniqueNit.status = false
                    this.response.uniqueNit.text = 'Aprobado'
                }
                else
                {
                    this.response.uniqueNit.status = true
                    this.response.uniqueNit.text = 'Este NIT ya se encuentra registrado'
                }
            })
        },
        addThird()
        {
            let ok = false
            this.response.chargingButton = true
            this.data.contactType = this.typeC
            let save = this.data            
            if(this.typeC == 'EPS')
            {                
                if(
                    save.contactType == '' ||
                    save.contact_admin == '' ||
                    save.adminType == '' ||
                    save.code == '' ||
                    save.nitClient == '' ||
                    save.name.first == ''
                )
                {
                    this.$chidoriAlert.show('Error', 'No pueden haber campos vacios', 'error', 4000)
                    this.response.chargingButton = false
                } else{
                    let a = 
                    {
                        contactType: this.data.contactType,
                        adminType: this.data.adminType,
                        code: this.data.code,
                        contact_admin: this.data.contact_admin,
                        nitClient: this.data.nitClient,
                        name:{first: this.data.name.first}
                    }                                
                    axios.post('/sf/contact/store', {data: a})
                    .then((resp) =>
                    {
                        let dat = this.$myCryptor.decode(resp.data.result)
                        if(resp.data.status == 'success')
                        {
                            this.$chidoriAlert.show('Guardado!', 'Registro Exitoso', 'success', 4000)
                            this.changeT()
                        } else{
                            this.$chidoriAlert.show('Error', 'Un error inesperado a ocurrido, verifique e intente nuevamente', 'error', 4000)
                        }
                        this.response.chargingButton = false
                    })                                      
                }                                           
            } else{
                if(
                    save.contactType == '' ||                                        
                    save.nitClient == '' ||
                    save.name.first == '' ||
                    save.phones.length == '' ||
                    save.address.department == '' ||
                    save.address.town == '' ||
                    save.contact_admin == '' ||
                    save.address.adInfo == ''
                )
                {
                    this.$chidoriAlert.show('Error', 'No pueden haber campos vacios', 'error', 4000)
                    this.response.chargingButton = false
                } else{
                    let a = 
                    {
                        contactType: this.data.contactType,
                        adminType: this.data.adminType,                        
                        nitClient: this.data.nitClient,
                        contact_admin: this.data.contact_admin,
                        name:{first: this.data.name.first},
                        address: this.data.address,
                        phones: this.data.phones
                    }                          
                    axios.post('/sf/contact/store', {data: a})
                    .then((resp) =>
                    {
                        let dat = this.$myCryptor.decode(resp.data.result)
                        if(resp.data.status == 'success')
                        {
                            this.$chidoriAlert.show('Guardado!', 'Registro Exitoso', 'success', 4000)
                            this.changeT()
                        } else{
                            this.$chidoriAlert.show('Error', 'Un error inesperado a ocurrido, verifique e intente nuevamente', 'error', 4000)
                        }                        
                        this.response.chargingButton = false
                    })
                }
            }            
        }
    }
}
</script>
