<template>
    <div class="container my-0 p-0">
        <div id="upShow" class="container mt-0 mb-4 update-container px-0" v-if="upShow">
            <h4 class="text-center poppins text-dark-blue font-weight-bold text-uppercase">Modificar Tercero</h4> 
            <hr class="bg-dark-blue">
            <div class="form-row mx-0" autocomplete="off" name="upPatient">
                <div v-if="typeC == 'EPS'" class="col-12 mb-2 col-lg-6 col-md-6 px-1">
                    <label class="mb-0 font-weight-bold poppins">Nombre</label>                
                    <input type="text" v-model="dataa.name.first" class="form-control" placeholder="Ingrese Nombre">                
                </div>
                <div v-if="typeC == 'Provider'" class="col-12 mb-2 col-lg-6 col-md-6 px-1">
                    <label class="mb-0 font-weight-bold poppins">Razon Social</label>
                    <input type="text" v-model="dataa.name.first" class="form-control" placeholder="Ingrese R.S">
                </div>
                <div class="col-12 col-lg-6 col-md-6 px-2" v-if="typeC == 'Provider'">
                    <div class="justify-content-center align-items-center h-100 w-100 pt-2" style="display: -webkit-inline-box;">
                        <el-tag
                        :key="tag"
                        v-for="tag in dataa.phones"
                        closable
                        :disable-transitions="false"
                        @close="handleClose(tag)">
                        <i class="el-icon-phone"></i> {{tag}}
                        </el-tag>
                        <el-input
                            class="input-new-tag mt-2"
                            v-if="inputVisible"
                            v-model="inputValue"
                            ref="saveTagInput"
                            type="number"
                            size="mini"
                            @keyup.enter.native="handleInputConfirm"
                            @blur="handleInputConfirm">
                        </el-input>
                        <el-button v-else class="button-new-tag my-2 mx-0 poppins-light mr-2" size="small" @click="showInputTag"><i class="el-icon-plus"></i> Agregar Telefono</el-button>
                    </div>                
                </div>
                <div v-if="typeC == 'EPS'" class="col-12 mb-2 col-lg-6 col-md-6 px-1">
                    <label class="mb-0 font-weight-bold poppins">Administradora</label>
                    <input type="text" v-model="dataa.contact_admin" class="form-control" placeholder="Ingrese Administradora">
                </div> 
                <div v-if="typeC == 'Provider'" class="col-12 mb-2 col-lg-6 col-md-6 px-1">
                    <label class="mb-0 font-weight-bold poppins">Contacto</label>
                    <input type="text" v-model="dataa.contact_admin" class="form-control" placeholder="Ingrese Nombre Contacto">
                </div>   
                <div v-if="typeC == 'EPS'" class="col-lg-6 mb-2 col-md-6 col-sm-12">
                    <label class="mb-0 font-weight-bold poppins">Código</label>
                    <input type="text" v-model="dataa.code" class="form-control" placeholder="Ingrese Codigo">
                </div>         
                <div class="col-lg-6 mb-2 col-md-12 col-sm-12">
                    <div class="input-group mt-4">                    
                        <div class="input-group-prepend">
                            <span class="input-group-text" :class="{'border-danger bg-danger text-white': response.uniqueNit.status, 'border-success bg-success text-white': response.uniqueNit.status == false}">NIT</span>
                        </div>
                        <input style="text-transform:none;" type="text" @change="uniqueNit" placeholder="Ingrese N.I.T" v-model="dataa.nitClient" :class="{'is-invalid border-danger': response.uniqueNit.status, 'is-valid': response.uniqueNit.status == false}" class="form-control">
                        <div class="poppins" :class="{'invalid-feedback': response.uniqueNit.status, 'valid-feedback': !response.uniqueNit.status}">
                            {{ response.uniqueNit.text }}
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <hr class="my-2">
                </div>              
                <div v-if="typeC == 'EPS'" class="col-lg-6 mb-2 col-md-6 col-sm-12">
                    <label class="mb-0 font-weight-bold poppins">Tipo Administradora</label>
                    <input type="text" v-model="dataa.adminType" class="form-control" placeholder="Ingrese el tipo">
                </div>  
                <div v-if="typeC == 'Provider'" class="col-lg-12 mb-2 col-md-12 col-sm-12">
                    <div class="card border-info mt-2">
                        <div class="card-header">
                            <h4 class="text-info mb-0"><i class="fa fa-map-marker"></i> Localizacion <small>(Para cambiar la locación, vuelva a elegir el Dept.)</small></h4>
                        </div>
                        <div class="card-body px-3">
                            <div class="row mx-0">
                                <div class="col-lg-4 px-2 mb-2 col-md-6 col-sm-12">
                                    <label class="mb-0 font-weight-bold poppins">Departamento</label>
                                    <el-select class="w-100" v-model="deptS" filterable placeholder="Escoja una opcion" @change="depSelect()">
                                        <el-option
                                            v-for="(loc,index) in dept"
                                            :key="index"
                                            :label="loc.departamento"
                                            :value="loc.departamento+'/'+index">
                                        </el-option>
                                    </el-select>
                                </div>
                                <div class="col-lg-4 px-2 mb-2 col-md-6 col-sm-12">
                                    <label class="mb-0 font-weight-bold poppins">Ciudad</label>
                                    <el-select :disabled="dataa.address[0].department.length == ''" class="w-100" v-model="dataa.address[0].town" filterable placeholder="Escoja una opcion">
                                        <el-option
                                            v-for="(ct,index) in cit"
                                            :key="index"
                                            :label="ct"
                                            :value="ct">
                                        </el-option>
                                    </el-select>
                                </div>  
                                <div class="col-sm-12 mb-2 col-lg-4 col-md-12 px-2">
                                    <label class="mb-0 font-weight-bold poppins">Dirección</label>
                                    <input type="text" v-model="dataa.address[0].adInfo" class="form-control" placeholder="Ingrese Direccion">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>   
                 <div class="col-12 text-center col-lg-6 col-md-12 text-center mt-3 d-flex justify-content-center align-items-center">
                    <button type="button" class="btn-block mx-1 btn btn-danger" @click="upShow = !upShow">Cancelar <i class="fa fa-times"></i></button>                    
                    <button type="button" v-bind:disabled="response.chargingButton" v-if="!response.uniqueNit.status" @click="upThirdDB()" class="btn-block mx-1 my-0 btn btn-primary poppins"><i class="fa" v-bind:class="{'fa-save': !response.chargingButton, 'fa-spinner fa-pulse': response.chargingButton}"></i> Guardar</button>                                          
                    <button type="button" v-else v-bind:disabled="true" class="btn-block mx-1 my-0 btn btn-primary poppins"><i class="fa fa-save"></i> Guardar</button>                                          
                </div>
            </div>
        </div>

        
        <h4 class="text-center poppins text-dark-blue font-weight-bold text-uppercase">Consultar/Registrar Terceros</h4> 
        <hr class="bg-dark-blue">
        <div class="mb-2">
            <router-link to="/vc/sf/thirds-create" v-if="permiss.create == true"><button class="btn btn-outline-success poppins-light mr-1 mb-1"><i class="el-icon-plus"></i> Agregar</button></router-link>
            <el-radio v-model="typeTable" @change="dataTable('EPS'), upShow = false" label="EPS" class="m-0 mr-1 poppins-light" border size="medium">Ver EPS</el-radio>
            <el-radio v-model="typeTable" @change="dataTable('Provider'), upShow = false" label="Provider" class="m-0 poppins-light" border size="medium">Ver Proveedores</el-radio>
        </div>
        <el-input placeholder="" class="mb-2 poppins input-s" v-model="filters[0].value">
            <template slot="prepend">¿Que buscas?</template>
        </el-input>        
        <data-tables v-loading.body="loading" :table-props="tableProps" :data="data" :filters="filters" class="poppins">
            <el-table-column header-align="center" align="center" class-name="font-weight-bold"
            type="index"
            label="N°">
            </el-table-column>   
            {{(typeTable == 'EPS') ? name = 'Nombre' : name = 'Razon Soc.'}}         
            <el-table-column header-align="center" align="center" prop="name" :label="name" sortable="custom">
            </el-table-column>
            <el-table-column header-align="center" align="center" prop="nitClient" label="NIT" sortable="custom">
            </el-table-column>
            <el-table-column header-align="center" v-if="typeTable == 'EPS'" align="center" prop="adminType" label="Tipo Admin">
            </el-table-column>
            <el-table-column header-align="center" v-if="typeTable == 'EPS'" align="center" prop="contact_admin" label="Admin">
            </el-table-column>            
            <el-table-column header-align="center" v-if="typeTable == 'EPS'" prop="code" align="center" label="Codigo" sortable="custom">
            </el-table-column>  
            <el-table-column header-align="center" v-if="typeTable == 'Provider'" prop="contact_admin" align="center" label="Contacto" sortable="custom">
            </el-table-column> 
            <el-table-column header-align="center" align="center" v-if="typeTable == 'Provider'" prop="phones" label="Telefonos" sortable="custom">                    
            </el-table-column>
            <el-table-column fixed="right" align="center" width="120" label="ACCIONES" v-if="permiss.update == true || permiss.delete == true">
                <template slot-scope="scope">
                    <el-button-group>   
                        <el-tooltip content="Editar" placement="top" v-if="permiss.update == true">                     
                            <el-button type="primary" @click="updat(scope.row.id, scope.row.contactType)" size="mini" icon="el-icon-edit" onclick="$(document).scrollTop(0)"></el-button>
                        </el-tooltip>
                        <el-popover
                        placement="top-start"   
                        trigger="manual"                       
                        v-model="scope.row.visiblepop" v-if="permiss.delete == true">
                            <p class="mb-0">Estas seguro de eliminar este paciente?</p>
                            <hr class="my-2">
                            <div class="d-flex justify-content-end align-items-center">
                                <el-button size="mini" type="text" @click="scope.row.visiblepop = false">Cancelar</el-button>
                                <el-button type="danger" size="mini" @click.prevent="delet(scope.row.id)">Eliminar</el-button>
                            </div>
                            <el-button type="danger" @click="scope.row.visiblepop = true" slot="reference" size="mini" icon="el-icon-delete"></el-button>
                        </el-popover>
                    </el-button-group>
                </template>
            </el-table-column>
        </data-tables>         
    </div>
</template>
<script>
let city = require('../../Utilities/Data/Colombian-citys.json');
export default {
    data(){
        return{
            inputVisible: false,
            inputValue: '',
            dataa:
            {            
                _id: '',                   
                adminType: '',
                code: '',
                nitClient: '',
                name: 
                {
                    first: ''
                },
                status: true,
                address: 
                { 
                    department: '',
                    town: '',                    
                    adInfo: '',            
                },
                phones: [],
                contact_admin: ''
            },
            dept: city,
            cit: [],
            typeC: '',
            cit_op: [],      
            deptS: '',
            typeTable: 'EPS',
            dynamicTable: [],
            data: [],
            tableProps: 
            {
                border: false,
                stripe: true,
                defaultSort: {                
                order: 'descending'
                }
            },
            loading: true,
            filters: 
            [
                {
                    prop: ['nitClient', 'code', 'phones', 'name', 'contact_admin'],
                    value: ''
                }
            ],
            upShow: false,
            response:
            {
                chargingButton: false,  
                uniqueNit: 
                {
                    text: '',
                    status: false
                }              
            },
            permiss: {
                update: true,
                delete: true,
                create: true
            },
            codd: ''
        }
    },
    mounted()
    {
        this.dataTable('EPS')
        this.sessdata()
    },
    methods:
    {
        depSelect()
        {
            let newVal = this.deptS            
            if(newVal != null)
            {
                this.cit = []
                 this.dataa.address[0].town = ''
                let dep = newVal.split('/')

                var dept = dep[0]
                this.dataa.address[0].department = dept
                var cd = dep[1]
                let array_dep = this.dept[cd].ciudades
                array_dep.dep = newVal
                for (let index = 0; index < array_dep.length; index++) 
                {
                    var city = array_dep[index];
                    this.cit.push(city)                    
                }                
            }
        },
        getdeptown(dep)
        {
            let posdep = 0
            let indexdep = 0
            for (let index = 0; index < this.dept.length; index++) {
                let dept = this.dept[index].departamento;
                if(dep == dept)
                {
                     posdep = dept+"/"+index
                     indexdep = index
                }  
            }
            this.deptS = posdep
            let array_dep = this.dept[indexdep].ciudades
            for (let index = 0; index < array_dep.length; index++) {
                let city = array_dep[index]; 
                this.cit.push(city)  
            }
        },
        dataTable(typ)
        {                       
            this.loading = true     
            axios.post('/api/sf/dynamictable/list').then((res) =>
            {         
                this.data = []                
                let data_ = this.$myCryptor.decode(res.data.res)    
                this.dynamicTable = data_             
                for(let dyn in data_)
                {
                    let dataa = 
                    {
                        id: '',
                        visiblepop: false,
                        contactType: '',
                        adminType: '',
                        code: '',
                        nitClient: '',
                        name: '',
                        status: '',
                        address: '',
                        phones: [],
                        contact_admin: ''
                    }
                    if(data_[dyn].contactType.includes("EPS") && typ == 'EPS')
                    {                        
                        dataa.id = data_[dyn]._id
                        dataa.contactType = data_[dyn].contactType
                        dataa.adminType = data_[dyn].adminType
                        dataa.code = data_[dyn].code
                        dataa.nitClient = data_[dyn].nitClient
                        dataa.name = data_[dyn].name.first
                        delete dataa.status
                        delete dataa.address
                        delete dataa.phones
                        dataa.contact_admin = data_[dyn].contact_admin
                        this.data.push(dataa)
                        dataa = 
                        {
                            id: '',
                            visiblepop: false,
                            contactType: '',
                            adminType: '',
                            code: '',
                            nitClient: '',
                            name: '',
                            status: '',
                            address: '',
                            phones: [],
                            contact_admin: ''
                        } 
                    }                
                    if(data_[dyn].contactType.includes("Provider")  && typ == 'Provider')    
                    {       
                        let t = ''                
                        let i = 0
                        dataa.id = data_[dyn]._id
                        dataa.contactType = data_[dyn].contactType
                        delete dataa.adminType
                        delete dataa.code
                        dataa.nitClient = data_[dyn].nitClient
                        dataa.name = data_[dyn].name.first
                        dataa.status = data_[dyn].status
                        dataa.address = data_[dyn].address
                        for (const keyy in data_[dyn].phones) 
                        {
                            i++;                            
                            if(i < data_[dyn].phones.length)
                                t += data_[dyn].phones[keyy]+', '
                            else
                                t += data_[dyn].phones[keyy]                                                    
                        }
                        dataa.phones = t
                        dataa.contact_admin = data_[dyn].contact_admin
                        this.data.push(dataa)
                        dataa = 
                        {
                            id: '',
                            visiblepop: false,
                            contactType: '',
                            adminType: '',
                            code: '',
                            nitClient: '',
                            name: '',
                            status: '',
                            address: '',
                            phones: [],
                            contact_admin: ''
                        } 
                    }                    
                }
            })
            this.loading = false
        },
        handleClose(tag) 
        {
        this.dataa.phones.splice(this.dataa.phones.indexOf(tag), 1);
        },
        showInputTag() 
        {
            this.inputVisible = true;
            this.$nextTick(_ => {
                this.$refs.saveTagInput.$refs.input.focus();
            });
        },
        handleInputConfirm() 
        {
            let inputValue = this.inputValue;
            if (inputValue) {
            this.dataa.phones.push(inputValue);
            }
            this.inputVisible = false;
            this.inputValue = '';
        },
        updat(id, contactType)
        {            
            this.upShow = true
            this.typeC = contactType            
            for (const key in this.dynamicTable) 
            {
                if (this.dynamicTable[key]._id == id) 
                {
                    // console.log(this.dynamicTable[key]) 
                    this.dataa._id = id
                    this.codd = this.dynamicTable[key].nitClient
                    this.dataa.adminType = this.dynamicTable[key].adminType
                    this.dataa.nitClient = this.dynamicTable[key].nitClient
                    this.dataa.name.first = this.dynamicTable[key].name.first
                    this.dataa.code = this.dynamicTable[key].code
                    this.dataa.address = this.dynamicTable[key].address
                    this.dataa.phones = this.dynamicTable[key].phones
                    this.dataa.contact_admin = this.dynamicTable[key].contact_admin                 
                }
            }
            if(this.typeC == 'Provider')
            {
                let dep = this.dataa.address[0].department
                this.getdeptown(dep)
            }
        },
        delet(id)
        {
            axios.post('/sf/contact/del', {id: id.toString()}).then((res) =>
            {
                let data = this.$myCryptor.decode(res.data.data)
                // console.log(data)
                if(res.data.status = 'success')
                {
                    this.$swal.fire(
                    {
                        title: 'Info',
                        text: "Proveedor eliminado satisfactoriamente",
                        type: 'success',
                        showCancelButton: false,
                        confirmButtonColor: '#3085d6',                    
                        confirmButtonText: 'Aceptar'
                    })
                    this.dataTable(this.typeTable)
                }
                else
                {
                    this.$swal.fire(
                    {
                        title: 'Info',
                        text: "Error inesperado, intente nuevamente",
                        type: 'info',
                        showCancelButton: false,
                        confirmButtonColor: '#3085d6',                    
                        confirmButtonText: 'Aceptar'
                    })
                    this.dataTable(this.typeTable)
                }
            })
        },
        uniqueNit()
        {
            if(this.codd != this.dataa.nitClient)
            {
                axios.post('/api/sf/dynamicTable/unique-nit', {nit: this.dataa.nitClient}).then((res) =>
                {
                    if(res.data == 'pass')
                    {
                        this.response.uniqueNit.status = false
                        this.response.uniqueNit.text = 'Aprobado'
                    }
                    else
                    {
                        this.response.uniqueNit.status = true
                        this.response.uniqueNit.text = 'Este NIT ya se encuentra registrado'
                    }
                })
            } else {
                this.response.uniqueNit.status = null
                this.response.uniqueNit.text = ''
            }
        },
        upThirdDB()
        {
            this.response.chargingButton = true
            axios.put('/sf/contact/update', {id: this.dataa._id, datas: this.dataa})
            .then((resp) =>
            {
                // let data = this.$myCryptor.decode(resp.data)                
                if(resp.data.status)
                {
                    this.$chidoriAlert.show('Guardado !!', 'El contacto se modifico correctamente', 'success', 4000)
                }
                else
                {
                    this.$chidoriAlert.show('Error', 'Error inesperado, intente Nuevamente', 'error', 4000)
                }
                this.response.chargingButton = false
                this.upShow = false
                this.dataTable(this.typeC)
            })
        },
        sessdata()
        {
            axios.post('/auth/sessdata', {fields: ['name','rol','company']}).then(resp => {                                          
                let res = this.$myCryptor.decode(resp.data.data);                                
                this.nameUser = res[0].first+' '+res[0].last
                this.rolUser = res[1].name
                this.nitClient = res[2].nit
                for (const key in res[1].access.items) {
                    if(res[1].access.items[key].id == 2)
                        for (const llave in res[1].access.items[key].subitems) {
                            if(res[1].access.items[key].subitems[llave].id == 1) {
                                if(res[1].access.items[key].subitems[llave].actions.includes("U"))
                                    this.permiss.update = true;
                                else
                                    this.permiss.update = false
                                if(res[1].access.items[key].subitems[llave].actions.includes("D"))
                                    this.permiss.delete = true
                                else
                                    this.permiss.delete = false
                                 if(res[1].access.items[key].subitems[llave].actions.includes("C"))
                                    this.permiss.create = true;
                                else
                                    this.permiss.create = false    
                            }
                        }
                }
            })
        },
    }
}
</script>