<template>
    <div class="container my-0 p-0">
        <h4 class="text-center poppins text-dark-blue font-weight-bold text-uppercase">Recepción [{{ data.type_reception }}]</h4> 
        <hr class="bg-dark-blue">
        <div class="row mx-0">
            <div class="col-12 row mx-0 px-0"> 
                <div class="col-12 mb-3 px-2">                    
                    <el-button v-bind:disabled="button.disabled" plain :loading="button.loading" @click="update('SAVE/NOTIFY')">Guardar y Notificar <i class="el-icon-bell el-icon-right"></i></el-button>                    
                </div>
                <div class="col-12 col-md-12 mb-3 px-2" :class="{'col-lg-6': data.products.length == 1, 'col-lg-12': data.products.length > 1}" v-if="showInfoPatient">
                    <!-- <div class="mb-2" v-if="data.type_reception == 'EPS'"> -->
                        <!-- <label class="mb-0 font-weight-bold poppins text-dark-blue" for="eps">EPS</label>
                        <input type="text" readonly  class="form-control" name="epsInput" placeholder=""> -->
                        <!-- <el-select v-model="reception_data.eps" class="w-100" filterable placeholder="Escoja una opcion">
                            <el-option
                                v-for="(item, index) in dynamicTable.eps"
                                :key="index"
                                :label="item.name.first"
                                :value="item._id">
                            </el-option>
                        </el-select> -->
                        <!-- <v-select class="" placeholder="Escoja una opcion" :options="dynamicTable.eps"  v-model="select.eps">
                            <span slot="no-options">No se encotraron datos!</span>
                        </v-select>  -->
                    <!-- </div> -->
                    <el-card class="box-card poppins-light">
                        <div slot="header" class="clearfix">
                            <span class="poppins-bold">Paciente <br>
                                <span class="poppins info-name"></span>
                            </span> 
                            <span class="float-right" style="cursor:pointer;" @click="shm = !shm">
                                <i class="el-icon-arrow-down"></i>
                            </span>      
                        </div>
                        <div v-show="shm">
                            <p class="mb-0"><strong>Tel:</strong><span class="info-tel"></span></p>
                            <hr class="my-1">
                            <p class="mb-0"><strong>RH:</strong><span class="info-rh"></span></p>
                            <hr class="my-1">
                            <p class="mb-0"><strong>Genero:</strong><span class="info-gen"></span></p>
                            <hr class="my-1">
                            <p class="mb-0"><strong>Estado Civil:</strong><span class="info-ec"></span></p>                                    
                            <hr class="my-1">
                            <p class="mb-0"><strong>Vinculación:</strong><span class="info-vin"></span></p>                                    
                            <hr class="my-1">
                            <p class="mb-0"><strong>Trabajo:</strong><span class="info-tra"></span></p>                                    
                            <hr class="my-1">
                            <p class="mb-0"><strong>Dirección:</strong><span class="info-dir"></span></p>                                    
                        </div>
                    </el-card>
                </div>
                    <div :class="{'col-lg-6 col-12 px-0': data.products.length == 1, 'col-12 col-lg-6 mb-2 col-md-12 px-2': data.products.length > 1}" v-for="(dataa, index) in data.products" :key="index">
                        <div class="" :class="{'col-12 col-lg-12 mb-2 col-md-12 px-0': data.products.length == 1, 'col-12 col-lg-12 mb-2 col-md-12 px-0': data.products.length > 1}" v-if="!dataa.approved_dir_show">
                            <el-card class="box-card poppins-light">
                                <div slot="header" class="clearfix">
                                    <span class="poppins-bold">Producto {{index+1}}</span><br>
                                    <span v-if="rolUser == 'Director Técnico'" class="poppins">{{dataa.name}} [<i :class="{'el-icon-circle-check text-success': dataa.status, 'el-icon-circle-close text-danger': !dataa.status}"></i><span :class="{'text-success': dataa.status, 'text-danger': !dataa.status}">{{(dataa.status) ? 'Aprobado' : 'Desaprobado'}}</span>]</span>
                                    <span v-if="rolUser != 'Director Técnico'" class="poppins">{{dataa.name}} [<i class="el-icon-circle-close text-danger"></i><span class="text-danger">Desaprobado</span>]</span>
                                    <span>
                                        <el-popover
                                            v-if="!dataa.status"
                                            placement="top-start"                                    
                                            popper-class="mx-2 poppins"
                                            width="250"
                                            trigger="hover">
                                            <p class="poppins mb-0"><strong>Observaciones</strong></p>
                                            <hr class="my-2">
                                            <span class="poppins-light">{{ dataa.observation }}</span>
                                            <el-button slot="reference" size="mini" icon="el-icon-chat-dot-square" circle></el-button>
                                        </el-popover>
                                        <span class="float-right close-card-upreception" style="cursor:pointer;" @click="dataa.shp = !dataa.shp">
                                            <i class="el-icon-arrow-down"></i>
                                        </span> 
                                        <p v-if="rolUser == 'Director Técnico'" class="poppins mb-2 border-top mt-2 pt-2">¿Lo aprueba el director tecnico?</p>
                                        <el-switch
                                            v-if="rolUser == 'Director Técnico'"
                                            style="display: block"
                                            class="poppins-light"
                                            v-model="dataa.approved_dir"                                            
                                            active-color="#13ce66"
                                            inactive-color="#ff4949"
                                            active-text="Si"
                                            inactive-text="No">
                                        </el-switch>                                        
                                        <div v-if="!dataa.approved_dir" class="input-group poppins-light px-0 form-control-sm mt-2">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Observaciones</span>
                                            </div>
                                            <input type="text" v-model="dataa.observation" name="obs" class="poppins-light form-control" >
                                        </div>
                                    </span>                                 
                                </div>
                                <div class="card-body py-0 px-0" v-if="dataa.shp">
                                    <div class="form-group col-12 col-lg-6 col-md-6 px-1 mb-2" v-if="rolUser != 'Director Técnico' && data.type_reception == 'devolution'">
                                        <label class="mb-0 font-weight-bold poppins text-dark-blue" for="pro">Servicio</label>
                                        <el-select v-model="data.services" class="w-100" filterable placeholder="De donde proviene el producto">
                                            <el-option
                                                v-for="(item, index) in services"
                                                :key="index"
                                                :label="item.name"
                                                :value="item.value">
                                            </el-option>
                                        </el-select>
                                    </div> 
                                    <div class="col-lg-12 mt-1 row mx-0 px-0 mb-2" v-if="rolUser != 'Director Técnico' && data.type_reception == 'provider'">
                                        <div class="form-group col-12 col-lg-6 col-md-6 px-1">
                                            <label class="mb-0 font-weight-bold poppins-light text-dark-blue" for="pro">Proveedor</label>
                                            <el-select v-model="data.provider" class="w-100" filterable placeholder="Proveedor">
                                                <el-option
                                                    v-for="(item, index) in dynamicTable.provider"
                                                    :key="index"
                                                    :label="item.name.first"
                                                    :value="item._id">
                                                </el-option>
                                            </el-select>
                                        </div> 
                                        <div class="col-12 col-lg-6 col-md-6 px-1 mb-2">
                                            <label class="mb-0 font-weight-bold poppins">Numero Factura</label>
                                            <input type="text" name="numFac" v-model="data.bill_number" class="poppins-light form-control" placeholder="Ingrese Factura">
                                        </div>
                                    </div>                                    
                                    <div class="col-lg-12 mt-1 row mx-0 px-0 mb-2" v-if="rolUser != 'Director Técnico'">
                                        <div class="col-12 col-lg-4 col-md-6 px-1 mb-2">
                                            <label class="mb-0 font-weight-bold poppins">Cantidad</label>
                                            <input type="number" min="0" name="product_stock" v-model="dataa.quantity" class="poppins-light form-control" placeholder="Ingrese cantidad">
                                        </div>
                                        <div class="col-12 col-lg-4 col-md-6 px-1 mb-sm-3">
                                            <label class="mb-0 font-weight-bold poppins">Fecha Vencimiento</label>
                                            <el-date-picker
                                                v-model="dataa.expiration_date"
                                                type="date"
                                                class="w-100 poppins-light"
                                                placeholder="Selecciona un dia"
                                                format="yyyy/MM/dd"
                                                value-format="yyyy-MM-dd">
                                            </el-date-picker>                                
                                        </div>      
                                        <div class="col-lg-4 col-md-6 col-sm-12 px-1 mb-3">
                                            <label class="mb-0 font-weight-bold poppins text-dark-blue" for="dni">Lote:</label>
                                            <input type="text" v-model="dataa.lote" name="point" class="poppins-light w-100 form-control" >                                
                                        </div>                                                                                                                                                                                          
                                    </div>                              
                                    <div class="col-lg-12 mt-0 mb-2">  
                                        <div>                                    
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" @change="verifyCheck()" v-model="dataa.status_details.packaging" class="custom-control-input" :id="'check_1'+index">
                                                <label class="custom-control-label" :for="'check_1'+index">Embalaje en perfectas condiciones</label>
                                                <hr class="my-2">  
                                            </div>                                      
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" @change="verifyCheck()" v-model="dataa.status_details.packaging_container" class="custom-control-input" :id="'check_3'+index">
                                                <label class="custom-control-label" :for="'check_3'+index">Empaque secundario en perfectas condiciones</label>
                                                <hr class="my-2">  
                                            </div> 
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" @change="verifyCheck()" v-model="dataa.status_details.cold_chain.status" class="custom-control-input" :id="'check_2'+index">
                                                <label class="custom-control-label" :for="'check_2'+index">Para medicamentos que requieren cadena de frio, se encuentra embalado en nevera portátil y la lectura de la temperatura se encuentra entre 2 y 8 grados centígrados</label>
                                                <div v-if="dataa.status_details.cold_chain.status" class="input-group form-control-sm mt-2">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">¿Cuantos Grados?</span>
                                                    </div>
                                                    <input type="number" v-model="dataa.status_details.cold_chain.number" min="1" name="numberCold" class="form-control" >
                                                </div>
                                                <hr class="my-2">  
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" @change="verifyCheck()" v-model="dataa.status_details.appereance" class="custom-control-input" :id="'check_4'+index">
                                                <label class="custom-control-label" :for="'check_4'+index">La apariencia de la impresión debe ser homogénea y por ningún motivo esta deberá estar pixelada</label>
                                                <hr class="my-2">  
                                            </div> 
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" @change="verifyCheck()" v-model="dataa.status_details.smell" class="custom-control-input" :id="'check_5'+index">
                                                <label class="custom-control-label" :for="'check_5'+index">Se mantiene el olor característico del producto o en su defecto presenta un olor neutro</label>
                                                <hr class="my-2">  
                                            </div>               
                                            <div class="custom-control custom-checkbox" v-if="data.type_reception != 'devolution'">
                                                <input type="checkbox" @change="verifyCheck()" v-model="dataa.status_details.expiration_date_one" class="custom-control-input" :id="'check_10'+index">
                                                <label class="custom-control-label" :for="'check_10'+index">La fecha de vencimiento es superior a 1 año</label>
                                                <hr class="my-2">  
                                            </div>                       
                                            <div v-if="data.type_reception == 'provider'">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" @change="verifyCheck()" v-model="dataa.status_details.requested_product" class="custom-control-input" :id="'check_6'+index">
                                                    <label class="custom-control-label" :for="'check_6'+index">Producto corresponde al solicitado</label>
                                                    <hr class="my-2">  
                                                </div>                                                
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" @change="verifyCheck()" v-model="dataa.status_details.billed_value" class="custom-control-input" :id="'check_9'+index">
                                                    <label class="custom-control-label" :for="'check_9'+index">Los valores facturados corresponden con los acordados comercialmente con la institución.</label>
                                                    <hr class="my-2">  
                                                </div>                                         
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" @change="verifyCheck()" v-model="dataa.status_details.product_liberation" class="custom-control-input" :id="'check_11'+index">
                                                    <label class="custom-control-label" :for="'check_11'+index">Adjunta certificado de liberación del producto</label>
                                                    <hr class="my-2">  
                                                </div> 
                                            </div>
                                        </div>         
                                    </div>    
                                </div>
                            </el-card>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</template>
<script>
let dataa =
{
    type_reception: '',
    status: '',
    provider: '',
    patient: '',                    
    bill_number: '',
    eps: '',
    services: '',
    date_creation: '',
    responsible_dni: '',
    products:
    [
        // {
        //     product: '',
        //     lote: '',
        //     status: '',
        //     observation: '',
        //     quantity: '',
        //     expiration_date: '',
        //     dataa.status_details: [],
        // }
    ]   
} 
export default {
    data(){
        return{
            shm: true,            
            shp: true,
            button: {loading: false, disabled: false},
            id: this.$route.params.id,
            data: [],
            dataP: [],
            rolUser: '',
            services: [{label: 'Consulta externa', value: 'Consulta externa'}, {label: 'Sala de procedimiento', value: 'Sala de procedimiento'}, {label: 'Radioterapia', value: 'Radioterapia'}, {label: 'Gastroenterología', value: 'Gastroenterología'}],
            patients: {},
            showInfoPatient: false,
            dynamicTable: 
            {
               eps: [],
               provider: [],
               product: [],
               user: []               
            },
        }
    },
    created()
    {
        setTimeout(() => 
        {
            this.validate()    
        }, 1000);
    },
    mounted()
    {          
        this.sessdata()               
        setTimeout(() => 
        {
            this.dynamic()    
            setTimeout(() => 
            {
                this.reception()      
            }, 50); 
            this.listPatient()                     
        }, 50);  
        setTimeout(() => 
        {            
            if(this.data.type_reception == 'EPS')
            {                                
                this.patientEps(this.data.patient)                   
            }            
        }, 500);                                      
    },
    methods:
    {
        validate()
        {
            if(this.data.status == 'BACK' && (this.rolUser == 'Director Técnico'))
            {                
                this.$swal.fire(
                {
                    title: 'Info',
                    text: "Recepción a la espera de cambios, por ahora no puedes acceder",
                    type: 'info',
                    showCancelButton: false,
                    confirmButtonColor: '#3085d6',                    
                    confirmButtonText: 'Aceptar'
                }).then((result) => 
                {
                    location.href = 'sf#/vc/sf/receptions-list'                
                })
                
            }
            else if(this.data.status == 'WAIT' && this.rolUser != 'Director Técnico')
            {                
                this.$swal.fire(
                {
                    title: 'Info',
                    text: "Recepción modificada a la espera del Director Tecnico, por ahora no puedes acceder",
                    type: 'info',
                    showCancelButton: false,
                    confirmButtonColor: '#3085d6',                    
                    confirmButtonText: 'Aceptar'
                }).then((result) => 
                {
                    location.href = 'sf#/vc/sf/receptions-list'                
                })
            } else if(this.data.status == 'BACK' && this.rolUser != 'Director Técnico')
            {

            } else if(this.data.status == 'BACK_' && this.rolUser == 'Director Técnico')
            {

            }
        },
        sessdata()
        {
            axios.post('/auth/sessdata', {fields: ['rol']}).then(resp => 
            {                     
                let res = this.$myCryptor.decode(resp.data.data);
                // console.log(res)                
                // this.rolUser = 'Director Tecnico'
                this.rolUser = res[0].name                                            
            })
        },
        verifyCheck()
        {            
        },
        update(state)
        {
            this.button.loading = true;
            this.button.disabled = true;
            let l = this.data.products.length
            if(state == 'SAVE/NOTIFY')
            {
                let i = 0
                // this.data.status = 'BACK'  
                for (const key in this.data.products) 
                {
                    if(this.data.products[key].approved_dir) 
                    {
                        i++;
                    }
                    // if(!this.data.products[key].approved_dir && this.rolUser == 'Director Técnico')
                    // {
                    //     this.data.products[key].status = false
                    // }
                }     
                // console.log(i+' '+l)      
                if((i == l) && (this.rolUser == 'Director Técnico'))
                {
                    this.data.status = 'SUCCESS'  
                }   
                else {
                    this.data.status = 'BACK' 
                }
                if((this.rolUser != 'Director Técnico'))
                {
                    this.data.status = 'BACK_' 
                }
                axios.put('/sf/reception/up', {id: this.id, data: this.data, who: 'DT'}).then((res) =>
                {
                    let data = this.$myCryptor.decode(res.data.data)
                    // console.log(data)                                        
                    if(this.rolUser == 'Director Técnico' && data.status == 'success')
                    {
                        if(this.data.status == 'BACK')
                        {
                            switch (this.data.type_reception) 
                            {
                                case 'EPS':
                                    this.data.type_reception = 'EPS'
                                    break;
                                case 'provider':
                                    this.data.type_reception = 'PROVEEDOR'
                                    break;
                                case 'devolution':
                                    this.data.type_reception = 'DEVOLUCION'
                                    break;                                
                            }
                            axios.post('/api/com/notification/store', {
                                module: 'SF',
                                from: {
                                    origin: 'Back Reception'
                                },
                                to: {
                                    destination: this.data.dni
                                },
                                information: `Recepción Devuelta [${this.data.type_reception}]`,
                                link: 'receptions-list',
                                typeN: 'BackR',
                                resources: this.data._id
                            }).then(resp => {
                                if(resp.data.status != 'success')
                                {
                                    // console.log('Notification Result:')
                                    // console.log(resp.data)
                                }
                            })
                        }
                        this.button.loading = true;
                        this.button.disabled = true;
                        this.$swal.fire(
                        {
                            title: 'Modificación Exitosa',
                            text: "La recepción fue modificada exitosamente",
                            type: 'success',
                            showCancelButton: false,
                            confirmButtonColor: '#3085d6',                    
                            confirmButtonText: 'Aceptar'
                            }).then((result) => {
                            if (result.value) {
                                this.$swal.fire(
                                'Info',
                                'Recepción a la espera de cambios, por ahora no puedes acceder',
                                'info'
                                ).then((result) => 
                                {
                                    location.href = 'sf#/vc/sf/receptions-list'                
                                })                               
                            }
                        })                        
                    }
                    else if(this.rolUser != 'Director Técnico' && data.status == 'success')
                    {
                        this.button.loading = true;
                        this.button.disabled = true;
                        this.$swal.fire(
                        {
                            title: 'Modificación Exitosa',
                            text: "La recepción fue modificada exitosamente",
                            type: 'success',
                            showCancelButton: false,
                            confirmButtonColor: '#3085d6',                    
                            confirmButtonText: 'Aceptar'
                            }).then((result) => {
                            if (result.value) {
                                this.$swal.fire(
                                'Info',
                                'Recepción modificada a la espera del Director Tecnico, por ahora no puedes acceder',
                                'info'
                                ).then((result) => 
                                {
                                    location.href = 'sf#/vc/sf/receptions-list'                
                                })
                            }
                        })
                    } 
                    else if(data.status == 'error')                   
                    {
                        alert('Error Inesperado, Intente Nuevamente')
                        this.button.loading = true;
                        this.button.disabled = true;
                    }
                })
            }
        },        
        reception()
        {
            axios.post('/api/sf/reception/list').then((res) =>
            {
                let data = this.$myCryptor.decode(res.data)
                // console.log(data)
                for (const key in data) 
                {
                    for (const keyy in this.dynamicTable.user) 
                    {
                        if(data[key].responsible_dni == this.dynamicTable.user[keyy]._id)
                        {                            
                            // data[key].responsable = this.dynamicTable.user[keyy].name.first+' '+this.dynamicTable.user[keyy].name.last
                            data[key].dni = this.dynamicTable.user[keyy].dni.dni
                        }    
                    }  
                    if(data[key]._id == this.id)
                    {                        
                        for (const keyy in data[key].products) 
                        {                            
                            if(!data[key].products[keyy].approved_dir)
                            {
                                let a = data[key].products[keyy].approved_dir
                                data[key].products[keyy].approved_dir_show = a
                                data[key].products[keyy].shp = true                                
                                for (const keyyy in this.dynamicTable.product) 
                                {
                                    // console.log(this.dynamicTable.product[keyyy]._id)
                                    // console.log('_> '+data[key].products[keyy]._id)
                                    if(this.dynamicTable.product[keyyy]._id == data[key].products[keyy].product)    
                                    {
                                        data[key].products[keyy].name = this.dynamicTable.product[keyyy].name
                                    }
                                }   
                                this.dataP.push(data[key].products[keyy])
                            }                   
                        }
                        delete data[key].products
                        data[key].products = this.dataP
                        this.data = data[key]
                    }    
                }                                 
            })
        },
        listPatient()
        {
            axios.post('/api/sf/patient/list').then((resp) =>
            {                
                let data = this.$myCryptor.decode(resp.data)                
                this.patients = data
            })            
        },
        listUser()
        {
            axios.post('/auth/info', {rol: 'user'}).then(resp => {
               let data = this.$myCryptor.decode(resp.data.result)                
                this.dynamicTable.user = data
            })
        },
        dynamic()
        {                                    
            axios.post('/api/sf/dynamictable/list').then((resp) => 
            {
                let response = this.$myCryptor.decode(resp.data.res)
                for(let dyn in response)
                {
                    if(response[dyn].contactType.includes("EPS"))
                    {
                        this.dynamicTable.eps.push(response[dyn])
                    }
                    if(response[dyn].contactType.includes("Provider"))
                    {
                        this.dynamicTable.provider.push(response[dyn])
                    }                    
                }
            })
            this.listProduct()
            this.listUser()                       
        },
        listProduct()
        {
            axios.post('/api/sf/product/list').then((resp) =>
            {                                                  
                let data = this.$myCryptor.decode(resp.data)                       
                for (const key in data) 
                {                                                       
                    this.dynamicTable.product.push(data[key])                    
                }
            })             
        },
        patientEps(val)
        {                              
            for (const key in this.patients) 
            {
                if (this.patients[key]._id == val) 
                {                    
                    let eps = this.patients[key].basic_info.eps                                    
                    setTimeout(() => 
                    {
                        $('p > span.info-tel').html(' '+this.patients[key].basic_info.phone)
                        $('p > span.info-rh').html(' '+this.patients[key].basic_info.rh)                        
                        $('p > span.info-gen').html(' '+this.patients[key].basic_info.gender)
                        let vin = ''
                        let es = ''
                        switch (this.patients[key].basic_info.vinculation) 
                        {
                            case 'C':   
                                vin = 'Contributivo'                         
                                break
                            case 'C-S': 
                                vin = 'Contributivo-Sub'                           
                                break                        
                            case 'S':   
                                vin = 'Subsidiado'                         
                                break
                            case 'S-S': 
                                vin = 'Subsidiado-Sub'                           
                                break                                                   
                            case 'V':  
                                vin = 'Vinculado'                          
                                break
                            case 'P': 
                                vin = 'Particulares'                           
                                break
                        }
                        switch (this.patients[key].basic_info.civil_state) {
                        case 'S':
                            es = 'Soltero'
                            break;
                        case 'C':
                            es = 'Casado'
                            break;
                        case 'V':
                            es = 'Viudo'
                            break;
                        case 'D':
                            es = 'Divorciado'
                            break;
                        case 'U-L':
                            es = 'Unión Libre'
                            break;
                        default:
                            es = 'Ninguna'
                        }
                        $('p > span.info-vin').html(' '+vin)
                        $('p > span.info-ec').html(' '+es)
                        $('p > span.info-tra').html(' '+this.patients[key].basic_info.work)
                        $('p > span.info-dir').html(' '+this.patients[key].basic_info.location.dep+' - '+this.patients[key].basic_info.location.town+'<br>'+this.patients[key].basic_info.location.address)
                        $('span.info-name').html(' '+this.patients[key].basic_info.name.fname+' '+this.patients[key].basic_info.name.sname+' '+this.patients[key].basic_info.lastname.flname+' '+this.patients[key].basic_info.lastname.slname)    
                    }, 100);
                    for (const keyy in this.dynamicTable.eps) 
                    {
                        if (this.dynamicTable.eps[keyy]._id == eps) 
                        {
                            const name = this.dynamicTable.eps[keyy].name.first                                                       
                            setTimeout(() => 
                            {
                                $('input[name=epsInput]').val(name)    
                            }, 10);                                                        
                        }
                    }
                }
            }
            this.showInfoPatient = true
        }
    }
}
</script>

